// Import Compass
@import compass/css3

// Import Foundation Components
@import ../../foundation.master/scss/foundation/components/grid
@import ../../foundation.master/scss/foundation/components/forms

// Colours
@import ../_inc/color
@import ../_inc/font.colors

// Buttons
@import ../_main.buttons.sass/arvo.custom.buttons

// Mixin
@import ../_mixin/translucent.container
@import ../_mixin/mixin.background
@import ../_mixin/mixin.links

// Forms
@import ../_main.ko.form.inc/form.errors

// Google Font
@import url('//fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic')

// Vars
$font-family: 'Arvo'
$desktop-body-background-image: '/cx2/img/dekstop.amerjit.bg.jpg'
$tablet-body-background-image: '/cx2/img/tablet.amerjit.bg.jpg'

/////////////////////
// Media Queries ////
/////////////////////

@media only screen and (max-width: 40em) /* max-width 640px, mobile-only styles, use when QAing mobile issues */
  body
    background-color: $grey_k
  .loader
    display: none
  .pin-reminder-container
    margin:
      top: 5%

@media only screen and (min-width: 40.063em) /* min-width 641px, medium screens */
  body
    background-color: $grey_k
  .loader
    position: absolute
    right: rem-calc(305px)
    top: rem-calc(18px)

@media only screen and (min-width: 40.063em) and (max-width: 64em) /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
  body
    @include desktop-background-image($tablet-body-background-image)
    background-size: cover
    @media (orientation : landscape)
      background:
        position: 0 rem-calc(-100px)
  .loader
    position: absolute
    right: rem-calc(305px)
    top: rem-calc(18px)
  .pin-reminder-container
    margin:
      top: 50%
    @media (orientation : landscape)
      margin:
        top: 25%

@media only screen and (min-width: 64.063em) /* min-width 1025px, large screens */
  body
    @include desktop-background-image($desktop-body-background-image)
    background-size: 100%
  .pin-reminder-container
    margin:
      top: 10%
    a
      @include link-style-1($blue_c, $green)
.logo img
  border: none

header
  display: block
  margin:
    top: rem-calc(16px)

.section-text
  color: $grey_n
  line-height: rem-calc(20px)
  text-align: left
  font:
    family: $font-family
    size: rem-calc(16px)
    weight: 400

//.pin-reminder-container
//  display: none

// forgotten-password-container
.pin-reminder-container
  @include translucent-container()
  input[type="email"]
    margin-bottom: 0
  .pseudo-input,
  .pseudo-input:focus
    @include border-radius(5px)
    height: rem-calc(44px)
    background:
      repeat: no-repeat
      position: rem-calc(6px)
      size: rem-calc(24px)
    padding-left: rem-calc(35px)
    font-family: arial

  .pseudo-input,
  .pseudo-input:focus
    background:
      image: url('../../../cx2/img/email-x2.png')

  .section-title
    margin: rem-calc(16px) 0 rem-calc(5px) 0
    line-height: rem-calc(39px)
    text-align: left
    color: $green
    font:
      family: $font-family
      weight: 400
      size: rem-calc(32px)
