// Import Compass
@import compass/css3

// Import Foundation Components
@import ../../foundation.master/scss/foundation/components/grid
@import ../../foundation.master/scss/foundation/components/forms

// Colours
@import ../_inc/color
@import ../_inc/font.colors

// Buttons
@import ../_main.buttons.sass/arvo.custom.buttons

// Mixin
@import ../_mixin/translucent.container
@import ../_mixin/mixin.background
@import ../_mixin/mixin.links

// Google Font
@import url('//fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic')

// Vars
$font-family: 'Arvo'
$desktop-body-background-image: '/cx2/img/desktop.tom.bg.jpg'
$tablet-body-background-image: '/cx2/img/tablet.tom.bg.jpg'

/////////////////////
// Media Queries ////
/////////////////////

@media only screen and (max-width: 40em) /* max-width 640px, mobile-only styles, use when QAing mobile issues */
  body
    background-color: $grey_k
  .loader
    display: none
  .reset-password-container
    margin:
      top: 5%

@media only screen and (min-width: 40.063em) /* min-width 641px, medium screens */
  body
    background-color: $grey_k
  .loader
    position: absolute
    right: rem-calc(310px)
    top: rem-calc(18px)

@media only screen and (min-width: 40.063em) and (max-width: 64em) /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
  body
    @include desktop-background-image($tablet-body-background-image)
    background-size: cover
  .loader
    position: absolute
    right: rem-calc(310px)
    top: rem-calc(18px)
  .reset-password-container
    margin:
      top: 10%
    @media (orientation : landscape)
      margin:
        top: 10%

@media only screen and (min-width: 64.063em) /* min-width 1025px, large screens */
  body
    @include desktop-background-image($desktop-body-background-image)
    background-size: 100%
  .reset-password-container
    margin:
      top: 10%

.logo img
  border: none

header
  display: block
  margin:
    top: rem-calc(16px)

.section-text
  color: $grey_n
  line-height: rem-calc(20px)
  text-align: left
  font:
    family: $font-family
    size: rem-calc(16px)
    weight: 400
  a
    @include link-style-1($blue_c, $green)

.reset-password-container
  display: none

// Reset Password Container
.reset-password-container
  @include translucent-container()

  .password-input,
  .password-input:focus
    @include border-radius(5px)
    height: rem-calc(44px)

  .error-message
    @include border-radius(3px)
    display: none
    background: $red
    color: $white
    margin: 0 0 rem-calc(16px) 0
    padding: rem-calc(5px)
    font:
      family: $font-family
      size: rem-calc(14px)
    p
      font:
        family: verdana, sans-serif
        weight: normal
        style: normal
        size: 1.038em
      padding: 0
      line-height: 1em
      a
        color: $blue_c
        &:hover
          text-shadow: none
          color: $green
          @include transition-property('color')
          @include transition-duration(300ms)

  .section-title
    margin: rem-calc(16px) 0 rem-calc(5px) 0
    line-height: rem-calc(39px)
    text-align: left
    color: $green
    font:
      family: $font-family
      weight: 400
      size: rem-calc(32px)