// Import Compass
@import compass/css3

// Import Foundation Components
@import ../../foundation.master/scss/foundation/components/grid
@import ../../foundation.master/scss/foundation/components/forms

// Colours
@import ../_inc/font.colors
@import ../_inc/color

// Buttons
@import ../_main.buttons.sass/arvo.custom.buttons

// Mixin
@import ../_mixin/translucent.container
@import ../_mixin/mixin.background
@import ../_mixin/mixin.links

// Forms
@import ../_main.ko.form.inc/form.errors

// Google Font
@import url('//fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic')

// Vars
$font-family: 'Arvo'
$desktop-body-background-image: '/cx2/img/dekstop.login.bg.jpg'
$tablet-body-background-image: '/cx2/img/tablet.login.bg.jpg'


/////////////////////
// Media Queries ////
/////////////////////

@media only screen and (max-width: 40em) /* max-width 640px, mobile-only styles, use when QAing mobile issues */
  body
    background-color: $grey_k
  .login-container
    margin:
      top: 5%
  .new-customer-container
    margin:
      bottom: rem-calc(32px)
  .loader
    display: none

@media only screen and (min-width: 40.063em) /* min-width 641px, medium screens */
  body
    background-color: $grey_k

@media only screen and (min-width: 40.063em) and (max-width: 64em) /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
  body
    @include desktop-background-image($tablet-body-background-image)
    background-size: cover
  .loader
    position: absolute
    right: rem-calc(185px)
    top: rem-calc(18px)
  .login-container
    margin:
      top: 40%
    @media (orientation : landscape)
      margin:
        top: 10%

@media only screen and (min-width: 64.063em) /* min-width 1025px, large screens */
  body
    @include desktop-background-image($desktop-body-background-image)
    background-size: 100%
  .login-container
    margin:
      top: 10%
  .loader
    position: absolute
    right: rem-calc(185px)
    top: rem-calc(18px)

.logo img
  border: none

header
  display: block
  margin:
    top: rem-calc(16px)

.section-text
  color: $grey_n
  line-height: rem-calc(20px)
  text-align: left
  font:
    family: $font-family
    size: rem-calc(16px)
    weight: 400

.login-container,
.new-customer-container
  display: none

// Login Container
.login-container
  @include translucent-container()

  .email-input,
  .email-input:focus,
  .password-input,
  .password-input:focus
    @include border-radius(5px)
    height: rem-calc(44px)
    background:
      repeat: no-repeat
      position: rem-calc(6px)
      size: rem-calc(24px)
    padding-left: rem-calc(35px)
    font-family: arial

  .email-input,
  .email-input:focus
    background:
      image: url('../../../cx2/img/email-x2.png')

  .password-input,
  .password-input:focus
    background:
      image: url('../../../cx2/img/padlock-x2.png')

  .section-title
    margin: rem-calc(16px) 0 rem-calc(5px) 0
    line-height: rem-calc(39px)
    text-align: left
    color: $green
    font:
      family: $font-family
      weight: 400
      size: rem-calc(32px)
  .password-reminder
    a
      @include link-style-1($blue_c, $green)
      font:
        family: verdana
        size: rem-calc(14px)

// New Customer Container
.new-customer-container
  @include translucent-container()
  margin:
    top: rem-calc(32px)
    bottom: rem-calc(32px)
  .enlarge
    font-size: rem-calc(20px)
  a
    @include link-style-1($blue_c, $green)