// Import Compass
@import compass/css3
@import ../../foundation.master/scss/foundation/components/_global.scss

// Colours
@import ../_inc/color

// Vars
$font-family: 'Arvo'
$desktop-body-background-image: '/cx2/img/dekstop.login.bg.jpg'

// Mixin
@mixin desktop-background-image()
  background:
    image: url($desktop-body-background-image)
    repeat: no-repeat

.lt-ie9
  body
    @include desktop-background-image()
  .login-container, .forgotten-password-container, .reset-password-container
    margin:
      top: 20%
  .login-container,
  .new-customer-container,
  .forgotten-password-container,
  .reset-password-container
    @include clearfix()
    background: $white
    border:
      color: $grey_p
    padding: 0.1rem 3rem

  .email-input,
  .email-input:focus,
  .password-input,
  .password-input:focus
    background: none

