h1, .subheading {
    margin-left: 0;
}

h1 > small {
    color: #999;
    font-family: Verdana, sans-serif;
    display: inline-block;
    font-size: 16px;
    margin-left: 15px;
}

.container_24 {
    height: 100%;
}

.aligncenter {
    text-align: center;
}

.instructions {
    padding: 20px 0;
    background: #EFEFEF;
    border-radius: 10px;
    overflow: auto;
    position: relative;
    margin: 20px 0;
}

.instructions img {
    width: 250px;
    margin: 10px;
    background: 10px;
}

.instructions .grid_sub_8 {
    height: 280px;
    position: relative;
    text-align: center;
}

.instruction {
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 100%;
}

#download-container {
    text-align: center;
    height: 60px;
}

a.button-orange, .home span.button-orange {
    position: relative;
    font-size: 22px;
    text-align: center;
    font-weight: normal;
    border: none;
    color: #fff;
    font-family: "RockwellStdRegular", Georgia, serif;
    padding: 14px;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    text-decoration: none !important;
}

a#logolink, a#logolink:link, a#logolink:visited, a#logolink:active {
    text-decoration: none;
    border-bottom: 0;
}