#features-list {
    margin-top: 10px;
    overflow: auto;
}

#features-list li {
    margin-bottom: 10px;
    height: auto;
    display: block;
    line-height: 140%;
    width: 90%;
    font-size: 13px
}

body ul#features-list li.png p {
    font-size: 13px !important;
    width: 400px !important;
}

h1 {
    margin: 0;
}

h4 {
    color: #515151;
    margin: 30px 0 10px 0
}

.premium-blue {
    color: #273438;
}

.premium-gray {
    color: #636363;
}

.margin-left-10 {
    margin-left: 10px
}

.subheading2 {
    margin-bottom: 25px;
}

.font-huge {
    font-size: 27px
}

.tmp16 {
    margin: 2px 35px 20px 0;
    float: left
}

.tmp17 {
    margin: 6px 35px 20px 0;
    float: left
}

.tmp18 {
    margin: 0 35px 20px 0;
    float: left
}

.tmp19 {
    margin: 10px 35px 20px 0;
    float: left
}

.tmp20 {
    margin: 0 35px 20px 0;
    float: left
}

.tmp21 {
    margin: 0 0 20px 0;
    float: left
}

.tmp22 {
    clear: left
}

.tmp22 cufon {
    height: 16px !important;
}

.bubble-blue, .bubble-blue-small {
    background: url('/sfimages/bubble/bubble-blue-plus-head.png') 0 0 no-repeat;
    height: 75px;
    width: 297px;
    margin-left: -5px
}

.bubble-blue-small {
    background-image: url('/sfimages/bubble/bubble-blue-222x75.png');
}

.bubble-blue div, .bubble-blue-small div {
    padding: 17px 0 0 17px;
    color: #FFFFFF;
    font-size: 24px;
}

.bubble-green2 {
    background: url('/sfimages/bubble/bubble-green-pwn.png') 0 0 no-repeat;
    height: 338px;
    width: 713px;
    margin-left: -19px
}

.bubble-green2 div {
    padding: 30px 20px;
}

.bubble-green3 {
    background: url('/sfimages/bubble/bubble-green-plus-cta.png') 0 0 no-repeat;
    height: 156px;
    width: 457px;
}

.bubble-green3 div {
    padding: 26px 30px 0 30px;
    color: #ffffff
}

.bubble-green3 div button {
    margin-top: 20px;
}

.bubble-green3 p {
    line-height: 220%;
}

.bubble-green3 cufon {
    height: 21px !important;
}

.bubble-green3-bookmark {
    background: url('/sfimages/plus/bookmark-green.png') no-repeat;
    height: 46px;
    width: 55px;
    position: absolute;
    top: 60px;
    right: -10px;
    padding: 0 !important
}

.bubble-gray {
    background: #dbdbdb;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px 0 10px 15px;
}

.bubble-gray .icon {
    margin: 15px 0 0 -15px;
    height: 82px;
}

.bubble-gray .text {
    margin: 10px 0;
    text-shadow: 0 1px 0 #efefef;
}

.bubble-gray p {
    padding: 3px 0;
}

.bubble-orange {
    background: url('/sfimages/bubble/bubble-orange-194x98.png') 0 0 no-repeat;
    height: 98px;
    width: 194px;
}

.bubble-orange div {
    padding: 16px 0 0 20px;
    color: #273438
}

#pwn-modal-window h3.blue {
    font-size: 18px;
}

#pwn-modal-window h2.blue {
    font-size: 24px;
}

.productdetailshead {
    padding: 20px 0 5px 60px;
}

h3.mypwn_sub_page_heading_m {
    width: 197px;
    background-position: -150px 0;
}

h3.mypwn_sub_page_heading {
    white-space: nowrap;
    padding: 17px 0 0 0;
    height: 60px;
    color: white;
    text-align: center;
    margin: 0px;
}

h3.mypwn_sub_page_heading_plus {
    background: url('/sfimages/sprites/headers-plus.png') no-repeat;
}

.emphasise {
    font-size: 13px;
}

.eighteen {
    font-size: 18px;
}