.instructions {
    padding: 20px 0px;
    background: #EFEFEF;
    border-radius: 10px;
    overflow: auto;
    position: relative;
    margin: 20px 0;
}

.instructions img {
    width: 180px;
    margin: 10px;
    background: 10px;
}

.instructions .grid_sub_8 {
    height: 200px;
    position: relative;
    text-align: center;
}

.instruction {
    position: absolute;
    bottom: 5px;
    font-size: 9px;
    text-align: center;
    width: 100%;
}

body .pin-container {
    color: #FFF;
    width: 140px;
}

.fixed-pin-panel {
    padding: 10px;
    position: fixed;
    width: 190px;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.margin-top-20-only {
    margin-top: 20px;
}

ol {
    padding: 8px 0;
}

ol li {
    margin-bottom: 10px;
}

img.engageImageBorder {
    border: 1px solid #DDDDDD;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-230 {
    margin-top: 230px;
}

.top-20-pct {
    top: 20%;
}

ol.engageList {
    color: #96c84b;
    font-size: 16px;
}

ol.engageList li span {
    color: #515151;
    font-size: 11px;
}