@import compass/css3
@import "../_inc/font.family.sass"
@import "../_inc/font.colors.sass"

$font-body: Verdana, Sans-serif
$font-header: "Arvo", "RockwellStdRegular", Georgia, serif

$header-color: #96C84B
$subheader-color: #0098c9

.imeet
  section
    p
      font:
        family: $font-body
        size: 1.3em
      line-height: 1.3em
  .video-cont
    @include border-top-radius(10px)
    background: url('/sfimages/imeet/imeet-bg-900.jpg') no-repeat center center
    background-size: cover
    height: 360px
    .video-text
      text-align: center
      font:
        size: 1.1em
      margin: 23px 0 0 -15px
    .imeet-video-trigger
      width: 90%
      margin: 5% 2%
      border: solid #FFF 3px
      cursor: pointer
  .header-title
    color: $header-color
    font-size: 2.8em
    line-height: 1.2em
    margin-top: 20px
    font:
      family: $font-header
      weight: 400
    .imeet-logo
      margin: 4px 0 0 2px
      height: 28px
  .header-sub
    margin: 15px
    font:
      family: $font-body
      size: 1.3em
      weight: 400
  .head-list
    background: url('/sfimages/imeet/connect.png') no-repeat left center
    background-size: contain
    height: 140px
    margin-left: 4%
    .row1
      margin: 7px 0 0
    .row2
      margin: 23px 0 21px
    .row3
      margin: 0
    h3
      &.item
        font-size: 1.3em
        font-weight: 400
        font-family: $font-body
      strong
        color: $subheader-color
  .imeet-cta
    margin: 15px 0
    background-color: #002338
    text-align: center
    color: #FFF
    @include border-radius(5px)
    padding: 8px 0px
    @include box-shadow(0px, 1px, 4px, 0px, rgba(155, 155, 155, 0.59))
    font:
      size: 1.7em
      weight: normal
      family: $font-body
    a
      border: none
  .share-screen
    margin: 10px 0
  .content
    margin: 2% 0
  h1
    &.content-header, &.content-header2
      font-family: $font-header
      font-weight: 400
      font-size: 2.2em
      line-height: 1.2em
    &.content-header
      color: $header-color
      margin-top: 10px
      margin-left: 0
    &.content-header2
      color: $subheader-color
      margin-top: 40px
  h3.content-sub
    margin: 15px 0
    font-family: $font-body
    line-height: 1.3em
    font-size: 1.3em
  p.content-list
    font-size: 1.3em
    strong
      color: $subheader-color
  .did-you-know
    background-color: #A1E4FF
    border-radius: 3px
    margin: 10px 0
    padding: 2%
    p, h3
      color: #515151
      font-family: $font-body
      font-size: 1.3em
    h3
      margin-bottom: 0
    p
      padding: 0
    .imeet-video-icon, .imeet-share-icon, .imeet-pen-icon
      width: 90%
    .imeet-share-icon
      margin: 30% 5%
    .imeet-pen-icon
      margin: 15% 5%
    .imeet-video-icon
      margin: 22% 5%
  .take-notes
    margin: 10px 0
    .bubble
      background: url('/sfimages/imeet/bubble.png') no-repeat center center
      background-size: cover
      .content-header2
        margin-top: 20px
    img
      margin: 3% 12%
      width: 76%
    p
      font-size: 1.3em
      margin: 0 40px 20px 15px
  .on-the-go
    margin: 10px 0
    border-radius: 10px
    background-color: #ebebeb
    a
      text-decoration: none !important
      color: #ebebeb
    p
      font-size: 1.3em
      margin-left: 15px
    img
      width: 90%
      margin: 5%
  .video-calling, .share-files
    margin: 10px 0
  .try-imeet-container
    .try-imeet
      color: #515151
      background-color: #A1E4FF
      padding: 8px 0
      @include border-radius(3px)
    .try-imeet-header
      margin: 5px 0
      padding: 0
      text-align: center
      line-height: 1.5em
      font:
        family: $font-body
        size: 1.5em
    .try-imeet-details
      margin-left: 12px
      padding: 0
      font:
        size: 1.3em
      a
        color: #515151

.youtube-modal
  width: 100%
  height: 100%
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #000
  background-color: rgba(10, 10, 10, 0.6)
  z-index: 500
  display: none
  .close
    position: absolute
    top: 8%
    left: 427px
    margin-left: 50%
    width: 30px
    height: 30px
    background: transparent url('/sfimages/imeet/fancybox.png') -40px 0px
  .youtube-modal-iframe
    width: 853px
    height: 480px
    border: solid #FFF 4px
    position: absolute
    top: 10%
    left: -427px
    margin-left: 50%