// Mobile First
@import "_320/_itsyourcallstepa.scss";

// Desktop
@media only screen and (min-width: 768px) {
  @import "_768/_itsyourcallstepa.scss";
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .row {
    .custom-grid-12 {
      position: relative;
      width: 100%!important;
    }
  }
}

@media (min-width: 979px) and (max-width: 1280px) {
  .row {
    .custom-grid-12 {
      position: relative;
      width: 100%;
    }
  }
}