.header

  // MyPowwownow Pages
  .authenticated_secure
    text-align: right
    margin:
      top: 1.2em

  // Public Pages
  .authenticated_public
    line-height: 16px
    text-align: right
    margin:
      top: 2.1em

  .hello
    line-height: 1em
    text-align: right
    overflow: hidden
    color: $blue_e
    font:
      family: verdana, sans-serif
      size: 1.200em

  .login,
  .logout
    font:
      family: RockwellStdRegular
      size: 1.455em

    &:hover
      @include transition-property('color')
      @include transition-duration(300ms)
      color: $green

  .login
    color: $blue_e

  .logout
    color: $grey_f
    text-decoration: none
    border: none

.webkit,
.chrome
  .mypowwownow_branding
    margin:
      bottom: 0.1em

.mypowwownow_branding
  display: block
  color: $blue_c
  line-height: 0.9500em
  font:
    family: RockwellStdRegular
  margin:
    bottom: 0.120em
  font:
    size: 1.531em