// This is hack fix for myPwn pages
body
  border: 1px solid $white

.font_verdana
  font:
    family: verdana, sans-serif

// Hide authentication if JavaScript is not available
.no-js .pwn_authentication_widget
  visibility: hidden

.pwn_authentication_widget
  height: 65px
  float: right

.pwn_custom_grid_header
  @include box-sizing('border-box')
  display: none
  width: 100%
  padding: 0
  background:
    color: $grey_b

// Close Icon for Registration drop down container
.webkit,
.chrome
  .close
    right: 12px

.close
  position: absolute
  top: 0.2em
  right: 9px
  cursor: pointer
  font:
    size: 1.5em

  &:hover
    @include transition-property('color')
    @include transition-duration(300ms)
    color: $green

.header
  margin: 0.5em auto 1.8em auto

  .logos
    a
      border: none

  .navigation
    margin: 1.5em 0 0 0

  p
    line-height: 1em
    padding: 0

  .grid_sub_18
    width: 76%

  .mypowwownow_actions
    padding: 0

    li
      display: inline-block
      margin: 0
      list-style: none

      &:first-child
        margin: 0 1em 0 0
    a
      text-decoration: none
      border: none