/***********************************
* IE 7 Fixes
************************************/
$pie-path : "../shared/PIE-1.0.0/PIE.htc";
.lt-ie8 {
    
    /***********************************
    * Global
    ************************************/
    form {
        .input-text {
            border: 3px solid #dddddd;
        }
        
        .large{ 
            padding: 5px;
        }
        
        .height {
            height: 15px;
            padding: 15px 0 15px 0;
        }
        
    }
    
    .radius {
        behavior: url($pie-path);
    }
    
    
    // fix IE7 infamous z-index bullshit
    nav {
        position:relative; 
        z-index:2;
        li ul .last-child{
            margin: 0 0 10px 0;
        }
    
    }
    /***********************************
    * Homepage
    ************************************/
    
        /***********************************
        * Top Panel Login Form
        ************************************/
        #top-panel-login-form {
            .input-text {
                width: 220px;
            }
            .button {
                margin-top: 18px;
            }
        }
        /***********************************
        * Get my pin feature panel top
        ************************************/
        #feature-panel {
            position: relative; 
            z-index:1;
            #get-my-pin-feature-top {
                .form-action {
                    top: 5px;
                    right: -220px;
                }
                .get-my-pin{
                    width: 125px;
                    padding: 10px 0 10px 0;
                }
            }
            
            .side {
                left: -14px;
                position: absolute;
            }

            .aside-three {
                position: absolute;

            }

            .aside-four{
                position: absolute;
                top: 270px;
            }

            #why-pwn {
                .row {
                    padding-bottom: 25px;
                }
            }

            .plus .left .inner-content {    
                .plus-switch {
                    padding: 15px 15px 0;
                }
            }
        }
        
        /***********************************
        * Get my pin feature panel bottom
        ************************************/
        #get-my-pin-small-bottom {
            position: relative;
            .extra-small {
                width: 175px;
            }
            .button {
                width: 125px;
                right: 50px;
            }
            .terms-conditions {
                zoom: 1;
                position: absolute;
                top: 25px;
                left: -10px;
                border: none;
            }
        }
        
    /********************************************
    * Pin Reminder PAGE
    ********************************************/

    .pin-reminder .inner-content .inner-content {
        padding: 0 0 0 35px;
     }

    .pin-reminder {
        h1 {
            height: 175px;
        }
        
        .inner-content .inner-content{
            &.alt-background { 
                height: 185px;
            }
        }
        
        .inner-content{
            .sprite{
                &.reminder {
                    top: 0px;
                    zoom: 1;
                }
            }
        }
        .get-my-pin {
            margin-top: 10px;
        }
    }
    
    /********************************************
    * Dial-In Numbers PAGE
    ********************************************/
        .dialin-numbers {
            .inner-content {
                .col {
                    .dialin-number {
                        .number {
                            zoom: 1;
                            position: relative;
                            top: -23px;
                            width: 135px;
                            right: 0;
                            text-align: right;
                    }
                }
            }
        }
    }
    
    /********************************************
    * Schedule a conference
    ********************************************/
    
    .schedule-conference {
        .inner-content {
            .disc {
                &.absolute {
                    top: 0;
                }
            }

        }
    }
    
    /********************************************
    * Password rest 1st time PAGE
    ********************************************/
    .password-reset-first {
        .speech-bubble {
            font: {
                size: 18px;
            }
        }
        
        .inner-content {
            margin-top: 50px;
        }
        .password-reset-form-container {
            top:0px !important;
            .password-reset-form {
                postion: relative;
                margin:  50px 0 0 70px;
                
            }
        }
        
        
    }
    
    .footer {
        behavior: url($pie-path);
        ul.site-links {
            padding: 8px 0;
        }
        ul.social-links {
            padding: 0 0 5px 0;
        }
    }
    
}
