/***********************************
* IE 8 Fixes
************************************/
$pie-path : "../../shared/PIE-1.0.0/PIE.htc";

.lt-ie9 {
    
    /***********************************
    * Global
    ************************************/
    .footer,
    .button.radius {
        behavior: url($pie-path);
    }
    
    form {
        .height {
            height: 30px;
            padding: 10px 0 25px 0;
        }
    }
    
    /***********************************
    * Homepage
    ************************************/
        #header-container {
            nav
            {
               behavior: url($pie-path);
            }   
        }
        
        /***********************************
        * Top Panel Login Form
        ************************************/
        #top-panel-menu {
            .top-panel-login-menu-btn {
                behavior: url($pie-path);
                li {
                    a {
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    &:hover {
                        background: none;
                        behavior: url($pie-path);
                    }
                }
             }
        }
        
        
        /***********************************
        * Get my pin feature panel top
        ************************************/
        #feature-panel {
            
            #get-my-pin-feature-top {
                .get-my-pin{
                    bottom: -5px;
                    width: 125px;
                    padding: 10px 0 10px 0;
                }
            }    
            .side {
                left: -18px;
                position: absolute;
            }
            
        }
}