.makes-sense #feature.feature_img{
   margin: 0 0 15px 0;
}

.modal-container {
    margin: 0 auto;
    position: relative; 
    padding: 0 30px;
}

.modal-container h3 {
    padding: 0 0 10px 0;
}

.modal-video {
    margin: 0 auto;
    width: 460px;
}