@import "screen.scss";
/********************************************
* 9. Dial-In Numbers PAGE
********************************************/
.js {
    #dialin-numbers{
        [class*="column"] + [class*="column"]:last-child {
            float: left;
        }
        
        .row .four {
            width: 30%;
        }
        
        .column, 
        .columns {
            margin-left: 0;
        }
        
        .row {
            padding-bottom: 30px;
            background: url('../../img/separator/two.png') repeat-x bottom;
        }
    }
    
    .dialin-numbers {
        .inner-content {
            background: {
               image: url('../../img/sprites/general/world.png'); 
               repeat: no-repeat;
               position: right 0px; 
               
            }
            .header-container {
                padding-bottom: 35px;
                margin-bottom: 20px;
                background: url('../../img/separator/two.png') repeat-x bottom;
                
            }
            
            .dialin-numbers-container {

   
            }   
            
            .landing-main-title {
                padding: 22px 0 40px 24px;
            }
            
            .col {
                height: 200px;
                padding-left: 29px;
                
                background: {
                    image: url('../../img/separator/two.png');
                    repeat: repeat-y;
                    position: right;
                }
                
                &.last {
                    background: {
                        image : none;
                    }
                }
                
                
                &.small {
                    height: 50px;
                    margin-top: 10px;
                }
                
                &.last {
                    background: none;
                }
                .dialin-number {
                    @include secondary-font;
                    font: {
/*                        family: $secondary-font-family;
                        size: 11px;*/
                        weight: normal;
                    }
                    color: #515151;
                    padding: 10px 0 10px 0;
                    
                    .number,
                    .shortcode-price {
                        float: right;
                        margin-right: 30px;
                    }
                }
            }
        }
    }
}