@import "screen.scss";
.js {

  .reveal-modal {
    width: 350px;
    margin-left: -225px;
  }

  .events-call-landing-page {

    .inner-content {
      position: relative;
      color: #fff;
      .sub-header ,
      .sub-header-content{
        width: 477px;
      }

      .font-goth-it {
        letter-spacing: 5px;
        font: {size: 58px;}
        &.small {
          font:{size:35px}
        }
      }
      .landing-main-title {
        font:{size:35px;}
        padding: 17px 0 33px 18px;
      }

    }

    .events-call-image {
      z-index: 1;
      width: 429px;
      height: 380px;
      background: {
        image: url('../../img/events-call.png');
        repeat: no-repeat;
      }
      top: -10px;
      right: 0px;
    }

    .headers-bg-style-11 {
      width: 380px;
      height: 68px;
      top: -40px;
      left: 10px;
      padding: 17px 0 0 23px;
      color: #fff;
      font: {
        size: 25px;
      }
    }

    .inner-content {
      position: relative;
      color: #fff;
      &.alt-background {
        z-index: 0;
        background: {
          image: url('../../img/bg/style-1.png');
          repeat: no-repeat;
        }
        margin: 60px 0 25px 0;
        height: 60px;
      }
      &.events-call-desc {
        padding: 65px 24px 0px 24px;
        p {
          font: {size: 25px;}
        }
      }
    }
  }

}