/********************************************
* 11. In-Conference Controls
********************************************/
@import "screen.scss";

.js {
    #in-conference-controls {
        
        .row {
            margin-bottom: 20px;
            padding-bottom: 30px;
            background: url('../../img/separator/two.png') repeat-x bottom;
            
        }
    }
    
    .in-conference-controls {
        
        
        .inner-content{            
            background: {
               image: url('../../img/sprites/general/phone.png'); 
               repeat: no-repeat;
               position: right -3px; 
            }
            color: #515151;
            min-height: 200px;
            
            &.no-background {
                background: none;
            }   
            
            .landing-main-title {
                padding: 22px 0 40px 24px;
            }
            
            p {
                @include secondary-font;
                padding: 10px 0 0 24px;

            }
            
            .conference-controls-guide {
                color: #515151;
                margin-left: 22px;
                font:{
                    family: $secondary-font-family;
                    size: 12px;
                }
                
                background: {
                        image: url('../../img/separator/two.png');
                        repeat: repeat-y;
                        position: right;
                }
                
                li {
                    padding: 10px 0 10px 0;
                }
                
                .ctrl {
                    width: 35px;
                    text-align: left;
                    display: inline-block;
                    font: {
                        weight: bold;
                    }
                }
                
                .short-desc {
                    width: 100px;
                    display: inline-block;
                }
                
                .desc {
                    width: 450px;
                    display: inline-block;
                    white-space: nowrap;
     
                }
            }
        }
    }
}