@import "screen.scss";
.js {
    
  /********************************************
    * 2. Main Body
    ********************************************/
    #feature-panel {
        position: relative;
        margin-top: 25px;

        [class*="column"] + [class*="column"]:last-child {
            margin-left: 20px;
            float: left;
        }
    }
    
    // Get Pin Form
    .get-pin-pwn {
        position: relative;
/*        color : #fff;*/
        span, 
        .more {
            color : #fff;
            font: {
                size: 11px;
            }
        }
        .form-field {
            float: left;
            .get-my-pin-feature-top-tandc {
                margin-left:0;
            }
        }
        .form-action {
            position: absolute;
            right: -250px;
        }
        // Overide default error styles.
        .form-field {
            &.error {
                .get-my-pin-feature-top-tandc {
                    border: none;
                    background: none;
                }
                small { 
                    width: 250px;
                }
            }
            
            .get-my-pin-feature-top-error-info {
                margin: 8px 0 0 0;
                 
            }
            
            .throbber {
                top: 30px;
                right: -165px;
                position: absolute;
            }
        }
        
        .get-my-pin {
            padding: 14px 34px 14px;
        }
        
    }
    
    
    .feature {
        background: url('../../img/global/green-bg.png') no-repeat;
        height: 380px;
        padding: 30px 30px 10px 30px;
        color: #fff;
        h1 {
            font-size:  56px;
            color: #fff;
        }

        p {
           
            &.feature-blurb {
                font-style: italic;
                padding: 10px 0 30px 0;
                @include secondary-font; 
            }

            &.step-one {
                font-size: 20px;
                margin: 10px 0 15px;
            }
        }
    }

    /* Feature panel side*/
    .side {
        position: relative;

        .inner-content {
            color: #fff;
        }

        .sprite {
            background: {
                image : url('../../img/sprite/three-steps-box.png')
            }

            &.aside-one {
                background: {
                    position: -26px -32px;
                }
            }
            &.aside-two {
                background: {
                    position: -7px -102px;
                    repeat: no-repeat;
                }
            }

            &.aside-three {
                background: {
                    position: -26px -236px;
                    repeat: no-repeat;
                }
            }
            &.aside-four {
                background: {
                    position: -26px -378px;
                    repeat: no-repeat;
                }
            }

        }

        .aside-one {
            width: 220px;
            height: 50px;
            .inner-content {
                padding: 12px 10px 10px 40px;
            }
        }

        .aside-two{
            height: 105px;
            width: 240px;
            position: absolute;
            left: -19px;
            .inner-content {
                line-height: 24px;
                margin: 14px 13px 12px 78px;
                width: 135px;
            }
        }

        .aside-three{
            height: 113px;
            width: 222px;
            margin: 105px 0 0 0;
            .inner-content {
                line-height: 23px;
                padding: 23px 13px 12px 59px;
                width: 135px;
                color: #515151;
            }
        }

        .aside-four{
            height: 100px;
            width: 220px;
            .inner-content {
                line-height: 23px;
                padding: 17px 13px 12px 59px;
                width: 135px;
                color: #515151;
            }

        }

    }
    
    /********************************************
    * 3.1 Mid Section : Trusted by
    ********************************************/

    #trusted-by {}
    .trusted-by {
        
        .inner-content {
            padding: 0 0 0 65px;
        }
        .sprite {
            width: 170px;
            height: 60px;
            float: left;
            opacity: 0.5;
            filter:alpha(opacity=50); /* For IE8 and earlier */
            
            &.company-bentley {
                height: 80px;
            }
            &.company-environ {
                margin: 15px 0 0 0;
                height: 33px;
            }
            &.company-flint {
                height: 60px;
                width: 110px;
            }
            &.company-lockup {
                height: 55px;
            }
            &.company-lockup {
                width: 70px;
            }
            &.company-threeMC {
                height: 63px;
            }
        }
        
    }
    
    /********************************************
    * 4. Carousel
    ********************************************/
    .ca-container{
        position: relative;
        margin:25px auto 20px auto;
        height: 190px;
        background: #ddd;
        @include border-radius(10px);

        .ca-nav {
            span{
                width:25px;
/*                height:25px;*/
                height:38px;
                background: transparent url('../../../../../shared/foundation2/images/carousel/arrows.png') no-repeat top left;
                position: absolute;
/*                top:55%;*/
                top: 50%;
                margin-top:-19px;
                left:-30px;
                text-indent:-9999px;
                opacity:0.7;
                cursor:pointer;
/*                z-index:100;*/

                &.ca-nav-next {
                    background-position:top right;
                    left:auto;
                    right:-30px;
                }
                &:hover{
                    opacity:1.0;
                }
            }
        }


        .ca-wrapper{
            width:100%;
            height:100%;
            position:relative;

            .ca-item{
                position:relative;
                float:left;
                width:313px;
                height:100%;
                h2 {
                   text-align:left;
                   color:#6D91A3;
                }
                .more{
                    @include secondary-font;
                    color: #95C74B;
                    font-size: 12px;
                }
            }
            .ca-item-main{
                padding:20px;
                position:absolute;
                top:5px;
                left:5px;
                right:5px;
                bottom:5px;
                background:#fff;
                overflow:hidden;
                @include border-radius(10px);
            }
        }  

        /** first item**/
        .ca-item-1{

            .inner-content{
                margin: 0 0 10px 0;
                ul {
                    color: #fff;
                    position: relative;
                    li {
                        margin: 10px 10px 10px 0;
                        padding: 10px;
                        @include border-radius(10px);

                    }
                    .pwn-rate {
                        background: #95C74B;
                        margin-right: 200px;
                        .logo {
                            position: absolute;
                            background: transparent url('../../img/global/pwn-small.png') no-repeat center center;
                            height: 30px;
                            width: 45px;
                            top: 3px;
                            bottom: 0;
                            left: 75px;
                        }
                    }

                    .bt-rate {
                        background: #7f7f7f;
                        margin-right: 70px;
                        text-align: right;
                        .logo {
                            position: absolute;
                            background: url('../../img/global/bt-small.png') no-repeat center center;
                            height: 30px;
                            width: 45px;
                            top: 46px;
                            left: 200px; 
                        }
                    }
                }
            }
        }
        .ca-item-2{
        }
        .ca-item-3{

            h2 {
                font:{
                    size: 25px;
                    weight: normal;
                }
                margin: 10px 0 0 30px;
                line-height: 30px;
                .highlight {
                    background: none;
                    color: #FFAF27;
                    font:{
                        size: 45px;
                        weight: bold;
                    }
                    letter-spacing: -4px;
                }
            }
        }
        
        .ca-item-4 {
            .advert {
                .header {
                    font : {
                        size: 25px;
                    }
                    color: #6D91A3;
                    display: block;
                    margin: 0 0 10px 0;
                }
                
                .sub-content {
                    @include secondary-font;
                    color: #515151;
                    margin: 0 0 10px 0;
                    line-height: 20px;
                }
                
                .set-a-small-large-pc {
                    display: block;
                    height: 85px;
                    width: 185px;
                    margin: 0 auto;
                }
            }
                        
        }
        
    }


    /********************************************
    * 6. 3 Easy steps modal
    ********************************************/
    #modal-threeeasysteps{
        .inner-content {
            margin: 0 auto;
            width: 460px;
        }
    }


    /********************************************
    * 5. Plus & Prem details
    ********************************************/

    #account-types {

        [class*="column"] + [class*="column"]:last-child {
            float: left;
            margin-left:0;
        }
        .columns,
        .column {
            margin-left:0;
            margin-right: 0;
        }
        .row {
            padding-bottom: 20px;
            background: url('../../img/separator/two.png') repeat-x bottom;
        }

        .sprite {
            background:{
                image: url('../../img/sprite/pwn-bg.png');
            }

            &.plus {
                background: {
                    position: 0 0;  
                    repeat: no-repeat;
                }
            }

            &.premium {
                background: {
                    position: -476px 0;  
                    repeat: no-repeat;
                }
            }

        }   
    }

    .plus, 
    .premium {

        .inner-content {
            padding: 0 0 0 25px;
            color: #fff;
            position: relative;
            width: 200px;

            ul {
                @include secondary-font;
                list-style-type: none;
                padding: 0;
                margin: 0;
                li {
                    background: {
                        image: url("../../img/top-panel/bullet-arrow.png");   
                        repeat: no-repeat;
                        position: 0px 5px;
                    }
                    padding-left: 14px; 
                    line-height: 15px;
                    margin: 0 0 10px 0;
                }
            }   
        }
    }

    .plus {
        height: 360px;
        width: 470px;
        overflow: hidden;

        .title {
            font-size: 30px;
            color: #fff;
            margin: 70px 10px 10px 25px;
        }

        .buttons-wrap {
            position: absolute;
            bottom: 7px;
            right: -3px;
        }

        .left .inner-content {
            .headers-bg-style-2{
                display: block;
                height: 110px;
                color: #6E91A4;
                padding: 30px 15px 0;
                font : {
                    size: 24px;
                }
                margin-top: 50px;
                text-transform: uppercase;
            }
        }

    }

    .premium {
        height: 360px;
        width: 470px;
        margin-left: 30px;
        
        .width-overide {
            width: 475px;
        }
        
        .title {
            font-size: 30px;
            color: #fff;
            margin: 70px 10px 10px 25px;
        }
        .buttons-wrap {
            position: absolute;
            bottom: 7px;
            right: -36px;
        }
        .left .inner-content {
            .small {
                font-size: 16px;
                margin: 0px 10px 10px 0px;
            }
        }  
    }

    /********************************************
    * 6. Get more from PWN
    ********************************************/
    #get-more-pwn {
        color: #515151;
        .columns,
        .column {
            margin-left:0;
            margin-right: 0;
        }

        .row {
            padding-bottom: 20px;
            background: url('../../img/separator/two.png') repeat-x bottom;
        }

    }

    .get-more-pwn {

        h4 {
            color: #6E91A4;
        }
        

        .inner-content {}

        .sprite {
            height: 188px;
            width: 218px;
            display: block;
            background: {
                image: url('../../img/sprite/get-more-pwn.png');
            }
            &.video {
                background: {
                    position: -308px -18px;
                    repeat: no-repeat;
                }
            }

            &.web {
                background: {
                    position: -1px -5px;
                    repeat: no-repeat;
                }
            }
        }

        .img-content{
            width: 215px;
            margin: 23px 0 0 0;
            padding-left: 15px;
            h4 {
                padding: 0 0 10px 0;
            }
            p{
                @include secondary-font; 
                line-height: 18px;
            }

            .more {
                @include secondary-font;
                font: {
                    size: 11px;
                }
                margin: 5px 0 0 0;
                display: block;
            }
        }
    }
    


    /********************************************
    * 7. Conference call with PWN
    ********************************************/

    #conference-call-with-pwn{

        .column,
        .columns{
            margin-left:0;
        }

        .row {
            padding-bottom: 20px;
            margin-bottom: 20px;
            background: url('../../img/separator/two.png') repeat-x bottom;
        }

    }

    .conference-call-with-pwn{
        
        .inner-content{
            @include secondary-font;
            line-height: 18px;
            p {
                margin-bottom: 10px;
                color: #515151;
            }
        }

        .get-my-pin-container {
            background: url('../../img/bg/small-green.png') no-repeat;
            height: 220px;
            width: 220px;
            margin-top: 20px;
            position: relative;
            h3 {
                color: #fff;
                font: {
                    size: 17px;
                    weight: bold;
                }
                margin: 10px;
            }

            .sub-content {
                margin: 10px 30px;
                color: #fff;
            }
            
            .get-my-pin-small-bottom {
                position: relative;
                color: #fff;
                
                .form-field {
                    &.error {
                        small {
                            width: 215px;
                            margin: 0px auto;
                            text-align: center;
                        }
                    }
                    
                    &.tandc{
                        text-align: center;
                    }
                    
                    .more {
                        color: #fff;
                        font: {
                            size: 11px;
                        }
                    }
                    .email-address {
                        width: 165px;
                        margin: 0 auto;
                    }
                    span {
                        margin-top: -10px;
                        font: {
                            size: 11px;
                        }
                    }
                } 
                .get-my-pin {
                    width: 110px;
                    margin: 5px 0 0 55px;
                }
            }
        }
    }
}