/********************************************
 * Mobile Apps PAGE
 ********************************************/
@import "screen.scss";
.js {
    #mobile-app{
        .row {
            
            &:first-child {
               background: none;
               margin-bottom: 0;
               padding-bottom: 0;
            }
            margin-bottom: 20px;
            padding-bottom: 30px;
            background: url('../../img/separator/two.png') repeat-x bottom;

        }
    }

    .mobile-app {
        position: relative;
        
        
        .header-container {
            position: relative;

            .mobile {
                background: {
                    image: url('../../img/global/mobile-app_03.png'); 
                    repeat: no-repeat;
                    position: right;
                }
                height: 424px;
                width: 395px;
                display: block;
                right: 0;
                top: -30px;
                z-index: 1;
            }
            
            .landing-main-title {
                padding: 22px 0 39px 16px;
            }
            .sub-header,
            .sub-header-content {
                width: 500px;
            }

        }


        .inner-content {
            position: relative;    
            &.last-child {

                margin-top: 175px;
            }

            &.alt-background {
                background: {
                    image: url('../../img/bg/green-large-bg.png');
                    repeat: no-repeat;
                }
            }

            .pwn-app {
                color: #515151;
                padding: 20px 25px 0 24px;
                @include secondary-font;
                li {
                    background: {
                        image: url('../../img/bullet-arrow-grey.png');
                        repeat: no-repeat;
                        position: left 6px;
                    }
                    width: 470px;
                    overflow: hidden;
                    line-height: 20px;
                    padding: 0 0 10px 15px;
                }
            }
        }

        .get-apps {
            margin-top: 0;

            .inner-content{
                padding: 10px 10px 30px 25px;              
            }

            h3 {
                padding-bottom: 30px;
                font: {
                    size: 20px;
                }
            }
            
            p {
                &.first-child {
                    margin-bottom: 40px;
                }
                @include secondary-font; 
                margin-bottom: 20px;
                line-height: 20px;
            }

            span {
                &.sprite {
                    display: block;
                    background: {
                        image: url("../../img/sprite/app-stores.png");
                    }


                    &.apple {
                        width: 120px;
                        height: 40px;
                        margin-left: 225px;
                        background: {
                            position: 0px -7px;
                       }
                    }

                    &.google-play {
                       width: 130px; 
                       height: 40px;
                       background: {
                            position: 150px -7px;
                       }
                       margin-left: 250px;
                    }   
                }               
            }
        }
    }
 }