@import "screen.scss";
.js {
    /********************************************
    * 15. Next Steps PAGE
    ********************************************/
    
    #generated-pin-top {}
    .generated-pin {
        
        .inner-content {
            .social-wrapper {
                padding: 10px 0 10px 0;
                width: 425px;
                margin: 0 auto;
                .social-text {
                    @include secondary-font;
                    color: #515151;
                    width: 310px;
                    float: left;
                    position: relative;
                    padding: 13px 0 0 0;

                }
                .sprite {
                    background: {
                        image: url('../../img/sprite/social-alternative.png');

                    }
                    width: 38px;
                    height: 36px;
                    text-indent: -9999px;
                    font: {
                        size: 0px;
                    }
                    display: block;
                    position: relative;
                    float: left;
                    
                    &.twitter {
                        background: {
                            position: 0 0;
                        }
                    }
                    
                    &.facebook {
                        background: {
                            position: -42px 0;
                        }
                    }
                    
                    &.linkedin {
                        background: {
                            position: -84px 0;
                        }       
                    }
                    
                    &:hover {
                        opacity:0.7;
                        filter:alpha(opacity=70); /* For IE8 and earlier */ 
                    }   
                }           
            }

            .label {
                background: {
                    color: transparent;
                }
                color: #95C74B;
                font: {
                    size: 16px;
                }
                display: block;
            }
        }
        .main-title {
            font: {
                size: 50px;
            }
            padding: 20px 0;
            color: #6E91A4;
        }
        
        .conference-details {
            color: #95C74B;
            font: {
                size: 57px;
            }
            .number{
                font: {
                    weight: bold;
                }
                letter-spacing: -5px;
            }
            
            .pin{
                font: {
                    weight: bold;
                }
                letter-spacing: -5px;  
            }
        }
        
        .small-text {
            @include secondary-font;
            color: #515151;
        }
        
        .login-info {
            padding: 20px;
        }
        
    }
    
    .next-steps {
        .headers-bg-style-7 {
            height: 70px;
            padding: 25px 0 0 16px;
            color: #fff;
            font: {
                size: 30px;
            }
            margin-top: 20px;
        }
    }
    
    
    .request-welcome-pack,
    .schedule-call,
    .print-conference-details{
        .inner-content{
            border: 1px solid #ccdbc4;
            padding: 10px;
            margin: 20px 0 20px 0;
        }
        /*
        * Sprites come from Compass helpers
        */
        .general-welcome-pack {
            display: block;
            height: 139px;
            width: 184px;
            margin: 10% 0;
        }
        .general-printer {
            display: block;
            width: 133px;
            height: 133px; 
            margin: 5% 10%;
        }
        .general-disk {
            display: block;
            width: 133px;
            height: 133px; 
            margin: 5% 10%;
            
        }
        
    }
    .request-welcome-pack {
        
        .request-welcome-pack-form-container {
            position: relative;
            .inner-content {
                border: none;
                
                .header-bg {
                    background: {
                        image: url('../../img/global/green-header-small-box-whte-border.png');
                        repeat: no-repeat;
                    }
                    height: 45px;
                    padding: 13px 0 0 25px;
                    color: #fff;
                    font: {
                        size: 20px;
                    }
                }
                .sub-title {
                    color: #95C74B;
                    font: {
                        size: 21px;
                    }
                    padding: 25px 50px 25px 0;
                }
                
                .sub-content{
                    @include secondary-font;
                    color: #515151;
                    line-height: 20px;
                }
                
            }
        }
                
        .form-field {
            float: left;
            margin: 10px;
            
            .throbber {
                position: absolute;
                left: 108px;
                bottom: -40px;
            }
                
           
        }
        .section-title {
            padding-left: 10px;
            font:{
                size: 25px;
            }

        }
        .button-wrapper{
            padding-left: 10px;
            .required {
                display: block;
                color: #515151;
                padding: 0 0 5px 3px;
                @include secondary-font;
                font: {
                    size: 11px;
                }
            }
        }
        .request-welcome-pack-side {
            .section-title {
                padding-left: 0;
                font:{
                    size: 18px;
                }
            }
            
            .what-you-get {
                color: #515151;
                @include secondary-font;
                margin-bottom: 50px;
                li {
                    padding-left: 18px;
                    margin-top: 20px;
                    margin-bottom: 20px
                }
                .sprite {
                    background: {
                        image: url('../../img/sprite/arrows.png');
                        repeat: no-repeat;
                    }
                    
                    &.black-arrow{
                        background: {
                            position: 0 -9px;
                        }
                    }
                }
            }
            
            .conference-info {
                color: #515151;
                @include secondary-font;
                margin-bottom: 25px;
                
                .highlight {
                    background: none;
                    color: #6E91A4;
                    font:{
                        weight: bold;
                    }
                    padding-bottom: 10px;
                }
            }
            
        }
    }
    
    .schedule-call {
        
        [class*="column"] + [class*="column"]:last-child {  
            float: left;
        }
        .column, .columns {
            margin-left: 0;
        }
        .row .three {
            width: 20%;
        }
        .section-title {
            font: {
                size: 25px;
            }
        }
        .schedule-call-container {
            margin: 0 0 15px 0;
            color: #515151;
            @include secondary-font;
            h4 {
                font:{
                    weight: bold;
                }
                padding: 10px 0 10px 0;
                
            }
            .button-wrapper {
                margin: 9px 0 0 25px;
                position: relative;
            }
        }
    }
    
    .print-conference-details {
        
        [class*="column"] + [class*="column"]:last-child {  
            float: left;
        }
        .column, .columns {
            margin-left: 0;
        }
        
    }
}