/********************************************
* 14. Pin Reminder PAGE
********************************************/
@import "screen.scss";
.js {
    .pin-reminder {
        .inner-content {
            margin: 10px 0;
            position: relative;
            .sprite {
                display: block;
                background: {
                    image: url("../../img/sprite/sprite-1-updated-2.png");
                    repeat: no-repeat;
                }
                &.reminder{
                    height: 195px;
                    width: 310px;
                    right: 0;
                    top: 75px;
                    z-index: 1;
                    background: {
                        position: -42px -480px
                    }
                }
            }
            
            .landing-main-title {
                color: #6D91A3;
            }
            
            .sub-content {
                @include secondary-font;
                color: #515151;
                width: 500px;
                padding: 0 0 0 24px;
                line-height: 20px;
            }
            
            .headers-bg-style-1 {
                font: {
                    size: 23px;
                }
                color: #fff;
                height: 60px;
                width: 180px;
                padding: 25px 0 0 36px;
                top: -50px;
                left: 25px;
                z-index: 1; 
            }  

            .inner-content {
                margin: 70px 0 0 0;
                padding: 10px 25px;
                color: #fff;
                &.alt-background {
                    background: {
                        image: url('../../img/bg/green-large-bg.png');
                        repeat: no-repeat;
                    }
                    height: 165px;
                }

                .pin-reminder-form {
                    padding: 35px 0 0 0;
                    position: relative;
                    label {
                        font: {
                            size: 15px;
                        }
                        padding: 5px 0 5px 5px;
                    }

                    .form-input-container {
                        float: left;
                        width: auto;
                        padding: 0 25px 0 0;
                        &.button-wrapper {
                            padding: 0;
                            margin-top: 28px;
                            .button {
                                margin-right: 0;
                                padding: 16px 20px 13px 21px;
                            }
                        }
                    }
                  .throbber {
                    right: 88px;
                    bottom: -30px;
                  }
                  .form-legend {
                    display: block;
                    float: left;
                    bottom: -20px;
                  }
                }
            }

        }
    }
}