@import "screen.scss";

.js {
    
    .reveal-modal {
        width: 350px;
        margin-left: -225px;
    }
    
    #plus-landing-page {}
    .plus-landing-page {
        
        .inner-content {
            position: relative;
            color: #fff;
            .sub-header ,
            .sub-header-content{
                width: 477px;
            }
            .landing-main-title {
                padding: 22px 0 42px 24px;
                font: {
                    size: 45px;
                }
            }
            &.alt-background {
                z-index: 0;
                background: {
                    image: url('../../img/bg/green-large-bg.png');
                    repeat: no-repeat;
                }
                margin: 60px 0 25px 0;
                height: 115px;
            }

            &.plus-desc {
                padding: 60px 24px 14px 24px;
            }

            .plus-register-container {
                
                form .medium {
                    width: 580px;
                }
                
                .throbber {
                    position: absolute;
                    right: -80px;
                    bottom: -10px;
                }
            }

        }
        
        .plus-image {
            $plus-image : '../../img/plus.png';
            z-index: 1;
            width: 429px;
            height: 380px;
            background: {
                 image: url($plus-image);
                 repeat: no-repeat;
             }
            top: 120px;
            right: 0px;
        }

        .headers-bg-style-1 {
            width: 215px;
            height: 58px;
            top: -40px;
            left: 10px;
            padding: 25px 0 0 14px;
            color: #fff;
            font: {
                size: 22px;
            }
        }
        
        .plus-register-container {
            margin: 10px 0 0 0;
            .terms-conditions {
                margin: 0;
            }

            .form-field {
                float: left;
                position: relative;
                width: 600px;
                margin-left: 38px;
                .plus-register-error-info{
                    small {
                        margin-top: 0;
                        width: 300px;
                    }
                } 
            }
            .form-actions {
                .get-my-pin{
                    margin-left: 30px;
                }
            }
            .more,
            .terms-conditions{
                font: {
                    size: 12px;
                }
            }
            
            .more {
                color: #fff;
            }
            .terms-conditions {
                margin: 0 5px 0 0;
                vertical-align: middle;
            }
        }
    }
    
    .plus-switch-registration-container {
        
        .form-legend-item {
            @include secondary-font;
            padding: 0 0 10px 0;
        }
        
        .sub-header {
            width: auto;
            padding-left: 0;
        }
        
        .sub-content {
            margin: 0 0 10px 0;
            @include secondary-font;
        }
    }
    
    
    .plus-switch-registration-login {
        .form-action {
            margin: 5px 0 0 0;
        }
        .error{
            small {
                margin-top: 0;
            }
        }
    }
    
    .already-powwownow {
        p {
            padding: 0 0 8px 0;
            color: #515151;
        }
    } 
    
    .modal-alreadyAPlusCustomers {
        .inner-content {
            .sub-header {
                width: auto;
                line-height:20px;
                padding-left:0;
            }
            p {
                @include secondary-font;
                line-height: 20px;
            }
        }
    }
}