@import "screen.scss";
.js {
    
    .reveal-modal {
        width: 350px;
        margin-left: -225px;
    }
    
    .premium-landing-page {
        
        .inner-content {
            position: relative;
            color: #fff;
            .sub-header ,
            .sub-header-content{
                width: 477px;
            }
            
            .font-goth-it {
                letter-spacing: 5px;
                font: {size: 58px;}
                &.small {
                  font:{size:35px}
                }
            }
            .landing-main-title {
                font:{size:45px;}
                padding: 17px 0 33px 18px;
            }

        }
        
        .premium-image {
            z-index: 1;
            width: 429px;
            height: 380px;
            background: {
                 image: url('../../img/premium-style-1.png');
                 repeat: no-repeat;
             }
            top: -10px;
            right: 0px;
        }

        .headers-bg-style-11 {
            width: 380px;
            height: 63px;
            top: -40px;
            left: 10px;
            padding: 20px 0 0 14px;
            color: #fff;
            font: {
                size: 28px;
            }
        }
        
        .inner-content {
            position: relative;
            color: #fff;
            &.alt-background {
                z-index: 0;
                background: {
                    image: url('../../img/bg/style-1.png');
                    repeat: no-repeat;
                }
                margin: 60px 0 25px 0;
                height: 115px;
            }
            &.premium-desc {
              padding: 50px 24px 0px 24px;
              p {
                font: {size: 15px;}
                .button {
                  margin: 0 0 0 15px;
                }
              }
            }
        }
    }
    
}