@import "screen.scss";


/********************************************
* Schedule a conference
********************************************/
.js {
    .schedule-conference {
        .inner-content {
            margin: 20px 0 20px 0;
            min-height: 195px;
            position: relative;
            .button-wrapper {
                margin: 0 auto;
                width: 310px;
            }
            .general-disk-large {
                width: 200px;
                height: 200px;
                
                &.absolute {
                    left: 675px;
                    top: 45px;
                    z-index: 1;
                }
            }
            
            &.no-background {
                background: none;
            }
            
            &.alt-background {
                background : {
                    image : url('../../img/global/back.png');
                    repeat: no-repeat;
                    position: 0 0;
                }
                min-height: 235px;
            }
            
            .absolute {
                position: absolute;
                top: -45px;
                left: 10px;
            }
            
            .headers-bg-style-9 {
                width: 270px;
                height: 58px;
                padding: 25px 0 0 40px;
                color : #fff;
                font: {
                    size: 23px;
                }
            }
            &.sub-container {
                min-height: 150px;
                
                &.no-background{
                    background: none;
                }
            }
            
            
            .sub-container {

                margin-top: 50px;
                overflow: hidden;
                color: #fff;
                padding: 0 0 0 32px;
                background: {
                    image: url('../../img/separator/three.png');
                    repeat: repeat-y;
                    position: right;
                }
                p {
                    width: 360px;
                    color: #fff;
                    padding: 0 0 10px 0;
                    font: {
/*                        size: 11px;*/
                        size: 12px;
                    }
                    height: 65px;
                    overflow: hidden;
                }
                
                .title {
                    padding: 0 0 10px 0;
                    font: {
                        size: 20px;
                    }
                }
                
            }
            
            .landing-main-title {
                color : #6D91A3;
                padding: 22px 0 10px 24px;
            }
            
            
            p {
                font: {
                    family : $secondary-font-family;
                    size: 12px;
                }
                color: #515151;
                width: 650px;
                line-height: 20px;
            }
        }

    }    
}