/********************************************
* Password reset 1st time PAGE
********************************************/
@import "screen.scss";
.js {
    .password-reset-first {
        position: relative;
        .headers-bg-style-1 {
            font: {
                size: 18px;
            }
            color: #fff;
            height: 54px;
            width: 200px;
            padding: 30px 0 0 16px;
            top: -55px;
            left: 10px;
            z-index: 1;
        }
        
        .landing-main-title {
            color: #6D91A3;
            padding: 22px 0 0 24px;
        }   
        .sub-header-content {
            padding-bottom: 25px;
            width: 500px;
        }

        .general-password-reminder {
            width: 300px;
            height: 190px;
            right: 0;
            top: -165px;
        }
        
        .inner-content {
            position: relative;   
            background: none;
            .inner-content {
                background: {
                    image: url('../../img/bg/green-medium-bg.png');
                    repeat: no-repeat;
                }
                height: 310px;
                margin: 50px 0 0 0;
                
                .password-reset-success{
                    padding: 50px 0 0 80px;
                    color: #fff;
                }
                
                .password-reset-form {
                    padding: 65px 0 0 80px;
                    color: #fff;
                    .form-field-container {
                        width: 425px;
                        float: left;
                    }
                    .form-field {
                        margin-bottom: 15px;
                    } 
                    .form-legend {
                        clear: both;
                        padding: 5px 0;
                    }
                    
                    .form-action {
                        .right{
                            right: 80px;
                            bottom: 30px;
                        }
                    }
                    .throbber {
                        position: absolute;
                        right: 190px;
                        bottom: 32px;
                    }
                }
            }
        }
    }    
    
}