@import "screen.scss";

.js {
    
    .video-conferencing-landing-page {
        
        .landing-main-title {
            padding: 22px 0 42px 24px;
            font: {
                size: 45px;
            }
        }
        .sub-header ,
        .sub-header-content{
            width: 50%;
        }
        .headers-bg-style-1 {
            width: 215px;
            height: 58px;
            top: -40px;
            left: 10px;
            padding: 25px 0 0 0;
            color: #fff;
            font: {
              size: 22px;
            }
        }
        .video-conferencing-image {
            $plus-image : '../../img/video-conferencing.png';
            z-index: 1;
            width: 429px;
            height: 380px;
            background: {
                 image: url($plus-image);
                 repeat: no-repeat;
             }
            top: -10px;
            right: 0px;
        } 
        
        .inner-content {
            position: relative;
            color: #fff;
            &.alt-background {
                z-index: 0;
                background: {
                    image: url('../../img/bg/style-1.png');
                    repeat: no-repeat;
                }
                margin: 95px 0 25px 0;
                height: 75px;
            }
            &.engage-desc {
              padding: 50px 24px 0px 24px;
              p {
                font: {size: 16px;}
                .button {
                  margin: 0 0 0 15px;
                }
              }
            }
        }
            
    }
}
    
    