@import "screen.scss";

.js {
    
    .web-conferencing-landing-page {
        
        .landing-main-title {
            padding: 22px 0 42px 24px;
            font: {
                size: 45px;
            }
        }
        .sub-header ,
        .sub-header-content{
            width: 50%;
        }
        .headers-bg-style-1 {
            width: 215px;
            height: 58px;
            top: -40px;
            left: 10px;
            padding: 27px 0 0 19px;
            font: {
                size: 21px;
            }
        }
        .web-conference-image {
            z-index: 1;
            width: 429px;
            height: 380px;
            background: {
                 image: url('../../img/web-conferencing.png');
                 repeat: no-repeat;
             }
            top: -10px;
            right: 0px;
        } 
        
        .inner-content {
            position: relative;
            color: #fff;
            &.alt-background {
                z-index: 0;
                background: {
                    image: url('../../img/bg/green-medium-bg.png');
                    repeat: no-repeat;
                }
                margin: 85px 0 25px 0;
                height: 200px;
            }
            &.description {
                padding: 50px 24px 90px 24px;
            }
        }
        .web-conferencing-form-success {
          p {
            line-height: 18px;
          }

          .list {
            padding: 0 0 0 24px;
          }
          .sub-header-content {
            width: inherit;
            margin: 0 0 20px 0;
          }
        }
        .form-input-container {
            width: 295px; 
            float: left;
            &.last {
              float: right;
              width: inherit;
              height: 25px;
            }
            .form-action {
              float: right;
              margin: 0 75px 0 0;
            }

            .form-field {
                padding: 5px 0;
                height: 50px;
            }
            .form-legend-item {
              padding: 0 10px 0 0;
            }
            .throbber {
              bottom:21px;
              right: 155px;
            }
        }
        .already-customer {
          margin: 5px 0 10px 0;
          .button {
            margin: 0 0 0 5px;
          }
        }
        
    }
}
    
    