@import "../../shared/assets/sass/_core.scss";
/*****************************************************
* Mobile First!
*****************************************************/

body {
  font: {
    size: 12px;
  }
}

.logo {
  width: 100px;
  height: 47px;
}
//Canvas
.canvas {
  background:{
    color:#95C74B;
  }
  margin-bottom: 1.25em;
  padding: 1.25em;
  position: relative;
  box-sizing: border-box;

  .layer-one {
    box-sizing: border-box;
    @include font-family-set-a();
    font:{
      size: 1.5em;
      weight: bold;
    }
    color: #ffffff;
    border: 1px solid #6D91A3;
    background:{
      color:#6D91A3;
    }
    display: inline-block;
    width: inherit;
    @include rotate(3deg);
    padding:8px;

  }
  .layer-two{
    box-sizing: border-box;
    @include font-family-set-a();
    font:{
      size: 1.5em;
      weight: bold;
    }
    background:{
      color:#ffffff;
    }
    display: inline-block;
    width: inherit;
    @include rotate(3deg);
    margin: 5px 0 0 -3px;
    padding:8px;
  }
}

footer {
  color: #ffffff;
  .inline-list {
    margin: 0 auto;
    > li {
      margin: 0 0 0 0.5em;
    }
  }
  .footer-items{
    width: 100%;
    .footer-item{
      .link {
        font:{size:0.9em}
      }
    }
  }
}


/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
@media only screen and (min-width: 768px) {
  .logo {
    width: 183px;
    height: 86px;
  }

  //Canvas
  .canvas {
    .layer-one {
      font:{
        size: 2.5em;
      }
    }
    .layer-two{
      @include font-family-set-a();
      font:{
        size: 2.5em;
      }
      background:{
        color:#ffffff;
      }
      margin: 14px 0 10px -3px;
    }
  }
  footer {
    .footer-items{
      width: 100%;
      .footer-item{
        .link {
          font:{size:1em}
        }
      }
    }
  }
}






