br,
#loginContainer,
#change-region,
.top-menu-container-grid,
.customerWrapper,
.mypwn_sub_header > div > span.myPowwownow,
.mypwn_sub_header > div > span.service_name,
.mypwn_sub_header > .hello,
.mypwn_sub_header > .yourPin > a,
.mypwn_sub_header > .yourPin,
/*.plus > .yourPin,*/
.mypwn_sub_header > .balance,
.breadcrumb-myPwn-sub-page, 
.hr-spotted-top, 
.mypwn_footer_main, 
#pwn-footer,
.print-full-data-table,
#tblcontactdialinnumbers_length,
#tblcontactdialinnumbers_filter,
#tblcontactdialinnumbers_info,
#tblcontactdialinnumbers_paginate,
.button-green,
#bskt-prds {
    display: none;
}

/*Table Header Bold*/
table#tblcontactdialinnumbers thead th {
    font-weight: bold !important;
    color: #414141;
}

/*Table Border*/
table#tblcontactdialinnumbers, table#tblcontactdialinnumbers thead th, table#tblcontactdialinnumbers tbody td {
    border: 1px solid #646464;
}

/*Max Width*/
.container_24 {
    width: 100%;
}

/*Table Width and Font Color*/
table {
	width: auto;
	margin: 0;
}
table#tblcontactdialinnumbers thead th:first-child, table#tblcontactdialinnumbers tbody td:first-child {
	width: 30px;
}

/*Header Spacing Reduced*/
.sub_page_heading_container_one_column {
	margin-top: 14px;
}
h1.mypwn_sub_page_heading, .one-column {
	padding: 0;
	height: auto;
    color: #414141;
}

/*Table Header*/
table#tblcontactdialinnumbers thead th {
	font-family: "RockwellStdRegular",Georgia,serif;
}

/*Footer Font Size*/
.dial_in_numbers_footer {
	font-size: 9px;
}
.dial_in_numbers_footer br {
	display: block;
}

div.mypwn_sub_header {
	padding: 0;
	float: right;
	width: 99%;
	margin: 10px 0;
}

#logo-premium {
	margin: 0 0 0 8px;
}

#tblcontactdialinnumbers_wrapper {
	margin-top: 10px;
}

.supersecrethiddenname {
	display: block;
	font-size: 22px;
	text-align: center;
	vertical-align: middle;
	word-wrap: normal;
	float: right;
}

.iw_component:first-child {
	padding-top: 2px;
}
