@CHARSET "UTF-8";
@import url('print-layout.css');

/* css for topup details page*/
div.grid_sub_24 a, ul#products-nav, div.hello, span.myPowwownow, span.service_name, div.balance button, div.content-seperator, div.yourPin a {
    display: none;
}

form#frm-tmp {
    background-color: #fff;
    display: block;
}

div.mypwn_sub_header {
    display: block;
    width: 100%;
}

div.grid_5 {
    width: 100% !important;
}

form.pwnform .form-field label {
    font-size: 13px !important;
}

span.input-large, input-large {
    font-size: 14px;
}

