@CHARSET "UTF-8";

@import url('/sfcss/vendor/reset.css');
@import url('/sfcss/vendor/fluid24.css');

div#top-menu-container,
div#change-region,
ul.change-region-list,
div.tooltip-region,
div#pwn-footer,
p {
    display: none;
}

body {
    font-family: verdana;
    line-height: 130%;
}

a,
a:visited {
    color: inherit;
    text-decoration: inherit;
}

h1, h2, h3 {
    font-family: RockwellStdRegular;
    font-weight: normal;
}

h1, h2 {
    font-size: 24px;
    line-height: 24px;
    margin: 15px 0px;
}

h3 {
    font-size: 18px;
    margin: 5px 0px;
}

table {
    margin: 5px 0;
    page-break-inside: auto;
}

table, thead, tr, td, th {
    border: 1px solid #000;
}

th, td {
    padding: 10px;
}
