@CHARSET "UTF-8";
@import url('print-layout.css');

/* css for top up history page */
form#frm-plus-topup-history,
div#topup_history_screen_wrapper,
div#transaction {
    display: none;
}

div#topup_history_print_wrapper_outer {
    display: block !important;
}

table {
    font-size: 14px;
}

/* hide the actions column */

td:last-child,
th:last-child {
    display: none;
}

.sorting_1 {
    width: 150px;
}