@import compass/css3
@import "../_inc/color"
@import "../_inc/font.family"
@import "../_inc/font.colors"

/**
 * 1. Correct text resizing oddly in IE 6/7 when body 'font-size' is set using
 *    'em' units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */


@font-face
  font-family: 'RockwellStdRegular'
  src: url('../../../shared/fonts/rockwellstd-webfont.eot')
  src: url('../../../shared/fonts/rockwellstd-webfont.eot?#iefix') format("embedded-opentype"), url('../../../shared/fonts/rockwellstd-webfont.svg#RockwellStdRegular') format("svg"), url('../../../shared/fonts/rockwellstd-webfont.woff') format("woff"), url('../../../shared/fonts/rockwellstd-webfont.ttf') format("truetype")

html
  font-size: 100% /* 1 */
  -ms-text-size-adjust: 100% /* 2 */
  -webkit-text-size-adjust: 100% /* 2 */

body
  margin: 0
  padding: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font:
    size: 16px

.no_script
  background: $white
  @include box-sizing('border-box')
  color: $green
  padding: 1em
  font:
    family: rockwellstdregular
button::-moz-focus-inner
  border: 0
input:focus::-webkit-input-placeholder
  color: transparent!important
input:focus::-moz-placeholder
  color: transparent!important
input:focus:-moz-placeholder
  color: transparent!important

a[href^=tel]
  color: $green
.hide
  display: none
.center
  text-align: center

.header
  line-height: 1em
  &.header_h1,
  &.header_h2
    margin: 0 0 0 20px
  &.header_h1
    font:
      family: RockwellBold
      size: 1.750em
  &.header_h2
    font:
      family: rockwellstdregular
      size: 1.750em
      weight: normal
  &.header_h3
    font:
      family: RockwellBold
      size: 1.750em

.btn_dark_blue
  padding: 0.5em 1em
  margin:
    top: 0.7em
    left: auto
    right: auto
  text-decoration: none
  text-align: center
  color: $white
  display: inline-block
  background:
    color: $blue_e
  @include border-radius(10px)

// Blue Button Sprite
.btn_blue
  @include border-radius(10px)
  padding: 0.5em 1em
  cursor: pointer
  background:
    color: $blue_h
  display: inline-block
  color: $white
  text-decoration: none
  font:
    family: RockwellBold
    size: 1.125em

// Orange Button Sprite
.btn_orange
  @include border-radius(10px)
  padding: 0.4em
  border: 1px solid $white
  outline: none
  cursor: pointer
  display: block
  color: $white
  text-decoration: none
  font:
    family: RockwellBold
    size: 1.125em
  background:
    color: $orange
  &:hover
    border: 1px solid $orange
    color: $orange
    background:
      color: $white
  &:disabled
    -webkit-text-fill-color: $white
    color: $white
    background:
      color: $orange
    @include opacity(1)

// Social Media Sprites
.sprite_social_rounded
  cursor: pointer
  background:
    image: url('../../../cx2/img/mobile/640_spritesocialrounded.png')
    repeat: no-repeat
    size: 265px 39px
  display: block
  width: 45px
  height: 40px
  &.twitter
    background:
      position: 0 0
  &.facebook
    background:
      position: -55px 0
  &.linkedin
    background:
      position: -111px 0
  &.youtube
    background:
      position: -166px 0
  &.blog
    background:
      position: -222px 0