/*
 *	Variable Grid System.
 *	Learn more ~ http://www.spry-soft.com/grids/
 *	Based on 960 Grid System - http://960.gs/
 *
 *	Licensed under GPL and MIT.

/*
 *  Forces backgrounds to span full width,
 *  even if there is horizontal scrolling.
 *  Increase this if your layout is wider.
 *
 *  Note: IE6 works fine without this fix.

body
  min-width: 320px

/* Containers
 *----------------------------------------------------------------------------------------------------

.container_10
  margin-left: auto
  margin-right: auto
  width: 320px

/* Grid >> Global
 *----------------------------------------------------------------------------------------------------

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10
  display: inline
  float: left
  position: relative
  margin-left: 0px
  margin-right: 0px

.push_1, .pull_1, .push_2, .pull_2, .push_3, .pull_3, .push_4, .pull_4, .push_5, .pull_5, .push_6, .pull_6, .push_7, .pull_7, .push_8, .pull_8, .push_9, .pull_9, .push_10, .pull_10
  position: relative

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
 *----------------------------------------------------------------------------------------------------

.alpha
  margin-left: 0

.omega
  margin-right: 0

/* Grid >> 10 Columns
 *----------------------------------------------------------------------------------------------------

.container_10
  .grid_1
    width: 32px
  .grid_2
    width: 64px
  .grid_3
    width: 96px
  .grid_4
    width: 128px
  .grid_5
    width: 160px
  .grid_6
    width: 192px
  .grid_7
    width: 224px
  .grid_8
    width: 256px
  .grid_9
    width: 288px
  .grid_10
    width: 320px
  .prefix_1
    padding-left: 32px
  .prefix_2
    padding-left: 64px
  .prefix_3
    padding-left: 96px
  .prefix_4
    padding-left: 128px
  .prefix_5
    padding-left: 160px
  .prefix_6
    padding-left: 192px
  .prefix_7
    padding-left: 224px
  .prefix_8
    padding-left: 256px
  .prefix_9
    padding-left: 288px
  .suffix_1
    padding-right: 32px
  .suffix_2
    padding-right: 64px
  .suffix_3
    padding-right: 96px
  .suffix_4
    padding-right: 128px
  .suffix_5
    padding-right: 160px
  .suffix_6
    padding-right: 192px
  .suffix_7
    padding-right: 224px
  .suffix_8
    padding-right: 256px
  .suffix_9
    padding-right: 288px
  .push_1
    left: 32px
  .push_2
    left: 64px
  .push_3
    left: 96px
  .push_4
    left: 128px
  .push_5
    left: 160px
  .push_6
    left: 192px
  .push_7
    left: 224px
  .push_8
    left: 256px
  .push_9
    left: 288px
  .pull_1
    left: -32px
  .pull_2
    left: -64px
  .pull_3
    left: -96px
  .pull_4
    left: -128px
  .pull_5
    left: -160px
  .pull_6
    left: -192px
  .pull_7
    left: -224px
  .pull_8
    left: -256px
  .pull_9
    left: -288px

/* Prefix Extra Space >> 10 Columns
 *----------------------------------------------------------------------------------------------------

/* Suffix Extra Space >> 10 Columns
 *----------------------------------------------------------------------------------------------------

/* Push Space >> 10 Columns
 *----------------------------------------------------------------------------------------------------

/* Pull Space >> 10 Columns
 *----------------------------------------------------------------------------------------------------

/* `Clear Floated Elements
 *----------------------------------------------------------------------------------------------------

/* http://sonspring.com/journal/clearing-floats

.clear
  clear: both
  display: block
  overflow: hidden
  visibility: hidden
  width: 0
  height: 0

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified

.clearfix
  &:before
    content: '\0020'
    display: block
    overflow: hidden
    visibility: hidden
    width: 0
    height: 0
  &:after
    content: '\0020'
    display: block
    overflow: hidden
    visibility: hidden
    width: 0
    height: 0
    clear: both
  zoom: 1

/*
 *The following zoom:1 rule is specifically for IE6 + IE7.
 *Move to separate stylesheet if invalid CSS is a problem.