// Compass
@import "compass/css3"

// Incs
@import ../_inc/color
@import ../_inc/font.family
@import ../_inc/font.colors
@import ../_inc/640.flags

// Mixin
@import ../_inc/mixin.font.smoothing

// The Grid
@import "grid"

// Core Styles
@import "core"

// Sprites
@import "_inc.mobile/sprite.icons"

.logo
  margin: 1em 0 1em 16px

main
  @include box-sizing('border-box')
  display: block
  margin: 0 auto

// Hero Unit Section
@import _inc.mobile/hero.unit

// What You Get Section
@import _inc.mobile/what.you.get

// Mobile Accordion
@import _inc.mobile/mobile.accordion

// Trust Pilot
@import _inc.mobile/trust.pilot

// Three Easy Steps
@import _inc.mobile/three.easy.steps

// Help Section
@import _inc.mobile/help

// Button Styles
@import ../_main.buttons.sass/buttons

// KO Form
@import _inc.mobile/ko.form
@import ../_main.ko.form.inc/form.errors
@import ../_main.ko.form.inc/form.selection
@import ../_main.ko.form.inc/form.placeholder
@import ../_main.ko.form.inc/form.input.email