@import compass/css3

@import "../_inc/color"
@import "../_inc/font.family"
@import "../_inc/font.colors"


// The Grid
@import "grid"

// Core Styles
@import "core"

// Hero Unit Section
@import "_inc.on.board/hero.unit"

// Get Started Section
@import "_inc.on.board/get.started"

// Pushed For Time Section
@import "_inc.on.board/pushed.for.time"

// Start Talking Now Section
@import "_inc.on.board/start.talking.now"

// Social Section
@import "_inc.on.board/social"
// Misc
main
  @include box-sizing('border-box')
  margin: 0 auto
  display: block

a[href^=tel]
  color: $green

.logo
  margin: 2em 16px 2em 0
  padding: 0
  width: 55%
  float: right