.legacy_form
  input[type=email]
    @include border-radius(10px)
    padding: 10px 20px
    border: 2px solid $grey_j
    width: 400px
    font:
      family: arial
      size: 1.5em
    color: $grey_g

.cx_form
  input[type=email]
    @include border-radius(7px)
    @include box-sizing('border-box')
    height: 30px
    padding: 0 0 0 0.500em
    display: inline-block
    border: 1px solid #CCC
    width: 79%
    line-height: 2em
    vertical-align: baseline
    font:
      family: rockwellstdregular
      size: 1.5em
    color: $blue_e
    border: none