@import compass/css3
@import ../_inc/color

.legacy_button

  &.large
    @include border-radius(25px)
    z-index: 1
    border: 3px solid white
    color: $white
    display: inline-block
    padding: 11px
    font:
      family: "RockwellStdRegular"
      size: 22px
      weight: 400