.legacy_form
  .terms_conditions
    color: $white
    a
      color: $white
      &:hover
        border-bottom: 1px solid

.cx_form
  .terms_conditions
    @include box-sizing('border-box')
    width: 79%
    padding:
      top: 0.5em
    text-align: right
    font:
      family: rockwellstdregular
      size: 1.1em
    a
      color: $blue_c
      &:hover
        @include transition-property('color')
        @include transition-duration(300ms)
        color: $green