input:focus::-webkit-input-placeholder
  color: transparent!important
input:focus::-moz-placeholder
  color: transparent!important
input:focus:-moz-placeholder
  color: transparent!important

.legacy_form
  input[type=email]::-webkit-input-placeholder
    color: $black
    font:
      size: 1em
  input[type=email]:-moz-placeholder
    color: $black
    font:
      size: 1em
  input[type=email]::-moz-placeholder
    color: $black
    font:
      size: 1em
  input[type=email]:-ms-input-placeholder
    color: $grey_e

.cx_form
  input[type=email]::-webkit-input-placeholder
    color: $blue_e
    font:
      size: 1.143em
  input[type=email]:-moz-placeholder
    color: $blue_e
    font:
      size: 1.143em
  input[type=email]::-moz-placeholder
    color: $blue_e
    font:
      size: 1.143em
  input[type=email]:-ms-input-placeholder
    color: $blue_e
    font:
      size: 1.143em