.legacy_form
  .error_message
    @include border-radius(5px)
    @include box-sizing('border-box')
    z-index: 2
    display: inline-block
    position: relative
    background: $white
    border: 2px solid $red_a
    &:after, &:before
      right: 100%
      top: 50%
      border: solid transparent
      content: " "
      height: 0
      width: 0
      position: absolute
      pointer-events: none
    &:after
      border:
        color: rgba(255, 247, 248, 0)
        right-color: $white
        width: 5px
      margin-top: -5px
    &:before
      border:
        color: rgba(255, 0, 0, 0)
        right-color: $red_a
        width: 8px
      margin-top: -8px
    p
      color: $grey_g
      padding: 0.5em
      a
        border: none

.cx_form
  .error-message
    margin: 0 0 rem-calc(16px) 0
    p
      padding: 0 rem-calc(5px)
      line-height: 1ems
  .error_message
    margin: 0.313em 0 0 0
    width: 78.500%
    padding: 0.188em
    p
      padding: 0.5em

  .error_message,
  .error-message
    @include border-radius(3px)
    display: none
    background: $red
    color: $white
    font:
      family: verdana, sans-serif
      size: 0.875em
    p
      font:
        family: verdana, sans-serif
        weight: normal
        style: normal
        size: 1.038em
      line-height: normal // 1em
      a
        color: $blue_c
        &:hover
          text-shadow: none
          color: $green
          @include transition-property('color')
          @include transition-duration(300ms)