@import ../_inc/color
//
// End of Imports
//
// Buttons

$padding     : 0.600rem
$bg          : $orange
$radius      : 5px
$full-width  : false
$disabled    : false
//$is-input    : false
$is-prefix   : false
$bg-hover    : $green
$border-color: null
$transition  : true
$bg          : $blue_c
$font-family : 'Arvo'
$font-size   : 1.5rem
$font-weight : 700

@mixin arvo-font-family()
  font:
    family: $font-family
    size: $font-size
    weight: $font-weight


// Button Set A
// On Mobile these buttons will take up their grid width.
.button-blue-set-a
  @include button($padding, $bg, $radius, $full-width, $disabled, $is-prefix, $bg-hover, $border-color, $transition)
  @include arvo-font-family()
  @media only screen and (max-width: 40em)
    @include button($padding, $bg, $radius, true, $disabled, $is-prefix, $bg-hover, $border-color, $transition)
    @include arvo-font-family()