@import "../_inc/_mixin.background.gradient.sass"

// Remove outline around buttons that FF applies.
button::-moz-focus-inner
  border: 0

//Our RockWell font has padding issue in Chrome.
.safari
  .cx_button
    padding:
      top: 0.225em
.cx_button
  @include border-radius(5px)
  @include font_smoothing()
  height: 30px
  border: none
  outline: none
  cursor: pointer
  font:
    family: RockwellStdRegular
    size: 1.663em
    weight: 400
    style: normal
  text-transform: none
  text-align: center
  padding: 0.18em 0.4em 0.225em
  line-height: 16px
  &.cx_button_orange
    color: $white
    background:
      color: $orange
    &:hover
      @include transition-property('background-color')
      @include transition-duration(800ms)
      background:
        color: $green
  &.cx_button_blue_c
    color: $white
    background:
      color: $blue_c
    &:hover
      @include transition-property('background-color')
      @include transition-duration(800ms)
      background:
        color: $green
  &.cx_button_blue_e
    color: $white
    background:
      color: $blue_e
    &:hover
      @include transition-property('background-color')
      @include transition-duration(800ms)
      background:
        color: $green
  &.cx_button_blue_j
    color: $white
    background:
      color: $blue_j
    &:hover
      @include transition-property('background-color')
      @include transition-duration(800ms)
      background:
        color: $green
  &.cx_button_blue_e_white_hover
    color: $white
    background:
      color: $blue_e
    &:hover
      @include transition-property('background-color')
      @include transition-duration(800ms)
      color: $green
      background:
        color: $white
  &.cx_button_multi_lines
    display: block
    line-height: 100%
    height: 100%
    @include border-radius(8px)
  &.cx_button_small_font
    font:
      size: 1.4em

.cx_grad_button
  @include border-radius(5px)
  @include font_smoothing()
  height: 30px
  border: none
  outline: none
  cursor: pointer
  font:
    family: RockwellStdRegular
    size: 1.663em
    weight: 400
    style: normal
  text-transform: none
  text-align: center
  line-height: 16px
  &.cx_grad_button_orange_green
    color: $white
    @include background_gradient_vertical($orange_b, $orange_c)
    &:hover
      @include transition-property('background-color')
      @include transition-duration(800ms)
      @include background_gradient_vertical($green_c, $green_d)
