form#frm-outlook-plugin {
    padding: 0;
    background: #fff;
}

form#frm-outlook-plugin input {
    width: auto;
}

#right-menu-container p.nopadding {
    padding: 0;
    margin-bottom: 0;
}

div#outlook_plugin_response {
    display: none;
}