.display-inline-block {
    display: inline-block;
}
#do-now-list li {
    white-space: inherit;
}
.do-now-list {
    height: auto;
}
a.white, a.white:link, a.white:visited, a.white:active, a.white:hover {
    line-height: 12px;
}
.tooltip-schedule-outlook {
    box-shadow: 0 0 5px #CCCCCC;
    display: none;
    left: -75px;
    margin-top: 16px;
    padding: 10px 20px;
    position: absolute;
    width: 260px;
}
.tooltip-schedule-outlook h4 {
    color: #515151;
}
.tooltip-schedule-outlook p {
    width: 260px;
    position: relative;
    color: #515151;
}
