#form-generate-pin-E h2 {
    line-height: 120%;
    font-size: 20px;
}

#form-generate-pin-E .form-input-container {
    position: relative;
    float: left;
}

#form-generate-pin-E .form-input-container span.mypwn-input-container,
#form-generate-pin-E .form-input-container span.mypwn-input-container-focused {
    width: 400px;
    font-size: 14px;
    padding: 10px 20px;
    color: #515151;
}

span.mypwn-input-container input#register_email-a,
span.mypwn-input-container-focused input#register_email-a{
    width: 378px;
    height: 17px;
}

#form-generate-pin-E .form-button-container a {
    position: relative;
    margin-right: 20px;
    border: 3px solid white;
    /*top: 5px*/
}
