#tabs-grid {
    position: relative;
}
#tabs-grid .subheading {
    width: 60%;
}
#landingpage-tabs-container #form-generate-pin sup {
    font-size: 10px;
}
#landingpage-tabs-container span.your-pin-is {
    font-size: 18px;
}
#form-generate-pin {
    background: #a6cf5a;
    padding: 0;
    margin: 0;
}
.subheading h3 {
    font-size: 11px;
    font-family: Verdana;
    font-weight: normal;
    line-height: 150%;
    padding: 8px 0;
}