img.prettyPhoto {
    cursor: pointer;
}

.videoCarousel .ui-dialog-titlebar {
    display: inherit !important;
}

.videoCarousel .ui-dialog-title {
    color: #515151;
    font-size: 17px;
}

.videoCarousel .ui-dialog-titlebar-close {
    background: #a19fa0;
}

.videoCarousel .ui-widget-header {
    background: none;
}

.videoCarousel .ui-icon-closethick {
    background-image: url("/sfimages/jQuery/ui-icons_ffffff_256x240.png") !important;
    background-position: -96px -128px;
}
