@import url('https://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic');

.iMeetBanner {
    padding: 0 0 15px 0;
    margin: 0;
}

.iMeetBannerLeft {
    margin: 0;
}

.iMeetBannerRight {
    width: 75% !important;
    margin: 0;
    padding-left: 1%;
}

.textAlignRight {
    text-align: right;
}

.noMargin {
    margin: 0;
}

.iMeetBannerFontShare {
    font: bold 17px Verdana, Arial, sans-serif;
}

.iMeetBannerFontFeedback {
    font: normal 14px Verdana, Arial, sans-serif;
}

.iMeetBannerFontRoom {
    font: bold 17px Verdana, Arial, sans-serif;
}

.iMeetBannerFontTip {
    font: bold 14px Verdana, Arial, sans-serif;
}

.iMeetBannerFontForgot {
    font: normal 14px Verdana, Arial, sans-serif;
}

.iMeetBanner a,
.iMeetBanner a:link,
.iMeetBanner a:visited,
.iMeetBanner a:active {
    color: #01ace5;
    border-bottom: 0;
    text-decoration: none;
}

.iMeetBanner a.iMeetBannerFontRoomName,
.iMeetBanner a.iMeetBannerFontRoomName:link,
.iMeetBanner a.iMeetBannerFontRoomName:visited,
.iMeetBanner a.iMeetBannerFontRoomName:active {
    border-bottom: 1px solid #01ace5;
    font-weight: normal;
}

.iMeetBanner a.iMeetBannerFontRoomName:hover {
    color: #88b700;
    border-bottom: 1px solid #88b700;
    font-weight: normal;
}

.cx_button_blue_j {
    color: #ffffff !important;
}

.iMeetBannerSecondParagraph {
    padding-top: 10px;
    margin: 0;
}

.iMeetBannerLinks {
    text-align: right;
    float: right;
    margin: 0;
    padding-top: 10px;
}

.iMeetBannerLinks a.iMeetBannerSurveyFont,
.iMeetBannerLinks a.iMeetBannerSurveyFont:link,
.iMeetBannerLinks a.iMeetBannerSurveyFont:visited,
.iMeetBannerLinks a.iMeetBannerSurveyFont:active {
    color: #000000;
    border-bottom: 0;
    text-decoration: none;
}

.iMeetBannerLinks a.iMeetBannerSurveyFont:hover {
    color: #01ace5;
    border-bottom: 0;
    text-decoration: none;
}

.iMeetBannerLinks a.cx_button {
    font-family: Arvo;
    font-weight: bold;
}