div#right-sidebar div#right-menu-container {
    margin-top: 168px;
    margin-bottom: 0;
}

div#right-menu-container div.dial-in-number{
    margin-bottom: 10px;
    font-family: Verdana;
    font-size: 24px;
    white-space: nowrap;
}

div#tooltip-in-conference-controls ul.information-links li {
    padding-bottom: 0;
}

.shortcode-price {
    font-size: 12px;
    color: #515151;
}

.homepage-shortcode-price {
    font-size: 11px;
}
