.small-text {

}

.button-list {
    text-align: center;
}

.display-inline-block {
    display: inline-block;
}

#do-now-list li {
    white-space: inherit;
    width: 212px;
}

.do-now-list {
    height: auto;
}

a.white,
a.white:link,
a.white:visited,
a.white:active,
a.white:hover {
    line-height: 12px;
}

.tooltip-outlook {
    box-shadow: 0 0 5px #CCCCCC;
    display: none;
    margin-top: 16px;
    padding: 10px 20px;
    position: absolute;
    width: 260px;
}

.tooltip-schedule-outlook h4 {
    color: #515151;
}

.tooltip-schedule-outlook p {
    width: 260px;
    position: relative;
    color: #515151;
}

.tooltip a,
.tooltip a:active,
.tooltip a:link {
    border-bottom: 1px dotted;
    text-decoration: none;
}

.tooltip a:hover {
    border-bottom: 1px solid;
    text-decoration: none;
}

/****************************************************
* Fix for homepage margin when component is included
****************************************************/
.information-links .display-inline-block.href-container {
    margin-left: 10px;
}

.information-links .display-inline-block.outlook-container-form {
    margin-left: 0;
}

.home-outlook-plugin p {
    color: #515151;
}

.home #right-menu-container p {
    margin: 0;
}

.home #right-menu-container ul.mobileapp-links li a:hover,
#right-menu-container ul.scheduler-links li a:hover {
    text-decoration: none;
}