#footer-bar {
    font: 9px Verdana,Geneva,sans-serif;
    margin-top: 20px;
    color: #ffffff;
    padding: 3px 15px;
    background: #495E69;
    -webkit-box-shadow: #dddddd 0px 0px 5px 3px;
    -moz-box-shadow: #dddddd 0px 0px 5px 3px;
    box-shadow: #dddddd 0px 0px 5px 3px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#footer-bar a,
#footer-bar a:link,
#footer-bar a:visited,
#footer-bar a:active {
    color: #ffffff;
    text-decoration:none;
    border-bottom: none;
}

#footer-bar a:hover {
    color: #BEFA64;
}

#footer-bar a.sprite-footer {
    overflow: hidden;
    display:inline-block;
    height:23px;
    margin-left: 20px;
}

a.sprite-footer:hover img {
    margin-top: -23px;
}

#footer-bar p {
    display:inline-block;
}

#footer-bar p.footer-links {
    float:left;
    margin:4px 0;
    font: 9px Verdana,Geneva,sans-serif;
}
#footer-bar .footer-social-media-links {
    margin-left:50px;
    float:left;
    font-size: 9px;
}
.footer-social-media-links span {
    display:inline-block;
    margin-bottom:5px;
    float:left;
    margin-top:4px;
}
#footer-bar p.footer-copyright {
    float:right;
    margin-top:4px;
}

.footer-blog {
    width:31px;
    margin-left:4px;
}

.footer-blog img {
    margin-left:0;
}

.footer-twitter {
    width:30px;
}

.footer-twitter img {
    margin-left:-31px;
}

.footer-facebook {
    width:10px;
}

.footer-facebook img {
    margin-left:-60px;
}

.footer-linkedIn  {
    width:24px;
}

.footer-linkedIn img {
    margin-left:-75px;
}

.footer-youTube {
    width:46px;
}

.footer-youTube  img {
    margin-left:-100px;
}

.footer-xing {
    width:26px;
}

.footer-xing  img {
    margin-left:-145px;
}

.footer-googlePlus {
    width:23px;
}

.footer-googlePlus img {
    margin-left:-170px;
}

.footer-international-links {
    color: #515151;
    line-height:140%;
    margin-top:10px;
    text-align:center;
}

.footer-international-links a,
.footer-international-links a:link,
.footer-international-links a:visited,
.footer-international-links a:active {
    color: #515151;
    text-decoration:none;
    white-space: nowrap;
    font-size: 9px;
}

.footer-international-links a:hover {
    text-decoration:none;
}