/*All List Items*/
#rotating-promotional-list .rotating-promotional-list-item {
    position: relative;
    background: none no-repeat scroll 0 0 transparent;
    min-height: 275px;
    display: none;
}

/*List Item to be Shown*/
#rotating-promotional-list .item-start {
    display: block;
}

/*List Background Images*/
#rotating-promotional-list .item-1 {
    background: url('/sfimages/promo/plus-promo.jpg');
    cursor: pointer;
}

#rotating-promotional-list .item-2 {
    background: url('/sfimages/engage-promo.png');
    cursor: pointer;
}

#rotating-promotional-list .item-3 {
    background: url('/sfimages/promo-blank.png');
    background-position: 272px 80px;
    cursor: pointer;
}

#rotating-promotional-list .item-4 {
    background: url('/sfimages/promo/3steps.jpg');
    cursor: pointer;
}

#rotating-promotional-list .item-5 {
    background: url('/sfimages/promo/savings.jpg');
    cursor: pointer;
}

#rotating-promotional-list .item-6 {
    background: url('/sfimages/promo/interDial.jpg');
    cursor: pointer;
}

#rotating-promotional-list .item-7 {
    background: url('/sfimages/promo/mobileApp.jpg');
}

/*Links*/
#rotating-promotional-list a {
    border-bottom: none;
}

/*Buttons*/
#rotating-promotional-list button {
    margin: 0;
    position: relative;
}

.ie7 #rotating-promotional-list .item-3 button {
    width: 195px;
}

.ie7 #rotating-promotional-list .item-5 button {
    width: 185px;
}

.ie7 #rotating-promotional-list .item-6 button {
    width: 190px;
}

/*Item Specific*/
/*Item 3*/
#rotating-promotional-list .item-3 div.promotion-content {
    padding-left: 8px;
    padding-top: 15px;
    width: 100%;
}

#rotating-promotional-list .item-3 div.title-line {
    font-size: 45px;
    line-height: 67px;
}

#rotating-promotional-list .item-3 div.title-line span.title-1 {
    color: #495e69;
}

#rotating-promotional-list .item-3 div.title-line span.title-2 {
    color: #ee9900;
}

#rotating-promotional-list .item-3 div.body-line {
    color: #999999;
    font-size: 22px;
    width: 100%;
}

/*Item 5*/
#rotating-promotional-list .item-5 div.item-5-content {
    padding-left: 170px;
    padding-top: 15px;
}

#rotating-promotional-list .item-5 div.item-5-content .title-1 {
    font-size: 55px;
    line-height: 67px;
    color: #808080;
}

#rotating-promotional-list .item-5 div.item-5-content .title-2 {
    font-size: 55px;
    line-height: 67px;
    color: #a6cf5a;
}

#rotating-promotional-list .item-5 div.item-5-content .body-line {
    color: #999999;
    font-size: 24px;
}

/*Item 6*/
#rotating-promotional-list .item-6 div.item-6-content {
    padding-left: 170px;
    padding-top: 15px;
    text-align: right;
}

#rotating-promotional-list .item-6 div.item-6-content .title-line {
    color: #515151;
    font-size: 30px;
    line-height: 36px;
}

#rotating-promotional-list .item-6 div.item-6-content .body-line {
    color: #808080;
    font-size: 22px;
    line-height:26px;
}

/*Item 7*/
#rotating-promotional-list .item-7 div.item-7-content {
    padding-left: 172px;
    padding-top: 15px;
}

#rotating-promotional-list .item-7 div.item-7-content .title-line {
    color: #333333;
    font-size: 22px;
    line-height: 26px;
}

#rotating-promotional-list .item-7 div.item-7-content .body-line {
    color: #808080;
    font-size: 18px;
    line-height: 24px;
}