.pp_description {
    display: none !important;
}

.pp_inline {
    width: 460px;
    margin-left: auto;
    margin-right: auto;
}

div.how-it-works-box h2 {
    margin-bottom: 20px;
    margin-top: 0;
}

div.how-it-works-box .goto-registration-free {
    cursor: pointer;
}

img.videoThumb {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 306px;
    height: 174px;
    margin-right: 10px;
    border: 4px solid #A2A0A1;
    cursor: pointer;
}

.how-it-works-video .ui-dialog-titlebar {
    display: inherit !important;
}

.how-it-works-video .ui-dialog-title {
    color: #515151;
    font-size: 17px;
}

.how-it-works-video .ui-dialog-titlebar-close {
    background: #a19fa0;

}

.how-it-works-video .ui-icon-closethick {
    background: url("../../sfimages/jQuery/ui-icons_ffffff_256x240.png") -96px -128px;
}
