.width-100 {
    width: 100px;
}

.width-200 {
    width: 200px;
}

.product-action button {
    position: relative;
    left: 0;
    top: 0;
}

table.mypwn tr.bwm-row td,
table.mypwn tr.bwm-row-container td {
    background-color: #eee;
}

table.mypwn tr.bwm-row td tr.odd td {
    background-color: #fff
}

table.mypwn tr.even td {
    background-color: #E4E5E7
}
