@import "compass/reset";
@import "_helpers/_variables";
@import "_helpers/hacks";
/********************************************
* Headers
********************************************/
@import "sprites/headers/*.png";
@include all-headers-sprites;

/********************************************
* Misc
********************************************/
@import "sprites/general/*.png";
@include all-general-sprites;

@import "sprites/set-a/*.png";
@include all-set-a-sprites;

@import "sprites/company/*.png";
@include all-company-sprites;

@import "sprites/icons/*.png";
@include all-icons-sprites;

@import "sprites/pwn/*.png";
@include all-pwn-sprites;

@import "sprites/small-bg/*.png";
@include all-small-bg-sprites;

@font-face {
 font-family: 'RockwellStdRegular';
    src: url('../../../../shared/fonts/rockwellstd-webfont.eot');
    src: url('../../../shared/fonts/rockwellstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../../shared/fonts/rockwellstd-webfont.svg#RockwellStdRegular') format('svg'),
         url('../../../../shared/fonts/rockwellstd-webfont.woff') format('woff'),
         url('../../../../shared/fonts/rockwellstd-webfont.ttf') format('truetype');
        
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'league_gothicCnRg';
    src: url('../../../../shared/fonts/leaguegothic-condensedregular-webfont.eot');
    src: url('../../../../shared/fonts/leaguegothic-condensedregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../../shared/fonts/leaguegothic-condensedregular-webfont.woff') format('woff'),
         url('../../../../shared/fonts/leaguegothic-condensedregular-webfont.ttf') format('truetype'),
         url('../../../../shared/fonts/leaguegothic-condensedregular-webfont.svg#league_gothicCnRg') format('svg');
    font-weight: normal;
    font-style: normal;

}



/********************************************
* Globals
********************************************/

/* Compass/SASS currently doesnt have this*/
::-webkit-input-placeholder {
   @include placeholder-style;
}
:-moz-placeholder { /* Firefox 18- */
   @include placeholder-style;
}
::-moz-placeholder {  /* Firefox 19+ */
   @include placeholder-style;
}
:-ms-input-placeholder {  
    @include placeholder-style;
}

html {
    
}
a {
    &:hover, 
    &:active,
    &:focus {
        outline: 0 !important;
    }
}


.left        { float: left; }
.right       { float: right; }
.text-left   { text-align: left; }
.text-right  { text-align: right; }
.text-center { text-align: center; }
.text-hidden {text-indent: -9999; font-size:0;}
.hide        { display: none !important; }
.highlight   { background: #ff0; }
.uppercase   { text-transform: uppercase;}
.strong      { font-weight: bold;}
.font-enlarge{ 
    font: {
        size: 15px;
    }
}

.font-goth-it {
    @include third-font;
}


.absolute    { position: absolute;}

#googlemap img, object, embed { max-width: none; }

#map_canvas embed { max-width: none; }
#map_canvas img { max-width: none; }
#map_canvas object { max-width: none; }

.loading {
    background: {
        image:  url('../../img/misc/ajax-loader.gif');
        repeat: no-repeat;
    }
    width: 16px;
    height: 16px;
    margin: 20px auto;
    
    &.green {
        background: {
           image:  url('../../img/misc/green-ajax-loader.gif');
        }
    }
    
    &.grey {
        background: {
           image:  url('../../img/misc/grey-ajax-loader.gif');
        } 
    }
}


/*******************************************
* Body
********************************************/
body {
    font:{
        family:$primary-font-family;
        size: 15px;
    }    
    margin: auto;
    width: 100%;
    
}


.small {}

.medium {
    @include button-large;
}

.large {
    padding: 13px 18px;
}

.fixed-length {
    width: 135px;
}


.radius {@include border-radius(8px);}

.button {
    padding: 13px 34px 11px;
    font:{
        family: $primary-font-family;
        size: 12px;
    }
    margin-right: 15px;
    whitespace: nowrap;
    text-transform: uppercase;
    &:hover {
        border: 3px solid #efefef;
    }
    
    &.yellow {
        background: {
            color: #FFB027;
        }
        @include background-image(linear-gradient(top, #FFB027 0%, #E48A03 100%));

        &:hover {
            background: {
                color: #e48a03;
            }
            @include background-image(linear-gradient(top,#e48a03 0%, #ffb027 100%));
        }

    }

    &.green {
        @include background-image(linear-gradient(top, #96c84b 0%,#668a2e 100%));
        &.button{

            &:hover{
                @include background-image(linear-gradient(top,#668a2e 0%, #96c84b 100%));
            }
        }
    }
}

.button.radius {@include rounded-bordered;}
.large.button {
    @include button-large;
    @include button-button;
    
 }
 
// A href 
 button.button, 
.small.button {
    font: {
        size: 12px;
        weight: normal;
    }
    padding: 10px 20px;
}
// padding for input
input {
    &.small{
        &.button {
            &[type="submit"] {
                padding: 8px 20px 6px;
            }
        }
    }
}

.medium.button {
    padding: 12px 34px 11px;
}



/*******************************************
* Forms
* @note requires ui.css from foundation
* @use
* <input class="[small medium large] [radius]">
********************************************/

form {
    .extra-small {
       width: 175px; 
    }
    
    .small {
        width: 230px;
    }
    
    .medium {
        width: 341px;
    }
    
    .large{
       width: 480px;
    }

    .radius {
        @include border-radius(8px);
        border: 3px solid #ddd;
        
        &.reduce {
           @include border-radius(8px); 
        }
        
    }
    .input-dropdown {
      outline: none !important;
      width: 254px;
    }
    .height {
       height:50px; 
    } 
    .height-small {
        //height: 35px;
      padding: 5px;
    }
    
    .form-field {
        // we might as well override all the spans here
        // mainly used for T&C Checkboxes.
        label,
        span {
            color: #fff;
        }
        @include secondary-font;
        font: {
            size: 11px;
            weight: normal;
        }
        color: #C00000;
        
        &.error {
            input {
                border: 3px solid #C00000;
                background: {
                    color: #fff;
                }
            }
            
            input[type='checkbox'] {
                border: 1px solid #C00000;
            }
            
            small {
                margin-top: -8px;
                padding: 6px 0;
                width: 230px;
            }
        }
    }
}

/*******************************************
* Separator
* @use
* <p class="[separator]">Some text</p>
********************************************/
p{
    &.separator-one {
        background: {
          image: url('../../img/separator/one.png');
          repeat: no-repeat;
          position: bottom left;
        }
    }
}

.separator {
    background: url('../../img/separator/two.png') repeat-x 0 0;
    height: 15px;
/*    padding: 5px 0 5px 0;*/
}

span {
    &.big {
        font-size: 25px;
    }
    &.bold {
        font-weight: bold;
    }
}


/*******************************************
* More 
* @use
* <a class="[more]">Some text</a>
********************************************/

.more {
    color: #95C74B;
    font : {
        size: 12px; 
    }

    &:hover{
        color: #668a2e;
        @include single-transition(all, 0.5s, ease);
        
    }
    
}


/*******************************************
* Section Title 
* @use
* <h2 class="[text-left,text-center] [section-title]">Some Section Title</h2>
********************************************/
.section-title {
    padding-top: 10px;
    padding-bottom: 10px;
    font: {
        size: 18px;
    }
    color: #6E91A4;
        
}

.landing-main-title {
    font: {
        size: 47px;
    }
    padding: 22px 0 45px 24px;
    color: #fff;
}



/*******************************************
* Sub Header 
* @use
* <h3 class="[text-left,text-center] [section-title]">Some Section Title</h3>
********************************************/
.sub-header {
    width: 700px;
/*    color : #6E91A4;*/
    padding-left: 24px;
    margin: 12px 0 12px 0;
    line-height: 25px;
    font: {
        size: 20px;
    }
}
/*******************************************
* Sub Header Content 
* @use
* <p class="[sub-header-content]">Some content</p>
********************************************/
.sub-header-content {
    margin: 25px 0 0 0;
    padding-left: 24px;
    @include secondary-font;
    color: #515151;
    width: 700px; 
    line-height: 20px;
}


.content {
    @include secondary-font;
    font: {
        size: 12px;
    }
    line-height: 18px;
}


/*******************************************
* Country Flags
* @use
*
********************************************/
.sprite-flags {
    background: {
        image: url('/sfimages/sprites/sprite-flags-square.png');
        repeat:no-repeat;
    }
    width:16px;
    height:11px;
    display: inline-block;
    margin-right: 5px;
    overflow: hidden;
    
    &.gbr {background-position:0 0;}
    &.aut {background-position:-20px 0;}
    &.bel {background-position:-40px 0;}
    &.can {background-position:-60px 0;}
    &.fra {background-position:-80px 0;}
    &.deu {background-position:-100px 0;}
    &.irl {background-position:-120px 0;}
    &.ita {background-position:-140px 0;}
    &.nld {background-position:-160px 0;}
    &.pol {background-position:-180px 0;}
    &.zaf {background-position:-200px 0;}
    &.esp {background-position:-220px 0;}
    &.swe {background-position:-240px 0;}
    &.che {background-position:-260px 0;}
    &.usa {background-position:-280px 0;}
    &.worldwide {background-position:-300px 0;}
    &.skypeout {background-position:-320px 0;}
    
}

/*******************************************
* Rounded Corners
* @use
*
********************************************/

.rounded-corners {
    @include border-radius(5px);
}

/*******************************************
* Applying Colors to text
* @use <p color [green yellow]>
*
********************************************/
.color {
    &.green {
        color: #95C74B;
    }
    
    &.grey {
        color: #515151;
    }
    &.light-grey {
        color: #b2b2b2;
    }
    &.teal {
        color: #6e91a4;
    }
    &.white {
        color: #fff;
    }
}
    
    
