/********************************************
* 1. Generic Stuff
********************************************/

.lt-ie8,
.lt-ie9 {
    form input {
        border: 3px solid #dddddd;
    }
    .button{
        &.small{
            width: 225px;
        }
    }
}
.lt-ie8 {
    form {
        .height-small {
            height: 25px;
        }
    }
}

/********************************************
* 2. Main Menu
********************************************/

// fix IE7 infamous z-index bullshit
.lt-ie8 nav {
    position:relative; z-index:2;
    
    li ul .last-child{
        /*ul li .last-child{*/
        margin: 0 0 10px 0;
    }
    
}

/*********************************************
* Top panel login form adjustment 
* IE 7
*********************************************/
.lt-ie8 {
    #top-panel-login-form {
        .input-text {
            &.small {
                width: 219px;
                bordeR: 3px solid #dddddd;
            }
        }
        .form-action {
            margin-top: -15px;
            .small {
                width: 100px;
            }
        }
    }
}


/********************************************
* 2. Main Body
********************************************/

/* Feature container content fixes*/
.lt-ie8 #feature-panel {
    position:relative; z-index:1;
}

.lt-ie8 .feature {
    padding: 10px 30px 10px 30px;
    
    h1 {
        font-size: 45px;
    }
    
    .get-pin-pwn {
        position: relative;

        .get-my-pin{
            bottom: 33px;
            width: 125px;
            padding: 10px 0 10px 0;
        }
    }
}

.lt-ie8 form {
        
        .large{ 
            padding: 5px;
        }
        
        .height {
            height: 30px;
        }
        
}






/********************************************
* 9. Dial-In Numbers PAGE
********************************************/

/*IE 7*/
.lt-ie8,
.lt-ie9{
    .dialin-numbers {
        
        .inner-content {
            
            .col {
                
                .dialin-number {
                    .number {
                        zoom: 1;
                        position: relative;
                        top: -23px;
                        width: 125px;
                    }
                }
            }
        }
    }
}

    
/********************************************
* 12. Schedule a conference
********************************************/

.lt-ie8 {
    .schedule-conference {
        .inner-content {
            .disc {
    
                background: {
                    image : none;
                    repeat: no-repeat;
                }
            }
        }
    }
    
}



/********************************************
* 14. Pin Reminder PAGE
********************************************/
.lt-ie8 {
    .pin-reminder .inner-content .inner-content {
        padding: 0 0 0 35px;
        
     }
     
    .pin-reminder {
        h1 {
            height: 175px;
        }
        form {
            .height {
                height: 40px;
            }
        }
        .inner-content .inner-content{
            &.alt-background { 
                height: 185px;
            }
        }
        .inner-content{
            .sprite{
                &.reminder {
                    top: 0px;
                    zoom: 1;
                }
            }
        }
    }
     
}


/********************************************
* 15. Next Steps PAGE
********************************************/

.lt-ie8 {
    .request-welcome-pack {
        .input-container {
            .input-text {
                &.small {
                    width: 217px;
                }
            }
        }
    }
}



/********************************************
* Fixes for GETMYPIN
********************************************/
.lt-ie8 {
    
    .get-my-pin-small-bottom-container{
        .extra-small {
            width: 175px;
            border: 3px solid #dddddd;
        }
        
        .form-action{
            left: 0px !important;
        }
    }
    
}
