@import "_core.scss";
/********************************************
* 1. Body
********************************************/
.js {
    .non-supported-browser {
       &.alert-box {
            @include border-radius(0px);
            margin-top: 5px;
            margin-bottom: 0;
            @include secondary-font;
            @include text-shadow(0px);
            padding: 10px;
            p {
                color: #515151;
                font: {
                    size: 12px;
                    weight: normal;
                }
                white-space: nowrap;
            }
       }  
       .close {
            cursor: pointer;
            padding: 0;
            top: -4px;
        }
    }
}

/********************************************
* 1.1 Homepage Menu
********************************************/
.js {
    
    #header-container {
        margin-top: 35px;
    }
    
    nav {
        zoom: 1;
        text-align: left;
        background-color: #a19fa0;
        float: left;
        @include border-radius(10px);

        &:before {
            display: table;
            content: "";
            zoom: 1;
        }

        &:after {
            display: table;
            content: "";
            zoom: 1;
            clear: both;
        }
    }

    nav {
        margin: 30px 0 0 0; 
        ul {
            float: left;
            zoom: 1;
            width: auto; 
            z-index: 100;

            &:before {
                display: table;
                content: "";
                zoom: 1;
            }

            &:after {
                display: table;
                content: "";
                zoom: 1;
                clear: both;
            } 

            li {
                float: left;
                padding: 0 0 10px 0;
                position: relative;
                outline: none;
                line-height: 1.2em;
                padding: 0 1px 0 0;
            }

            a {
    /*             Main menu styles*/
                padding: 10px 10px 10px 20px;
                font-size:14px;
                outline: none;
                float: left;
                display: block;
                zoom: 1; 
                color: #fff;
            }
        }
    }


    nav ul a:link, 
    nav ul a:visited {
        color: #fff;  //font color
        text-decoration: none;
        background-repeat: repeat-x;
        outline: none;
        @include single-transition(all, 0.3s, ease);    
    }

    nav ul a:hover, 
    nav ul a:active {
        text-decoration: none;
        cursor: pointer;
    }

    nav ul li.hasChildren a span {
        padding: 0 20px 0 0;
        background: {
            image: url('../../img/menu/menu-arrow.png');
            repeat: no-repeat;
            position: center right;
        }
        display: block;
    }
    nav ul li.hasChildren a:hover span, 
    nav ul li.hasChildren.hover a span {
        background: {
            image: url('../../img/menu/menu-arrow.png');
            repeat: no-repeat;
            position: center right;
        }
        display: block;
        padding: 0 20px 0 0;
    }

    nav ul li ul li.active .sub-menu-title {
        background: #a19fa0;
        /*
        * PIE needs the short hand
        * http://www.w3schools.com/cssref/css3_pr_border-radius.asp
        */
        @include border-radius(5px 5px 0 0);
        
        &:hover {
            text-decoration: underline;
        }
    }



    /* drop down */
    #menu > li:hover > ul {
        display: block;
    }

    nav {

        .submenu-items {
            background: #a19fa0;
            @include border-radius(0px 0px 8px 8px);
            margin-left: 10px;
            width:176px;
            a {
                width:120px;
                &:hover{
                    background: #878787;
                    margin-right: 30px; 
                }
            }
        }
        
        .hasChildren {
            &.hover {
                background: #878787;

            }
            &:first-child {
                &.hover{
                   @include border-radius(10px 0 0 0);

                }
            }
            &:last-child {
                &.hover{
                    @include border-radius(0 10px 0 0);
                }
            }
        }

        li {
            ul {
                display: none;
                margin: 0;
                position: absolute;
                top: 37px;
                left: 0px;
                width: 200px;
                padding: 2px;
                background: #878787;
                
                @include border-radius(0 0 10px 10px);
                
                @include box-shadow(none);
                z-index: 9999;
                zoom: 1;
                &.last-ul {
                    width: 135px;
                    li {
                        width: 135px;
                    }
                }

                li {
                    width: 200px;
                    display: block;    
                    
                    ul {
                        display: none;
                        position: relative;
                        background: transparent;
                        top: -3px;
                        overflow: hidden;
                        
                    }
                    
                    &:last-child {
                        margin-bottom: 10px;
                    }
    /*                 Submenu formatting */
                    a {
                        float: none;    
                        margin: 5px 10px 0 10px;
                        outline: 0 !important;
                        color: #fff;
                        cursor: pointer;
                        &:hover{
                            background: #a19fa0;
                            @include border-radius(5px);
                            @include hover-transition;
                        }
                    }
                }
            }
        }
    }

    nav li ul:before, 
    nav li ul:after {
        display: table;
        content: "";
        zoom: 1;
    }

    nav li ul:after {
        clear: both;
    }


    /********************************************
    * 1.2 Top Panel
    ********************************************/

    #top-panel {
        border-bottom: 10px solid #6d91a3;
        background:{
            color: #6d91a3;
        }
        padding: 30px 0 10px 0; 
        zoom:1;
        position: relative;
        display: none;
        min-width: 1000px;
        width: 100%;
        
        .columns {
            margin-left:5px;
            margin-right:5px;
            
            &.no-margin-right {
                margin-right: 0;
            }
            
            &.no-margin-left {
                margin-left: 0;
            }
        }

        [class*="column"] + [class*="column"]:first-child {
            margin-left: 0;
        }

        [class*="column"] + [class*="column"]:last-child {
            float: left;
        }
        
        /* LTR */
        /*Top panel inner content globals*/
        .reminder { 
            height: 100px;
            overflow: hidden;
        }

        .conference-tools{

        }

        .follow-us {
            margin: 37px 0 0 0;
        }
        
        .dial-in-numbers{
            margin: 25px 0 0 0;

            ul li {
                color: #fff;
                font-size: 24px;
            }
        }

        .mobile-short-code{
            margin: 43px 0 0 0;
            ul li {
                color: #fff;
                font-size: 24px;
            }
        }
        
        .call-us {
            text-decoration: none;
            @include secondary-font;
            font-size: 12px;
            display: block;
            margin-top: 7px;
        }

        h3,
        a {
            color: #fff;
        }
        .need-support{
            .chatlink {
                text-decoration: underline;
                cursor: pointer;
            }
        }
        .more {
            @include secondary-font;
            color: #fff;
            font:{
                size: 12px;
            }
            line-height: 18px;
            
            &:hover {
                color: #95C74B;
                @include single-transition(all, 0.5s, ease);
                text-decoration: none;
            }
        }
        
        form {
            position: relative;
        }
        .login-form-container ,
        .get-account,
        form {
            .more {
                &:hover {
                    color: #495D69;
                    @include single-transition(all, 0.5s, ease);
                    text-decoration: none;
                }  
            }
            .positioning {
                left: 180px;
                bottom: -45px;
            }
        }
        
        .get-account {
            border-top: 1px solid #fff;
            padding: 5px 0 0 0;
            margin: 10px 0 0 20px;
            z-index:0;
            p {
                color: #fff;
                
                .more {
                    text-decoration: underline;
                    cursor: pointer;
                    &:hover{
                        @include hover-transition;
                    }
                }
            }
        }
        
        h3 {
            &.top-panel-header {
                font: {
                    size: 18px;
                }
                padding: 12px 0 10px 0;
                margin: 10px 14px 0;
                
                &.right-header {
                    margin: 10px 0 0 0;
                    overflow: hidden;
                }
            }
            
        }
        
        .social-links {
            .sprite {
                background: {
                    image: url('../../img/sprite/top-panel-social-links.png');
                }
                &.twitter {
                    background: {
                        position: -4px -3px;
                        repeat: no-repeat;
                    }
                    &:hover {
                        background:{
                            color: #8BBDD6;
                        }
                    }
                }
                &.facebook {
                    background: {
                        position: 0px -30px;
                        repeat: no-repeat;
                    }
                    &:hover {
                        background:{
                            color: #3B5998;
                        }
                    }

                }
                &.linkedin {
                    background: {
                        position: -5px -61px;
                        repeat: no-repeat;
                    }
                    &:hover {
                        background: {
                            color: #55A1C7;
                        }
                    }
                }
                &.youtube {
                    background: {
                        position: -6px -87px;
                        repeat: no-repeat;
                    }
                    &:hover {
                       background:{
                         color: red;
                       }
                    }
                }
                &.google {
                    background: {
                        position: -4px -112px;
                        repeat: no-repeat;
                    }
                    &:hover {
                        background: {
                            color: #009110;
                        }
                    }
                }
            }

            li {
                float: left;
            }
            li a {
                float: left;
                text-indent: -9999px;
                height:30px;
                width: 30px;
                position: relative;
                font:{
                    size: 0px;
                }                    
                &:hover {
                    @include hover-transition;
                    @include border-radius(3px);
                }
            }
        }
    }

    /* Login form*/

    #top-panel-login {
        background:{
            image: url('../../img/top-panel/login-bg.png');
            repeat: no-repeat;
        }
        width: 515px;
        height:365px;
            

        .what-you-get {
            color: #fff;
            @include secondary-font;
            margin: 0px 15px;

            li {
                background:{
                    image: url('../../img/top-panel/bullet-arrow.png');
                    repeat: no-repeat;
                    position: left center;
                }
                white-space: nowrap;
                padding: 5px 0 7px 10px;
            }
        }
        .login-form-container {
            
            .advert {
                background: {
                    color: #fff;
                }
                padding: 10px;
                margin: 10px 0 0 0;
                width: 220px;
                @include single-box-shadow;
                .header {
                    font : {
                        size: 20px;
                    }
                    color: #6D91A3;
                    display: block;
                }
                
                .sub-content {
                    @include secondary-font;
                    color: #515151;
                }
                
                .set-a-small-large-pc {
                    display: block;
                    height: 85px;
                    width: 185px;
                    margin: 0 auto;
                }
            }
            
            .actions {
                &.mypowwownow {
                    text-align: center;
                }
                &.logout {
                    padding: 0 27px 0 0;
                    text-align: right;
                }
                
            }
            .alert-box {
                background: none;
                border: none;
                height: 100px;
                padding: 0;
                color: #C00000;
                margin-bottom: 0;
                @include secondary-font;
                font: {
                    size: 11px;
                    weight: normal;
                }               
                margin-top: 8px;
                @include text-shadow(none);
                width: 230px;
                
                .more {
                    color: #C00000;
                    font: {
                        size: 11px;
                    }
                    line-height: normal;
                }
                
            }
            .form-action {
                margin-top: -15px;
            }
            .form-field {
                .throbber {
                    position: absolute;
                    bottom: -40px;
                    right: 48px;
                }
            }
        }
    }   
    
    #top-panel-menu {
        position: relative;
        @include secondary-font;
        border-top: 10px solid #6d91a3;
        zoom: 1;
        z-index: 2;
        min-width: 960px;
            .international{       
                text-align: center;
                background-color: #fff;

                float: left;
                margin: 0 0 0 75px;
                .international-options {
                    width: 37px;
                    border:{
                        left: 1px solid #515151;
                        right:1px solid #515151;
                        bottom: 1px solid #515151;
                    }
                    @include border-bottom-left-radius(5px);
                    @include border-bottom-right-radius(5px); 
                }
                
                .hasChildren {
                    &.hover {
                        @include border-bottom-left-radius(0px);
                        @include border-bottom-right-radius(0px); 
                        cursor: pointer;
                        border: {
                            bottom: 1px solid #fff;
                        }
                    }
                }
                
                &:before {
                    display: table;
                    content: "";
                    zoom: 1;
                }

                &:after {
                    display: table;
                    content: "";
                    zoom: 1;
                    clear: both;
                }
               
                ul {
                    float: left;
                    width: auto; 
                }
                li {
                    float: left;
                    position: relative;
                    outline: none;
                    padding: 9px 9px;
                }

                a {
                /* Main menu styles*/
                    color: #6E91A4;
                    font-size:11px;
                    outline: none;
                    float: left;
                    display: block;
                }
                /* drop down */
                li:hover > ul {
                    display: block;
                }
         
                li {
                    ul {
                        display: none;
                        margin: 0;
                        position: absolute;
                        top: 31px;
                        left: -1px;
                        width: 150px;
                        padding: 2px;
                        background: #fff;
                        border:{
                            left:1px solid #515151;
                            right:1px solid #515151;
                            bottom: 1px solid #515151;
                            top: 1px solid #515151;
                        }
                        @include border-radius(0 0, 10px 10px);
                        
/*                        @include border-bottom-left-radius(10px);
                        @include border-bottom-right-radius(10px); */
                        z-index: 999;
                        li {
                            width: 50px;
                            display: block;    

                            ul {
                                display: none;
                                position: relative;
                                background: transparent;
                                top: -3px;
                                overflow: hidden;
                            }
                            
                            &:last-child {
                                margin-bottom: 10px;
                            }
                            /*Submenu formatting */
                            a {
                                float: none;    
                                margin: 0 10px 0 0;
                                outline: 0 !important;
                                color: #6E91A4;
                                cursor: pointer;
                                &:hover{
                                    background: #a19fa0;
                                    @include hover-transition;
                                }
                            }
                        }
                    }
                }
            }
        
        .top-panel-login-menu-btn {
            background: {
                color: #6d91a3;
            }
            /*
            * PIE needs the short hand
            * http://www.w3schools.com/cssref/css3_pr_border-radius.asp
            */
            @include border-radius(0 0 5px 5px);
            right: 0;
            width: 145px;
            position: absolute;
            overflow: hidden;
            li {
                padding: 3px 0 0 0;
                cursor: pointer;
                
                .top-panel-btn {
                    display: block;
                    font: {
                        size: 10px;
                    }
                }
                
                .welcome-back {
                    padding: 5px 14px 0 0px;
                }
                
                .existing-customer {
                    padding: 5px 0 0 13px;
                }
                
                .icon {
                   display: block;
                   position: relative;
                   padding: 0 0 10px 10px;
                   color: #fff;
                   text-decoration: none;
                   white-space: nowrap;                   
                   margin: 0 0 0 5px;
                }
                
               .user {
                   background:{
                        image: url('../../img/top-panel/login-icon.png');
                        repeat: no-repeat;
                        position: 3% 30%;
                   }
               }

              &:hover {
                  background:{
                        color: #465c63;
                  }
                  @include hover-transition;
                  @include border-radius(0 0 5px 5px);
              }
           }
        }
        &.active{
            border-top: 10px solid #465c63;
            @include hover-transition;
        }
    }
    
    /********************************************
    * 1.4 Cookies Panel
    ********************************************/

    #cookie-policy {
        top: 0;
        left: 0;
        width: 100%;
        min-width: 1000px;
        background: {
            color: #EEEEEE;
        }
        .sub-content {
            @include secondary-font; 
            padding: 20px 10px 20px 10px;
            color: #515151;
            .close {
                color: #000;
                cursor: pointer;
                font: {
                    size: 18px;
                }
                opacity:0.2;
                filter:alpha(opacity=20);
/*                background: {
                    image: url('../../img/cookie-policy/close.png');
                    repeat: no-repeat;
                }
                text-indent: -9999px;
                height: 30px;
                width: 30px;
                display: block;
                cursor: pointer;
*/                &:hover {
                    opacity:0.4;
                    filter:alpha(opacity=40);
                }
            }
        }
    }
    

    /********************************************
    * 8. Footer Links
    ********************************************/

    .footer-links-outer {
        
    }

    #footer-links {

        &.row {
            padding-bottom: 20px;
            background: url('../../img/separator/two.png') repeat-x bottom;
            
            .three {
                width: 18%;
            }
            
        }
        
        [class*="column"] + [class*="column"]:last-child {
            float: left;

        }
        .column:first-child, .columns:first-child {
            margin-left: 4.4%;
        }
    }

    .footer-links {
        
        .more {
            @include secondary-font;
            font: {
                size: 11px;
            }
            padding: 5px 0 5px 0;
            display: block;
        }

    }

    /********************************************
    * 8.1 Footer Links
    ********************************************/

    #footer-social-links {
        padding-top:20px;
        .columns,
        .column {
            margin-left:0px;
        }

        [class*="column"] + [class*="column"]:last-child {
            float: left;
        }

        .three{
            width: 232px;
        }
    }

    .footer-social-links{
        .inner-content{
            @include secondary-font;
            color: #515151;

            h4 {
                color: #515151;
                padding: 5px 5px 10px 50px;
                overflow: hidden;
            }
            p {
                margin-left: 50px;

            }

            a {
                margin-left: 50px;
            }
            .list-fading {
                height: 75px;
                margin-left: 50px;
                
                a {
                    margin-left: 0; 
                    color: #95C74B;
                }
                
            }
            .sprite {
                    background-image: url('../../img/sprite/footer-social-links.png');

                &.blog{
                    background-position: 6px 1px;
                    background-repeat: no-repeat;
                }

                &.twitter {
                    background-position: 6px -31px;
                    background-repeat: no-repeat;
                }

                &.facebook {
                    background-position: 6px -96px;
                    background-repeat: no-repeat;
                }

                &.rss {
                    background-position: 6px -63px;
                    background-repeat: no-repeat;    
                }
            }

        }
    }

    /********************************************
    * 8.2 Main Footer
    ********************************************/

    #footer{
        margin-top: 20px;
    }

    .footer {
        background: #495d69;
        @include border-radius(10px);
        @include secondary-font;
        font: {
            size: 10px;
        }
        color: #fff;
        p {
            float: left;
            width: 100px;
            margin-top: 16px;
            margin-left: 16px;
        }
        ul {

            float: left;

            &.site-links {
                width: 580px;
                margin-left: 5px;
                margin-right: 5px;
                padding: 10px 0 10px 0;
            }

            &.social-links {

                margin-top: 2px;

                li a {
                    text-indent: -9999px;
                    font: {
                        size: 0px;
                    }
                    display: block;
                    height: 25px;
                    width: 39px;
                }
                .sprite {
                    background:{
                        image: url('../../img/sprite/social-icons.png'); 
                    }

                    &.blog,
                    &.twitter,
                    &.facebook,
                    &.linkedin,
                    &.youtube,
                    &.google, {
                        width: 30px;
                        &:hover {
                            @include single-transition(all, 0.3s, ease);
                            @include border-radius(3px);
                        }
                    }

                    &.blog {
                        width: 37px;  
                        background:{
                            position: -2px 1px;
                        }
                        &:hover {
                            background: {
                                color: #6D91A3;
                            }
                        }
                    }
                    
                    &.twitter {
                        background:{
                            position: -46px 3px;
                            repeat: no-repeat;
                        }
                        &:hover {
                            background: {
                                color: #8BBDD6;
                            }
                        }
                    }

                    &.facebook {
                        background: {
                            position: -81px 3px;
                            repeat: no-repeat; 
                        }
                        &:hover {
                            background:{
                                color: #3B5998;
                            }
                        }
                    }

                    &.linkedin {
                        background : {
                            position: -115px 3px;
                            repeat: no-repeat; 
                        }
                        &:hover {
                            background:{
                                color: #55A1C7;
                            }
                        }
                    }

                    &.youtube {
                        background : {
                            position: -153px 3px;
                            repeat: no-repeat;   
                        }
                        &:hover {
                            background:{
                                color: red;
                            }
                        }
                    }

                    &.google {
                        background: {
                            position: -188px 3px;
                            repeat: no-repeat;
                        }
                        &:hover {
                            background:{
                                color: #009110;
                            }
                        }
                    }
                } 
            }

            li {
                display: inline-block;
                float: left;
                margin: 5px 0 5px 5px;
                
            }
            .more {
                color: #fff;
                padding: 5px 5px 5px 0;
                font: {
                    size: 11px;
                }
                &:hover{
                    color: #668a2e;
                    @include single-transition(all, 0.1s, ease);
                }
            }
        }
    }
    
    /********************************************
    * 8.3 Main Footer
    ********************************************/
    #international-links {}
    .international-links {
        .inner-content {
            margin: 5px 0 20px 0;
            .more {
                font: {
                    family: $secondary-font-family;
                    size: 9px;
                }
                color: #515151;
                
                &:hover {
                    color: #95c74b;
                }
            }
        }
    }
    }
    
    

// No Javascript!
.no-js {
    .container,
    .non-supported-browser{
        display: none;
    }
    
    .main {
        color: #000;
        
    }
    .alert-box  {
        margin-top: 50px;
        font: {
            size: 15px;
            weight: normal;
        }
        color: #515151;
        @include secondary-font;
        line-height: 20px;
    }
}

// Shortcode: default styling.
.shortcode-price {
  font-size: 12px;
  color: #515151;
}
