/********************************************
* Desktop Styling
*********************************************/

.js {

  body {
    font: {
      size: inherit;
    }
    footer {
      margin:0 0 1em 0;
    }
  }

//  .logo {
//    width: 183px;
//    height: 86px;
//  }
  .main-title{
    font:{
      size: 1.5em;
    }
  }

  .inline-list,
  .pwn-list,
  .pwn-list-a,
  p,
  .attendee-list {
    font: {
      size: 0.688em; // 11px
    }
  }

  .attendee-list{
    .list-title{
      border-bottom: 1px solid #eeeeee;
      font: {
        size: 1em; // 11px
      }
      padding:0.15em;
    }
  }

  .side-nav{
    padding: 3px 0 0 0;
    .list-item {
      word-wrap: break-word;
    }
  }

  .pwn-list {
    list-style: none;
    display: block;
    position: relative;
    margin:0;
    padding:0.3em;

    .list-item {
      display: inline;
      padding: 0 0 0 20px;
      &.first {
        padding: 0 0 0 0;
      }
    }
  }
  .pwn-list-a{
    margin-top: 8px;
    label {
      padding: 0 0 0 5px;
    }
  }
  .in-conference-controls{
    .legend{
      .list-item{
        font:{
          size: 0.688em; // 11px
        }
      }
    }
  }
  .margin-left-20{
    margin-left: 20px;
  }
  .pwn-logo{
    vertical-align: middle; padding-right: 5px;
  }
  .margin-right-20{
    margin-right: 20px;
  }


/**********************************************
* Appointment History
**********************************************/
  .timeline{
    .timeline-title{
      font:{
        size: 1em;
      }
    }
  }



}
