@import "_helpers/_variables";

.js {
    .landing-page-desc {

        .sub-title {
            margin: 10px 0 10px 0;
            color: #6E91A4;
            font: {
                size: 18px;
            }
        }
        .sub-content {
            @include secondary-font;
            font: {size: 11px;}
            line-height: 18px;
            margin: 9px 0 9px 0;
        }
        .last {
            margin-top: 35px;
            margin-bottom: 20px;
        }
        .features {
            li {
                padding-left: 40px;
                background: {
                    image: url('../../img/global/yellow-arrow.png');
                    repeat: no-repeat;

                }
                margin: 0 0 10px 0;
            }

            .title {
                display: block;
                padding: 8px 0 10px 0;

                font: {
                    size: 18px
                }
                &.small {
                  @include secondary-font;
                  font:{
                    size:11px;
                  }
                }
            }

            .content {
                @include secondary-font;
                font: {
                    size: 11px;
                }
            }
        }
      .download-list {
        margin: 10px 0 15px 0;

        li {
          padding: 5px 0 5px 0;
        }

        .sprite {
          background: {
            image: url("/sfimages/sprites/sprite-icons.png");
            repeat: no-repeat;
          }

          display: inline-block;
          height: 17px;
          margin-right: 5px;
          overflow: hidden;
          width: 17px;
          margin-bottom: -4px;

          &.pdf {
            background:{
              position: -346px 0;
            }
          }
        }

        .more {
          @include secondary-font;
          font: {
            size: 11px;
          }
          text-decoration: underline;
        }
      }
    }
}