@import "_helpers/_variables";
.js {    
    .powwownow-landing-page-desc {
        .row {
            padding-bottom: 30px;
            background: url('../../img/separator/two.png') repeat-x bottom;
        }
        .three.columns {
            margin-left: 10px;
            float: left;
        }

        .sub-header ,
        .sub-header-content{
            width: inherit;
            padding-left: 0;
        }
        .content {
            font: {
                size: 11px;
            }
        }

        .content-box-two {
            margin-top: 25px;
            .inner-content {
                width: 228px;
                height: 202px;
                overflow: hidden;

                .sub-header {
                    font: {
                        size: 30px;
                    }
                }
                .content {
                    padding: 0 10px 0 10px;
                    font: {family:$primary-font-family;size: 24px;}
                    line-height: 25px;
                }
            }   

        }
    }
}