@import "_helpers/_variables";

.js {
    .modal-downloadOutlookPlugin {
        width: 200px;
        p {
           @include secondary-font;
        }
        .sub-header {
            width: auto;
            padding-left: 0;
        }
        .inner-content {
          margin: 0 0 20px 0;
        }
        .close-button {
            padding-top: 5px;
        }
        .more {
            font: {
                size: 12px;
            }
        }
    }
}