.js {
    
    .web-conferencing-engage {

        .inner-content {
            margin: 0 auto;

            .sub-header {
                width: inherit;
            }
        }
        .close-button {
          padding-top: 5px;
        }
        video {
            margin: 0 25px;
        }

        .content {
            margin: 10px 0 0 0;
            padding: 0 24px;
        }
    }
}