.js {
    .modal-video-conferencing-engage {
        .inner-content {
            margin: 0 auto;
            .sub-header {
                width: inherit;
            }
            video {
                margin: 0 25px;
            }
          .close-button {
            padding-top: 5px;
          }
            .content {
                margin: 10px 0 0 0;
                padding: 0 24px;
            }

            .ordered-list {
              list-style: decimal inside;
            }

        }
    }
}