@import "_helpers/_variables";

.js {

    .reveal-modal{
      margin-left: -225px;
      width: 350px;
    }

    .modal-downloadOutlookPlugin {
     .inner-content {
       width: 325px;
       margin: 0 auto;
     }
    p {
      @include secondary-font;
    }
    .sub-header {
      width: auto;
      padding-left: 0;
    }
    .close-button {
      padding-top: 5px;
    }
    .more {
      font: {
        size: 12px;
      }
    }
  }
}