/********************************************
* Not Sure Why Powwownow Component 
********************************************/
@import "_helpers/_variables";

.js {    
    #not-sure-pwn {
        .row {
            padding-bottom: 20px;
            margin-bottom: 20px;
            background: url('../../img/separator/two.png') repeat-x bottom;
        }
    }
    .not-sure-pwn {
        color: #515151;   
        h2 {
            color: #6E91A4;
        }
        .columns,
        .column {
            margin-left:18px;
        }

        .row .four {
            width: 32%;
        }

        [class*="column"] + [class*="column"]:last-child {
            float: left;
        }

        .sprite {
            background-image: url('../../img/sprite/not-sure-pwn.png');

            &.our-service,
            &.live-chat,
            &.get-in-touch {
                color: #fff;
                h4 {
                    color: #fff;
                }
                .inner-content {
                    height: 173px;
                    overflow: hidden;
                }
            }

            &.our-service {
                background-position: 0 0;
                background-repeat: no-repeat;
                margin-left: 0;
                .inner-content{
                    padding: 10px 10px 0 10px;
                    h4 {
                        margin: 10px 0 0 5px;
                        padding-bottom: 10px;
                    }

                    span {
                        font: {
                            size: 32px;
                            weight: bold;
                        }
                        letter-spacing: -2px;

                    }

                    p {
                        @include secondary-font;
                        font: {
                            size: 12px;
                        }
                        margin: 15px 30px;
                        width: 165px;
                        line-height: 18px;

                        .more {
                            color: #fff;
                        }

                    }
                }

            }

            &.live-chat {
                background-position: -319px 173px;

                .inner-content{
                    p {
                        margin: 25px 5px 2px 75px;
                        font: {
                            family: $secondary-font-family;
                            size: 12px; 
                        }
                        span {
                            font: {
                                size: 39px;
                                family: $primary-font-family;
                            }
                            display: block;
                            padding: 10px  15px ;

                        }
                        .more {
                            color: #fff;
                        }
                    }
                }


            }

            &.get-in-touch {
                background-position: 301px 173px;   
                .inner-content {

                    h4{
                        margin: 20px 9px 8px 15px;
                        letter-spacing: -3px;
                        font:{
                            size: 32px;
                            weight: bold;
                        }
                    }
                    p {
                        @include secondary-font;
                        line-height: 18px;
                        margin: 17px;
                    }
                }
                .buttons-wrap {
                    position: absolute;
                    bottom: -2px;
                    right: 3px;
                }
            }

        }
    }
}