@import "_helpers/_variables";
/********************************************
* Share This Partial Component
********************************************/
.js {
    #share-this {

        .row {
            margin-bottom: 20px;
            padding-bottom: 30px;
            background: url('../../img/separator/two.png') repeat-x bottom;             
        }

        .row .offset-by-six:first-child {
            margin-left: 57%;
        }

    }
    .share-this {
        height: 20px;
        position: relative;
        display: block;
        margin-bottom: 50px;

        .inner-content{ 
            padding: 0;
            margin: 0;
            width: 398px;
        }
    }
}