@import "_helpers/_variables";

.js {
    .why-choose-us {
        .row {
            padding-bottom: 30px;
            background: url('../../img/separator/two.png') repeat-x bottom;
        }
        .how-we-compare {
            height: 185px;
        }
        .inner-content {
            .content {
                @include secondary-font;
                font:{size: 11px;}
            }
            .sub-header {
                width: inherit;
                padding-left: 0;
            }
            .graph {
                border-bottom: 5px solid #95C74B;
                position: relative;
                padding: 0 40px;
                li {
                    float: left;
                    @include border-top-left-radius(5px);
                    @include border-top-right-radius(5px);
                }
                .powwownow {
                    background-color: #95C74B;
                    height: 25px;
                    width: 93px;
                    margin: 50px 15px 0 0;
                    .legend {
                        position: absolute;
                        width: 93px;
                        height: 43px;
                        text-indent: -9999px;
                        bottom: -52px;
                    }
                }
                
                .other {
                    background-color: #a19fa0;
                    height: 75px;
                    width: 93px;
                    .legend {
                        display: block;
                        position: absolute;
                        bottom: -28px;
                        @include secondary-font;
                        width: 93px;
                        font: {
                            size: 10px;
                        }
                    }
                }
            }
            
        }
    }
    
    
}