@import "_helpers/_variables";

.js {
    .why-pwn {
        h3 {
            background: url('../../img/global/tick.png') no-repeat;
            padding: 5px 0 4px 30px;
            color: #6E91A4;
            margin-left: 12px;
        }

        p {
            color: #515151;
            @include secondary-font; 
            margin-right: 25px;
            padding: 0 0 2px 40px;
            line-height: 20px;
        }

        .columns {
            height: 130px;  
            background: url('../../img/separator/two.png') repeat-y right top;
            z-index: 1;
            margin-right: 0;
            margin-left: 0;
            margin-bottom: 25px;
            width: 235px;

            &:last-child {
                background: none;
            }
            &.last {
                background: none;
            }

        }
        [class*="column"] + [class*="column"]:last-child { 
            float: left;
        }

        .row {
            background: url('../../img/separator/two.png') repeat-x bottom;
        }
    }
    
}