@import compass/css3
//
//
//  Simple Mixing used on A elelemt
//  e.g. A
//        @include link-style-1(blue, green)
// /Login
// /Forgotten-Password
// /Reset-Password
//
@mixin link-style-1($link-colour, $link-hover-colour)
  color: $link-colour
  &:hover
    text-shadow: none
    color: $link-hover-colour
    @include transition-property('color')
    @include transition-duration(300ms)

