@import compass/css3
@import ../_inc/color
@import ../_mixin/mixin.clearfix

@mixin translucent-container($background: rgba(255, 255, 255, 0.8), $border-radius: 10px, $border-colour: $grey_p)
  @include border-radius($border-radius)
  @include box-sizing('border-box')
  @include clearfix()
  background: $background
  border:
    color: $border-colour
  padding: 0.1rem 3rem
  @media only screen and (max-width: 40em)
    padding: 0 1rem