

</div>

<div id="footer-bar">
    <p class="footer-links">
        <a href="http://www.powwownow.co.uk/Privacy" target="_blank">Privacy</a> |
        <a href="http://www.powwownow.co.uk/Terms-And-Conditions" target="_blank">Terms &amp; Conditions</a> |
        <a href="http://www.powwownow.co.uk/Why-Powwownow/About-Us" target="_blank">About Us</a> |
        <a href="http://www.powwownow.co.uk/Contact-Us" target="_blank">Contact Us</a> |
        <a href="http://www.powwownow.co.uk/Glossary" target="_blank">Glossary</a> |
        <a href="http://www.powwownow.co.uk/Useful-Links" target="_blank">Useful Links</a> |
        <a href="http://www.powwownow.co.uk/Sitemap" target="_blank">Site Map</a>
    </p>

    <p class="footer-copyright">2014 Powwownow</p>
</div>

<p class="footer-international-links">
    <a class="dotted" href="http://www.powwownow.ie" target="_blank">Conference Call IE</a> |
    <a class="dotted" href="http://www.powwownow.com" target="_blank">Conference Call US</a> |
    <a class="dotted" href="http://www.powwownow.de" target="_blank">Telefonkonferenz DE</a> |
    <a class="dotted" href="http://www.powwownow.fr" target="_blank">Conf&#233;rence T&#233;l&#233;phonique FR</a> |
    <a class="dotted" href="http://www.powwownow.nl" target="_blank">Conference Call NL</a> |
    <a class="dotted" href="http://www.powwownow.at" target="_blank">Telefonkonferenz AT</a> |
    <a class="dotted" href="http://www.powwownow.be" target="_blank">Conf&#233;rence Vocale BE</a> |
    <a class="dotted" href="http://www.powwownow.ch" target="_blank">Telefonkonferenz CH</a> |
    <a class="dotted" href="http://www.powwownow.it" target="_blank">Teleconferenza IT</a> |
    <a class="dotted" href="http://www.powwownow.pl" target="_blank">Konferencja glosowa PL</a> |
    <a class="dotted" href="http://www.powwownow.es" target="_blank">Conferencia Telef&#243;nica ES</a> |
    <a class="dotted" href="http://www.powwownow.se" target="_blank">Telefonkonferens SE</a> |
    <a class="dotted" href="http://www.powwownow.co.za" target="_blank">Conference Call ZA</a> |
    <a class="dotted" href="http://can.powwownow.com" target="_blank">Conference Call CA</a> |
    <a class="dotted" href="http://www.andrewjpearce.com" target="_blank">Entrepreneur Blog</a>
</p>
</body>
