<div class="container_24 clearfix">
    <div class="header">
        <img class="companyImage" alt="Powwownow" src="/i/245372/logo.png"/>
        <img class="headerImage" alt="Powered by WorldPay" src="https://secure.worldpay.com/jsp/shopper/icons/../pictures/poweredByWorldPay.gif"/>
    </div>
    <div class="grid_24 clearfix">
        <ul id="products-nav" class="clearfix">
            <li class="current">Payment<span></span></li>
            <li class="last-child">Purchase Confirmation<span></span></li>
        </ul>
        <h1 class="mypwn_sub_page_heading_plus">
            Transaction Successful
        </h1>
        <p class="worldpayMessage">
            <a href="<WPDISPLAY ITEM=C_url_success>">Click here to complete your Purchase and Download your Invoice</a>.
        </p>
    </div>
    <div class="grid_12 clearfix">
        <p>
        <table border="0" cellpadding="0" cellspacing="0" class="bannercontainer">
            <tbody>
            <tr>
                <td>
                    <table cellpadding="2" cellspacing="0" class="banner">
                        <tbody>
                        <tr valign="top">
                            <td class="bannererror">
                                <span style="font-family: Verdana,Geneva,Arial,Helvetica,Sans-Serif; font-size: 8pt; color: #ea0000;">This was not a live transaction. No money has changed hands.</span>
                            </td>
                        </tr>
                        <tr valign="top">
                            <td class="banner">
                                <span style="font-family: Verdana,Geneva,Arial,Helvetica,Sans-Serif; font-size: 8pt; color: #515151;">Thank you, your payment was successful.</span><br>
                                <span style="font-family: Verdana,Geneva,Arial,Helvetica,Sans-Serif; font-size: 8pt; color: #515151;">Merchant's reference:&nbsp;</span>
                                <span style="font-family: Courier;"><b>63270ff8fca496e0f15fa1c2f93b0d35</b></span><br>
                                <span style="font-family: Verdana,Geneva,Arial,Helvetica,Sans-Serif; font-size: 8pt; color: #515151;">WorldPay Transaction ID:&nbsp;</span>
                                <span style="font-family: Courier;"><b>3003095863</b></span><br>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        </p>
    </div>
</div>