@import _core/variables
// IE7
//
//
.lt-ie8
  // Header Section adjustments
  .hero-element
    .mouthy
      float: left
      width: $span_4_width
      img
        padding: 0
    .hero-form
      position: relative
      width: $span_12_width
    .hero-benefits
      width: $span_12_width
      ul
        margin:
          bottom: 2em
        li
          float: left
          position: relative
  // Service Section adjustments
  .service-details
    ul
      li
        float: left
        position: relative
  // Clients Section adjustments
  .client-list
    padding:
      bottom: 2em
    margin:
      left: 0
  // Social links adjustments
  .footer
    .links
      ul
        li
          float: left
          position: relative
    .social
      .social-links
        li
          display: none