@import sprites/icons/*.png
@include all-icons-sprites

@import sprites/social/*.png
@include all-social-sprites

body
  font:
    size : 100%
  line-height: 1.125em
.button:focus
  outline: none
.text-left
  text-align: left !important
.text-right
  text-align: right !important
.text-center
  text-align: center !important
.text-justify
  text-align: justify !important
.hidden,
.hide
  display: none
.loading
  background:
    image: url('../../shared/assets/img/misc/ajax-loader.gif')
  width: 16px
  height: 11px

.col
  border: 0px solid rgba(0,0,0,0)
  float: left
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -moz-background-clip: padding-box !important
  -webkit-background-clip: padding-box !important
  background-clip: padding-box !important

.container
  margin: 0 auto

.col
  padding: 0 0%

.row .col:first-child
  margin-left: 0

@media screen and (min-width: 1000px)
  .container
    width: 100%
  .inner-container
    width: 990px
    margin: 0 auto
@media screen and (min-width: 780px) and (max-width: 999px)
  .hide-for-large
    display: none !important
  .container
    width: 100%
@media screen and (min-width: 600px) and (max-width: 779px)
  .container
    width: 100%
@media screen and (min-width: 300px) and (max-width: 599px)
  .hide-for-small
    display: none !important
@media screen and (min-width: 0px) and (max-width: 299px)
  .hide-for-smaller
    display: none !important

// Components
@import _components/brand
@import _components/header
@import _components/video
@import _components/service
@import _components/clients
@import _components/footer
@import _components/error
@import _components/nojs
@import _components/cookie
@import _core/fx