.top-menu-container{
  &:before {
    display: table;
    content: "";
    zoom: 1;
  }

  &:after {
    display: table;
    content: "";
    zoom: 1;
    clear: both;
  }
  //input[type=checkbox] {
  //  position: absolute;
  //  top: -9999px;
  //  left: -9999px;
  //}
  //
  //label {
  //  display:none;
  //  cursor: pointer;
  //  user-select:none;
  //}
}
.sub-menu-outer-container {
  display: none;
}
.top-menu-container {
  background: $grey-a;
  @include font-family-set-a();
  font:{
    size: 0.875em;
  }
  color: $white;
  z-index:500;
  position: relative;
  padding: 3px;
  line-height: 1em;
  @include border-radius(10px);
  @include box-shadow($grey-b 0px 0px 5px);

  &.powwownow {background-color:$green-a;}
  &.plus      {background-color:$blue-c;}
  &.premium   {background-color:$blue-d;}

  ul{
    &.top-menu,
    &.texty-page-menu {
      list-style-type: none; padding-left: 0px;
      a,
      a:link,
      a:visited{
        text-decoration: none;
        border-bottom: none;
      }
      li {
        margin-left:0px;
      }
    }
    &.top-menu {
      margin:0;
      li {
        padding: 0 10px;
        float: left;
        cursor: pointer;
        &.active {
          > a {
            color: $green-a;
          }
        }
      }
      a {
        color: $white;
      }
      a {
        &:active{
          color:$green-a;
          line-height:1em;
          text-decoration: none;
          border-bottom: none;
        }
      }
    }
    &.texty-page-menu {
      a:hover{
        color: $green-a;
      }
    }
  }


  .top-submenu-container {
    position: absolute;
    z-index: 200;
    margin-top: 0px;
    padding-top: 30px;
    top: 10px;
    width: 210px;
    z-index: 400;
    background: {
      image:url('/sfimages/corner-top-grey.png');
      repeat:no-repeat;
      position: 30px 18px;
    }
    display: block;


    .top-submenu {
      background: {
        color: $grey-a;
      };
      overflow: hidden;
      position: relative;
      padding: 0 5px 10px 5px;
      @include border-radius(5px);


      li {
        border: none;
        display: block;
        width: 210px;
        >:first-child {padding-top: 15px;}
      }
      a {
        font-size: 12px;
        display: inline-block;
        white-space: nowrap;
        padding-bottom:5px;
      }
      .top-submenu-corner {
        position: absolute;
        z-index: 500;
        top: 50px;
        display: block;
      }
    }
  }
}
.divider {
  margin-left: 8em!important;
  border: none!important;
}
.top-menu li {
  border-left: 1px solid $white;
}
.top-menu > li:first-child {border-left: none; padding-left: 0px;}
.top-menu li:last-child {padding-right: 0}
.top-menu a {color: #FFF; text-decoration: none; border-bottom: none;}
.top-menu a:hover {color: #B7EB68}