// Imports
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/images";
@import "compass/css3/transform";

// Import Sprites
@import "sprites/set-a/*.png";
@include all-set-a-sprites;

// All Colours
$black:     #000;

$white:     #fff;
$white-a:   #DDDDDD;
$white-b:   #CCCCCC;

$yellow:    #ffaf27;
$yellow-a:  #e68d05;

$blue:      #6D91A3;
$blue-a:    #6E91A4;
$blue-b:    #495E69;
$blue-c:    #7EA2B4;
$blue-d:    #465C63;
// Social Media Specific
$blue-e:    #8BBDD6;
$blue-f:    #3B5998;
$blue-g:    #55A1C7;

$red:       #C00000;

$green:     #95C74B;
$green-a:   #A6CF5A;
$green-b:   #009110;
$green-c:   #8BB33E;

$grey:      #515151;
$grey-a:    #a19fa0;
$grey-b:    #dddddd;
$grey-c:    #E9E9E9;

$orange:    #ffb027;

$font-set-a: "RockwellStdRegular", verdana, sans-serif;
$font-set-b:  verdana, sans-serif;
$font-set-c: "league_gothicCnRg", verdana, sans-serif;

@mixin font-family-set-a{
  font:{
    family: $font-set-a;
  }
}
@mixin font-family-set-b{
  font:{
    family: $font-set-b;
  }
}
@mixin font-family-set-c{
  font:{
    family: $font-set-c;
  }
}

@function emCalc($pxWidth) {
  $em-base: 16px !default;
  @return $pxWidth / $em-base * 1em;
}
