/******************************************************
* _Core.scss
* Contains all global styles.
******************************************************/

// Imports
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/images";
@import "compass/css3/transform";

// Import Sprites
@import "sprites/set-a/*.png";
@include all-set-a-sprites;


@import "_variables.scss";
@import "fonts.scss";

// Fix the responsive grid for IE8
//@import "_ie8grid.scss";

/* Nicolas Gallagher's micro clearfix */
.row:before, .row:after, .clearfix:before, .clearfix:after { content:""; display:table; }
.row:after, .clearfix:after { clear: both; }
.row, .clearfix { zoom: 1; }


// font colour styles
.font-white {
  color: $white;
}
.font-grey {
  color: $grey;
}
.font-blue {
  color: $blue;
}
.font-green {
  color: $green;
}

.font-rockwell {
  @include font-family-set-a();
}

.font-regular {
  @include  font-family-set-b();
}

/****************************************************
* Ajax Throbber Styling
*****************************************************/

.loading {
  background: {
    image:  url('/shared/assets/img/misc/ajax-loader.gif');
    repeat: no-repeat;
  }
  width: 16px;
  height: 16px;
  margin: 20px auto;
  &.green {
    background: {
      image:  url('/shared/assets/img/misc/green-ajax-loader.gif');
    }
  }
  &.grey {
    background: {
      image:  url('/shared/assets/img/misc/grey-ajax-loader.gif');
    }
  }
}

/****************************************************
* Misc Styling
*****************************************************/
// Rounded Corners
.rounded-corners {
  @include border-radius(5px);
}

.rounded-corners-10 {
  @include border-radius(10px);
}

// Links
.link {
  text-decoration: underline !important;
}

.link-dotted {
  border-bottom: 1px dotted $green;
}


.paragraph-font-8 {
  font:{
    size: emCalc(8px);
  }
}


.list-font-11,
.paragraph-font-11{
  font:{
  //size: 0.688em
    size: emCalc(11px);
  }
}

.list-font-12,
.paragraph-font-12 {
  font:{
    //size: 0.750em;
    size: emCalc(12px);
  }
}

.paragraph-font-18 {
  font:{
    size: emCalc(18px);
  }
}




/****************************************************
* Header Styling
*****************************************************/

.title {
  @include font-family-set-a();
  font:{
    size: 1.333em;
  }
}

.title-a {
  @include font-family-set-b;
  font: {
    size: 1em;
  }
}

h1{
  &.header-style-1 {
    @include font-family-set-a();
    margin: 25px 0 25px 15px;
    line-height: 1em;
    font:{
      size:1.813em;
      weight: normal;
    }
  }
}

h2{
  &.header-style-1 {
    @include font-family-set-a();
    font:{
      size: 1.125em;
      weight: normal;
    }
    color: $white;
  }

  @include font-family-set-a();
  font:{
    size:1.375em;
  }
  &.hozline {
    margin-bottom: 0.938em;
    text-align: center;
    background:{
      image: url("/sfimages/cro-lp/dotted-border.gif");
      repeat: repeat-x;
      color: $white;
      position: 0 center;
    }
    .hozline-text {
      background: none repeat scroll 0 0 #FFFFFF;
      color: #6E91A4;
      padding: 0 10px;
    }
  }
}

h3 {
  @include font-family-set-a();
  font:{
    size:1em;
    weight: normal;
  }
}

h4 {
  @include font-family-set-a();
  //font: {
  //  size: 1em;
  //}
}

/*******************************************
* Buttons
********************************************/

@mixin button-large {
  padding: 15px 30px;
}

@mixin button-button {
  @include font-family-set-a();
  font:{
    size: 14px;
  }
  margin-right: 15px;
  whitespace: nowrap;

  &:focus {
    background: #e68d05;
  }
}

//buttons
.button {

  border: 1px solid #efefef;
  whitespace: nowrap;
  text-transform: uppercase;
  &:hover {
    border: 1px solid #efefef;
  }

  &.yellow {
    background: {
      color: #FFB027;
    }
    border-color: #FFB027;
    @include background-image(linear-gradient(top, #FFB027 0%, #E48A03 100%));

    &:hover {
      background: {
        color: #e48a03;
      }
      @include background-image(linear-gradient(top,#e48a03 0%, #ffb027 100%));
    }

  }

  &.green {
    border-color: #96c84b;
    @include background-image(linear-gradient(top, #96c84b 0%,#668a2e 100%));
    &.button{

      &:hover{
        @include background-image(linear-gradient(top,#668a2e 0%, #96c84b 100%));
      }
    }
  }
}

.pwn-panel {
  margin-bottom: 1.25em;
  padding: 1.25em;
}
.pwn-panel,
.panel {
  // background color styles
  &.green {
    background: {
      color:#95C74B;
    }
  }
  &.blue {
    background: {
      color:#6D91A3;
    }
  }
  &.grey {
    background: {
      color:#F0F0F0;
    };
  }
  // border styles
  &.border-green {
    border: 3px solid #95C74B;
  }
}

// Header Styles
h3.sub-header {
  @include font-family-set-a();
  font:{
    size: 1.375em;
    weight: normal;
  }
}



/*******************************************
* Form Styling
********************************************/

form {

  // Positional Form Style
  .height-45px {
    height:45px;
  }
  .height-65px{
    height: 65px;
  }

  // Form Button Styles
  button,
  .button {
    margin: 0 0 0 0;
  }
  // Form Error Messages Style

  .error small,
  small.error{
    background: none;
    @include font-family-set-b();
    font:{
      size: 0.8em;
      weight: normal;
    }
    color:$red;
    margin-bottom: 0;
    margin-top: -1em;
    padding: 0;
    p {
      margin-bottom: 0;
    }
  }

  .error input,
  input.error,
  .error textarea,
  textarea.error {
    background:{
      color: $grey-c;
    }
  }

  .custom-pwn {
    &.select {
      @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.1) inset);
      border: 1px solid $grey-b;
      background: $white;
      padding: emCalc(8px);
      font:{
        size: emCalc(11px);
      }
    }
  }

}

/****************************************************
* Form Placeholder Styles
*****************************************************/

@mixin placeholder-style {
  @include font-family-set-b();
  font: {
    size: emCalc(11px);
  }
  padding: emCalc(5px) 0 0 0;
}

/* Compass/SASS currently doesnt have this*/
::-webkit-input-placeholder {
  @include placeholder-style;
}
:-moz-placeholder { /* Firefox 18- */
  @include placeholder-style;
}
::-moz-placeholder {  /* Firefox 19+ */
  @include placeholder-style;
}
:-ms-input-placeholder {
  @include placeholder-style;
}




/****************************************************
* lozenge
*****************************************************/

// Desktop

  .js {
    .lozenge{
      margin: emCalc(16px) 0;
      padding: emCalc(10px) 0;
      &.lozenge-style-1 {
        background: {
          color: $green-c
        }
        @include border-radius(8px);
      }
    }
  }

/****************************************************
* Positional Classes
*****************************************************/
.margin-left-25px {
  margin-left: emCalc(25px);
}

.margin-left-45px {
  margin-left: emCalc(45px);
}

.margin-bottom-25px {
  margin-bottom: emCalc(25px);
}

.margin-top-20px {
  margin-top: emCalc(20px);
}



/****************************************************
* Old H5Form Styles Overrides
*****************************************************/
.nice-error-box {
  color: $red;
  .error-box-close,
  .nice-error-box-before {
    display: none;
  }

}

/****************************************************
* Alert Boxes Styling
*****************************************************/
.js {
  .alert-box {
    p {
      margin-bottom: 0;
      font:{
        size: emCalc(12px);
      }
    }
  }
}

/*******************************************
* Country Flags
* @use
*
********************************************/
.sprite-flags {
  background: {
    image: url('/sfimages/sprites/sprite-flags-square.png');
    repeat:no-repeat;
    position: -500px 0;
  }
  width:16px;
  height:11px;
  display: inline-block;
  margin-right: 5px;
  overflow: hidden;

  &.gbr {background-position:0 0;}
  &.aut {background-position:-20px 0;}
  &.bel {background-position:-40px 0;}
  &.can {background-position:-60px 0;}
  &.fra {background-position:-80px 0;}
  &.deu {background-position:-100px 0;}
  &.irl {background-position:-120px 0;}
  &.ita {background-position:-140px 0;}
  &.nld {background-position:-160px 0;}
  &.pol {background-position:-180px 0;}
  &.zaf {background-position:-200px 0;}
  &.esp {background-position:-220px 0;}
  &.swe {background-position:-240px 0;}
  &.che {background-position:-260px 0;}
  &.usa {background-position:-280px 0;}
  &.worldwide {background-position:-300px 0;}
  &.skypeout {background-position:-320px 0;}
}

.sprite-flags-alt {
  &.flag {
    width: 16px;
    height: 11px;
    background:url('/shared/assets/img/flags.png') no-repeat;
    display: inline-block;
    margin-right: 5px;
    overflow: hidden;
  }
}
.flag.flag-ad {background-position: -16px 0}
.flag.flag-ae {background-position: -32px 0}
.flag.flag-af {background-position: -48px 0}
.flag.flag-ag {background-position: -64px 0}
.flag.flag-ai {background-position: -80px 0}
.flag.flag-al {background-position: -96px 0}
.flag.flag-am {background-position: -112px 0}
.flag.flag-an {background-position: -128px 0}
.flag.flag-ao {background-position: -144px 0}
.flag.flag-ar {background-position: -160px 0}
.flag.flag-as {background-position: -176px 0}
.flag.flag-at {background-position: -192px 0}
.flag.flag-au {background-position: -208px 0}
.flag.flag-aw {background-position: -224px 0}
.flag.flag-az {background-position: -240px 0}
.flag.flag-ba {background-position: 0 -11px}
.flag.flag-bb {background-position: -16px -11px}
.flag.flag-bd {background-position: -32px -11px}
.flag.flag-be {background-position: -48px -11px}
.flag.flag-bf {background-position: -64px -11px}
.flag.flag-bg {background-position: -80px -11px}
.flag.flag-bh {background-position: -96px -11px}
.flag.flag-bi {background-position: -112px -11px}
.flag.flag-bj {background-position: -128px -11px}
.flag.flag-bm {background-position: -144px -11px}
.flag.flag-bn {background-position: -160px -11px}
.flag.flag-bo {background-position: -176px -11px}
.flag.flag-br {background-position: -192px -11px}
.flag.flag-bs {background-position: -208px -11px}
.flag.flag-bt {background-position: -224px -11px}
.flag.flag-bv {background-position: -240px -11px}
.flag.flag-bw {background-position: 0 -22px}
.flag.flag-by {background-position: -16px -22px}
.flag.flag-bz {background-position: -32px -22px}
.flag.flag-ca {background-position: -48px -22px}
.flag.flag-catalonia {background-position: -64px -22px}
.flag.flag-cd {background-position: -80px -22px}
.flag.flag-cf {background-position: -96px -22px}
.flag.flag-cg {background-position: -112px -22px}
.flag.flag-ch {background-position: -128px -22px}
.flag.flag-ci {background-position: -144px -22px}
.flag.flag-ck {background-position: -160px -22px}
.flag.flag-cl {background-position: -176px -22px}
.flag.flag-cm {background-position: -192px -22px}
.flag.flag-cn {background-position: -208px -22px}
.flag.flag-co {background-position: -224px -22px}
.flag.flag-cr {background-position: -240px -22px}
.flag.flag-cu {background-position: 0 -33px}
.flag.flag-cv {background-position: -16px -33px}
.flag.flag-cw {background-position: -32px -33px}
.flag.flag-cy {background-position: -48px -33px}
.flag.flag-cz {background-position: -64px -33px}
.flag.flag-de {background-position: -80px -33px}
.flag.flag-dj {background-position: -96px -33px}
.flag.flag-dk {background-position: -112px -33px}
.flag.flag-dm {background-position: -128px -33px}
.flag.flag-do {background-position: -144px -33px}
.flag.flag-dz {background-position: -160px -33px}
.flag.flag-ec {background-position: -176px -33px}
.flag.flag-ee {background-position: -192px -33px}
.flag.flag-eg {background-position: -208px -33px}
.flag.flag-eh {background-position: -224px -33px}
.flag.flag-england {background-position: -240px -33px}
.flag.flag-er {background-position: 0 -44px}
.flag.flag-es {background-position: -16px -44px}
.flag.flag-et {background-position: -32px -44px}
.flag.flag-eu {background-position: -48px -44px}
.flag.flag-fi {background-position: -64px -44px}
.flag.flag-fj {background-position: -80px -44px}
.flag.flag-fk {background-position: -96px -44px}
.flag.flag-fm {background-position: -112px -44px}
.flag.flag-fo {background-position: -128px -44px}
.flag.flag-fr {background-position: -144px -44px}
.flag.flag-ga {background-position: -160px -44px}
.flag.flag-gb {background-position: -176px -44px}
.flag.flag-gd {background-position: -192px -44px}
.flag.flag-ge {background-position: -208px -44px}
.flag.flag-gf {background-position: -224px -44px}
.flag.flag-gg {background-position: -240px -44px}
.flag.flag-gh {background-position: 0 -55px}
.flag.flag-gi {background-position: -16px -55px}
.flag.flag-gl {background-position: -32px -55px}
.flag.flag-gm {background-position: -48px -55px}
.flag.flag-gn {background-position: -64px -55px}
.flag.flag-gp {background-position: -80px -55px}
.flag.flag-gq {background-position: -96px -55px}
.flag.flag-gr {background-position: -112px -55px}
.flag.flag-gs {background-position: -128px -55px}
.flag.flag-gt {background-position: -144px -55px}
.flag.flag-gu {background-position: -160px -55px}
.flag.flag-gw {background-position: -176px -55px}
.flag.flag-gy {background-position: -192px -55px}
.flag.flag-hk {background-position: -208px -55px}
.flag.flag-hm {background-position: -224px -55px}
.flag.flag-hn {background-position: -240px -55px}
.flag.flag-hr {background-position: 0 -66px}
.flag.flag-ht {background-position: -16px -66px}
.flag.flag-hu {background-position: -32px -66px}
.flag.flag-ic {background-position: -48px -66px}
.flag.flag-id {background-position: -64px -66px}
.flag.flag-ie {background-position: -80px -66px}
.flag.flag-il {background-position: -96px -66px}
.flag.flag-im {background-position: -112px -66px}
.flag.flag-in {background-position: -128px -66px}
.flag.flag-io {background-position: -144px -66px}
.flag.flag-iq {background-position: -160px -66px}
.flag.flag-ir {background-position: -176px -66px}
.flag.flag-is {background-position: -192px -66px}
.flag.flag-it {background-position: -208px -66px}
.flag.flag-je {background-position: -224px -66px}
.flag.flag-jm {background-position: -240px -66px}
.flag.flag-jo {background-position: 0 -77px}
.flag.flag-jp {background-position: -16px -77px}
.flag.flag-ke {background-position: -32px -77px}
.flag.flag-kg {background-position: -48px -77px}
.flag.flag-kh {background-position: -64px -77px}
.flag.flag-ki {background-position: -80px -77px}
.flag.flag-km {background-position: -96px -77px}
.flag.flag-kn {background-position: -112px -77px}
.flag.flag-kp {background-position: -128px -77px}
.flag.flag-kr {background-position: -144px -77px}
.flag.flag-kurdistan {background-position: -160px -77px}
.flag.flag-kw {background-position: -176px -77px}
.flag.flag-ky {background-position: -192px -77px}
.flag.flag-kz {background-position: -208px -77px}
.flag.flag-la {background-position: -224px -77px}
.flag.flag-lb {background-position: -240px -77px}
.flag.flag-lc {background-position: 0 -88px}
.flag.flag-li {background-position: -16px -88px}
.flag.flag-lk {background-position: -32px -88px}
.flag.flag-lr {background-position: -48px -88px}
.flag.flag-ls {background-position: -64px -88px}
.flag.flag-lt {background-position: -80px -88px}
.flag.flag-lu {background-position: -96px -88px}
.flag.flag-lv {background-position: -112px -88px}
.flag.flag-ly {background-position: -128px -88px}
.flag.flag-ma {background-position: -144px -88px}
.flag.flag-mc {background-position: -160px -88px}
.flag.flag-md {background-position: -176px -88px}
.flag.flag-me {background-position: -192px -88px}
.flag.flag-mg {background-position: -208px -88px}
.flag.flag-mh {background-position: -224px -88px}
.flag.flag-mk {background-position: -240px -88px}
.flag.flag-ml {background-position: 0 -99px}
.flag.flag-mm {background-position: -16px -99px}
.flag.flag-mn {background-position: -32px -99px}
.flag.flag-mo {background-position: -48px -99px}
.flag.flag-mp {background-position: -64px -99px}
.flag.flag-mq {background-position: -80px -99px}
.flag.flag-mr {background-position: -96px -99px}
.flag.flag-ms {background-position: -112px -99px}
.flag.flag-mt {background-position: -128px -99px}
.flag.flag-mu {background-position: -144px -99px}
.flag.flag-mv {background-position: -160px -99px}
.flag.flag-mw {background-position: -176px -99px}
.flag.flag-mx {background-position: -192px -99px}
.flag.flag-my {background-position: -208px -99px}
.flag.flag-mz {background-position: -224px -99px}
.flag.flag-na {background-position: -240px -99px}
.flag.flag-nc {background-position: 0 -110px}
.flag.flag-ne {background-position: -16px -110px}
.flag.flag-nf {background-position: -32px -110px}
.flag.flag-ng {background-position: -48px -110px}
.flag.flag-ni {background-position: -64px -110px}
.flag.flag-nl {background-position: -80px -110px}
.flag.flag-no {background-position: -96px -110px}
.flag.flag-np {background-position: -112px -110px}
.flag.flag-nr {background-position: -128px -110px}
.flag.flag-nu {background-position: -144px -110px}
.flag.flag-nz {background-position: -160px -110px}
.flag.flag-om {background-position: -176px -110px}
.flag.flag-pa {background-position: -192px -110px}
.flag.flag-pe {background-position: -208px -110px}
.flag.flag-pf {background-position: -224px -110px}
.flag.flag-pg {background-position: -240px -110px}
.flag.flag-ph {background-position: 0 -121px}
.flag.flag-pk {background-position: -16px -121px}
.flag.flag-pl {background-position: -32px -121px}
.flag.flag-pm {background-position: -48px -121px}
.flag.flag-pn {background-position: -64px -121px}
.flag.flag-pr {background-position: -80px -121px}
.flag.flag-ps {background-position: -96px -121px}
.flag.flag-pt {background-position: -112px -121px}
.flag.flag-pw {background-position: -128px -121px}
.flag.flag-py {background-position: -144px -121px}
.flag.flag-qa {background-position: -160px -121px}
.flag.flag-re {background-position: -176px -121px}
.flag.flag-ro {background-position: -192px -121px}
.flag.flag-rs {background-position: -208px -121px}
.flag.flag-ru {background-position: -224px -121px}
.flag.flag-rw {background-position: -240px -121px}
.flag.flag-sa {background-position: 0 -132px}
.flag.flag-sb {background-position: -16px -132px}
.flag.flag-sc {background-position: -32px -132px}
.flag.flag-scotland {background-position: -48px -132px}
.flag.flag-sd {background-position: -64px -132px}
.flag.flag-se {background-position: -80px -132px}
.flag.flag-sg {background-position: -96px -132px}
.flag.flag-sh {background-position: -112px -132px}
.flag.flag-si {background-position: -128px -132px}
.flag.flag-sk {background-position: -144px -132px}
.flag.flag-sl {background-position: -160px -132px}
.flag.flag-sm {background-position: -176px -132px}
.flag.flag-sn {background-position: -192px -132px}
.flag.flag-so {background-position: -208px -132px}
.flag.flag-somaliland {background-position: -224px -132px}
.flag.flag-sr {background-position: -240px -132px}
.flag.flag-ss {background-position: 0 -143px}
.flag.flag-st {background-position: -16px -143px}
.flag.flag-sv {background-position: -32px -143px}
.flag.flag-sx {background-position: -48px -143px}
.flag.flag-sy {background-position: -64px -143px}
.flag.flag-sz {background-position: -80px -143px}
.flag.flag-tc {background-position: -96px -143px}
.flag.flag-td {background-position: -112px -143px}
.flag.flag-tf {background-position: -128px -143px}
.flag.flag-tg {background-position: -144px -143px}
.flag.flag-th {background-position: -160px -143px}
.flag.flag-tj {background-position: -176px -143px}
.flag.flag-tk {background-position: -192px -143px}
.flag.flag-tl {background-position: -208px -143px}
.flag.flag-tm {background-position: -224px -143px}
.flag.flag-tn {background-position: -240px -143px}
.flag.flag-to {background-position: 0 -154px}
.flag.flag-tr {background-position: -16px -154px}
.flag.flag-tt {background-position: -32px -154px}
.flag.flag-tv {background-position: -48px -154px}
.flag.flag-tw {background-position: -64px -154px}
.flag.flag-tz {background-position: -80px -154px}
.flag.flag-ua {background-position: -96px -154px}
.flag.flag-ug {background-position: -112px -154px}
.flag.flag-um {background-position: -128px -154px}
.flag.flag-us {background-position: -144px -154px}
.flag.flag-uy {background-position: -160px -154px}
.flag.flag-uz {background-position: -176px -154px}
.flag.flag-va {background-position: -192px -154px}
.flag.flag-vc {background-position: -208px -154px}
.flag.flag-ve {background-position: -224px -154px}
.flag.flag-vg {background-position: -240px -154px}
.flag.flag-vi {background-position: 0 -165px}
.flag.flag-vn {background-position: -16px -165px}
.flag.flag-vu {background-position: -32px -165px}
.flag.flag-wales {background-position: -48px -165px}
.flag.flag-wf {background-position: -64px -165px}
.flag.flag-ws {background-position: -80px -165px}
.flag.flag-ye {background-position: -96px -165px}
.flag.flag-yt {background-position: -112px -165px}
.flag.flag-za {background-position: -128px -165px}
.flag.flag-zanzibar {background-position: -144px -165px}
.flag.flag-zm {background-position: -160px -165px}
.flag.flag-zw {background-position: -176px -165px}
