/****************************************************
* Font Family Related Styling
  *****************************************************/
// Font Families
@font-face {
  font-family: 'RockwellStdRegular';
  src: url('../../fonts/rockwellstd-webfont.eot');
  src: url('../../../shared/fonts/rockwellstd-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/rockwellstd-webfont.svg#RockwellStdRegular') format('svg'),
  url('../../fonts/rockwellstd-webfont.woff') format('woff'),
  url('../../fonts/rockwellstd-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'league_gothicCnRg';
  src: url('../../fonts/leaguegothic-condensedregular-webfont.eot');
  src: url('../../fonts/leaguegothic-condensedregular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/leaguegothic-condensedregular-webfont.woff') format('woff'),
  url('../../fonts/leaguegothic-condensedregular-webfont.ttf') format('truetype'),
  url('../../fonts/leaguegothic-condensedregular-webfont.svg#league_gothicCnRg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sketch Rockwell';
  src: url('../../fonts/sketchrockwell-bold-webfont.eot');
  src: url('../../fonts/sketchrockwell-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/sketchrockwell-bold-webfont.woff') format('woff'),
  url('../../fonts/sketchrockwell-bold-webfont.ttf') format('truetype'),
  url('../../fonts/sketchrockwell-bold-webfont.svg#Sketch Rockwell') format('svg');
  font-weight: normal;
  font-style: normal;
}