.js {
  // How It Works
  .how-it-works {
    .how-it-works-list {
      list-style: none;
      .list-item {
        margin: 0 0 emCalc(10px) 0;
        .description {
          display: inline-block;
          width: 80%;
          padding: emCalc(5px) 0 0 emCalc(5px);
        }
      }

      .sprite {
        vertical-align:top;
        background:{
          image: url("/sfimages/1-2-3-bullets.png");
          repeat: no-repeat;
        }
        display: inline-block;
        height: 30px;
        width: 30px;
        &.first{
          background:{
            position:0 0;
          }
        }
        &.second {
          background: {
            position: 0 -50px;
          };
        }
        &.third{
          background: {
            position: 0 -100px;
          };
        }
      }
    }
  }
}