@import "_variables.scss";

.sprite-square-flag-aut {
  background-position: -20px 0;
}
.sprite-square-flag {
  background:{
    image: url("/sfimages/sprites/sprite-flags-square.png");
    repeat: no-repeat;
  }
  display: inline-block;
  height: 11px;
  margin-right: 5px;
  overflow: hidden;
  width: 16px;

  &.sprite-square-flag-gbr {background-position:0 0;}
  &.sprite-square-flag-aut {background-position:-20px 0;}
  &.sprite-square-flag-bel {background-position:-40px 0;}
  &.sprite-square-flag-can {background-position:-60px 0;}
  &.sprite-square-flag-fra {background-position:-80px 0;}
  &.sprite-square-flag-deu {background-position:-100px 0;}
  &.sprite-square-flag-irl {background-position:-120px 0;}
  &.sprite-square-flag-ita {background-position:-140px 0;}
  &.sprite-square-flag-nld {background-position:-160px 0;}
  &.sprite-square-flag-pol {background-position:-180px 0;}
  &.sprite-square-flag-zaf {background-position:-200px 0;}
  &.sprite-square-flag-esp {background-position:-220px 0;}
  &.sprite-square-flag-swe {background-position:-240px 0;}
  &.sprite-square-flag-che {background-position:-260px 0;}
  &.sprite-square-flag-usa {background-position:-280px 0;}
  &.sprite-square-flag-worldwide {background-position:-300px 0;}
  &.sprite-square-flag-skypeout {background-position:-320px 0;}
}

.icon-telephone-green-top {
  height: 24px;
  display: inline-block;
  margin: 0;
  width: 150px;
  padding-left: 40px;
  background-image: url("/img/sprite-icons.png");
  background-repeat: no-repeat;
  background-position: -90px 0;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}


.sprite-new-pdf {
  background-position: -346px 0;
}
.sprite-new {
  background-image: url("/sfimages/sprites/sprite-icons.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 17px;
  margin-right: 5px;
  overflow: hidden;
  width: 17px;
}


@media only screen and (min-width: 768px) {

.js {
  .right-menu-container {
    margin: 3em 0 0 0;
    .information-links {
      .link-title {
        border-bottom: 1px dotted $green-a;
      }
    }
    @include font-family-set-b();
    font: {
      size:0.750em;
    }
    .dial-rate {
      margin-bottom: 1em;
    }
    .dial-in-number {
      color: $blue-a;
      font:{
        size:2em;
      }
      margin: 0.417em 0 0.417em 0;
    }
    p {
      color: $grey;
    }
    p.custom-error-message {
      color: $red;
    }
    li {
      position: relative;
      padding: 0 0 1.250em 0;
    }

    .information-links {
      list-style: none;
      > li {
        > span {
          &.icon {
            float: left;
          }
        }
        > div {
          margin: 0 0 0 3em;
        }
      }
    }

    .tooltip-international-dial-in-numbers,
    .tooltip-in-conference-controls,
    .tooltip-pin-reminder,
    .tooltip-mobile-app,
    .tooltip-schedule-call {
      @include box-shadow(0 0 5px $white-a);
      display: none;
      left: -100px;
      padding: 10px 20px;
      position: absolute;
      top: 40px;
      width: 280px;
    }
    //International Numbers
    .international-dial-in-numbers {
      :before,
      :after { content:""; display:table; clear: both; zoom:1 }

    }

    .tooltip-international-dial-in-numbers {
      p {
        clear: both;
        a {
          color: $green;
        }
      }
    }

    .international-dial-in-numbers {
      .odd {
        background:{
          color:  $grey-c;
        }
      }
      dd,dt{
        color: $grey;
        font:{
          weight: normal;
          size:0.8em;
        }
        background:{
          color: $white;
        }
        float: left;
      }

      dd {
        padding: 4px 0;
        text-align: left;
        width: 100px;
        font:{
          size:0.8em;
        }
      }

      dt {
        clear: both;
        padding: 4px 0 4px 4px;
        width: 115px;
      }
    }
    //Inconference Controls Tooltip
    .tooltip-in-conference-controls {
      background:{
        color: $white;
      }
      dt {
        clear: both;
        color: $green-a;
        float: left;
        width: 95px;
      }
      dd {
        float: left;
        color: $grey;
        width: 120px;
        padding: 0 0 0 1em;
        font: {
          weight: normal;
        }
      }
    }


    // ToolTips
    .tooltip {
      background:{
        color: $white;
      }
      border: 2px solid $yellow-a;
      @include border-radius(10px);
      @include box-shadow(0 0 5px $white-a);
      position: absolute;
      z-index: 600;
      max-width: none!important;
      overflow: visible !important;
    }

    .tooltip-arrow-top {
      background:{
        image: url("/sfimages/sprites/sprite-tooltip.png");
        repeat: no-repeat;
        padding: left top;
      }
      height: 11px;
      margin-bottom: -11px;
      margin-left: 43px;
      margin-right: auto;
      position: relative;
      top: -21px;
      width: 29px;
      display: block;
    }
  }

  // Icons
  .icon {
    @include border-radius(8px);
    @include box-shadow(0 0 5px $white-a);
    display: inline-block;
    height: 26px;
    overflow: hidden;
    width: 26px;

    span {
      display: inline-block;
      height: 20px;
      margin: 4px 2px;
      width: 20px;
    }

    .icon-chat-white {
      background: {
        image:url("/sfimages/sprites/sprite-icons.png");
        repeat: no-repeat;
        position:-215px 0;
      };
    }

    .icon-globe-white {
      background: {
        image:url("/sfimages/sprites/sprite-icons.png");
        repeat: no-repeat;
        position:-238px 0;
      };
    }

    .icon-play-pause-white {
      background: {
        image:url("/sfimages/sprites/sprite-icons.png");
        repeat: no-repeat;
        position:-192px 5px;
      };
    }

    .icon-asterisks-white {
      background: {
        image:url("/sfimages/sprites/sprite-icons.png");
        repeat: no-repeat;
        position:-163px 5px;
      };
    }

    .icon-calender-white {
      background: {
        image:url("/sfimages/sprites/sprite-icons.png");
        repeat: no-repeat;
        position: -132px 2px
      };
    }

    .icon-apple-white {
      background: {
        image:url("/sfimages/sprites/sprite-icons.png");
        repeat: no-repeat;
        position:  -72px 0;
      };
    }

    .icon-chat-white {
      background: {
        image:url("/sfimages/sprites/sprite-icons.png");
        repeat: no-repeat;
        position:  -215px 0;
      };
    }

    .icon-blog-white {
      background: {
        image:url("/sfimages/sprites/sprite-icons.png");
        repeat: no-repeat;
        position: -268px 0;
      };
    }

    .icon-telephone-green {
      background: {
        image:url("/sfimages/sprites/sprite-icons.png");
        repeat: no-repeat;
        position: -90px 0;
      };
    }
    &.icon-green {
      background: {
        color: $green-a;
        repeat: repeat;
      };
    }
    &.icon-blue {
      background: {
        color: $blue-a;
        repeat: repeat;
      }
    }
    &.icon-orange {
      background: {
        color: $orange;
        repeat: repeat;
      }
    }
  }

}

}

.sprite span {
  display: inline-block;
  height: 20px;
  margin: 4px 2px;
  width: 20px;
}
.sprite-cross-white {
  background: url("/sfimages/sprites/sprite-icons.png") no-repeat scroll -420px 0 transparent;
}

.shortcode-price {
  font-size: 12px;
  color: #515151;
}
