@import "_variables.scss";

// Mobile
.js {
  footer{
    background: $blue-b;
    margin: emCalc(20px) 0 emCalc(10px) 0;

    ul {
      list-style: none;
      text-align: center;
      &.social-media-links {
        padding: 0;
      }
      li,
      li a {
        color: #ffffff;
        font:{
          size: emCalc(12px);
        }
      }
      li {
        &.powwownow-copyright {
          font:{
            size: emCalc(11px);
          }
        }
        padding: emCalc(12px) 0 emCalc(12px) 0;
        a:hover{
          color:$green;
        }
      }
    }
  }
}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .js {
    footer{
      ul {
        &.social-media-links {
          margin-left: emCalc(5px)!important;
        }
      }
    }
  }
}



// Desktop
@media only screen and (min-width: 768px) {
  .js {
    footer {
      ul {
        display: inline-block;
        list-style: none;
        margin:0;
        padding: emCalc(5px);
        li {
          float: left;
          padding: emCalc(8px);
        }

        &.social-media-links {
          margin-left:emCalc(100px);
          padding: emCalc(5px);
          li {
            padding:emCalc(3px);
          }
        }

        .sprite {
          text-indent: -9999px;
          display: inline-block;
          height: 25px;
          width: 39px;
          background:{
            image: url('/shared/assets/img/sprites/social-icons.png');
            repeat: no-repeat;
          }

          &.blog,
          &.twitter,
          &.facebook,
          &.linkedin,
          &.youtube,
          &.google, {
            width: 30px;
            &:hover {
              @include single-transition(all, 0.3s, ease);
              @include border-radius(3px);
            }
          }

          &.blog {
            width: 37px;
            background:{
              position: -2px 1px;
            }
            &:hover {
              background: {
                color: $blue;
              }
            }
          }

          &.twitter {
            background:{
              position: -46px 3px;
              repeat: no-repeat;
            }
            &:hover {
              background: {
                color: $blue-e;
              }
            }
          }

          &.facebook {
            background: {
              position: -81px 3px;
              repeat: no-repeat;
            }
            &:hover {
              background:{
                color: $blue-f;
              }
            }
          }

          &.linkedin {
            background : {
              position: -115px 3px;
              repeat: no-repeat;
            }
            &:hover {
              background:{
                color: $blue-g;
              }
            }
          }

          &.youtube {
            background : {
              position: -153px 3px;
              repeat: no-repeat;
            }
            &:hover {
              background:{
                color: $red;
              }
            }
          }

          &.google {
            background: {
              position: -188px 3px;
              repeat: no-repeat;
            }
            &:hover {
              background:{
                color: $green-b;
              }
            }
          }
        }
      }
    }
  }
}