@import "_variables.scss";
//// Mobile First

/* hide the link until viewport size is reached */
  a.meanmenu-reveal {
    display: none;
  }

/* when under viewport size, .mean-container is added to body */
  .mean-container .mean-bar {
    float: left;
    width: 100%;
    position: relative;
    background: $grey-a;
    padding: 4px 0;
    min-height: 42px;
    z-index: 999999;
  }

  .mean-container a.meanmenu-reveal {
    width: 60px;
    height: 42px;
    padding: 13px 13px 11px 13px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    text-indent: -9999em;
    line-height: 1em;
    display: block;

  }
  .mean-container a.meanmenu-reveal span {
    display: block;
    background:$green-a;
    height: 3px;
    margin-top: 3px;
  }

  .mean-container .mean-nav {
    float: left;
    width: 100%;
    background: $grey-a;
    margin-top: 33px;
  }
  .mean-container .mean-nav ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
  }
  .mean-container .mean-nav ul li {
    position: relative;
    float: left;
    width: 100%;
  }
  .mean-container .mean-nav ul li a {
    display: block;
    float: left;
    width: 100%;
    padding: 1em 5%;
    margin: 0;
    text-align: left;
    color: $white;
    border-bottom: 1px solid #383838;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    text-decoration: none;
    @include font-family-set-a();

  }
  .mean-container .mean-nav ul li li a {
    width: 100%;
    padding: 1em 10%;
    border-bottom: 1px solid #f1f1f1;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    opacity: 0.75;
    filter: alpha(opacity=75);
    text-shadow: none !important;
    visibility: visible;
  }
  .mean-container .mean-nav ul li.mean-last a {
    border-bottom: none;
    margin-bottom: 0;
  }
  .mean-container .mean-nav ul li li li a {
    width: 70%;
    padding: 1em 15%;
  }
  .mean-container .mean-nav ul li li li li a {
    width: 60%;
    padding: 1em 20%;
  }
  .mean-container .mean-nav ul li li li li li a {
    width: 50%;
    padding: 1em 25%;
  }
  .mean-container .mean-nav ul li a:hover {
    background: #252525;
    background: rgba(255,255,255,0.1);
    color: $green-a;
  }
  .mean-container .mean-nav ul li a.mean-expand {
    width: 40px;
    height: 60px;
    border: none!important;
    padding: 25px 12px 12px 12px !important;
    text-align: center;
    position: absolute;
    right: 0.9em;
    top: 0;
    z-index: 2;
    font-weight: 700;
  }
  .mean-container .mean-nav ul li a.mean-expand:hover {
    background: none;
  }
  .mean-container .mean-push {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    clear: both;
  }
  .mean-nav .wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
  }


//IE 8
.lt-ie9.js{
  @import "_responsiveHeaderNavigationStyles.scss";
  .top-menu-container {
      .hide-for-medium {
        display: none;
      }
  }
}


// Desktop
@media only screen and (min-width: 768px) {
  .js {
    @import "_responsiveHeaderNavigationStyles.scss";
  }
}


