@import "_variables.scss";

.js {
  //Canvas
  .canvas {
    background:{
      color:$green;
    }
    margin-bottom: 1.25em;
    padding: 1.25em;
    position: relative;
    box-sizing: border-box;

    .layer-one {
      box-sizing: border-box;
      @include font-family-set-a();
      font:{
        size: 1.5em;
        weight: bold;
      }
      color: $white;
      border: 1px solid $blue-a;
      background:{
        color:$blue-a;
      }
      display: inline-block;
      width: inherit;
      @include rotate(3deg);
      padding:8px;

    }
    .layer-two{
      box-sizing: border-box;
      @include font-family-set-a();
      font:{
        size: 1.5em;
        weight: bold;
      }
      background:{
        color:$white;
      }
      display: inline-block;
      width: inherit;
      @include rotate(3deg);
      margin: 5px 0 0 -3px;
      padding:8px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .js {
    //Canvas
    .canvas {
      .layer-one {
        font:{
          size: 2.5em;
        }
      }
      .layer-two{
        @include font-family-set-a();
        font:{
          size: 2.5em;
        }
        background:{
          color:$white;
        }
        margin: 14px 0 10px -3px;
      }
    }
  }
}