#do-now-list li .icon {
    margin-right: 5px;
}

.divider-container {
    top: 10px;
}

.polaroid a:hover {
    border-color: #CCCCCC #999999 #999999 #CCCCCC;
    border-style: solid;
    border-width: 1px;
    margin: -1px;
}

#polaroidOverlay {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #CCCCCC #666666 #666666 #CCCCCC;
    border-style: solid;
    border-width: 2px;
    padding: 8px;
}

#polaroidOverlay a,
#polaroidOverlay a:hover {
    margin: 0;
    border: none;
}

.divider-container {
    background: #FFFFFF;
    height: 35px;
    position: relative;
    z-index: 500;
    margin-bottom: -35px;
    display: block;
    width: 710px;
    right: 15px;
    top: 110px;
}
