/*IE7 Specific Fixes*/

#tab-1 {
    top: 77px;
}

#tab-2, #tab-3 {
    top: 112px;
}

.divider-container {
    top: 0;
}

#tab-pwn-handle {
    top: 65px;
}

#tab-plus-handle {
    top: 95px;
}

#tab-premium-handle {
    top: 95px;
}

.compare-button-container {
    right: 0px;
}

.compare-button-container button {
    padding: 0;
    margin: 0;
}

#header-hint-content {
    margin-top: 6px
}

#features-list {
    margin-top: 30px;
}

#right-menu-container {
    display: block;
    height: 340px;
}

#right-menu-container li {
    height: 30px;
}

.tooltip {
    background: #FFFFFF
}

.submenu-premium-container {
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 3px;
}

.submenu-premium-container {
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 3px;
}

.premium-content-footer {
    padding-top: 10px;
}

.landingpage-tab-1 {
    top: 114px;
}

#element2 {
    min-height: 550px;
    position: relative;
    border: 1px solid #fff;
}

#right-sidebar {
    padding: 0;
    margin: 0;
}

#tabs-grid {
    padding: 0;
    margin: 0;
}

#btn-generate {
    width: 120px;
}

/*myPWN Javascript Error Boxes*/
.nice-error-box {
    behavior: none;
}

.nice-error-box span {
    behavior: none;
}

/*Request Wallet Card Table*/
#frmwalletcard table {
    behavior: none;
    clear: left;
}

/*Home Page Promotion*/
.mypwn_promotional {
    float: right;
    width: 200px;
}

/*Home Page Grid*/
.mypwn-premium-home-grid ul li a div.image {
    margin-left: 0;
}

.mypwn-powwownow-home-grid ul li a div.image {
    margin-left: 0;
}

.mypwn-plus-home-grid ul li a div.image {
    margin-left: 0;
}

/*Schedule A Call*/
.button-green-schedule, .button-green-schedule:hover {
    /*border-bottom: 0;*/
}

.button-green-schedule a, .button-green-schedule a:link, .button-green-schedule a:visited, .button-green-schedule a:active, .button-green-schedule a:hover {
    border-bottom: 0;
    text-decoration: none;
}

.schedulelink, a.schedulelink, a.schedulelink:link, a.schedulelink:visited, a.schedulelink:active, a.schedulelink:hover {
    border-bottom: 0;
    text-decoration: none;
}

/*Main MyPWN Footer Divs*/
div.mypwn_footer_main {
    width: 95%;
    height: 80px;
    margin-top: 20px;
    padding-top: 20px;
}

#web-conferencing-get-started-form .nice-error-box {
    z-index: 1500
}

/*Call History*/
/*table.tblcallhistory1, table.tblcallhistory2, table.tblcallhistory3 {
    behaviour: none;
    clear:left;
}*/

#new_user_options div.grid_sub_12 {
    display: block;
    float: none !important;
}

/*sf*/

.container_24 .grid_6 {
    width: 23%;
}

#tab-1 {
    top: 77px;
}

#tab-2, #tab-3 {
    top: 112px;
}

.divider-container {
    top: 0;
}

#tab-pwn-handle {
    top: 65px;
}

#tab-plus-handle {
    top: 95px;
}

#tab-premium-handle {
    top: 95px;
}

.compare-button-container {
    right: 0px;
}

.compare-button-container button {
    padding: 0;
    margin: 0;
}

#header-hint-content {
    margin-top: 6px
}

#features-list {
    margin-top: 30px;
}

#right-menu-container {
    display: block;
    height: 340px;
}

#right-menu-container li {
    height: 30px;
}

.tooltip {
    background: #FFFFFF
}

.submenu-premium-container {
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 3px;
}

.submenu-premium-container {
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 3px;
}

.premium-content-footer {
    padding-top: 10px;
}

.landingpage-tab-1 {
    top: 114px;
}

#element2 {
    min-height: 550px;
    position: relative;
    border: 1px solid #fff;
}

#right-sidebar {
    padding: 0;
    margin: 0;
}

#tabs-grid {
    padding: 0;
    margin: 0;
}

#btn-generate {
    width: 120px;
}

/*myPWN Javascript Error Boxes*/
.nice-error-box {
    behavior: none;
}

.nice-error-box span {
    behavior: none;
}

/*Request Wallet Card Table*/
#frmwalletcard table {
    behavior: none;
    clear: left;
}

/*Home Page Promotion*/
.mypwn_promotional {
    float: right;
    width: 200px;
}

/*Home Page Grid*/
.mypwn-premium-home-grid ul li a div.image {
    margin-left: 0;
}

.mypwn-powwownow-home-grid ul li a div.image {
    margin-left: 0;
}

.mypwn-plus-home-grid ul li a div.image {
    margin-left: 0;
}

/*Schedule A Call*/
.button-green-schedule, .button-green-schedule:hover {
    /*border-bottom: 0;*/
}

.button-green-schedule a, .button-green-schedule a:link, .button-green-schedule a:visited, .button-green-schedule a:active, .button-green-schedule a:hover {
    border-bottom: 0;
    text-decoration: none;
}

.schedulelink, a.schedulelink, a.schedulelink:link, a.schedulelink:visited, a.schedulelink:active, a.schedulelink:hover {
    border-bottom: 0;
    text-decoration: none;
}

/*Main MyPWN Footer Divs*/
div.mypwn_footer_main {
    /*width:95%;*/
    /*height:80px;*/
    /*margin-top:20px;*/
    /*padding-top:20px;*/
}

#web-conferencing-get-started-form .nice-error-box {
    z-index: 1500
}

/*Call History*/
/*table.tblcallhistory1, table.tblcallhistory2, table.tblcallhistory3 {
    behaviour: none;
    clear:left;
}*/

#new_user_options div.grid_sub_12 {
    display: block;
    float: none !important;
}

.ie7 .home .column2 {
    width: 45%;
}

.ie7 .nice-error-box {
    z-index: 9999 !important;
}

/*Right Menu*/
#right-sidebar {
    min-height: 230px;
    padding-bottom: 100px;
}

#frm-callhistory div.form-field {
    float: left !important;
}

/*Meeting Cost Calculator*/
.meeting-calculator .meeting-calculator-form input.annual-wage-input,
.meeting-calculator .meeting-calculator-form button.add-colleague,
.meeting-calculator .meeting-calculator-form button.calculate-savings-btn {
    position: relative;
}

/*Select Products*/
.products table#products tr.bundle td.product-action button.button-green,
.products table#products tr.bundle div.buttons button.button-green,
.products table#products tr.bundle div.buttons button.button-orange {
    position: relative;
}

#products th {
    padding-left: 10px;
}