/*IE8 Specific Fixes*/

#do-now-list li .icon {
    margin-right: 5px;
}

.divider-container {
    top: 10px;
}

.polaroid a:hover {
    border-color: #CCCCCC #999999 #999999 #CCCCCC;
    border-style: solid;
    border-width: 1px;
    margin: -1px;
}

#polaroidOverlay {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #CCCCCC #666666 #666666 #CCCCCC;
    border-style: solid;
    border-width: 2px;
    padding: 8px;
}

#polaroidOverlay a,
#polaroidOverlay a:hover {
    margin: 0;
    border: none;
}

.divider-container {
    background: #FFFFFF;
    height: 35px;
    position: relative;
    z-index: 500;
    margin-bottom: -35px;
    display: block;
    width: 710px;
    right: 15px;
    top: 110px;

}

.divider-container {
    background: #FFFFFF;
    height: 35px;
    position: relative;
    z-index: 500;
    margin-bottom: -35px;
    display: block;
    width: 710px;
    right: 15px;
    top: 110px;
}

#right-sidebar {
    min-height: 230px;
}

/*Meeting Cost Calculator*/
.meeting-calculator .meeting-calculator-form input.annual-wage-input,
.meeting-calculator .meeting-calculator-form button.add-colleague,
.meeting-calculator .meeting-calculator-form button.calculate-savings-btn,
.meeting-calculator .meeting-calculator-slider .ui-slider-range {
    position: relative;
}

/*Select Products*/
.products table#products tr.bundle td.product-action button.button-green,
.products table#products tr.bundle div.buttons button.button-green,
.products table#products tr.bundle div.buttons button.button-orange {
    position: relative;
}

#products th {
    padding-left: 10px;
}

.product-image,
tr:hover .product-image {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(enabled=false)";
}
