table,
button {
    behavior: url('/shared/PIE-2/PIE.htc') !important;
}

/*Tables*/
table.mypwn thead tr th.first-child,
table.mypwn thead tr th.last-child,
table.mypwn tbody tr td.first-child,
table.mypwn tbody tr td.last-child,
table.mypwn tbody tr.first-child,
table.mypwn tfoot tr th.first-child,
table.mypwn tfoot tr th.last-child,
table#pinproducts th.fixed-column,
div.DTFC_LeftHeadWrapper table th.fixed-column,
table#tblPINs th.checkboxcol,
table#tblUsers th.checkboxcol,
table#tblUsers th.checkboxcol,
table#tblCallSettings th.checkboxcol,
table#products th.first-child,
table#products th.first-child-last-row,
table#products th.last-child,
table#products th.last-child-last-row,
table#products td.first-child,
table#products td.first-child-last-row,
table#products td.last-child,
table#products td.last-child-last-row,
table#products tr.last-row,
table#products td.last-row,
table#products-feature th:first-child,
table#products-feature th.last-child {
    behavior: url('/shared/PIE-2/PIE.htc') !important;
}

/*International Number Rates*/
table#tableInternationalNumberRates thead th.sorting {
    behavior: url('/shared/PIE-2/PIE.htc') !important;
}

/*Data Tables*/
.paging_full_numbers span.paginate_button,
.paging_full_numbers span.paginate_active {
    behavior: url('/shared/PIE-2/PIE.htc') !important;
}

/*Tables Does not work due to tr:usage,th:usage*/
table.product-numbers tr:last-child td,
table.product-pricing tr:last-child td,
table#tblcontactdialinnumbers th:first-child,
table#tblCallHistory th:first-child {
    behavior: url('/shared/PIE-2/PIE.htc') !important;
}

/*Homepage Choice Of Plan*/
span.rnd-crn,
.choice-of-plan tfoot td.col-2,
.choice-of-plan tfoot td.col-4,
.choice-of-plan tfoot td.col-6,
.choice-of-plan .col-1 span,
.choice-of-plan .col-1 td,
.additional-features .row-last td.col-2,
.additional-features .row-last td.col-4,
.additional-features .row-last td.col-6,
.additional-features .row-first td.col-2,
.additional-features .row-first td.col-4,
.additional-features .row-first td.col-6 {
    behavior: url('/shared/PIE-2/PIE.htc') !important;
}

/*Blocks and Containers*/
#tabs-container,
#landingpage-tabs-container,
#footer-bar,
.register_box,
.with-pwn-box,
.green-rounded-box,
.how-it-works-box,
.sf-green-box,
.grey-block,
.white-block,
.bubble-gray,
.promotional-rotator-grey-gradient-container,
.promotional-rotator-grey-gradient-container .social-media,
.contact-us-container,
.delete-pin-container,
.unsubscribe-container,
.tell-a-friend-container,
.form-forgot-password-container,
.form-reset-password-container,
.form-forgotten-password-container,
.what-you-get {
    behavior: url('/shared/PIE-2/PIE.htc') !important;
}

/*Buttons and Icons*/
.icon,
form#log-in-small span.icon,
.button-orange,
.button-orange:hover,
.button-green,
.button-green:hover,
.button-disabled,
.button-disabled:hover,
.bundle-teaser-buy-button button,
div.ui-dialog-buttonset button,
.cx_button {
    behavior: url('/shared/PIE-2/PIE.htc') !important;
}

/*Navigation*/
#top-menu-container,
.top-submenu,
.top-menu-container,
.submenu-premium-container {
    behavior: url('/shared/PIE-2/PIE.htc') !important;
}

/*Tooltips*/
.tooltip,
#tooltip-callminutebundle,
#tooltip-showtime-in-action,
#tooltip-international-dial-in-numbers,
#tooltip-in-conference-controls,
#tooltip-pin-reminder,
#tooltip-mobile-app,
#tooltip-schedule-call,
#tooltip-showtime-in-action,
.tooltip-grey-left,
#pwn-tooltip {
    behavior: url('/shared/PIE-2/PIE.htc') !important;
}

/*Forms*/
#asmadasdasdas,
.fullRegistration_question_one,
.fullRegistration_question_two_b,
form#frm-call-settings,
.mypwn-input-container,
.mypwn-input-container-focused,
div.message,
div.info-message,
.nice-error-box,
.nice-error-box span,
.error-box,
div.contactus-form,
form.pwnform {
    behavior: url('/shared/PIE-2/PIE.htc') !important;
}

/*Lists*/
ul#products-nav,
ul#products-nav li:first-child,
ul#products-nav li.last-child,
ul.radio_list,
.circles li,
ul#key-guide li {
    behavior: url('/shared/PIE-2/PIE.htc') !important;
}

/*Sliders*/
#sliders,
#conferenceSlider,
#minuteSlider,
#peopleSlider,
.slider-introduction-content,
.slider-no-bundle-content,
.slider-no-bundle-main {
    behavior: url('/shared/PIE-2/PIE.htc') !important;
}

/*Jquery UI*/
.ui-corner-all {
    behavior: url('/shared/PIE-2/PIE.htc') !important;
}

/*Shapes*/
.circle_green,
.circle_red,
.circle_amber,
.png,
.circle-border
.divider-top-green,
.divider-bottom-green,
.news-article-image,
.jcarousel-control-prev,
.jcarousel-control-next {
    behavior: url('/shared/PIE-2/PIE.htc') !important;
}

/*Plus Basket*/
.auto-recharge-box,
.bwm-script,
#bskt-prds .basket-contents h4,
#basket-products th.product-action,
#basket-products th.last-charge-column {
    behavior: url('/shared/PIE-2/PIE.htc') !important;
}

/*Meeting Cost Calculator*/
.meeting-calculator-first-layout,
.meeting-calculator-second-layout,
.meeting-calculator .grid_4.meeting-calculator-progress div.meeting-calculator-progress-div,
.meeting-calculator .grid_4.meeting-calculator-progress div.meeting-calculator-progress-div:before,
.meeting-calculator .grid_4.meeting-calculator-progress div.meeting-calculator-progress-div small,
.meeting-calculator .meeting-calculator-form,
.meeting-calculator .meeting-calculator-form input[type="text"],
.meeting-calculator .meeting-calculator-form button,
.meeting-calculator .meeting-calculator-second-layout .generate-pin-btn,
.meeting-calculator .meeting-calculator-second-layout .meeting-calculator-results,
.meeting-calculator .ui-widget-content,
.meeting-calculator .meeting-calculator-slider .ui-slider-range {
    behavior: url('/shared/PIE-2/PIE.htc') !important;
}

.meeting-calculator .ui-widget-content,
.meeting-calculator .ui-slider-range {
    -pie-lazy-init:true;
}

/*Misc*/
#splash-generate-pin button,
.plus-reg-info,
.blue-bubble-contactus,
.bundle_teaser,
div#PopupDialog,
.texty-page-content-box,
.breadcrumb-landing-page {
    behavior: url('/shared/PIE-2/PIE.htc') !important;
}

/* iMeet */
#imeet #video_cont,
#imeet #on_the_go,
#imeet #share_url,
#imeet #contact_us,
#imeet .did_you_know {
    behavior: url('/shared/PIE-2/PIE.htc') !important;
}

