/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/

/* css3pie hack for ie8 */
.ie form.h5form button, .ie form.h5form input[type=button] {
   position: relative;
}
@font-face {
    font-family: 'RockwellStdRegular';
    src: url('../shared/fonts/rockwellstd-webfont.eot');
    src: url('../shared/fonts/rockwellstd-webfont.eot?#iefix') format('embedded-opentype'),
    url('../shared/fonts/rockwellstd-webfont.woff') format('woff'),
    url('../shared/fonts/rockwellstd-webfont.ttf') format('truetype'),
    url('../shared/fonts/rockwellstd-webfont.svg#RockwellStdRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}

body {
    background: #ffffff;
    color: #515151;
    font-size: 11px;
    font-family: Verdana;
}

.floatright {float: right;}
.floatleft {float: left;}
.justified {text-align: justify}
.margin-top-5 {margin-top: 5px}
.margin-top-10 {margin-top: 10px}
.margin-top-20 {margin-top: 20px; position: relative;}
.margin-bottom-10 {margin-bottom: 10px}
.margin-left-20 {margin-left: 20px}
.padding-bottom-10 {padding-bottom: 10px;}
.padding-bottom-20 {padding-bottom: 20px;}
.va-middle {vertical-align: middle;}

/* -----------------------------------*/
/* ----------->>> Tables <<<----------*/
/* -----------------------------------*/

table {
    width: 100%;
    background-color: #a6cf5a;
    margin: 10px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

td {padding: 7px 10px; border-right: 1px solid #fff; vertical-align: middle; font-size:12px; }
table th { font-weight: normal; color: #fff; text-align: left; text-transform: uppercase; padding: 8px 10px; font-size: 14px; border-right: 1px solid #fff;}
td:last-child, th:last-child {border: none;}
tr.odd td {background-color: #f6fbee}
tr.even td {background-color: #ebf4db}
tr.table-bottom td {
    border: none;
}

.compare-features-col {text-align:left; width: 55%; }
.compare-pwn-col {text-align:center; width: 15%; }
.compare-plus-col {text-align:center; width: 15%; }
.compare-premium-col {text-align:center; width: 15%; }
.number-rates-country-col {text-align:left; width: 25%; }
.number-rates-number-col {text-align:center; width: 25%; }
.number-rates-language-col {text-align:center; width: 25%; }
.number-rates-cost-col {text-align:center; width: 25%; }

/* -----------------------------------*/
/* --------->>> Headings <<<----------*/
/* -----------------------------------*/
h1 {
    font-size: 24px;
    line-height: 24px;
    color:#7b9eae;
    margin: 5px 0 0 15px;
}

h1.tab_page_heading, h1.tab-h1, #tabs-grid h1 {
    margin-left:15px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.sub_page_heading_container {
    float: right;
    width: 730px;
    margin-top:28px;
}

.sub_page_heading_container_one_column {
    float: left;
}

h1.sub_page_heading_s {
    background: url('../sfimages/headings/heading-1.png') no-repeat;
    width: 147px;
    white-space: nowrap;
    padding: 17px 0 0 0;
    height: 60px;
    color: white;
    text-align: center;
    margin: 0;
}

h1.sub_page_heading_m {
    background: url('../sfimages/headings/heading-2.png') no-repeat;
    width: 197px;
    white-space: nowrap;
    padding: 17px 0 0 0;
    height: 60px;
    color: white;
    text-align: center;
    margin: 0;
}

h1.sub_page_heading_l {
    background: url('../sfimages/headings/heading-3.png') no-repeat;
    width: 320px;
    white-space: nowrap;
    padding: 17px 0 0 0;
    height: 60px;
    color: white;
    text-align: center;
    margin: 0;
}

h1.sub_page_heading_xl {
    background: url('../sfimages/headings/heading-4.png') no-repeat;
    width: 397px;
    white-space: nowrap;
    padding: 17px 0 0 0;
    height: 60px;
    color: white;
    text-align: center;
    margin: 0;
}

h1.sub_page_heading_xxl {
    background: url('../sfimages/headings/heading-5.png') no-repeat;
    width: 450px;
    white-space: nowrap;
    padding: 17px 0 0 0;
    height: 60px;
    color: white;
    text-align: center;
    margin: 0;
}

h2 {
    font-size:24px;
    line-height: 24px;
    margin:5px 0;
}

h3 {
    font-size:18px;
    line-height: 18px;
    margin:5px 0;
}

h4 {
    font-size: 11px;
    line-height: 11px;
    margin:5px 0;
}

h5 {
    font-weight: bold;
    font-family: Verdana;
    font-size: 9px;
    line-height: 9px;
    margin:5px 0;
    color: #78a632;
}

.subheading {margin: 0 0 0 15px;}
.subheading2 {margin: 0 0 35px 0;}
.subheading3 {margin: 0 0 8px 0;}
#tab-premium .subheading2 {margin: 0 0 15px 0; font-size: 14px}

p {
    padding:8px 0;
}

/* -----------------------------------*/
/* _------->>> Text Styles <<<--------*/
/* -----------------------------------*/

a, a:link, a:visited, a:active {
    color: #96C84B;
    text-decoration: none;
    border-bottom: 1px dotted;
}

a.pp_close, a.pp_close:hover, .polaroid a, .polaroid a:hover {
    border-bottom: none;
}

a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
}

a.dashed, a.dashed:link, a.dashed:visited, a.dashed:active, a.dashed:hover {
    text-decoration: none;
    border-bottom: 1px dashed;
    line-height:15px;
    display: inline-block;
}

a.grey, a.grey:link, a.grey:visited, a.grey:active{
    color:#515151;
    line-height:12px;
}

a.white, a.white:link, a.white:visited, a.white:active, a.white:hover{
    color:#FFF;
    line-height:12px;
}

a.darkgreen, a.darkgreen:link, a.darkgreen:visited, a.darkgreen:active{
    color:#668a2e;
    line-height:12px;
}

a.lightgreen, a.lightgreen:link, a.lightgreen:visited, a.lightgreen:active{
    color:#96C84B;
    line-height:12px;
}

.font-small {font-size: 9px}
.font-medium {font-size: 12px !important;}
.font-big {font-size: 14px}
.font-bigger {font-size: 16px}
.font-large {font-size: 18px}

/* Apply this to block elements (not hr) to create an hr style element*/
.hr-spotted-top {
    background: transparent url('../sfimages/hr-spotted.png') repeat-x top;
    padding-top:15px;
}
/* Apply this to block elements (not hr) to create an hr style element*/
.hr-white-top {
    clear: both;
    background: transparent url('../sfimages/hr-white.png') repeat-x center top;
    padding:20px;
    display: block;
}

a.image-container {border:0;}

/* -----------------------------------*/
/* ---------->>> Lists <<<-----------*/
/* -----------------------------------*/

/* Reset CSS resets list styling, so add it back in */
/*ol {lower-roman}*/
/*ul {list-style: disc;}*/
/*ol li, ul li {margin-left:25px;}*/


/** If you want your lists to have no bullet points or magins, then apply this class to the list **/
.no-bullets-list {list-style: none;}
.no-bullets-list li {margin-left: 0;}

ul.list-fading {list-style: none;}
ul.list-fading li {margin-left:0px;}

ul.bullet {list-style-type: disc; list-style-position:inside;}
ol.lower-alpha {list-style-type: lower-alpha; list-style-position:inside;}
ol.lower-roman {list-style-type: lower-roman; list-style-position:inside;}
ol.decimal {list-style-type: decimal; list-style-position:inside;}
ol.lower-alpha li, ol.lower-roman li, ol.decimal li {margin-bottom: 10px;}
ol.lower-alpha, ol.lower-roman, ol.decimal {margin-bottom: 20px;}
ol.nested ol li {margin-left: 20px;}
ol.nested ol li ol li{margin-left: 40px; margin-top: 10px;}

.information-links {list-style: none;}
.information-links li {margin-left: 0px; height: 26px;}
.information-links > li > span.icon {float: left}
.information-links > li span+div {margin-left: 36px}
.information-links > li > div > a {margin-left: 0}

ol {list-style-type: decimal;}

.chevron, .chevron-green {list-style: none;}

.chevron li p:first-child {padding-top: 0px;}

.chevron li a, .chevron li a:link, .chevron li a:visited, .chevron li a:hover {color: #FFFFFF}

.chevron li {
    background: url('../sfimages/chevron-white.png') no-repeat;
    min-height: 18px;
    padding: 0 0 10px 20px;
    margin-left:0;
}

.chevron-green li {
    background: url('../sfimages/chevron-green.png') no-repeat;
    min-height: 18px;
    padding: 1px 0 0 20px;
    margin-bottom: 7px;
    display: block;
    margin-left:0;
}

.chevron-green dt {
    background: url('../sfimages/chevron-green.png') no-repeat;
    min-height: 18px;
    padding: 1px 0 0 20px;
    display: block;
    margin-left:0;
    font-weight:bold;
}

.chevron-green dd{
    padding: 1px 0 0 20px;
    margin-left:0px;
    margin-bottom: 18px;
}

#features-list  {
    list-style: none;
}

#features-list li {
    background: url('../sfimages/chevron-white.png') no-repeat;
    height: 18px;
    font-size: 12px;
    padding: 1px 0 0 20px;
    margin-bottom: 10px;
    width: 320px;
    float: left;
    margin-left:0;
}

#features-list li p {
    padding: 0;
}

#features-list li.png p {
    line-height: 1;
}

#features-list li.png {
    padding: 1px 0 3px 20px;
}

#do-now-list {
    height:110px;
    position:relative;
    list-style: none;
}

#do-now-list li {
    height: 18px;
    font-size: 12px;
    padding: 1px 0 0 5px;
    margin-bottom: 20px;
    width: 210px;
    float: left;
    white-space: nowrap;
    margin-left:0;
}

#do-now-list li .icon {
    margin-right:10px;
    top:8px;
    position:relative;
}

.circles { margin:100px 10px 0 10px; list-style-type:none;}

.circles li {
    border: 1px solid #8b8b8b;
    width: 10px;
    height: 10px;
    display: block;
    margin-bottom: 7px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left:0px;
}

.circles a {
    display: block;
    width: 10px;
    height: 10px;
}

.circles a:hover, ul.circles  li.filled {background: #8b8b8b;}

.site-map-list h4 {margin:0px;}
.site-map-list ul {margin-top:10px;}
.site-map-list {list-style: none;}
.site-map-list li {margin-left: 0;}

/* -----------------------------------*/
/* ---------->>> Header <<<-----------*/
/* -----------------------------------*/
#header-hint {
    position: absolute;
    width: 190px;
    height: 75px;
    right: 0;
    top: -60px;
    background: url('../sfimages/headings/header-hint.png') no-repeat;
    z-index: 100;
    padding: 85px 20px 0 20px;
}

.hint-heading {display: block; margin-bottom: 5px}
#header-hint-content .icon {margin-right: 10px;}

.flag-aut img, .flag-AUT img {margin-left:-200px;}
.flag-bel img, .flag-BET img {margin-left: -225px;}
.flag-can img, .flag-CAN img {margin-left: -250px;}
.flag-che img, .flag-CHE img {margin-left: -150px;}
.flag-deu img, .flag-DEU img {margin-left: -300px;}
.flag-fra img, .flag-FRA img {margin-left: -275px;}
.flag-esp img, .flag-ESP img {margin-left: -100px;}
.flag-irl img, .flag-IRL img {margin-left: -325px;}
.flag-ita img, .flag-ITA img {margin-left: -350px;}
.flag-nld img, .flag-NLD img {margin-left: -25px;}
.flag-swe img, .flag-SWE img {margin-left: -125px;}
.flag-pol img, .flag-POL img {margin-left: -50px;}
.flag-usa img, .flag-USA img {margin-left: -175px;}
.flag-zaf img, .flag-ZAF img {margin-left: -75px;}
.flag-logo-all-conference-calls img {margin-left:-472px;}
.flag-logo-easytz img {margin-left: -438px;}
.flag-logo-yuuguu img {margin-left:-408px;}
.flag-logo-non-sprite img {margin-left:0;}
.flag-logo-all-conference-calls, .flag-logo-easytz, .flag-logo-yuuguu {width:28px !important;}

li .sprite-flag {
    float: left;
    margin-right: 5px;
}

li .flag-label {
    display: inline-block;
    margin-bottom: 5px;
    float: left;
    margin-top: 6px;
}

a.sprite-flag {border-bottom:none;}

/* -----------------------------------*/
/* -------->>> Navigation <<<---------*/
/* -----------------------------------*/
#top-menu-container {
    background: #a19fa0;
    color: #FFFFFF;
    z-index:500;
    position: relative;
    font-size: 14px;
    padding: 12px 0 12px 0;
    margin: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#top-menu-container.powwownow {background-color:#A6CF5A;}
#top-menu-container.plus      {background-color:#7EA2B4;}
#top-menu-container.premium   {background-color:#465C63;}
.top-menu {
    margin: 0;
    list-style-type: none;
    padding-left: 15px;
}
.top-menu li {
    margin-left:0;
    padding: 0 10px;
    float: left;
    border-left: 1px solid #FFF;
    cursor: pointer;
}
.top-menu li > div {
    position: relative;
}

.top-menu a,
.top-menu a:link,
.top-menu a:visited,
.top-menu a:active {
    color:#FFF;
    text-decoration: none;
    border-bottom: none;
}
#top-menu2 {
    color: #FFF;
    float: right;
}

.top-menu a.white {
    text-decoration: none;
    border-bottom: none;
}

/**
* Positioning fixes
**/
.menu_item_products .top-submenu-container,
.menu_my_users .top-submenu-container {
    left: -25px;
}
.top-submenu-container {
    position: absolute;
    margin-top: 0;
    padding-top: 30px;
    top: -5px;
    left: 0;
    width: 200px;
    z-index: 400;
    background: url('../sfimages/corner-top-grey.png') no-repeat 30px 18px;
    display: none;
}
.top-submenu {
    background: #a19fa0;
    overflow: hidden;
    position: relative;
    padding: 0 5px 0 5px;
    -pie-lazy-init:false;
    -pie-poll:true;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.top-submenu li:first-child {padding-top: 15px;}
.top-submenu li:last-child {padding-bottom: 10px;}
.top-submenu li {
    border: none;
    display: block;
    padding-bottom: 5px;
    white-space: nowrap;
    width: 100px;
}
.top-submenu a {
    font-size: 12px;
    display: inline-block;
    white-space: nowrap;
    padding-bottom:5px;
}
.top-submenu-corner {
    position: absolute;
    z-index: 500;
    top: 50px;
    display: block;
}
.top-menu > li:first-child {border-left: none; padding-left: 0;}
.top-menu li:last-child {padding-right: 0}
.top-menu a {color: #FFF; text-decoration: none; border-bottom: none;}
.top-menu a:hover {
    color: #B7EB68
}
.top-menu a.noHover:hover {
    color: #fff;
}

.submenu-premium-container {
    margin: 0 0 20px 0;
    background: #273438;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.submenu-premium-container li {
    padding: 0 10px;
    border-left: 1px solid #FFF;
    cursor: pointer;
}
.submenu-premium-container li a {
    text-decoration:none;
    font-size: 14px;
}
.submenu-premium-container a ,
.submenu-premium-container a:link,
.submenu-premium-container a:visited,
.submenu-premium-container a:active{
    color:#FFF;
    line-height:12px;
    text-decoration: none;
    border-bottom: none;
}
.submenu-premium-container a:hover {color:#bee17d;}
.submenu-premium-container a.selected {
    color:#96C84B !important;
}
.submenu-premium {list-style: none;}
.submenu-premium li {margin-left:0px;}
.submenu-premium li:first-child { border-left: 0px; }
.submenu-premium li:last-child { border-left: 0px; }
.premium-title {margin-left:2px;margin-bottom:4px;}
.premium-sub-title {margin:10px 10px 10px 10px;}
.premium-one-col-container {
    margin:0 10px 20px 10px;
    height:360px;
}
.premium-two-col-left-container {
    margin:0 10px;
    width: 30% !important;
    height:360px;
}
.premium-two-col-right-container {
    margin:0 20px;
    width: 735px;
    height:380px;
    overflow: hidden;
}
.texty-page-menu {
    margin:180px 0 0 5px;
    width: 200px;
}
.texty-page-menu li {
    min-height: 18px;
    padding: 0 0 0 20px;
    margin: 0 0 10px;
    line-height: 110%;
}
.texty-page-menu li.active {
    font-weight:bold;
    background: url('../sfimages/chevron-green.png') no-repeat;
}
.texty-page-menu a{
    text-decoration:none;
    border-bottom: none;
}
.texty-page-menu a:hover {
    color: #96C84B;
}

/* -----------------------------------*/
/* ---------->>> Tabs <<<-------------*/
/* -----------------------------------*/

#tabs-grid {position: relative; z-index: 400;}


/* some properties are overriden inline on landing-page.php */
#tabs-container {
    background: #a6cf5a;
    height: 370px;
    width:710px;
    margin: 107px 0 15px 0;
    position: relative;
    z-index: 400;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#landingpage-tabs-container {
    background: #a6cf5a;
    margin: 70px 0 15px 0;
    width: 710px;
    position: absolute;
    top: 160px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#tab-pwn, #tab-web-conferencing-showtime {
    padding: 15px 0 0 15px;
    display:block;
}

#tab-pwn-pin-registered {
    display: none;
    padding: 15px 0 0 15px;
    position: relative;
}

.pwn-registration-option, .pwn-walletcard-option {
    display: none;
    padding: 15px 0 0 15px;
    position: relative;
}

#tab-plus, #tab-plus-register, #tab-premium, #tab-web-conferencing-demo, #tab-web-conferencing-get-started,
#tab-web-conferencing-download, #web-conferencing-download-showtime-form-response-placeholder{
    padding: 15px 15px 0 15px;
    display:none;
    position: relative;
}

.homepage-tab-1,
.homepage-tab-2,
.homepage-tab-3 {
    z-index: 300;
}
.homepage-tab-1 {
    top: 70px;
    left: 10px;
}

.homepage-tab-2 {
    top: 109px;
    left: 160px;
}

.homepage-tab-3 {
    top: 109px;

    left: 310px;
}

.landingpage-tab-1 {
    left: 10px;
    top: 138px !important;
}

.tab-1-green {background: url('../sfimages/sprites/sprite-tabs.png') no-repeat 0 0 !important;}

.tab-2-green {background: url('../sfimages/sprites/sprite-tabs.png') -876px 0 !important;}

.tab-3-green {background: url('../sfimages/sprites/sprite-tabs.png') -1022px 0 !important;}

.tab-1-grey {background: url('../sfimages/sprites/sprite-tabs.png') -584px 0 !important;}

.tab-2-grey {background: url('../sfimages/sprites/sprite-tabs.png') -584px 0 !important;}

.tab-3-grey {background: url('../sfimages/sprites/sprite-tabs.png') -730px 0 !important;}

/* These apply to ALL tabs */
#tab-1, #tab-2, #tab-3 {
    position: absolute;
    width: 146px;
    height: 95px;
    background: url('../sfimages/sprites/sprite-tabs.png') no-repeat 0 0;
    cursor: pointer;
}

#tab-1 .active {top: 67px}
#tab-2 { background-position: -146px; }
#tab-3 { background-position: -292px; }

.compare-button-container {
    position: absolute;
    z-index: 500;
    top: -40px;
    right :0;
    height: 25px;
    white-space: nowrap;
}

.compare-button-container  button {
    position: relative;
    display: inline-block;
}

#tab-1 .rockwell, #tab-2 .rockwell, #tab-3 .rockwell, #tab-3 .futura,
#tab-showtime-handle .rockwell,
#tab-demoInactive-handle .rockwell,
#tab-getstartedInactive-handle .rockwell  { padding: 20px 0 0 20px; }
#tab-3 .futura {letter-spacing:6px; text-transform: uppercase}

.futura-upper-spacing {
    letter-spacing:8px; text-transform: uppercase;
}

.tab-shadow {
    background: url('../sfimages/tab-shadow.png') no-repeat;
    width: 146px;
    height: 20px;
    margin-top: 7px;
}

#tab-web-conferencing-get-started-form-response-placeholder {padding-right:20px;}
#tab-web-conferencing-get-started p {padding:2px 0;}

/* -----------------------------------*/
/* -------->>> Right Menu <<<---------*/
/* -----------------------------------*/

/* some properties are overriden inline on landing-page.php */
#right-menu-container {
    padding:17px 0 0 17px;
    position: relative;
}

#right-menu-container p {margin:1px 0 10px 0;}
#right-menu-container .dial-in-number {
    color: #6e91a4;
    font-size: 24px;
    margin-top:3px;
    margin-bottom:16px;
}

#right-menu-container li {padding-bottom:15px; position: relative;}
#right-menu-container a,
#right-menu-container a:link,
#right-menu-container a:visited,
#right-menu-container a:active {
    display: inline-block;
    text-decoration:none;
    border-bottom: 1px dotted;
    position:relative;
}

#right-menu-container a:hover {
    border-bottom: 1px solid;
    color: #515151;
}

#right-menu-container .tooltip a {
    padding-left:0px;
    top:0;
    border-bottom: none;
}

#right-menu-container ul.mobileapp-links, #right-menu-container ul.scheduler-links {
    list-style: none;
    margin-top: 20px;
    display: block;
}

#right-menu-container ul.mobileapp-links li, #right-menu-container ul.scheduler-links li {
    padding-bottom: 5px;
    height:inherit;
}

#right-menu-container ul.mobileapp-links li a, #right-menu-container ul.mobileapp-links li a:visited, #right-menu-container ul.mobileapp-links li a:link, #right-menu-container ul.mobileapp-links li a:active,
#right-menu-container ul.scheduler-links li a, #right-menu-container ul.scheduler-links li a:visited, #right-menu-container ul.scheduler-links li a:link, #right-menu-container ul.scheduler-links li a:active
{
    border-bottom: 1px dotted;
    margin-left: 0px;
    padding-left: 0px;
    position: relative;
    text-decoration: none;
    top: -8px;
}

#right-menu-container ul.mobileapp-links li a:hover, #right-menu-container ul.scheduler-links li a:hover {
    border-bottom: none;
    text-decoration: underline
}

/* -----------------------------------*/
/* ---------->>> Footer <<<-----------*/
/* -----------------------------------*/

#footer-bar {
    font-family:Verdana,Geneva,sans-serif;
    margin-top: 20px;
    color: #ffffff;
    padding: 3px 15px;
    background: #495E69;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    behavior: url('../shared/PIE-1.0.0/PIE.htc');
    font-size:9px;
}

#footer-bar a,
#footer-bar a:link,
#footer-bar a:visited,
#footer-bar a:active{
    color: #ffffff;
    text-decoration:none;
    border-bottom: none;
}

#footer-bar a:hover { color: #BEFA64;}
#footer-bar a.sprite-footer {
    overflow: hidden;
    display:inline-block;
    height:23px;
    margin-left: 20px;
}

a.sprite-footer:hover img {
    margin-top: -23px;
}

#footer-bar p {
    display:inline-block;
}

#footer-bar p.footer-links {
    float:left;
    margin:4px 0;
    font-size: 9px;
    font-family: verdana;
}

#footer-bar .footer-social-media-links {
    margin-left:50px;
    float:left;
    font-size: 9px;
}

.footer-social-media-links span {
    display:inline-block;
    margin-bottom:5px;
    float:left;
    margin-top:4px;
}

#footer-bar p.footer-copyright {
    float:right;
    margin-top:4px;
}

.footer-blog {
    width:31px;
    margin-left:4px;
}
.footer-blog img {margin-left:0;}
.footer-twitter {width:30px;}
.footer-twitter img {margin-left:-31px;}
.footer-facebook {width:10px;}
.footer-facebook img {margin-left:-60px;}
.footer-linkedIn  {width:24px;}
.footer-linkedIn img {margin-left:-75px;}
.footer-youTube {width:46px;}
.footer-youTube  img {margin-left:-100px;}
.footer-googlePlus {width:23px;}
.footer-googlePlus  img {margin-left:-170px;}
.footer-international-links {
    color: #515151;
    line-height:140%;
    margin-top:10px;
    text-align:center;
}

.footer-international-links a,
.footer-international-links a:link,
.footer-international-links a:visited,
.footer-international-links a:active {
    color: #515151;
    text-decoration:none;
    white-space: nowrap;
    font-size: 9px;
}

.footer-international-links a:hover {text-decoration:none;}

/* -----------------------------------*/
/* -->>> Page Structure <<<-----------*/
/* -----------------------------------*/

#left-content-container, #right-content-container {margin: 10px 0;}
#left-content-container {padding-left: 15px;}

#right-sidebar {
    position: relative;
}

#right-content-container {
    height:275px;
}

.social-container {
    height:80px;
}

.left-column {
    position:absolute;
    clear:both;
}

.right-column {
    margin:0 20px 5px 0;
    float: right;
    width: 710px;
}

.one-column {
    clear:both;
    margin: 0 20px 5px 0;
    padding:20px;
    width:99%
}

.one-column-no-margins {
    clear:both;
    margin: 0 20px 5px 0;
    padding:0 20px;
    width:99%
}


.social-container span.icon-blue {
    margin:0 10px 60px;
    display:block;
}

.social-container h6 {
    font-weight:normal;
    position:relative;
    display:block;
    top: -3px;
}

.social-container a {
    margin:5px 0;
    display:inline-block;
}

.premium-content-footer {text-align: center;}
.premium-content-footer b {font-size:24px;}

/* -----------------------------------*/
/* ---->>> Promotional Rotator <<<----*/
/* -----------------------------------*/

/* We need height here so we can stop the promotional fader animations on hover */
#rotating-promotional-container {
    height:275px;
    overflow: hidden;
    z-index: 10;
}

#rotating-promotional-container img {
    margin-right:20px;
}

#rotating-promotional-container button {
    margin-right:10px;
}

#rotating-promotional-list li {
    display: block;
    height: 276px;
    margin: 0 10px 0 0;
    line-height: normal;
}

.promotional-rotator-grey-gradient-container {
    border: 1px solid #cfcfcf;
    padding: 60px 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: #606060 0px 2px 3px;
    background: #fefefe;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fefefe), to(#e8e8e8));
    background: -moz-linear-gradient(#fefefe, #e8e8e8);
    background: -ms-linear-gradient(#fefefe, #e8e8e8);
    background: linear-gradient(#fefefe, #e8e8e8);
    -pie-background: linear-gradient(#fefefe, #e8e8e8);
    width: 410px;
    height: 234px;
    padding: 10px;
    margin: 0;
}

.promotional-rotator-grey-gradient-container .social-media {
    border: 1px solid white;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #fefefe;
    padding:1px 5px;
    clear:both;
    position:absolute;
    top:215px;
    left:42px;
    width:400px;
}

.promotional-rotator-grey-gradient-container .number-of-comments {
    color:#ff7c00;
    display:block;
    float:left;
    width:110px;
}

.promotional-rotator-grey-gradient-container .button-orange {
    float:right;
}

.promotional-rotator-grey-gradient-container .orange-star {
    float:left;
    margin: 0 10px 30px 0;

}
.promotional-rotator-grey-gradient-container h3 {
    color:#febd00;
    margin:0;
}

.promotional-rotator-grey-gradient-container .social-media-photo {
    float:left;
    margin:4px 12px 0 0;
}

.promotional-rotator-grey-gradient-container .main-text {
    font-size:99%;
    padding:0;
}

.promotional-rotator-grey-gradient-container .facebook-liker {
    border:none;
    overflow:hidden;
    width:130px;
    height:21px;
}

.love-hate-content-container {
    clear:both;
}

/* -----------------------------------*/
/* ---------->>> Forms <<<------------*/
/* -----------------------------------*/

.fields {position: relative}

legend {
    font-weight:bold;
    padding:5px 0;
}

input, textarea {font-family: Arial, Arial, Helvetica, sans-serif;}


.contact-us-container, .delete-pin-container, .unsubscribe-container, .tell-a-friend-container, .form-forgot-password-container,
.form-reset-password-container {
    background: #a6cf5a;
    padding:20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.contact-us-container textarea {width:543px; height:100px;}

.contact-us-container label, .delete-pin-container label, .unsubscribe-container label, .tell-a-friend-container label,
.form-forgot-password-container label, .form-reset-password-container label {
    top:8px;
    position:relative;
    color:white;
}

.mypwn-input-container {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #eaeaea;
    background: #FFF;
    color: #7f7f7f;
    display: inline-block;
    /*padding: 2px 5px 3px 5px;*/
    padding: 0 5px 0 5px;
    margin: 5px 5px 5px 0;
    z-index: 700;
    -pie-lazy-init:false;
    -pie-poll:true;
    position: relative;
}

.mypwn-input-container-focused {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #ffb027;
    background: #FFF;
    color: #7f7f7f;
    display: inline-block;
    padding: 0 5px 0 5px;
    margin: 5px 5px 5px 0;
    -pie-lazy-init:false;
    -pie-poll:true;
    position: relative;
}

.mypwn-input {
    border: 0px solid;
}

.input-medium {
    width: 144px;
    font-size:110%;
}

.input-large {
    width: 200px;
    font-size:110%;
}

/*DavC Fix*/
.ie input[type="checkbox"] {
    padding: 0;
}
.ie #agree-tick {
    margin-top: 1px;
}

#agree-tick {
    clear:left;
    float: left;
    margin: 4px 5px 0 0;
}

button {
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    behavior: url('../shared/PIE-1.0.0/PIE.htc');
}

button span, .button a, button a {
    display:inline-block;
    padding: 3px 5px 0px 5px;
    white-space: nowrap;
}

#btn-generate {margin: 4px 0}

.button {
    border: none;
    margin: 6px 0px;
}

.button-stroked {
    border: 2px solid #FFF;
    margin: 5px 0px;
}

.button-orange {
    color: #FFF;
    border: 2px solid #ffffff;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYjAyNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNDhhMDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffb027 0%, #e48a03 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb027), color-stop(100%,#e48a03)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffb027 0%,#e48a03 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffb027 0%,#e48a03 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffb027 0%,#e48a03 100%); /* IE10+ */
    background: linear-gradient(top, #ffb027 0%,#e48a03 100%); /* W3C */
    -pie-background: linear-gradient(#ffb027, #e48a03);
    -pie-lazy-init:false;
    -pie-poll:true;
    behavior: url('../shared/PIE-1.0.0/PIE.htc');
}

.button-orange:hover {
    color: #FFF;
    border: 2px solid #efefef;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0OGEwMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmIwMjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #e48a03 0%, #ffb027 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e48a03), color-stop(100%,#ffb027)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e48a03 0%,#ffb027 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e48a03 0%,#ffb027 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e48a03 0%,#ffb027 100%); /* IE10+ */
    background: linear-gradient(top,  #e48a03 0%,#ffb027 100%); /* W3C */
    -pie-background: linear-gradient(#e48a03, #ffb027);
    behavior: url('../shared/PIE-1.0.0/PIE.htc');
}

.button-green {
    color: #FFF;
    border: 2px solid #ffffff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk2Yzg0YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NjhhMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #96c84b 0%, #668a2e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96c84b), color-stop(100%,#668a2e));
    background: -webkit-linear-gradient(top, #96c84b 0%,#668a2e 100%);
    background: -o-linear-gradient(top, #96c84b 0%,#668a2e 100%);
    background: -ms-linear-gradient(top, #96c84b 0%,#668a2e 100%);
    background: linear-gradient(top, #96c84b 0%,#668a2e 100%);
    -pie-lazy-init:false;
    -pie-poll:true;
    -pie-background: linear-gradient(#96c84b, #668a2e);
}

.button-green:hover {
    color: #FFF;
    border: 2px solid #efefef;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2OGEyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NmM4NGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #668a2e 0%, #96c84b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#668a2e), color-stop(100%,#96c84b));
    background: -webkit-linear-gradient(top,  #668a2e 0%,#96c84b 100%);
    background: -o-linear-gradient(top,  #668a2e 0%,#96c84b 100%);
    background: -ms-linear-gradient(top,  #668a2e 0%,#96c84b 100%);
    background: linear-gradient(top,  #668a2e 0%,#96c84b 100%);
    -pie-background: linear-gradient(#668a2e, #96c84b);
}

.button-green a, .button-green a:link, .button-green a:visited, .button-green a:hover, .button-green a:active {
    color:white;
    text-decoration:none !important;
}

#web-conferencing-get-started-form label {
    position:relative;
    top:8px;
}

#web-conferencing-get-started-form #agree {
    position:relative;
    top:2px;
}

#web-conferencing-download-showtime-form label {
    position:relative;
    top:8px;
}

#web-conferencing-download-showtime-form {
    margin-top:20px;
}

.web-conferencing-download-button {
    margin: 40px 0 10px 0;
}

#frm_account_details_my_details label, #frm_account_details_my_password label,
#form_plus_account_details label {
    display: inline-block;
    width: 110px;
}

#frm_account_details_my_details div.sub_grid_12, #frm_account_details_my_password div.sub_grid_12,
#form_plus_account_details  div.sub_grid_12 {
    position: relative;
}

#frm_account_details_my_details .nice-error-box, #frm_account_details_my_password .nice-error-box {
    right: 0;
}

/* -----------------------------------*/
/* ----->>> Error Messages <<<--------*/
/* -----------------------------------*/

.error-box {
    display: block;
    left: 225px;
    white-space: nowrap;
    position: absolute;
    margin-top:-33px;
    background-color:white;
    padding:5px 15px 0 15px;
    color:black;
    border: 2px red solid;
    z-index: 1500;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid red;
    -pie-lazy-init:false;
    -pie-poll:true;
}

.nice-error-box {
    position: absolute;
    left: 150px;
    top: 3px;
    display: inline-block;
    border: 2px solid #FF0000;
    padding: 4px 10px 4px 8px;
    background-color: #ffffff;
    color: #515151;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: #919191 0px 1px 2px;
    -moz-box-shadow: #919191 0px 1px 2px;
    box-shadow: #919191 0px 2px 2px;
    z-index: 1501;
    -pie-lazy-init:false;
    -pie-poll:true;
}

.nice-error-box-before {
    display:block;
    position:absolute;
    top:12%;
    left:-10px;
    width:10px;
    height:16px;
    z-index: 1501;
}

.ie .nice-error-box-before {top: 12% }

.nice-error-box span {
    position: absolute;
    background: #666666;
    color: #ffffff;
    right: -7px;
    top: -7px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    line-height: 12px;
    z-index: 1501;
}

#reset_email-error-box {
    left:260px;
}

#web-conferencing-download-showtime-form .error-box { left: 170px}
#web-conferencing-get-started-form .error-box {
    left: 165px;
}

.error-pointer {
    position:relative;
    left:-41px;
    margin-right: -40px;
    width: 27px;
    height:20px;
    display:block;
    float:left;
    z-index:1600;
    background:url('../sfimages/error-arrow-left.png') no-repeat left -2px;
}

/**
 * Error Box Messages - Fine tune the layout of the error boxes here.
 * The JS function showInputErrorsBoxes() puts ids on the error box and pointer
 * with with values of "input name"-error-box and "input name"-error-pointer
 */

#agree_tick-error-box {
    margin-top:-7px;
    left:340px;
}

#form-generate-pin #agree_tick-error-box {
    top: 35px; left: 150px;
}

#form-pin-reminder #email-error-box {
    margin-top: 0px;
}

#email_address-error-box {left:205px;}

#web-conferencing-get-started-form #agree-error-box {
    left:370px;
}

#web-conferencing-get-started-form #how_heard-error-box {
    margin-top:-7px;
    left:150px;
}

#form-tell-a-friend .error-box {left:215px;}

#email-error-box {
    margin-top:0;
}

#form-create-log-in #email-error-box {margin-top:0;}
#form-unsubscribe .error-box {left:220px;}
#form-delete-pin .error-box{left:220px;}
#form-delete-pin #pin-error-box{left:220px;}
#form-contact-us #last_name-error-box,
#form-contact-us #phone_number-error-box,
#form-contact-us #confirm_email-error-box {
    left: 220px;
    position: absolute;
}

#form-contact-us #comments-error-box {
    left: 570px;
    top: 40px;
}

/* -----------------------------------*/
/* ---------->>> Extras <<<-----------*/
/* -----------------------------------*/

#ajax_loader {
    background: #8BB33E;
    width: 128px;
    height: 15px;
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 5000;
}

.ui-accordion-header a, .ui-accordion-header a:link, .ui-accordion-header a:visited {border-bottom: none;}
.ui-widget-content a, .ui-widget-content a:link, .ui-widget-content a:visited {
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #96C84B;
}

.ui-widget-content a:hover {
    border-bottom: 1px solid;
}

ol.ul-main-tc {list-style-type: decimal; margin-left:0px; padding-left: 20px; font-size: 9px; clear:both}
ol.ul-main-tc > li {clear:both;font-size: 11px; margin-bottom: 15px}
ul.ul-submain {list-style:none; padding: 0 0 0 20px; margin-top: 10px}
ul.ul-submain li span {float:left; width: 35px; color: #515151 }
ul.ul-submain li {clear:both; font-weight: normal; color: #515151}
ul.ul-submain li p {float: left; width: 530px; display: inline-block; margin: 0 0 10px 0; color: #515151; padding-top: 0px; }
ul.ul-submain li ul {margin: 0 0 10px 10px; color: #515151}

#hint-box {
    float:right;
    height:167px;
    margin-top:0;
    position:absolute;
    right:0;
    top:50px;
    width:431px;
    overflow: hidden;
}

ul.ul-submain {list-style-type: none}

#hint-box h3 {
    height: 20px;
    width: 180px;
    margin-top: 105px;
    float: left;
    text-align: right;
}

#hint-box ol {
    background: url('../sfimages/1-2-3-box.png') no-repeat;
    padding: 20px 15px 0 20px;
    width: 202px;
    height: 100%;
    float: right;
}

#hint-box li {
    font-size:11px;
    line-height:13px;
    margin-bottom:0;
}

#hint-box p {
    line-height:125%;
    padding:3px 0;
}

.texty-page-content-box {
    background: #d6d6d6;
    position: relative;
    z-index: 500;
    -moz-border-radius: 10px;
    padding:20px;
    margin-bottom:15px;
}

.texty-page-content-box h3 {margin-bottom:20px;}
.texty-page-content-box img {
    margin-right:20px;
}

.pin-container {
    width: 160px;
    height: 33px;
    background: url('../sfimages/pin-bg.png') no-repeat;
    margin-top: 5px;
    padding: 27px 0 0 25px;
    font-size: 30px;
    z-index: 600;
    position: relative;
}

ul#other-websites, ul#international-websites {margin: 10px 0 20px 0; list-style: none;}

#international-websites li, #other-websites li {
    clear: both;
    display: block;
    margin-bottom: 10px;
    margin-left:0px;
}

#international-websites li a.sprite-flag, #other-websites li a.sprite-flag{
    overflow: hidden;
    display:block;
    width:18px;
    height:18px;
    padding: 2px 0 0 0;
    margin-top: 2px;
}

#features-list { margin-top: 30px;}

#features-list li {
    background: url('../sfimages/chevron-white.png') no-repeat;
    height: 18px;
    font-size: 12px;
    padding: 1px 0 0 20px;
    margin-bottom: 10px;
    width: 320px;
    float: left;
}

.web-conferencing-showtime-icons-list {margin-top:20px; list-style-type: none;}
.web-conferencing-showtime-icons-list li{position: relative; margin:10px 0;}
.web-conferencing-showtime-icons-list .icon {
    position:relative;
    top:8px;
    margin-right:4px;
}

.features-list-one-column {
    margin-top: 20px;
    list-style: none;
}

.features-list-one-column li {
    background: url('../sfimages/chevron-white.png') no-repeat;
    font-size: 12px;
    padding: 1px 0 0 20px;
    margin-bottom: 13px;
    font-size: 11px;
    line-height: 18px;
}

ul#do-now-list {
    height:110px;
    position:relative;
}

#do-now-list li {
    height: 18px;
    font-size: 12px;
    padding: 1px 0 0 5px;
    margin-bottom: 20px;
    width: 210px;
    float: left;
}

.home #do-now-list li {
    padding: 0;
    width: 225px;
}

#do-now-list li .icon {
    margin-right:10px;
    top:8px;
    position:relative;
}

.triangle-top-green {
    display:block; width:0; height:0; overflow:hidden; border-bottom:15px solid #a6cf5a; border-left:20px solid #fff;  border-right:20px solid #fff;
    position: absolute; margin: 0 auto;
}

.triangle-bottom-green {
    display:block; position: absolute; left: 60px; top: 7px; z-index: 400; width:0; height:0; overflow:hidden; border-top:15px solid #a6cf5a; border-left:20px solid #fff;  border-right:20px solid #fff; }

.triangle-top-grey {
    display:block; width:0; height:0; overflow:hidden; border-bottom:15px solid #a19fa0; border-left:20px solid #fff;  border-right:20px solid #fff;
    position: absolute; margin: 0 auto;
}

.triangle-left-grey {
    display:block; width:0; height:0; overflow:hidden; border-right:15px solid #d6d6d6; border-top:20px solid #fff;  border-bottom:20px solid #fff;
    position: absolute; top: 40px; left: -15px
}

.divider-container {
    background: #FFFFFF;
    height: 35px;
    position: relative;
    z-index: 500;
    margin-bottom: -35px;
    display: block;
    width:710px;
    right:15px;
    top:110px;
}

.pin-container-response {
    padding-top:22px;
    padding-bottom:20px;
}

.divider-top-green {
    background: #a6cf5a;
    height: 10px;
    margin-bottom:15px;
    position: relative;
    z-index: 500;
    -moz-border-radius: 0 0 10px 10px; -webkit-border-radius: 0 0 10px 10px; border-radius: 0 0 10px 10px;
}

.divider-bottom-green {
    background: #a6cf5a;
    height: 10px;
    -moz-border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; border-radius: 10px 10px 0 0;
}

ul.benefits-boxes {
    margin: 150px 0 60px 0;
    list-style: none;
}

ul.benefits-boxes li{
    display: block;
    color: #FFF;
    padding: 25px 25px 10px 25px;
    margin: 10px 0;
}

ul.benefits-boxes li p {display: block; margin-top: 5px;}
ul.benefits-boxes li.benefit-1 {width: 194px; height:121px; background: url('../sfimages/sprites/sprite-benefits-boxes.jpg') no-repeat 0 0;}
ul.benefits-boxes li.benefit-2 {width: 194px; height:131px; background: url('../sfimages/sprites/sprite-benefits-boxes.jpg') no-repeat -250px 0;}
ul.benefits-boxes li.benefit-3 {width: 194px; height:131px; background: url('../sfimages/sprites/sprite-benefits-boxes.jpg') no-repeat -500px 0;}
ul.benefits-boxes li.benefit-4 {width: 195px; height:161px; background: url('../sfimages/sprites/sprite-benefits-boxes.jpg') no-repeat -750px 0;}
ul.benefits-boxes li.benefit-5 {width: 194px; height:131px; background: url('../sfimages/sprites/sprite-benefits-boxes.jpg') no-repeat -1000px 0;}
ul.benefits-boxes li.benefit-6 {width: 194px; height:131px; background: url('../sfimages/sprites/sprite-benefits-boxes.jpg') no-repeat -1250px 0;}


.modal-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: url('../sfimages/overlay.png');
    z-index: 800;
    overflow: hidden;
}

.circle-border {
    border: 2px solid #FFF;
    background-color: #b8e26a;
    font-size: 30px;
    float: left;
    margin: 0 5px 30px 5px;
    text-align: center;
    width: 30px;
    height: 30px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

#how-it-works-tips {
    margin-top: 0;
}

ul#key-guide {position: relative; right: 0}

ul#key-guide li {
    background: #d6d6d6;
    text-align: center;
    font-size: 12px;
    float: left;
    width: 60px;
    height: 80px;
    padding-top: 30px;
    display: inline-block;
    margin: 0 0 10px 10px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

ul#key-guide li span {display: block; font-size: 18px;}

ul#mobileapp_3steps {
    list-style: none;
    margin: 10px 0 20px 0;
}

ul#mobileapp_3steps li {
    float: left;
    width: 200px;
    height: 140px;
    background: url('../sfimages/3steps.png') no-repeat;
    margin-left: 35px;
    position: relative;
}

ul#mobileapp_3steps li:first-child {margin-left: 0}
ul#mobileapp_3steps li div.step-number {
    color: #FFFFFF;
    position: absolute;
    left: 35px;
    top: 10px;
    font-size: 18px;
}

ul#mobileapp_3steps li h2 {
    color: #ffffff;
    font-size: 16px;
    padding: 45px 18px 0 18px;
    line-height: 18px;
}


/* -----------------------------------*/
/* ---------->>> Colours <<<----------*/
/* -----------------------------------*/

.white {color: #FFFFFF;}
.orange {color: #ffbc23;}
.orange-dark {color: #ee9900;}
.green-light {color: #bee17d;}
.green, .lightgreen {color: #96c84b;}
.green-dark, .darkgreen {color:#668a2e;}
.grey-dark {color:#475155;}
.grey-light {color:#a4a3a3}
.blue {color: #6e91a4;}
.grey {color:#515151;}

/* -----------------------------------------*/
/* ----->>> Icons / Sprites <<<-------------*/
/* Icons have a rounded background          */
/* Sprites do not have a rounded background */
/* -----------------------------------------*/

.icon {
    overflow: hidden;
    display:inline-block;
    width:26px;
    height:26px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.icon span {
    display: inline-block;
    margin: 4px 2px;
    width: 20px;
    height: 20px;
}


.icon-orange {background: #ffb027;}
.icon-green  {background: #96c84b;}
.icon-blue   {background: #6e91a4;}
.icon-white  {background: #fff;}
.icon-grey   {background: #a19fa0;}

.icon-padlock-white {background: url('../sfimages/sprites/sprite-icons.png') no-repeat 6px 0;}
.icon-padlock-orange {background: url('../sfimages/sprites/sprite-icons.png') no-repeat -9px 0;}
.icon-globe-white {background: url('../sfimages/sprites/sprite-icons.png') no-repeat -238px 0;}
.icon-play-pause-white {background: url('../sfimages/sprites/sprite-icons.png') no-repeat -192px 5px;}
.icon-asterisks-white {background: url('../sfimages/sprites/sprite-icons.png') no-repeat -163px 5px;}
.icon-calender-white {background: url('../sfimages/sprites/sprite-icons.png') no-repeat -132px 2px;}
.icon-apple-white {background: url('../sfimages/sprites/sprite-icons.png') no-repeat -72px 0px;}
.icon-chat-white {background: url('../sfimages/sprites/sprite-icons.png') no-repeat -215px 0px;}
.icon-phone-small-white {background: url('../sfimages/sprites/sprite-icons.png') no-repeat -569px 3px;}
.icon-wallet-card-white {background: url('../sfimages/sprites/sprite-icons.png') no-repeat -548px 2px;}
.icon-arrow-white {background: url('../sfimages/sprites/sprite-icons.png') no-repeat -503px 0px;}
.icon-blog-white {background: url('../sfimages/sprites/sprite-icons.png') no-repeat -268px 0;}
.icon-facebook-white {background: url('../sfimages/sprites/sprite-icons.png') no-repeat -293px 1px;}
.icon-twitter-white {background: url('../sfimages/sprites/sprite-icons.png') no-repeat -312px -1px;}
.icon-news-and-press-white {background: url('../sfimages/sprites/sprite-icons.png') no-repeat -401px 1px;}
.icon-question-mark-grey {background: url('../sfimages/sprites/sprite-icons.png') no-repeat -513px 4px;}
.icon-question-mark-white {background: url('../sfimages/sprites/sprite-icons.png') no-repeat -113px 4px;}
.icon-arrow-down-grey {background: url('../sfimages/sprites/sprite-icons.png') no-repeat -530px 1px;}
.icon-outlook-white {background: url('../sfimages/sprites/sprite-icons.png') no-repeat -666px 0px;}
.icon-speaker-white {background: url('../sfimages/sprites/sprite-icons.png') no-repeat -588px 0px}
.icon-arrow2-white {background: url('../sfimages/sprites/sprite-icons.png') no-repeat -499px 0px}
.icon-recording-white {background: url('../sfimages/sprites/sprite-icons.png') no-repeat -647px 0px}

.icon-telephone-green {
    background: url('../sfimages/sprites/sprite-icons.png') no-repeat -90px 0px;
    width: 23px;
    height: 24px;
    display: inline-block;
    margin: 0 0 0 0;
}

.icon-windows-large {
    background: url('../sfimages/sprites/sprite-large-icons.png') no-repeat -40px 0;
    width: 51px;
    height: 51px;
    display: inline-block;
    margin: 0 0 0 0;
}

.icon-mac-large {
    background: url('../sfimages/sprites/sprite-large-icons.png') no-repeat 0 0;
    width: 40px;
    height: 51px;
    display: inline-block;
    margin: 0 0 0 0;
}

.icon-yuuguu-installer-large {
    background: url('../sfimages/sprites/sprite-large-icons.png') no-repeat -94px 0;
    width: 40px;
    height: 51px;
    display: inline-block;
    margin: 0 0 0 0;
}

.sprite {
    overflow: hidden;
    display:inline-block;
    width:26px;
    height:26px;
}

.sprite span {
    display: inline-block;
    margin: 4px 2px;
    width: 20px;
    height: 20px;
}

.sprite-cross-white {background: url('../sfimages/sprites/sprite-icons.png') no-repeat -420px 0;}

.sprite-new {
    background: url('../sfimages/sprites/sprite-icons.png') no-repeat;
    width:17px;
    height:17px;
    display:inline-block;
    margin-right:5px;
    overflow:hidden;
}
.sprite-new-pdf {background-position:-346px 0;}
.sprite-phone-white {
    background-position:-445px 0;
    width:23px;
    height:30px;
}
.sprite-new-people-white {background-position:-375px 0; width: 22px;}

/* -----------------------------------*/
/* ---------->>> Tooltip <<<----------*/
/* -----------------------------------*/
.tooltip {
    border: 2px solid #ee9900;
    position: absolute;
    z-index: 600;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -pie-lazy-init:false;
    -pie-poll:true;
    box-shadow: #dddddd 0px 0px 5px;
}

.tooltip-close {
    position:relative;
    display:block;
    top:-15px;
    right:-15px;
    border-bottom: none;
}

.tooltip-region .tooltip-close{
    top: -5px;
    border-bottom: none;
}

.tooltip h5 {
    padding:5px 0 0 0;
    clear: both;
}

.tooltip-region {
    width: 260px;
    padding: 10px 20px;
    left: 50%;
    top: 35px;
    margin-left: 260px;
    position: absolute;
    display: none;
    z-index: 1500;
}

#tooltip-international-dial-in-numbers, #tooltip-in-conference-controls,
#tooltip-pin-reminder, #tooltip-mobile-app, #tooltip-schedule-call {
    width: 260px;
    left: -79px;
    top: 40px;
    padding: 10px 20px;
    display: none;
    position: absolute;
}

#tooltip-showtime-in-action {
    width:450px;
    left: 210px;
    top: -18px;
    padding: 10px 20px;
    display: none;
    position: absolute;
}

.tooltip-arrow-top {
    background: url('../sfimages/sprites/sprite-tooltip.png') no-repeat left top;
    width: 29px;
    height: 11px;
    position: relative;
    top: -21px;
    margin-left: 57px;
    margin-right: auto;
    margin-bottom: -11px;
}

.tooltip-arrow-left {
    background: url('../sfimages/sprites/sprite-tooltip.png') no-repeat -70px top;
    width: 11px;
    height: 29px;
    position: relative;
    top:15px;
    left:-87px;
    margin-left: 57px;
    margin-right: auto;
    margin-bottom: -11px;
}

.tooltip-region .tooltip-arrow-top { margin-right: 60px;    margin-left: auto;}
.tooltip-region .tooltip-arrow-left { margin-right: 60px; margin-left: auto;}


dl.international-dial-in-numbers {padding-bottom:25px;}
dl.international-dial-in-numbers dt {
    background-color: white;
    padding:4px 0 4px 4px;
    clear: both;
    float: left;
    width:120px;
}

dl.international-dial-in-numbers dd {
    background-color: white;
    padding:4px 0;
    float: left;
    text-align:left;
    text-indent: 10px;
    width:135px;
}

dl.international-dial-in-numbers dd.odd,
dl.international-dial-in-numbers dt.odd {
    background-color:#e9e9e9;
}

.sprite-square-flag {
    background-image:url('../sfimages/sprites/sprite-flags-square.png');
    background-repeat:no-repeat;
    width:16px;
    height:11px;
    display:inline-block;
    margin-right:5px;
    overflow:hidden;
}

#tooltip-international-dial-in-numbers p {
    clear:both;
    width:100%;
    text-align:center;
    padding-top:10px;
}

.sprite-square-flag-gbr {background-position:0 0;}
.sprite-square-flag-aut {background-position:-20px 0;}
.sprite-square-flag-bel {background-position:-40px 0;}
.sprite-square-flag-can {background-position:-60px 0;}
.sprite-square-flag-fra {background-position:-80px 0;}
.sprite-square-flag-deu {background-position:-100px 0;}
.sprite-square-flag-irl {background-position:-120px 0;}
.sprite-square-flag-ita {background-position:-140px 0;}
.sprite-square-flag-nld {background-position:-160px 0;}
.sprite-square-flag-pol {background-position:-180px 0;}
.sprite-square-flag-zaf {background-position:-200px 0;}
.sprite-square-flag-esp {background-position:-220px 0;}
.sprite-square-flag-swe {background-position:-240px 0;}
.sprite-square-flag-che {background-position:-260px 0;}
.sprite-square-flag-usa {background-position:-280px 0;}
.sprite-square-flag-worldwide {background-position:-300px 0;}
.sprite-square-flag-skypeout {background-position:-320px 0;}

#tooltip-in-conference-controls dl {
    background-color:white;
}

#tooltip-in-conference-controls dt {
    font-weight: bold;
    color: #96c84b;
    padding:4px 0 4px 4px;
    clear: both;
    float: left;
    width:120px;
}

#tooltip-in-conference-controls dd {
    padding:4px 0;
    float: left;
    width:135px;
}

#tooltip-in-conference-controls a {
    position:relative;
    top:-5px;
}

.tooltip-grey-left {
    width: 200px;
    padding: 5px 15px 15px 15px;
    background: #d6d6d6;
    position: relative;
    float: right;
    margin-bottom: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.hidden {
    display: none;
    visibility: collapse;
}

#tab-showtime-handle {
    position: absolute;
    z-index: 300;
    width: 146px;
    height: 92px;
    top: 60px;
    left: 10px;
    background: url('../sfimages/sprites/sprite-tabs.png') no-repeat 0 0;
    cursor: pointer;
}

#tab-demo-handle {
    position: absolute;
    z-index: 300;
    width: 146px;
    height: 92px;
    top: 92px;
    left: 160px;
    background: url('../sfimages/sprites/sprite-tabs.png') no-repeat  -876px 0;
    cursor: pointer;
}

#tab-getstarted-handle {
    position: absolute;
    z-index: 300;
    width: 146px;
    height: 92px;
    top: 92px;
    left: 310px;
    background: url('../sfimages/sprites/sprite-tabs.png') no-repeat -1022px 0;
    cursor: pointer;
}

#tab-demoInactive-handle {
    position: absolute;
    z-index: 300;
    width: 146px;
    height: 92px;
    top: 92px;
    left: 160px;
    background: url('../sfimages/sprites/sprite-tabs.png') no-repeat -584px 0;
    cursor: pointer;
}

#tab-getstartedInactive-handle {
    position: absolute;
    z-index: 300;
    width: 146px;
    height: 92px;
    top: 92px;
    left: 310px;
    background: url('../sfimages/sprites/sprite-tabs.png') no-repeat -730px 0;
    cursor: pointer;
}

.breadcrumb-sub-page {
    margin:15px 20px 5px 0;
    float: right;
    width: 710px;
}

.breadcrumb-landing-page {
    float: left;
    margin: 0 0 10px 10px;
    padding: 5px 10px;
    background: #EFEFEF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

p.breadcrumbs {
    padding: 20px 0;
}

p.breadcrumbs b.current {
    color: #7faa3d;
    font-weight: bold;
}

.items-per-page {
    float: left;
    width: 30%;
}

.items-per-page select {
    font-family: 'Verdana';
    font-size: 11px;
}

.pager {
    float: right;
}

.pager span.page {
    width: 22px;
    height: 22px;
    margin: 0 4px;
    text-align: center;
}

.current-page {
    background-color: #a6cf5a;
}

.current-page a{
    color: white;
}

.news-list {
    margin:10px 0;
}

.news-list div {
    padding: 12px 0 8px;
    background: url('../sfimages/dot.gif') repeat-x 0 top;
}

.news-list h2 a {
    font-size: 14px;
    font-weight: bold;
    color: #515151;
    text-decoration: none;
    border:none;
}

.news-list h2{
    margin-bottom:8px;
}

.news-list h2 a:hover {
    text-decoration: underline;
}

.news-list h4 {
    color: #96c84b;
}

.news-list h4 a{
    color: #96c84b;
    text-decoration: none;
}

.news-list h4 a:hover{
    color: #96c84b;
    text-decoration: underline;
}

.news-list img {
    float: right;
    margin:3px 10px 0 10px;
}

.news-list a{
    font-family: 'Verdana';
    font-size: 11px;
}

.news-list p {padding:3px 0;}
.news-article-image{
    float:right;
    margin:10px 0 10px 10px;
}

/* -----------------------------------------------------*/
/* ----------->>> Post-registration Videos <<<----------*/
/* -----------------------------------------------------*/

.polaroid {
    padding: 10px;
}

.polaroid h3 {
    padding: 10px 0;
}

.polaroid p {
    padding:8px 0;
}

.polaroid a {
    display: block;
    padding: 4px;
}

.polaroid a:hover,
#polaroidOverlay {
    -moz-box-shadow: #666 0px 0px 6px, #666 3px 3px 3px;
    -webkit-box-shadow: #666 0px 0px 6px, #666 3px 3px 3px;
    box-shadow: #666 0px 0px 6px, #666 3px 3px 3px;
}

#polaroidOverlay a:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#polaroidOverlay {
    background: white;
}

/* ----------------------------------------------*/

/* ----------->>> Yuuguu Demo Video <<<----------*/
/* ----------------------------------------------*/

#flowplayer {
    display: block;
    height: 340px;
    width: 455px;
}

#video-chapter-select {
    z-index: 500;
    position: relative;
    top: -130px;
}

#video-chapter-select .arrow {
    position: relative;
    top: -1px;
    cursor: pointer;
    float: right;
    width: 35px;
    height: 46px;
    background: url('../sfimages/left-arrow-chapter-select.png') no-repeat;
}

#video-chapter-select .arrow:hover {
    background-position: 0 -46px;
}

#video-chapter-select p {
    padding: 0;
    cursor: pointer;
}

#video-chapters {
    background: #a6cf5a;
    height: 44px;
    float: right;
    width: 23px;
    overflow: hidden;
    padding-right: 10px;
    cursor: pointer;
}

#video-chapters ul {
    font-size: 14px;
    position: relative;
}

#video-chapters  ul li {
    margin: 14px 0;
    white-space: nowrap;
}

.video-description {padding: 20px 0}

/* -----------------------------------*/
/* ---------->>> Banners <<<----------*/
/* -----------------------------------*/
.banner {padding:5px 0;}
.banner a {border:none;}

/* -----------------------------------*/
/* _--------->>> Site Maps <<<--------*/
/* -----------------------------------*/

h2.sitemap-page {font-size: 18px;}
#sitemap-page ul {margin-bottom: 20px; margin-top: 20px;}
#sitemap-page ul li a {font-weight: bold;}

ul.sitemap-nostyle {
    display: block;
    margin-bottom: 7px;
    min-height: 18px;
    list-style: none;
}

/* -----------------------------------*/
/* ---->>> MyPowwownow (mypwn) <<<----*/
/*@todo: to be moved to a seperate file*/
/* -----------------------------------*/
.mypwn_promotional {
    display: block;
    float: left;
    height: 400px;
    overflow: hidden;
    width: 300px;
}

/* -----------------------------------*/
/* ----->>> Apply Rockwell <<<--------*/
/* -----------------------------------*/
h1, h2, .rockwell, button span, button a, .button a, th {
    font-family: "RockwellStdRegular", Georgia, serif;
    font-weight: normal;
}

/* -----------------------------------*/
/* ----->>> FlowPlayer Video Player <<<--------*/
/* -----------------------------------*/
a.videoPlayer {
    text-align:center;
    margin:0 15px 15px 0;
}

a.videoPlayer img {
    /*margin-top:-50%;*/
    border:0px;
}

/* Plus Switch Styling */
#switch2plus {
    display: none;
    color: #FFF;
    background: #7EA2B4;
}

#switch2plus form {
    padding: 0;
    background: none;
}

#switch2plus input#plus_register_email, #switch2plus input#plus_auth_password {
    width: 420px;
    font-size: 24px;
    color: #515151;
}

/*AT added the plus_signup_submit on Request 30/07/12*/
button#plus_switch_step1 span, button#plus_switch_auth span, button#plus_signup_submit span, button#redeem_voucher_skip {
    font-size: 24px;
}

.plus-reg-info {
    padding: 10px;
    background-color: #608694;
    color: #efefef;
    /*text-shadow: 0 1px 0 #333;*/ /*AT removed the text-shadow, on Request 31/07/12*/
    font-style: italic;
    margin-top: 10px;
    behavior: url('../shared/PIE-1.0.0/PIE.htc');
}

#switch2plus span.mypwn-input-container {z-index: auto;}

#form-plus-switch-step1 .required-note, #form-plus-switch-auth .required-note {
    display: none;
}

form#form-plus-signup .form-field {
    width: 50%;
}

form#form-plus-signup .form-field label {
    color: #FFF;
    width: 140px;
}

form#form-plus-signup .form-field label sup.asterisk {
    color: #FFF
}

#switch2plus a {
    color: #495E69
}

#switch2plus a:hover {
    color: #FFF;
}

.no-title .ui-dialog-titlebar { display: none }


.plus-close {
    position: relative;
    z-index: 1000;
    height: 16px;
    width: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight:bold;
    padding-bottom: 8px;
    cursor: pointer;
}

/* generic tool-tip */

#pwn-tooltip {
    width: 200px;
    border: 2px solid #ee9900;
    position: absolute;
    z-index: 600;
    background: #FFFFFF;
    border-radius: 10px;
    -pie-lazy-init:false;
    -pie-poll:true;
    margin-top: 20px;
    color: #515151;
    font-size: 11px;
    font-weight: normal;
    text-align: left;
    text-transform: none;
    padding: 10px;
}

#pwn-tooltip span {
    background: url('../sfimages/sprites/sprite-tooltip.png') no-repeat scroll left top transparent;
    height: 11px;
    margin-left: 17px;
    margin-right: auto;
    position: absolute;
    top: -11px;
    width: 19px;
}

.ie8 form#form-plus-switch-step1 button#plus_switch_step1 {
    position: relative;
    padding: 10px 6px;
}

.ie8 p.plus-reg-info {
    position: relative;
}

/** Hiding chapters from Web Conference **/
#video-chapter-select, #video-chapters, #video-chapters + div.arrow {
    display:none;
}

/** Used on the Chat Link **/
.hideme {
    visibility:hidden;
    display:none;
}

/** Contact Us Left Menu Navigation **/
ul.left-nav-menu {
    list-style-type: none;
    padding-left: 15px;
}

ul.left-nav-menu a, ul.left-nav-menu a:link, ul.left-nav-menu a:visited {
    text-decoration: none;
    border-bottom: none;
}

ul.left-nav-menu a:hover {
    color: #96C84B;
}

ul.left-nav-menu li {
    margin-left: 0 !important;
}

ul.left-nav-menu {
    margin:125px 0 0 5px;
}

ul.left-nav-menu li {
    min-height: 18px;
    padding: 0 0 0 20px;
    margin: 0 0 10px;
    line-height: 110%;
}

ul.left-nav-menu li.active {
    font-weight: bold;
    background: url('../sfimages/chevron-green.png') no-repeat;
}

/** Contact Us **/
div.left-col-contact-us {
    width: 50%;
    float: left;
}

div.right-col-contact-us {
    width: 50%;
    float: right;
}

div.contactusSuccess {
    padding: 20px;
}

div.contactusSuccess h2 {
    color: white;
    font-size: 16px;
}

div.contactusSuccess p {
    color: white;
}

div.contactus-form {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.bundle-messages-container {
    color: #515151;
}

/*DavC Change*/
.scheduler-links li {
    height: inherit;
}

/*DavC Change*/
.button-list {
    min-height: 60px;
}

/*Privacy Policy*/
ul.privacy-list {
    list-style-type: none;
    color: #A7D257
}

ul.privacy-list,
ul.privacy-list li span.list-heading {
    color:#A7D257;
    font-family: Verdana;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

ul.privacy-list li p,
ul.privacy-list li ul {
    margin-bottom: 10px;
    color: #515151;
    font-weight: normal
}

ul.privacy-list li h2 {
    font-size: large;
    color: #96c84b;
}

div.privacy-heading {
    padding: 5px;
    color: #FFF;
    background-color: #A7D257;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.margin-top-bottom-1em {
    margin: 1em 0;
}

.margin-top-1em {
    margin: 1em 0 0 0;
}

