table.mypwn {
    background-color: white;
}

table.mypwn-fixed tr th.pinproduct:first-child {
    -webkit-border-radius: 0px 0 0 0;
    -moz-border-radius: 0px 0 0 0;
    border-radius: 0px 0 0 0;
}

table.mypwn tr th:first-child,
table.mypwn-fixed tr th.fixed-column:first-child {
    -webkit-border-radius: 8px 0 0 0;
    -moz-border-radius: 8px 0 0 0;
    border-radius: 8px 0 0 0;
    /*behavior: url(/shared/PIE-1.0.0/PIE.php);*/
}

/*
    Below line where commented because of IE8 rounded corners bug - please use
    .last-child class for applying styles for last elements:

    table.mypwn tr th:last-child,
    table.mypwn-fixed tr th.normal-column:last-child
*/
table.mypwn tr th.last-child {
    -webkit-border-radius: 0 8px 0 0;
    -moz-border-radius: 0 8px 0 0;
    border-radius: 0 8px 0 0;
    /*behavior: url(/shared/PIE-1.0.0/PIE.php);*/
}

table.mypwn tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 8px;
    -moz-border-radius: 0 0 0 8px;
    border-radius: 0 0 0 8px;
    /*behavior: url(/shared/PIE-1.0.0/PIE.php);*/
}

table.mypwn tr:last-child td:last-child, table.mypwn tr.last-child td.last-child,
table.mypwn-fixed tr:last-child td:last-child, table.mypwn-fixed tr.last-child td.last-child {
    -webkit-border-radius: 0 0 8px 0;
    -moz-border-radius: 0 0 8px 0;
    border-radius: 0 0 8px 0;
    /*behavior: url(/shared/PIE-1.0.0/PIE.php);*/
}

table.mypwn tr th {
    border: 0px;
    padding-left: 0;
    text-transform: none;
}

table.mypwn tr th:before {
    content: '';
    width: 10px;
    height: 12px;
    display: inline-block;
    border-left: 1px white solid;
    position: relative;
    top: 2px
}

table.mypwn tr th:first-child:before {
    border: none;
}

.checkboxcol {
    padding: 0px;
}

.checkboxcol input {
    padding: 0;
    margin: 0;
}

table.mypwn a {
    white-space: nowrap;
}

table.mypwn th {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px !important;
    font-weight: normal !important;
    white-space: nowrap;
}

table.mypwn th {
    background-color: #A6CF5A;
    font-weight: bold !important;
}

table.mypwn th.sorting:hover, table.mypwn th.sorting_asc:hover, table.mypwn th.sorting_desc:hover {
    cursor: pointer;
}

table.premium th, table.plus th {
    font-weight: normal !important;
}

table.premium th {
    background-color: #465C63;
}

table.plus th {
    background-color: #7EA2B4;
}

.sorting_asc div, .sorting_desc div {
    display: inline-block !important;
    height: 11px !important;
    float: none !important;
}

table.mypwn td {
    background-color: #E4E5E7;
    font-size: 11px;
    border: 0;
    padding: 7px 10px
}

table.mypwn tr.odd > td {
    background-color: white;
}

th.checkboxcol {
    width: 20px;
}

.bottompadding {
    padding-bottom: 5px;
}

.wordwrap {
    word-wrap: break-word;
}

.rightpadding {
    padding-right: 5px;
}

/*Header*/
#top-menu-container-powwownow, #top-menu-container-plus, #top-menu-container-premium {
    border-radius: 10px;
    box-shadow: 0 0 5px #DDDDDD;
    color: #FFFFFF;
    font-family: 'Courier New';
    font-size: 14px;
    height: 27px;
    padding: 10px 0 0;
    position: relative;
    z-index: 500;
}

#top-menu-container-powwownow {
    background: none repeat scroll 0 0 #96C84B;
}

#top-menu-container-plus {
    background: none repeat scroll 0 0 #7fa2b3;
}

#top-menu-container-premium {
    background: none repeat scroll 0 0 #273538;
}

/*MyPWN Sub Header*/
.tooltip-header-all-pins, .tooltip-header-all-tels {
    box-shadow: 0 0 5px #CCCCCC;
    display: none;
    padding: 10px 20px;
    position: absolute;
    top: 230px;
    z-index: 701;
}

.tooltip-close {
    top: -10px;
}

.mypwn_sub_header a,
.mypwn_sub_header a:active,
.mypwn_sub_header a:link {
    border-bottom: 1px dotted;
    text-decoration: none;
}

.mypwn_sub_header a:hover {
    border-bottom: 1px solid;
    text-decoration: none;
}

.mypwn_sub_header .plus-header {
    float: right;
    padding-top: 8px;
    text-align: right;
}

div.mypwn_sub_header {
    padding: 15px 5px 10px 25px;
    float: left;
    width: 905px;
}

.mypwn_sub_header #bskt-prds,
.mypwn_sub_header .balance {
    color: #FFB027;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 400;

}

.mypwn_sub_header .plus-header button {
    margin-top: 15px;
}

div.mypwn_sub_header div span.myPowwownow {
    font-size: 20px;
}

div.mypwn_sub_header.powwownow div span.myPowwownow {
    color: #96C84B;
}

div.mypwn_sub_header.plus div span.myPowwownow {
    color: #7fa2b3;
}

div.mypwn_sub_header.premium div span.myPowwownow {
    color: #273538;
}

div.mypwn_sub_header div span.service_name {
    padding-left: 10px;
}

div.mypwn_sub_header div.hello {
    padding-top: 8px;
}

div.mypwn_sub_header div.hello span.firstname {
    font-style: italic;
}

div.mypwn_sub_header div.yourPin {
    padding-top: 8px;
    float: left;
}

div.mypwn_sub_header div.yourPin span.pin {
    font-size: 20px;
    color: #ffb027;
}

div.mypwn_sub_header div.yourPin span.dialin {
    font-size: 20px;
    color: #ffb027;
}

div.mypwn_sub_header div.yourPin a.pins.view_all {
    margin-left: 5px;
}

div.mypwn_sub_header div.yourDialinNumber {
    padding-top: 8px;
    float: left;
    margin-left: 5px;
}

div.mypwn_sub_header div.yourDialinNumber span.dialin {
    font-size: 20px;
    color: #ffb027;
}

div.mypwn_sub_header div.yourDialinNumber a.dialins.view_all {
    margin-left: 5px;
}

.clear-both {
    clear: both;
}

/*MyPWN Footer*/
.icon-premium {
    background: #273538;
}

.icon-plus {
    background: #7fa2b3;
}

.icon-enchanced {
    background: #96C84B;
}

a, a:active, a:link {
    border-bottom: 1px dotted;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid;
    text-decoration: none;
}

.title-premium a, .title-premium a:active, .title-premium a:link, .title-premium a:hover {
    color: #273538;
}

.title-plus a, .title-plus a:active, .title-plus a:link, .title-plus a:hover {
    color: #7fa2b3;
}

.title-enchanced a, .title-enchanced a:active, .title-enchanced a:link, .title-enchanced a:hover {
    color: #96C84B;
}

/*Main MyPWN Footer Divs*/
div.mypwn_footer_main {
    width: 99%;
    height: 80px;
    margin-top: 20px;
    padding-top: 20px;
}

div.mypwn_footer_sub {
    width: 25%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    position: relative;
}

/*Footer Icon*/
span.mypwn_footer_icon {
    margin: 0 10px 60px;
    height: 26px;
    width: 26px;
    overflow: hidden;
    display: block;
    float: left;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    /*behavior: url(/shared/PIE-1.0.0/PIE.php);*/
}

span.mypwn_footer_icon_download_app, span.mypwn_footer_icon_download_user_guide, span.mypwn_footer_icon_powwownews, span.mypwn_footer_icon_tell_a_friend {
    display: inline-block;
    height: 20px;
    margin: 4px 2px;
    width: 20px;
}

span.mypwn_footer_icon_download_app {
    background: url('../sfimages/sprites/sprite-icons.png') no-repeat scroll -631px 1px transparent;
}

span.mypwn_footer_icon_download_user_guide {
    background: url('../sfimages/sprites/sprite-icons.png') no-repeat scroll -631px 1px transparent;
}

span.mypwn_footer_icon_powwownews {
    background: url('../sfimages/sprites/sprite-icons.png') no-repeat scroll -400px 1px transparent;
}

span.mypwn_footer_icon_tell_a_friend {
    background: url('../sfimages/sprites/sprite-icons.png') no-repeat scroll -215px 0 transparent;
}

span.mypwn_footer_title {
    font-size: 11px;
    font-weight: bold;
    display: block;
    padding-bottom: 10px;
}

span.mypwn_footer_description {
    font-size: 10px;
    font-weight: normal;
}

/*
 * Cost Calculator Page
 */
.form-cost-calculator div {
    margin: 5px 0;
}

.form-cost-calculator .highlight-box {
    border: 1px #F0F0F0 solid;
    font-size: 18px;
    padding: 10px;
    width: 28%;
    text-align: center;
    background-color: #F7F7F7;
}

.form-cost-calculator .result-box {
    border: 1px #A6CF5B solid;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    background-color: #A6CF5B;
    color: white;
}

/*
 * Homepage Grid CSS
 */
/*Powwownow User*/
.mypwn-powwownow-home-grid {
    position: relative;
    width: 630px;
    height: 390px;
    float: left;
    margin: 10px;
    overflow: hidden;
    display: block;
}

.mypwn-powwownow-home-grid ul {
    list-style-position: inside;
    list-style-type: none;
    position: relative;
}

.mypwn-powwownow-home-grid ul li {
    background-color: #ededed;
    border: 2px solid #dcdcdc;
    width: 200px;
    height: 120px;
    float: left;
    margin: 3px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    position: relative;
}

.ie8 .mypwn-powwownow-home-grid ul li {
    behavior: url('../shared/PIE-1.0.0/PIE.htc');
}

.mypwn-powwownow-home-grid ul li:hover {
    background-color: #e6e6e6;
}

.mypwn-powwownow-home-grid ul li a {
    width: 200px;
    height: 120px;
    text-align: center;
    overflow: hidden;
    display: block;
    text-decoration: none;
    border-bottom: none;
}

.mypwn-powwownow-home-grid ul li a div.image {
    width: 117px;
    height: 93px;
    background-image: url('../sfimages/sprites/mypwn-powwownow-sprite.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-left: 41px;
    margin-top: 5px;
    padding-bottom: 2px;
}

.mypwn-powwownow-home-grid ul li a div.image.request_wallet_card {
    background-position: -117px 0;
}

.mypwn-powwownow-home-grid ul li a div.image.dial_in_numbers {
    background-position: -234px 0;
}

.mypwn-powwownow-home-grid ul li a div.image.scheduler {
    background-position: -351px 0;
}

.mypwn-powwownow-home-grid ul li a div.image.manage_call_settings {
    background-position: -468px 0;
}

.mypwn-powwownow-home-grid ul li a div.image.in_conference_controls {
    background-position: -585px 0;
}

.mypwn-powwownow-home-grid ul li a div.image.share_my_desktop {
    background-position: -702px 0;
}

.mypwn-powwownow-home-grid ul li a div.image.purchase_products {
    background-position: -819px 0;
}

.mypwn-powwownow-home-grid ul li a div.image.how_it_works {
    background-position: -936px 0;
}

.mypwn-powwownow-home-grid ul li a div.image.envelope {
    background-position: -1050px 0;
}

.mypwn-powwownow-home-grid ul li a div.image.pound {
    background-position: -1275px 0;
}

.mypwn-powwownow-home-grid ul li a div.image.letter_clock {
    background-position: -1179px 0;
}

/*PLUS User*/
.mypwn-plus-home-grid {
    position: relative;
    width: 630px;
    height: 390px;
    float: left;
    margin: 10px;
    overflow: hidden;
    display: block;
}

.mypwn-plus-home-grid ul {
    list-style-position: inside;
    list-style-type: none;
    position: relative;
}

.mypwn-plus-home-grid ul li {
    background-color: #ededed;
    border: 2px solid #dcdcdc;
    width: 200px;
    height: 120px;
    float: left;
    margin: 3px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    behavior: url('../shared/PIE-1.0.0/PIE.htc');
    position: relative;
}

.mypwn-plus-home-grid ul li:hover {
    background-color: #e6e6e6;
}

.mypwn-plus-home-grid ul li a {
    width: 200px;
    height: 120px;
    text-align: center;
    overflow: hidden;
    display: block;
    text-decoration: none;
    border-bottom: none;
    color: #7FA2B3;
}

.mypwn-plus-home-grid ul li a div.image {
    width: 117px;
    height: 93px;
    background: url('../sfimages/sprites/mypwn-plus-sprite.png') no-repeat 0 0;
    margin-left: 41px;
    margin-top: 5px;
    padding-bottom: 2px;
}

.mypwn-plus-home-grid ul li a div.image.request_wallet_card {
    background-position: -117px 0;
}

.mypwn-plus-home-grid ul li a div.image.dial_in_numbers {
    background-position: -234px 0;
}

.mypwn-plus-home-grid ul li a div.image.scheduler {
    background-position: -351px 0;
}

.mypwn-plus-home-grid ul li a div.image.manage_call_settings {
    background-position: -468px 0;
}

.mypwn-plus-home-grid ul li a div.image.in_conference_controls {
    background-position: -585px 0;
}

.mypwn-plus-home-grid ul li a div.image.share_my_desktop {
    background-position: -702px 0;
}

.mypwn-plus-home-grid ul li a div.image.purchase_products {
    background-position: -819px 0;
}

.mypwn-plus-home-grid ul li a div.image.how_it_works {
    background-position: -936px 0;
}

.mypwn-plus-home-grid ul li a div.image.envelope {
    background-position: -1050px 0;
}

.mypwn-plus-home-grid ul li a div.image.letter_clock {
    background-position: -1179px 0;
}

.mypwn-plus-home-grid ul li a div.image.pound {
    background-position: -1276px 0;
}

.mypwn-plus-home-grid ul li a div.image.create_users {
    background-position: -1373px 0;
}

/*Premium User*/
.mypwn-premium-home-grid {
    position: relative;
    width: 630px;
    height: 390px;
    float: left;
    margin: 10px;
    overflow: hidden;
    display: block;
}

.mypwn-premium-home-grid ul {
    list-style-position: inside;
    list-style-type: none;
    position: relative;
}

.mypwn-premium-home-grid ul li {
    background-color: #ededed;
    border: 2px solid #dcdcdc;
    width: 200px;
    height: 120px;
    float: left;
    margin: 3px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    behavior: url('../shared/PIE-1.0.0/PIE.htc');
    position: relative;
}

.mypwn-premium-home-grid ul li:hover {
    background-color: #e6e6e6;
}

.mypwn-premium-home-grid ul li a {
    width: 200px;
    height: 120px;
    text-align: center;
    overflow: hidden;
    display: block;
    text-decoration: none;
    border-bottom: none;
    color: #273538;
}

.mypwn-premium-home-grid ul li a div.image {
    width: 117px;
    height: 93px;
    background: url('../sfimages/sprites/mypwn-premium-sprite.png') no-repeat  0 0;
    margin-left: 41px;
    margin-top: 5px;
    padding-bottom: 2px;
}

.mypwn-premium-home-grid ul li a div.image.request_wallet_card {
    background-position: -117px 0;
}

.mypwn-premium-home-grid ul li a div.image.dial_in_numbers {
    background-position: -234px 0;
}

.mypwn-premium-home-grid ul li a div.image.scheduler {
    background-position: -351px 0;
}

.mypwn-premium-home-grid ul li a div.image.manage_call_settings {
    background-position: -468px 0;
}

.mypwn-premium-home-grid ul li a div.image.in_conference_controls {
    background-position: -585px 0;
}

.mypwn-premium-home-grid ul li a div.image.share_my_desktop {
    background-position: -702px 0;
}

.mypwn-premium-home-grid ul li a div.image.purchase_products {
    background-position: -819px 0;
}

.mypwn-premium-home-grid ul li a div.image.how_it_works {
    background-position: -936px 0;
}

.mypwn-premium-home-grid ul li a div.image.call_history {
    background-position: -1053px 0;
}

.mypwn-premium-home-grid ul li a div.image.access_recordings {
    background-position: -1170px 0;
}

.mypwn-premium-home-grid ul li a div.image.time_limited_pins {
    background-position: -1287px 0;
}

.mypwn-premium-home-grid ul li a div.image.envelope {
    background-position: -1392px 0;
}

.mypwn-premium-home-grid ul li a div.image.letter_clock {
    background-position: -1522px 0;
}

.mypwn-premium-home-grid ul li a div.image.pound {
    background-position: -1632px 0;
}

.grid_hover {
    position: absolute;
    background: #333;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter : alpha(opacity = 0);
    color: #fff;
    border-radius: 10px;
}

.grid_hover span {
    display: inline-block;
    padding: 10px;
    color: white;
}

/*Call History*/
#mypwn-page-mask {
    background-color: #C0C0C0;
    display: none;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 90000;
}

#mypwn-page-msgbox {
    background: url('../sfimages/btn-x_off.png') no-repeat scroll 345px 5px #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    display: none;
    height: 100px;
    left: 50%;
    margin-left: -200px;
    margin-top: -100px;
    padding: 10px;
    position: fixed;
    text-align: left;
    top: 50%;
    width: 350px;
    z-index: 90001;
}

#mypwn-page-msgbox.success {
    border-color: #6E91A4;
    color: #3A4B56;
}

.information_icon {
    background-image: url('../sfimages/moreinfo.gif');
    cursor: pointer;
    float: left;
    height: 20px;
    margin: 0 3px;
    width: 20px;
}

/*Account Details*/
.frm_account_details_my_details .button-green, .frm_account_details_my_password .button-green,
.frm_account_details_my_company .button-green, .form_plus_account_details .button-green {
    float: right;
}

.form-plus-account-details-results-placeholder {
    height: 40px;
}

.frm_account_details_my_details, .frm_account_details_my_password, .frm_account_details_my_company {
    padding-bottom: 15px;
}

.frm_account_details_my_details h3, .frm_account_details_my_password h3, .frm_account_details_my_company h3 {
    padding-bottom: 10px;
}

/*User Details*/
.frm_user_details_my_details .button-green, .frm_user_details_my_password .button-green {
    float: right;
}

.frm_user_details_my_details, .frm_user_details_my_password {
    padding-bottom: 15px;
}

.frm_user_details_my_details h3, .frm_user_details_my_password h3 {
    padding-bottom: 10px;
}

/*Dial-in Numbers Page*/
#tblcontactdialinnumbers a, #tblcontactdialinnumbers a:link, #tblcontactdialinnumbers a:visited, #tblcontactdialinnumbers a:active {
    color: #333333;
    text-decoration: underline;
}

/*Sub Footer*/
.tooltip-footer-mobile-apps, .tooltip-footer-user-guides, .tooltip-footer-news, .tooltip-footer-tell-a-friend {
    display: none;
    padding: 10px 20px;
    position: absolute;
    z-index: 701;
    bottom: 100px;
}

.tooltip-close {
    top: -10px;
}

.tooltip a, .tooltip a:active, .tooltip a:link, .tooltip a:hover {
    text-decoration: none;
    border-bottom: 0;
}

.tooltip-arrow-bottom {
    background: url('../sfimages/sprites/sprite-tooltip.png') no-repeat -29px top;
    width: 29px;
    height: 11px;
    position: relative;
    bottom: -21px;
    margin-left: 57px;
    margin-right: auto;
    margin-top: 11px;
}

/*Call History Page*/
.tooltip-cli {
    box-shadow: 0 0 5px #CCCCCC;
    display: none;
    padding: 10px 20px;
    position: absolute;
    top: 485px;
    z-index: 701;
}

/*Sub Page CSS*/
h1.mypwn_sub_page_heading_powwownow {
    background: url('../sfimages/sprites/headers-powwownow.png') no-repeat;
}

h1.mypwn_sub_page_heading_plus {
    background: url('../sfimages/sprites/headers-plus.png') no-repeat;
}

h1.mypwn_sub_page_heading_premium {
    background: url('../sfimages/sprites/headers-premium.png') no-repeat;
}

h1.mypwn_sub_page_heading {
    white-space: nowrap;
    padding: 17px 0 0 0;
    height: 60px;
    color: white;
    text-align: center;
    margin: 0px;
}

h1.mypwn_sub_page_heading_s {
    width: 147px;
    background-position: 0 0;
}

h1.mypwn_sub_page_heading_m {
    width: 197px;
    background-position: -150px 0;
}

h1.mypwn_sub_page_heading_l {
    width: 320px;
    background-position: -350px 0;
}

h1.mypwn_sub_page_heading_xl {
    width: 397px;
    background-position: -680px 0;
}

h1.mypwn_sub_page_heading_xxl {
    width: 450px;
    background-position: -1080px 0;
}

.button-green-schedule {
    background: #7faa3d;
    color: #FFF;
    border: 2px solid #ffffff;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#96c84b), to(#668a2e));
    background: -moz-linear-gradient(#96c84b, #668a2e);
    background: linear-gradient(#96c84b, #668a2e);
    -pie-lazy-init: false;
    -pie-poll: true;
    -pie-background: linear-gradient(#96c84b, #668a2e);
}

.button-green-schedule:hover {
    background: #5e7e2d;
    color: #FFF;
    border: 2px solid #efefef;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#668a2e), to(#96c84b));
    background: -moz-linear-gradient(#668a2e, #96c84b);
    background: linear-gradient(#668a2e, #ffb027);
    -pie-background: linear-gradient(#668a2e, #96c84b);
}

.button-green-schedule a, .button-green-schedule a:link, .button-green-schedule a:visited, .button-green-schedule a:hover, .button-green-schedule a:active {
    color: white;
    text-decoration: none !important;
}

/** Recordings styling **/
#recform_1 {
    position: relative;
    z-index: 1000;
}

#recform_1 .field {
    margin-bottom: 10px;
    position: relative;
    z-index: 1000;
}

#recform_1 .field button {
    margin-bottom: 10px;
    position: relative;
    z-index: 1500;
    -pie-lazy-init: false;
    -pie-poll: true;
}

#recform_1 .nice-error-box {
    left: 350px;
}

#recform_1 .field > span {
    display: inline-block;
    width: 150px;
}

#recform_1 .field > span + span {
    display: inline-block;
    width: auto;
}

#f_rec_link {
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: right;
    width: 400px;
    padding: 5px;
    background: #A6CF5A;
    border-radius: 10px;
    box-shadow: 0 0 5px #DDDDDD;
}

#f_rec_link input {
    width: 350px;
}

/** Wallet card request **/
#frmwalletcard {
    margin-top: 30px
}

.wallet_card_preview_premium {
    background: url('../sfimages/walletCard/mypwn-premium-front.jpg') no-repeat;
    width: 210px;
    height: 120px;
    position: absolute;
    right: 250px;
    top: 0;
    padding: 20px;
}

.wallet_card_back_preview_premium {
    background: url('../sfimages/walletCard/mypwn-premium-back.jpg') no-repeat;
    width: 250px;
    height: 160px;
    position: absolute;
    right: 0;
    top: 0;
}

.wallet_card_preview_powwownow, .wallet_card_preview_plus {
    background: url('../sfimages/walletCard/mypwn-pwn-front.jpg') no-repeat;
    width: 210px;
    height: 120px;
    position: absolute;
    right: 250px;
    padding: 20px;
    top: 0;
}

.wallet_card_back_preview_powwownow, .wallet_card_back_preview_plus {
    background: url('../sfimages/walletCard/mypwn-pwn-back.jpg') no-repeat;
    width: 250px;
    height: 160px;
    position: absolute;
    right: 0;
    top: 0;
}

.wallet_card_preview_premium #walletCardPreview_line_name {
    width: 130px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    line-height: 110%;
    margin-bottom: 20px;
}

.wallet_card_preview_premium #walletCardPreview_line_number, .wallet_card_preview_premium #walletCardPreview_line_chairPin, .wallet_card_preview_premium #walletCardPreview_line_participantPin, #walletCardPreview_line_url {
    font-size: 9px;
}

#walletCardPreview_line_number span, #walletCardPreview_line_chairPin span, #walletCardPreview_line_participantPin span {
    padding-left: 5px;
}

.wallet_card_preview_powwownow div {
    text-align: right;
}

.wallet_card_preview_powwownow div span, .wallet_card_preview_plus div span {
    text-align: left;
    display: inline-block;
    width: 50%
}

.wallet_card_preview_powwownow #walletCardPreview_line_name, .wallet_card_preview_plus #walletCardPreview_line_name {
    margin-top: 45px;
}

/** Homepage Dashboard Overlay (Old) **/
#newUserOverlay .container_24 {
    width: 800px;
    font-size: 11px;
}

.ui-widget-header {
    background: none
}

.ui-dialog-titlebar {
    display: none
}

#newUserOverlay {
    color: #515151;
    background: #FFF;
    display: none;
    position: relative;
    line-height: 150%;
    padding: 20px 0;
    font-size: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#newUserOverlay h1 {
    margin-bottom: 0px;
}

#newUserOverlay .overlay-description {
    margin-bottom: 0px
}

#newUserOverlay div.yourPin span.pin {
    color: #FFB027;
    font-size: 20px;
    float: right;
    margin-right: 110px;
}

#newUserOverlay div.yourDialinNumber span.dialin {
    color: #FFB027;
    font-size: 20px;
}

.tooltip {
    margin-bottom: 5px;
}

.tooltip-close {
    position: absolute;
    top: 0;
    right: 0;
}

.plus-blue {
    color: #7EA2B4;
}

.pin-usage-description {
    margin-bottom: 5px
}

#newUserOverlay h2 {
    margin-bottom: 5px
}

.ui-dialog {
    border: 2px solid #7EA2B4;
}

/** Homepage Dashboard Overlay (New) **/
div#overlay {
    color: #515151;
    background: #FFF;
    display: none;
    position: relative;
    line-height: 150%;
    padding: 20px 0;
    font-size: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    overflow: hidden;
}

div#overlay a.tooltip-close {
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}

div#overlay div.container_24 {
    width: 800px;
    font-size: 11px;
}

div#overlay h1 {
    margin-bottom: 0;
}

div#overlay div.overlay-description {
    margin-bottom: 0;
}

div#overlay div.yourDialinNumber div.dialin {
    color: #FFB027;
    font-size: 20px;
    padding-top: 15px;
}

div#overlay div.yourPin div.pins {
    padding-top: 15px;
}

div#overlay div.yourPin div.pins span.pin {
    color: #FFB027;
    font-size: 20px;
    float: right;
    margin-right: 110px;
}

div#overlay div.tooltip {
    height: 80px;
    width: 155px;
    padding: 10px;
    color: #515151;
    position: relative;
    top: -75px;
    margin-bottom: -60px;
    font-size: 10px;
}

div#overlay div.tooltip-box {
    background: url('../sfimages/sprites/sprite-tooltip.png') no-repeat scroll -29px top transparent;
    height: 11px;
    position: absolute;
    top: 100px;
    left: 30px;
    width: 29px;
}

div#overlay p.tooltip-p1 {
    line-height: 110%;
    margin: 0;
    padding: 0 0 10px 0;
}

div#overlay p.tooltip-p2 {
    line-height: 110%;
    margin: 0;
    padding: 0;
}

div#overlay button#btn-share-details {
    position: relative;
}

div#overlay div.pin-usage-description {
    margin-top: 20px;
    margin-bottom: 10px;
}

div#overlay div.pin-usage-description div.chairpin {
    margin-bottom: 15px;
}

div#overlay h2 {
    margin-bottom: 5px;
}

.plus-blue {
    color: #7EA2B4;
}

div#overlay div.footer-text {
    margin-bottom: 5px;
}

div#overlay div.footer-text p {
    text-align: justify;
}

div#overlay div.do-now-buttons button {
    position: relative;
}

.ui-widget-header {
    background: none;
}

.ui-dialog-titlebar {
    display: none;
}

.ui-dialog {
    border: 2px solid #7EA2B4;
}

/** Homepage Grid **/
div.home-grid {
    position: relative;
    width: 630px;
    height: 390px;
    float: left;
    margin: 10px;
    overflow: hidden;
    display: block;
}

div.home-grid div.grid-element {
    background-color: #ededed;
    border: 2px solid #dcdcdc;
    width: 200px;
    height: 120px;
    float: left;
    margin: 3px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    behavior: url('../shared/PIE-1.0.0/PIE.htc');
}

div.home-grid div.grid-element:hover {
    background-color: #e6e6e6;
}

div.home-grid div.grid-element a {
    width: 200px;
    height: 120px;
    text-align: center;
    overflow: hidden;
    display: block;
    text-decoration: none;
    border-bottom: none;
}

div.home-grid div.grid-element a.plus {
    color: #7FA2B3;
}

div.home-grid div.grid-element a.premium {
    color: #273538;
}

div.home-grid div.grid-element a div.image {
    width: 117px;
    height: 93px;
    margin-left: 41px;
    margin-top: 5px;
    padding-bottom: 2px;
}

div.home-grid div.grid-element a div.image.powwownow {
    background: url('../sfimages/sprites/mypwn-powwownow-sprite.png') no-repeat;
}

div.home-grid div.grid-element a div.image.plus {
    background: url('../sfimages/sprites/mypwn-plus-sprite.png') no-repeat;
}

div.home-grid div.grid-element a div.image.premium {
    background: url('../sfimages/sprites/mypwn-premium-sprite.png') no-repeat;
}

div.home-grid div.grid-element a div.image.powwownow_request_wallet_card {
    background-position: -117px 0;
}

div.home-grid div.grid-element a div.image.powwownow_dial_in_numbers {
    background-position: -234px 0;
}

div.home-grid div.grid-element a div.image.powwownow_scheduler {
    background-position: -351px 0;
}

div.home-grid div.grid-element a div.image.powwownow_manage_call_settings {
    background-position: -468px 0;
}

div.home-grid div.grid-element a div.image.powwownow_in_conference_controls {
    background-position: -585px 0;
}

div.home-grid div.grid-element a div.image.powwownow_share_my_desktop {
    background-position: -702px 0;
}

div.home-grid div.grid-element a div.image.powwownow_purchase_products {
    background-position: -819px 0;
}

div.home-grid div.grid-element a div.image.powwownow_how_it_works {
    background-position: -936px 0;
}

div.home-grid div.grid-element a div.image.powwownow_envelope {
    background-position: -1050px 0;
}

div.home-grid div.grid-element a div.image.powwownow_pound {
    background-position: -1275px 0;
}

div.home-grid div.grid-element a div.image.powwownow_letter_clock {
    background-position: -1179px 0;
}

div.home-grid div.grid-element a div.image.plus_request_wallet_card {
    background-position: -117px 0;
}

div.home-grid div.grid-element a div.image.plus_dial_in_numbers {
    background-position: -234px 0;
}

div.home-grid div.grid-element a div.image.plus_scheduler {
    background-position: -351px 0;
}

div.home-grid div.grid-element a div.image.plus_manage_call_settings {
    background-position: -468px 0;
}

div.home-grid div.grid-element a div.image.plus_in_conference_controls {
    background-position: -585px 0;
}

div.home-grid div.grid-element a div.image.plus_share_my_desktop {
    background-position: -702px 0;
}

div.home-grid div.grid-element a div.image.plus_purchase_products {
    background-position: -819px 0;
}

div.home-grid div.grid-element a div.image.plus_how_it_works {
    background-position: -936px 0;
}

div.home-grid div.grid-element a div.image.plus_envelope {
    background-position: -1050px 0;
}

div.home-grid div.grid-element a div.image.plus_letter_clock {
    background-position: -1179px 0;
}

div.home-grid div.grid-element a div.image.plus_pound {
    background-position: -1276px 0;
}

div.home-grid div.grid-element a div.image.plus_create_users {
    background-position: -1373px 0;
}

div.home-grid div.grid-element a div.image.plus_minute_bundles {
    background-position: -1500px 0;
}

div.home-grid div.grid-element a div.image.premium_request_wallet_card {
    background-position: -117px 0;
}

div.home-grid div.grid-element a div.image.premium_dial_in_numbers {
    background-position: -234px 0;
}

div.home-grid div.grid-element a div.image.premium_scheduler {
    background-position: -351px 0;
}

div.home-grid div.grid-element a div.image.premium_manage_call_settings {
    background-position: -468px 0;
}

div.home-grid div.grid-element a div.image.premium_in_conference_controls {
    background-position: -585px 0;
}

div.home-grid div.grid-element a div.image.premium_share_my_desktop {
    background-position: -702px 0;
}

div.home-grid div.grid-element a div.image.premium_purchase_products {
    background-position: -819px 0;
}

div.home-grid div.grid-element a div.image.premium_how_it_works {
    background-position: -936px 0;
}

div.home-grid div.grid-element a div.image.premium_call_history {
    background-position: -1053px 0;
}

div.home-grid div.grid-element a div.image.premium_access_recordings {
    background-position: -1170px 0;
}

div.home-grid div.grid-element a div.image.premium_time_limited_pins {
    background-position: -1287px 0;
}

div.home-grid div.grid-element a div.image.premium_envelope {
    background-position: -1392px 0;
}

div.home-grid div.grid-element a div.image.premium_letter_clock {
    background-position: -1522px 0;
}

div.home-grid div.grid-element a div.image.premium_pound {
    background-position: -1632px 0;
}

div.home-grid div.grid-element a.grid_hover {
    position: absolute;
    background: #333;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    opacity: 0;
    color: #fff;
    border-radius: 10px;
}

div.home-grid div.grid-element a.grid_hover span {
    display: inline-block;
    padding: 10px;
    color: white;
}

/** myPWN Breadcrumb for Sub Pages **/
.breadcrumb-myPwn-sub-page {
    float: right;
}

/** Forms Formating **/
.pwn-form {
    margin-bottom: 20px
}

.pwn-form .grid_sub_12 {
    position: relative
}

.pwn-form .grid_sub_12 label {
    width: 115px;
    display: inline-block;
}

.pwn-form .grid_sub_12 .nice-error-box {
    left: auto;
    right: 0 !important;
}

#form-create-pin #existing_user {
    margin-bottom: 20px;
}

#form-create-pin label {
    width: 140px;
    display: inline-block;
}

#form-create-pin-submit {
    float: right;
}

div.message {
    margin: 10px 0 0 0;
    padding: 5px;
    text-align: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    /*behavior: url(/shared/PIE-1.0.0/PIE.php);*/
}

div.message.success {
    border: 1px solid #96C84B;
    background: #efefef;
    text-shadow: 0 1px 0 #ffffff;
}

div.message.warning {
    border: 1px solid #FFB027;
    background: #efefef;
    text-shadow: 0 1px 0 #ffffff;
}

#email-change-info {
    width: 16px;
    height: 16px;
    background: url('../sfimages/info-icon-16.png') no-repeat left center;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    padding: 5px 0;
    cursor: pointer;
}

/** Call Settings Field Help Information Button **/
.field-help-info {
    width: 16px;
    height: 16px;
    background: url('../sfimages/info-icon-16.png') no-repeat left center;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    padding: 5px 0;
    cursor: pointer;
}

/** Recordings Form Fixes **/
form#frmrecordings.pwnform .form-field label {
    width: 130px;
}

form#frmrecordings.pwnform {
    margin-bottom: 10px;
}

/** Whoson Chat **/
div#pwn-footer a.chatlink, div#pwn-footer a:active.chatlink, div#pwn-footer a:link.chatlink, div#pwn-footer a:hover.chatlink {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

/** Recordings DataTable Additional Row **/
tr.rec-settings {
    display: none;
    background: #fff
}

tr.rec-settings td {
    background: #fff url('../sfimages/mypwn-rec-settings-bg.png');
    padding: 20px 10px 0 10px;
}

/** In-Conference Controls **/
div.inconferencecontrols p {
    margin-bottom: 15px;
}

/** Long Table Rows use this on the column and it will break the word down. **/
.longcol {
    -epub-word-break: break-all;
    -ms-word-break: break-all;
    word-break: break-all;
    -epub-hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

/** Schedule A Call **/
div.schedule-a-call {
    padding-top: 20px;
}

div.schedule-a-call p {
    padding: 0;
}

div.schedule-a-call p a {
    border-bottom: 0;
    text-decoration: none;
    padding-left: 0;
}

div.schedule-a-call p.button {
    padding-bottom: 25px;
}

div.schedule-a-call button {
    margin-left: 0;
}

div.schedule-a-call h3.powwownow, div.webconferencing h3.powwownow {
    color: #96C84B;
}

div.schedule-a-call h3.plus, div.webconferencing h3.plus {
    color: #7fa2b3;
}

div.schedule-a-call h3.premium, div.webconferencing h3.premium {
    color: #273538;
}

/** Web Conferencing (Auth) **/
div.formresults, div.webConferencingForm {
    display: none;
}

div.webconferencing h3.powwownow {
    color: #96C84B;
}

div.webconferencing h3.plus {
    color: #7fa2b3;
}

div.webconferencing h3.premium {
    color: #273538;
}

/** Wallet Card Request **/
.mypwn-customer {
    position: absolute;
    top: 130px;
    left: 100px;
    color: #000000;
    font-size: 9px;
    margin: 0 auto;
    padding: 5px;
    width: 175px;
    overflow: hidden;
    font-family: arial;
}

.mypwn-customer div {
    text-align: center;
}

.mypwn-customer span {
}

/** Music on Hold Quiz Banner **/
.quizBanner {
    margin-top: 12px;
}

.quizBanner a,
.quizBanner a:active,
.quizBanner a:link,
.quizBanner a:hover {
    border-bottom: 0;
    text-decoration: none;
}
