/* general colours and font sizes */
.pwn-orange {
    color: #FFB027;
}

.pwn-plus-blue {
    color: #7EA2B4;
}

.pwn-font-20 {
    font-size: 20px;
}

.product-accordion .ui-accordion-content {
    overflow-y: auto;
    max-height: 400px;
}

/*Plus Login / Create-A-Login Page*/
h3 {
    font-family: "RockwellStdRegular", Georgia, serif;
    font-weight: normal !important;
    font-size: 18px;
}

.tab-1-plus {
    background: url("../sfimages/sprites/sprite-tabs.png") no-repeat scroll -146px 0 transparent !important;
}

.tab-2-plus {
    background: url("../sfimages/sprites/sprite-tabs.png") no-repeat scroll -1169px 0 transparent !important;
}

/*Plus Upgrade From Enhanced User*/
#frm-plus-upgrade label {
    display: inline-block;
    width: 110px;
}

#frm-plus-upgrade-response-placeholder {
    font-weight: bold;
}

.upgradeFreeToPlusFormContainer span {
    float: right;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

/* Products Section */
form#form-update-products {
    padding: 0;
}

#products > tbody > tr,
#products-feature > tbody > tr {
    border-bottom: 1px solid white;
}

table#products > tr.product-disabled,
table#products-feature > tr.product-disabled {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
}

table#products > tr:hover,
table#products-feature > tr:hover {
    background: #FAFAFA;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

table#products th.description,
table#products-feature th.description {
    width: 60%;
}

table#products tr:first-child,
table#products-feature tr:first-child {
    background: transparent;
}

table#products > tr > td,
table#products-feature > tr > td {
    padding: 20px 0;
    vertical-align: top;
    position: relative;
}

.product-image {
    padding-left: 10px;
    margin-right: 30px;
    width: 48px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    opacity: 0.9;
}

tr:hover .product-image {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

table.product-numbers, table.product-pricing {
    background-color: #FFF;
}

body table.product-numbers tr:last-child td, body table.product-pricing tr:last-child td {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

table#products td .product-name,
table#products td .product-name a,
table#products-feature td .product-name,
table#products-feature td .product-name a {
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
    font-family: "RockwellStdRegular", Georgia, serif;
    border-bottom: 1px dashed;
    color: #7EA2B4;
    cursor: pointer;
    display: inline;
    line-height: 140%;
}

table#products td .product-name:hover,
table#products-feature td .product-name:hover {
    border-bottom: 1px solid transparent;
}

table#products td .no-tooltip.product-name,
table#products-feature td .no-tooltip.product-name {
    border-bottom: none;
}

table#products td .no-tooltip.product-name:hover,
table#products-feature td .no-tooltip.product-name:hover {
    cursor: default;
}

table#products td.product-action,
table#products-feature td.product-action {
    text-align: center
}

table#products td p:first-child,
table#products-feature td p:first-child {
    padding-top: 0;
}

table#products th, table#pinproducts th,
table#products-feature th, table#pinproducts th {
    position: relative;
}

table#products .tooltip,
table#pinproducts .tooltip,
table#products-feature .tooltip,
div.tooltip-container .tooltip {
    padding: 10px 20px;
    margin-top: 10px;
    display: none;
    width: 500px;
}

table#pinproducts .tooltip .tooltip-arrow-top {
    margin-left: 10px;
}

/* Steps for products */
ul#products-nav {
    list-style: none;
    margin: 10px 0 20px 0;
    padding: 0;
    border-radius: 8px;
    height: 32px;
    overflow: hidden;
}

ul#products-nav li {
    float: left;
    padding: 9px 30px 9px 15px;
    background: #E4E5E7;
    margin: 0;
    position: relative;
    color: #515151;
    border-bottom: none;
    text-shadow: 0 1px 0 #FFFFFF;
    cursor: default;
}

ul#products-nav li:first-child {
    -webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    border-radius: 8px 0 0 8px;
}

ul#products-nav li.last-child {
    -webkit-border-radius: 0 8px 8px 0;
    -moz-border-radius: 0 8px 8px 0;
    border-radius: 0 8px 8px 0;
}

ul#products-nav li.current {
    background: #E90;
    text-shadow: none;
    font-weight: bold;
    color: #FFF;
}

ul#products-nav li.current span {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 0 16px 16px;
    border-color: #E4E5E7 #E4E5E7 #E4E5E7 #ee9b00;
}

ul#products-nav li.previous span {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 0 16px 16px;
    border-color: #EE9B00 #EE9B00 #EE9B00 #E4E5E7;
}

ul#products-nav li:last-child span {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 0;
}

table.product-pricing tr td {
    padding: 5px 2px;
}

table#products .product-accordion,
table#pinproducts .product-accordion,
table#products-feature .product-accordion,
div.tooltip-container .product-accordion {
    margin-top: 10px;
}

table#products .ui-accordion-header,
table#pinproducts .ui-accordion-header,
table#products-feature .ui-accordion-header,
div.tootlip-container .ui-accordion-header {
    padding: 3px 10px 3px 20px;
}

table#products .ui-state-active,
table#pinproducts .ui-state-active,
table#products-feature .ui-state-active,
div.tooltip-container .ui-state-active {
    background: #7EA2B4;
    border: 1px solid #7EA2B4;
    color: #FFFFFF;
}

table#products .ui-accordion-content,
table#pinproducts .ui-accordion-content,
table#products-feature .ui-accordion-content {
    border: 1px solid #7EA2B4;
    white-space: normal
}

/* MyPin Products page */
#pinproducts {
    width: 100%
}

#pinproductscontainer {
    width: 920px;
    overflow: hidden;
}

#pinproducts th.pinpair {
    width: 160px;
}

#pinproducts td.pinpair {
}

#pinproducts th.assignpinpair {
    top: 25px;
}

#pinproducts th.assignpinpair, #pinproducts td.assignpinpair {
    width: 225px;
    position: absolute;
    left: 0px;
}

#pinproducts .group-short {
    cursor: help
}

#pinproducts th.pinproduct {
    width: 60px;
}

#pinproducts td.pinproduct {
    border-left: 1px solid #aaa
}

#pinproducts td.autosize {
    width: auto;
    border-left: 1px solid #aaa
}

#pinproducts .group-short {
    border-bottom: 1px dashed
}

#pinproducts .group-short:hover {
    color: #495E69;
    border-bottom: 0px dashed;
}

#pinproducts input[type="checkbox"] {
    vertical-align: middle;
    margin-left: 17px;
}

.account-balance {
    font-family: "RockwellStdRegular", Georgia, serif;
    font-weight: 400;
    font-size: 20px;
    color: #EE9900;
    padding: 5px 15px;
    display: inline-block;
    text-shadow: 0 1px 0 #FFF;
    background: #F5F5F5;
    margin-bottom: 10px;
    margin-top: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

#topup input[type=radio] {
    vertical-align: middle
}

#topup input[type=radio] + label {
    vertical-align: middle
}

#topup .form-field {
    margin: 10px
}

div#PopupDialog {
    border: 2px solid #EE9900;
    padding: 15px;
    top: 40%;
    height: 132px;
    margin-top: -50px;
    text-align: center;
    font-size: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

div.fadeBG {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #333333;
    display: none;
    filter: alpha(opacity=50);
    opacity: 0.5;
    z-index: 2000;
}

div.popupDialogOnFade {
    display: none;
    height: 250px;
    width: 400px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    border: 1px solid black;
    background-color: #ffffff;
    z-index: 100000;
}

ul.radio_list {
    padding: 10px 15px;
    display: block;
    text-shadow: 0 1px 0 #FFF;
    background: #F5F5F5;
    margin-bottom: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

ul.radio_list {
    list-style-type: none;
    margin-left: 0px;
}

ul.radio_list li {
    margin-left: 0px;
    margin-bottom: 5px;
    display: block
}

.auto-recharge-box {
    border: 1px solid #E90;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

/* Topup History Styling */
#transaction {
    display: none;
    color: #515151
}

#transaction > div > table {
    width: 250px;
    margin: 20px 0;
}

#transaction td.tablelabel {
    width: 80px;
    font-weight: bold;
    text-align: left;
}

#transaction tr {
    border-bottom: 1px solid #dddddd;
}

/* Style Jquery UI headers in plus colours */
div.ui-dialog-buttonset button {
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

div.ui-dialog-buttonset button[type=button] {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    background: #ffb027; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYjAyNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNDhhMDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(center top, #ffb027 0%, #e48a03 100%) repeat scroll 0 0 transparent; /* FF3.6+ */
    background: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #ffb027), color-stop(100%, #e48a03)) repeat scroll 0 0 transparent; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(center top, #ffb027 0%, #e48a03 100%) repeat scroll 0 0 transparent; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(center top, #ffb027 0%, #e48a03 100%) repeat scroll 0 0 transparent; /* Opera 11.10+ */
    background: -ms-linear-gradient(center top, #ffb027 0%, #e48a03 100%) repeat scroll 0 0 transparent; /* IE10+ */
    background: linear-gradient(center top, #ffb027 0%, #e48a03 100%) repeat scroll 0 0 transparent; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb027', endColorstr='#e48a03', GradientType=0); /* IE6-8 */
}

.card-types table {
    background: #ffffff;
}

.card-types table a, .card-types table a:active, .card-types table a:link, .card-types table a:hover {
    border-bottom: 0;
}

body .ui-widget-content {
    border: 1px solid #7EA2B4;
    background: #FCFDFD url('../sfimages/jQuery/ui-bg_inset-hard_100_fcfdfd_1x100.png') 50% bottom repeat-x;
    color: #222;
}

body .ui-widget-content {
    background: #efefef;
}

#switch2plus {
    display: none;
    color: #FFF;
    background: #7EA2B4;
}

#switch2plus form {
    padding: 0;
    background: none;
}

#switch2plus input#plus_register_email, #switch2plus input#plus_auth_password {
    width: 420px;
    font-size: 24px;
    color: #515151;
}

button#plus_switch_step1 span, button#plus_switch_auth span {
    font-size: 24px;
}

.plus-reg-info {
    padding: 10px;
    background-color: #608694;
    color: #efefef;
    text-shadow: 0 1px 0 #333;
    font-style: italic;
    margin-top: 10px;
    border-radius: 8px;
}

#switch2plus .terms-text {
    font-size: 95%;
}

#switch2plus span.mypwn-input-container {
    z-index: auto;
}

form#form-plus-signup .form-field {
    width: 50%;
}

form#form-plus-signup .form-field label {
    color: #FFF;
    width: 140px;
}

form#form-plus-signup .form-field label sup.asterisk {
    color: #FFF
}

#switch2plus a {
    color: #495E69
}

#switch2plus a:hover {
    color: #FFF;
}

.plus-close {
    position: absolute;
    z-index: 1000;
    right: 10px;
    top: 10px;
    height: 16px;
    width: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    padding-top: 4px;
    cursor: pointer;
    background-color: #608694;
    color: #efefef;
}

/*Breadcrumbs*/
.breadcrumbs {
    padding: 15px 5px 10px 25px;
}

/*Product Details*/
div.whatNextContainer {
    margin-top: 25px;
    margin-bottom: 10px;
}

div.whatNextContainer label {
    display: block;
    width: 210px;
}

ul.whatNext {
    margin: 10px 0px;
    list-style-type: none;
}

ul.whatNext li {
    margin-top: 10px;
}

#usageRates_length.dataTables_length {
    width: 100%;
}

h2.credit_amount {
    color: #FFB027;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 400;
    line-height: inherit;
    margin-left: 15px;
}

.margin-top-50 {
    margin-top: 50px;
}

.productdetailshead {
    padding: 20px 0 5px 60px;
}

/*Powwownow Quality Status*/
.circle_green {
    height: 20px;
    width: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: green;
}

.circle_red {
    height: 20px;
    width: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: red;
}

.circle_amber {
    height: 20px;
    width: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: #FFC200;
}

table.tblqualitystats {
    width: auto;
    margin: 0 auto;
}

table.tblqualitystats th, table.tblqualitystats td {
    width: 200px;
}

table#tbl_service_availability_stats th:first-child, table#tbl_service_availability_stats td:first-child {
    width: 230px;
}

table#tbl_service_availability_stats th:last-child, table#tbl_service_availability_stats td:last-child {
    width: 100px;
}

table#tbl_service_availability_stats td:last-child {
    text-align: center;
}

table#tbl_service_availability_stats td.showstats {
    text-align: right;
}

.showstats {
    text-align: right;
    cursor: pointer;
    color: #A6CF5A;
}

.hiddenstats {
    display: none;
}

/*Whoson Chat CSS*/
a.chatlink, a:active.chatlink, a:link.chatlink, a:hover.chatlink {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

/*Purchase Credit Page*/
#topup_topup-amount_input {
    width: 50px;
}

/* BWM styling */
.product-bwm {
    z-index: 4000;
}

.bwm-arrow-up {
    position: absolute;
    top: -12px;
    left: 130px;
    width: 0px;
    height: 0px;
    border-bottom: 15px solid #FAFAFA;
    border-right: 20px solid transparent;
    border-top: 0;
    border-left: 20px solid transparent;
}

span.bwm-script-placeholder {
    color: #FFF;
    text-shadow: 0 1px 0 #475D63;
}

.bwm-script {
    background: #7EA2B4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 30px;
}

.bwm-script blockquote {
    color: #273438;
    padding: 10px 30px;
    font-size: 14px;
    line-height: 160%;
    margin: 0;
    position: relative;
}

.bwm-script blockquote:before {
    content: "\201C";
    color: #ffffff;
    font-family: Georgia, serif;
    font-size: 2.8em;
    line-height: .1em;
    position: absolute;
    display: block;
    left: 10px;
    margin-top: 10px;
}

.bwm-script blockquote:after {
    content: "\201D";
    color: #ffffff;
    font-family: Georgia, serif;
    font-size: 2.8em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;
    position: absolute;
    display: block;
    right: 0px;
    margin-bottom: 10px;
}

.bwm-step2-container {
    padding: 15px;
    background-color: #FAFAFA;
    position: relative;
    border-radius: 10px;
    margin-bottom: 10px;
}

#bwmRates tr td {
    background: #FFF !important;
}

#bwmRates tr.highlight-row td {
    background-color: #EE9B00 !important;
    color: #FFF !important;
    cursor: pointer;
}

#selectedRates tr.remove-row td {
    background-color: #ddd !important;
}

#selectedRates tr td:last-child {
    position: relative;
    padding-right: 0;
    padding-left: 2px;
}

#selectedRates tr td div.delete {
    width: 14px;
    height: 14px;
    font-size: 14px;
    font-weight: bold;
    color: #FF0000;
    cursor: pointer;
}

#bwmCharges {
    margin: 20px 0 10px 0;
}

#bwmCharges table tr, #bwmCharges table td {
    background: #FAFAFA;
}

#bwmCharges .bwm-one-off-price, #bwmCharges .bwm-numbers-price {
    font-weight: bold;
    text-align: right;
}

#bwmCharges .bwm-total-price {
    color: #EE9B00;
    font-weight: bold;
    text-align: right;
}

#bwm_summary_form label {
    width: 110px;
    display: inline-block;
    padding-top: 10px;
}

#bwm_summary_form textarea {
    width: 310px;
    height: 70px;
}

.alignright {
    text-align: right
}

.aligncenter {
    text-align: center
}

.assign-error.nice-error-box {
    position: static;
}

.sufficient_balance.message > p {
    padding: 0;
}

#fixed-col-tbl {
    width: 770px;
    margin-left: 215px;
    overflow-x: scroll;
    overflow-y: visible;
}

#fixed-col-tbl table {
    border-collapse: separate;
}

.button-disabled {
    background: -moz-linear-gradient(center top, #6C84B 0%, #68A2E 100%) repeat scroll 0 0 transparent !important;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    -moz-appearance: none !important;
    cursor: default;
}

#products .product-action button,
#products-feature .product-action button {
    float: right;
}

#products tr th:last-child:before,
#products-feature tr th:last-child:before {
    border-left: none;
}

.float-right {
    float: right;
}

#basket-items {
    display: block;
    font-size: 12px;
    margin-left: 17px;
    margin-bottom: -10px;
    text-align: center;
    color: #FFB027;
}

#bskt-prds {
    position: relative;
    float: left;
    left: -5px;
}

#bskt-prds a {
    border-bottom: none;
    float: left;
}

#bwmRates_wrapper {
    margin-top: 20px;
}

.rnd_tbl_wrapper {
    margin-top: 20px;
    clear: both;
    min-height: 40px;
    position: relative;
}

#bwmRates_filter {
    width: auto;
    float: none;
}

#configure_bwm_script label {
    width: 120px;
}

.fx-frm {
    position: relative;
}

.total-cost {
    text-align: right;
}

#basket-link {
    font-size: 8px;
    display: block;
}

.unadded-product {
    display: none;
}

.product-basket-removal-action button {
    background: url("../sfimages/close_21.png") no-repeat;
    border: none;
    padding: 0;
    width: 21px;
    height: 21px;
    margin-top: 5px;
}

.product-basket-removal-action.basket-product button {
    background: url("../sfimages/close_15.png") no-repeat;
    width: 15px;
    height: 15px;
    opacity: 0.5;
}

.product-basket-removal-action.basket-product:hover button {
    opacity: 1;
}

.basket-actions {
    width: 175px;
}

.basket-actions form {
    float: right;
}

.product-basket-removal-action button span {
    display: none;
}

.added-product-action button {
    margin: 0;
}

.empty-basket-message {
    display: none;
}

.empty-basket-message.show {
    display: block;
}

#bwm_summary_form label.script-accept-label {
    width: auto;
}

.credit-pucrhase-ttip {
    z-index: 4000;
    left: 95px;
    width: 315px;
}

.credit-pucrhase-ttip .tooltip-arrow-top {
    top: -11px;
}

.credit-pucrhase-ttip .product-accordion {
    margin: 10px;
}

.plus-button-rel {
    display: inline-block;
    float: none !important;
    position: relative;
    z-index: 1000;
}

.plus-header > div {
    float: right;
}

#bskt-prds {
    margin-top: 10px;
}

#bskt-prds > a {
    margin-right: 5px;
}

.bwm-pencil {
    margin-left: 14px;
}

table#products td div.bwm-prod-wrapper,
table#products-feature td div.bwm-prod-wrapper {
    float: left;
}

table#products td div.bwm-prod-wrapper .bwm-name-form,
table#products-feature td div.bwm-prod-wrapper .bwm-name-form {
    display: none;
    border-bottom: 1px none;
    width: 290px;
    padding: 0;
    background: none;
}

table#products td div.bwm-prod-wrapper .bwm-name-form .bwm-name-input,
table#products-feature td div.bwm-prod-wrapper .bwm-name-form .bwm-name-input {
    position: relative;
    width: 100%;
    display: inline;
}

.selected-bwm-script {
    max-width: 100%;
}

.selected-bwm-script .bwm-script {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 25px;
}

.selected-bwm-script p {
    padding-bottom: 0;
}

.ui-dialog-buttonpane div.ui-dialog-buttonset button.button-disabled[type="button"] {
    background: none;
    background-color: rgb(221, 221, 221);
}

.assign-confirmation {
    display: none;
}

.assign-confirmation.show {
    display: block;
}

table.mypwn-fixed {
    margin-top: 0;
    margin-bottom: 0;
}

.DTFC_LeftBodyWrapper table.mypwn-fixed tr th:before,
.dataTables_scrollBody table.mypwn-fixed tr th:before {
    height: 0;
}

.tooltip-container .tooltip {
    width: 300px;
}

#bwm_summary_form {
    padding-top: 0;
}

.bwm-summary .bwm-step2-container > p {
    padding-bottom: 0;
}

.tick-button {
    border: medium none;
    height: 21px;
    margin-top: 5px;
    padding: 0;
    width: 21px;
}

.green-tick {
    background: url("../sfimages/green-tick-21.png") no-repeat scroll 0 0 transparent;
}

.red-cross {
    background: url("../sfimages/close_21.png") no-repeat scroll 0 0 transparent;
}

.tick-button span {
    display: none;
}

.mypwn tr .tick-button {
    display: inline;
}

.mypwn-fixed th.autosize, .mypwn-fixed td.autosize, .mypwn-fixed th.autosize:before {
    border: none !important;
}

.not-show {
    display: none;
}

/****************************************************
* Shopping basket tooltip
****************************************************/
#bskt-prds .basket-contents {
    display: none;
    width: 275px;
    position: absolute;
    margin-top: 45px;
    z-index: 2;
    left: -100px;
}

#bskt-prds .basket-contents .product.prototype {
    display: none;
}

#bskt-prds:hover .basket-contents,
#bskt-prds .basket-contents.new-purchased {
    display: block;
}

#bskt-prds .basket-contents h4 {
    background-color: #7EA2B4;
    text-align: left;
    font-weight: bold;
    color: white;
    margin: 0;
    text-transform: uppercase;
    padding: 5px;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
}

#bskt-prds .basket-contents table {
    margin: 0;
    background-color: #eee;
}

#bskt-prds .basket-contents table td.bold {
    font-weight: bold;
    padding-top: 10px;
}

#bskt-prds .basket-contents table tfoot td.price {
    padding-top: 10px;
}

#bskt-prds .basket-contents table td {
    color: black;
    text-transform: none;
    font-family: Verdana, sans-serif;
    border: none;
    padding: 2px 10px;
    text-align: left;
    font-size: 0.5em !important;
}

#bskt-prds .basket-contents table td.price {
    text-align: right;
}

#bskt-prds .basket-contents table tfoot td {
    padding-bottom: 10px;
}

#bskt-prds .basket-contents thead,
#bskt-prds .basket-contents .total-divider {
    display: none;
}

#bskt-prds .basket-contents.has-products thead {
    display: block;
}

#bskt-prds .basket-contents.has-products .total-divider {
    display: table-row;
}

#basket-products td.charge {
    font-weight: bold;
}

#basket-products th.product-action,
#basket-products th.last-charge-column {
    -webkit-border-radius: 0 8px 0 0;
    -moz-border-radius: 0 8px 0 0;
    border-radius: 0 8px 0 0;
}

/****************************************************
* Home Grid Overlay Ribbon
****************************************************/
.home-grid .grid-element .ribbon-wrapper .ribbon {
    color: #ffffff;
    font-family: verdana;
    text-transform: uppercase;
    font-size: 0.92em;
}

.home-grid .grid-element.new .ribbon-wrapper .ribbon {
    font-weight: bold;
}

/*Ribbon positioning*/
.home-grid .grid-element .ribbon-wrapper {
    width: 120px;
    height: 95px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
}

/*The Ribbon*/
.home-grid .grid-element .ribbon {
    text-align: center;
    position: relative;
    padding: 7px 0;
    left: 14px;
    top: 23px;
    width: 138px;
    background-color: #96c84b;
}

.cssgradients .home-grid .grid-element .ribbon {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#96c84b), to(#668a2e));
    background-image: -webkit-linear-gradient(top, #96c84b, #668a2e);
    background-image: -moz-linear-gradient(top, #96c84b, #668a2e);
    background-image: -ms-linear-gradient(top, #96c84b, #668a2e);
    background-image: -o-linear-gradient(top, #96c84b, #668a2e);
}

.csstransforms .home-grid .grid-element .ribbon {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.textshadow .boxshadow .home-grid .grid-element .ribbon {
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
}

.boxshadow .home-grid .grid-element .ribbon {
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.home-grid .grid-element .ribbon:before,
.home-grid .grid-element .ribbon:after {
    content: "";
    border-top: 3px solid #6e8900;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px;
}

.home-grid .grid-element .ribbon:before {
    left: 0;
}

.home-grid .grid-element .ribbon:after {
    right: 0;
}

/*Coming Soon*/
.home-grid .grid-element.coming-soon {
    background: #444444;
}

.home-grid .grid-element.coming-soon .image {
    opacity: 0.1;
    filter: alpha(opacity=10);
}

/*Plus Blue*/
.home-grid .grid-element.free_blue .ribbon {
    background-color: #7fa2b3;
}

.cssgradients .home-grid .grid-element.free_blue .ribbon {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7fa2b3), to(#6e91a4));
    background-image: -webkit-linear-gradient(top, #7fa2b3, #6e91a4);
    background-image: -moz-linear-gradient(top, #7fa2b3, #6e91a4);
    background-image: -ms-linear-gradient(top, #7fa2b3, #6e91a4);
    background-image: -o-linear-gradient(top, #7fa2b3, #6e91a4);
}

.home-grid .grid-element.free_blue .ribbon:before,
.home-grid .grid-element.free_blue .ribbon:after {
    border-top: 3px solid #6e91a4;
}

.home-grid .grid-element.free_blue .ribbon-wrapper .ribbon {
    font-weight: bold;
}

/*IE 10*/
.ie.ie10 .home-grid .grid-element .ribbon {
    left: 109px;
}

/*IE 9*/
.ie.ie9 .home-grid .grid-element .ribbon-wrapper {
    width: 120px;
    height: 95px;
    overflow: hidden;
    top: -3px;
    right: -3px;
    left: 80px;
}

/*IE 8*/
.ie.ie8 .home-grid .grid-element .ribbon-wrapper {
    width: 200px;
    left: 0;
}

.ie.ie8 .home-grid .grid-element .ribbon {
    left: 0;
    width: inherit;
    top: 45px;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

/*IE Global*/
.ie .home-grid .grid-element .ribbon-wrapper {
    position: absolute;
    top: 0;
    left: -15px;
    right: 100px;
    width: 215px;
}

.ie .home-grid .grid-element .ribbon {
    width: 200px;
    text-align: center;
}

.ie .home-grid .grid-element .ribbon:before,
.ie .home-grid .grid-element .ribbon:after {
    border: none;
    content: none;
}

p.overlay-item.payg {
    padding-top: 15px;
}

/****************************************************
* Plus Announcement Banner
****************************************************/
/** Plus Admin**/
.plus-promo,
.plus-announcement {
    display: block;
    float: left;
    height: 385px;
    width: 296px;
    border: 2px solid #DCDCDC;
    background: url("../sfimages/plus-announcement.png") no-repeat 5px 70px;
    margin: 12px 0 0 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
}

.plus-promo .plus-header,
.plus-announcement .plus-header {
    padding: 10px 10px 0 10px;
    color: #7FA2B3;
    font-size: 2em;
    line-height: 1em;
}

.plus-announcement .plus-text {
    width: 57%;
    float: right;
    padding: 0 20px 0 0;
    line-height: 1.1em;
}

/*Plus User*/
.plus-promo {
    width: 250px;
    background: url("../sfimages/plus-cowgirls.png") no-repeat center 175px;
    margin-left: 20px;
}

.plus-promo .plus-header {
    margin: 25px 0 25px 0;
    font-size: 2.5em;
    padding: 0 10px 0 20px;
}

.plus-promo .promo-text {
    text-transform: uppercase;
    font-size: 1.7em;
    font-family: rockwellstdregular;
    line-height: 1em;
    color: #707070;
}

.plus-promo .button-wrapper {
    position: absolute;
    bottom: 20px;
    left: 65px;
    font-size: 1.2em;
}

/****************************************************
* Stand Out from the crowd banner
****************************************************/
.stand-out-banner {
    display: block;
    float: left;
    height: 385px;
    width: 250px;
    border: 2px solid #DCDCDC;
    margin: 12px 0 0 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    background: url("../sfimages/plus/bundle-product-banner.png") no-repeat center 75%;
}

.stand-out-banner .header {
    padding: 10px 10px 0 10px;
    color: #7FA2B3;
    font-size: 29px;
    line-height: 1.2em;
}

.stand-out-banner .sub-header {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.2em;
    font-weight: normal;
    margin-top: 1em;
}

.stand-out-banner .button-wrapper {
    position: relative;
    margin: 70% 0 0 0;
}

.stand-out-banner .button-wrapper button {
    width: 80%;
    font-size: 14px;
}

.bubble-blue-large {
    background: url("../sfimages/bubble/bubble-blue-plus-large.png") no-repeat scroll 0 0 transparent;
    height: 338px;
    margin-left: -19px;
    width: 713px;
}

/****************************************************
* pseudo button class
****************************************************/
.button {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.button a {
    display: block;
    white-space: nowrap;
}

.button a,
.button a:link,
.button a:visited,
.buttin a:active {
    outline: none;
    border: none;
    color: #ffffff;
    padding: 5px 15px 5px
}

.button.expand {
    width: 80%;
}

.page-schedule-a-call-success .button a,
.page-schedule-a-call-success .button a:link,
.page-schedule-a-call-success .button a:visited,
.page-schedule-a-call-success .buttin a:active {
    padding: 0;
}

/****************************************************
* Bolt On - Master CSS in teamsite for this sprite!
****************************************************/
div.home-grid div.grid-element div.image.plus.plus_my_products {
    background: url("../sfimages/products/my-products-new.png") no-repeat center;
}

div.home-grid div.grid-element div.image.plus.plus_in_branded_welcome_message {
    background: url("../sfimages/products/cowgirl-bwm-blue.png") no-repeat center center;
}

div.home-grid div.grid-element div.image.plus.plus_pound {
    background: url("../sfimages/products/credit-cards.png") no-repeat center center;
}

div.home-grid div.grid-element a div.image.plus.plus_minute_bundles_new {
    background: url("../sfimages/products/bundles.png") no-repeat center center;
}

#basket-products .update-call-credit-submit,
#basket-products div.message {
    clear: both;
}

#products tr.bundle td,
#products-feature tr.bundle td {
    background-color: #eee;
}

#products [name="upgrade-bundle"],
#products-feature [name="upgrade-bundle"] {
    vertical-align: middle;
}

.mypwn_sub_header .minute-allowance {
    color: #FFB027;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.mypwn_sub_header .outstanding-balance {
    color: #AAAAAA;
    font-family: Verdana, sans-serif;
    font-size: 13px;
    font-weight: 400;
}

form.assign-product-to-all-users.pwnform {
    padding: 0;
    background: transparent;
}

p.assigned-to-all-users.message.success {
    padding: 0;
}

#all-products-to-all-users,
#assign-all-products {
    padding: 0;
    float: right;
}

#all-products-to-all-users {
    line-height: 27px;
}

#individual-user-bundle-create-user-form,
#assign-individual-bundle label {
    display: none;
}

.product-desc.bundle-desc ul {
    margin-bottom: 12px;
}

.product-desc.bundle-desc ul li {
    list-style-type: none;
    margin: 0;
    text-decoration: underline;
    line-height: 16px;
}

.ui-tooltip p {
    padding: 2px 0;
}

.addon-bundle-form-row {
    clear: both;
    overflow: hidden;
}

.addon-bundle-form-row .addon-bundle-icon {
    height: 50px;
    width: 100px;
}

.addon-bundle-form-row p {
    margin: 0;
    padding: 0;
}

.addon-bundle-form-row .addon-bundle-description {
    width: 200px;
    padding: 10px 7px;
}

.addon-bundle-form-row .addon-bundle-approval {
    width: 305px;
    padding: 10px 7px;
}

.addon-bundle-selection {
    width: 100%;
    margin-bottom: 10px;
}

.addon-bundle-form-row div,
.addon-bundle-form-row p,
.addon-bundle-form-row .addon-bundle-approval label,
.addon-bundle-form-row .addon-bundle-approval input {
    float: left;
}

.bundle.form .buttons > button {
    float: right;
}

.addon-bundle-selection-description,
.bundle-tc-description {
    width: 275px;
}

#individual-user-bundle-create-user-form-dialog {
    overflow: visible;
}

#individual-user-bundle-create-user-form {
    z-index: 1001;
    overflow: visible;
}

#individual-user-bundle-create-user-form #form-create-user {
    z-index: 1002;
}

#individual-user-bundle-create-user-form #form-create-user > div {
    z-index: 1003;
}

#individual-user-bundle-create-user-form #form-create-user > div > div {
    z-index: 1004;
}

#individual-user-bundle-create-user-form #form-create-user > div > div > span {
    z-index: 1005;
}

#individual-user-bundle-create-user-form #form-create-user > div > div > span > input {
    z-index: 1006;
}

#individual-bundle-forms #assign-individual-bundle {
    padding: 0;
    background: transparent;
}

#basket-products .total.charge > span {
    font-weight: normal;
    font-style: italic;
}

#basket-products tr.addon .addon-indicator,
#basket-products tr.addon .product-name {
    float: left;
}

#basket-products tr.addon .addon-indicator {
    height: 100%;
    line-height: 100%;
    font-size: 15px;
}

#basket-products tr.addon div.product-name {
    float: left;
    width: 85%;
    padding-left: 10px;
}

#basket-products tr.has-addon td {
    padding-bottom: 0;
}

#basket-products tr.addon td {
    padding-top: 0;
}

.product-bundle-add-on-dialog-link,
.product-bundle-dialog-link {
    color: #96C84B;
    border-bottom: 1px dotted;
    text-decoration: none;
}

.product-bundle-add-on-dialog-link:hover,
.product-bundle-dialog-link:hover {
    cursor: pointer;
}

.bundle-product-dialog {
    display: none;
}

.bundle-product-dialog .dialog-rows {
    overflow: hidden;
}

.bundle-product-dialog .dialog-rows .first-column {
    float: left;
    width: 70%;
}

.bundle-product-dialog .dialog-rows .second-column {
    float: right;
    width: 25%;
}

.bundle-product-dialog h1 {
    margin: 0;
    font-size: 15px;
}

.bundle-product-dialog h1.product-name-title {
    font-size: 24px;
}

.bundle-product-dialog .product-asterisk {
    text-align: right;
}

.bundle-product-dialog .product-benefits li {
    margin-bottom: 10px;
}

.bundle-product-dialog .content-seperator {
    clear: both;
}

.bundle-product-dialog .close-control {
    height: 27px;
    float: right;
}

.bundle .product-image {
    width: 60px;
}

.addon-bundle-icon {
    background-image: url("../sfimages/global_add_on.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    height: 69px;
    margin-top: 10px;
}

.basket-content tr.addon {
    background-color: #E4E5E7;
}

.products #products tr .tooltip .tooltip-close,
.products #products-feature tr .tooltip .tooltip-close {
    display: none;
}

.products #products tr.bundle .bundle-description .bundle-description-line:hover,
.products #products-feature tr.bundle .bundle-description .bundle-description-line:hover {
    cursor: pointer;
}

.products #products tr.bundle .bundle-description .tooltip,
.products #products-feature tr.bundle .bundle-description .tooltip {
    width: 400px;
}

.buttons label.bundle-tc {
    float: right;
}

.buttons label.bundle-tc > span,
.buttons label.bundle-tc > input {
    line-height: 31px;
}

.buttons label.bundle-tc input {
    vertical-align: middle;
}

tr.bundle .buttons {
    overflow: hidden;
}

.addon-bundle-description label > span {
    width: 75%;
}

.addon-bundle-description label > span,
.addon-bundle-description label > input {
    float: left;
}

.products #products .product-bundle .tooltip-arrow-top,
.products #products .product-credit .tooltip-arrow-top,
.products #products .product-bwm .tooltip-arrow-top,
.products #products-feature .product-bundle .tooltip-arrow-top,
.products #products-feature .product-credit .tooltip-arrow-top,
.products #products-feature .product-bwm .tooltip-arrow-top {
    margin-left: 20px;
}

#products.features th.last-child,
#products-feature.features th.last-child {
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    border-top-right-radius: 8px;
}

#basket-products .charge {
    width: 120px;
}

#basket-products .product-name {
    width: 315px;
}

#basket-products .total.charge {
    width: 150px;
}

.products #products .bundle.form .addon-bundle-form-row,
.products #products-feature .bundle.form .addon-bundle-form-row {
    background-color: #eee;
}

.products #products .bundle.form .pin-pair-selection,
.products #products-feature .bundle.form .pin-pair-selection {
    margin-bottom: 10px;
}

.products #products .bundle.form .pin-pair-selection .pin-pair-selection-fields,
.products #products-feature .bundle.form .pin-pair-selection .pin-pair-selection-fields {
    float: right;
}

.added-products .addon-bundle-denial,
.added-products .addon-bundle-denial p,
.products #products .bundle.form .addon-bundle-denial,
.products #products .bundle.form .addon-bundle-denial p,
.products #products-feature .bundle.form .addon-bundle-denial,
.products #products-feature .bundle.form .addon-bundle-denial p {
    float: none;
    clear: left;
}

.added-products .addon-bundle-field,
.products #products .bundle.form .addon-bundle-field,
.products #products-feature .bundle.form .addon-bundle-field {
    position: relative;
    margin-bottom: 30px;
}

.added-products .addon-bundle-denial p,
.products #products .bundle.form .addon-bundle-denial p,
.products #products-feature .bundle.form .addon-bundle-denial p {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.added-products .addon-bundle-denial p span,
.products #products .bundle.form .addon-bundle-denial p span,
.products #products-feature .bundle.form .addon-bundle-denial p span {
    padding: 3px 5px;
    text-decoration: underline;
}

.added-products .addon-bundle-denial p:hover span,
.products #products .bundle.form .addon-bundle-denial p:hover span,
.products #products-feature .bundle.form .addon-bundle-denial p:hover span {
    cursor: pointer;
}

.recurring-payment-agreement-setup #basket-products tr,
.purchase-confirmation .added-products tr {
    background-color: #E4E5E7;
}

.purchase-confirmation .confirmation-message,
.recurring-payment-agreement-setup .confirmation-message {
    text-align: right;
}

#products.user-features th.description,
#products-feature.user-features th.description {
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
}

.products .bundle.form .success.message {
    display: none;
}

.container_24 div.mypwn_sub_header {
    width: 930px;
}

.added-products .bundle-actions {
    background-color: #fafafa;
    padding: 15px;
}

.added-products .bundle-actions > div,
.added-products .bundle-actions > form {
    background-color: #eee;
    margin: 5px;
}

.added-products .addon-bundle-description {
    line-height: 65px;
    height: 65px;
}

.added-products .pin-pair-selection-fields {
    float: right;
}

.added-products .pin-pair-selection-fields .addon-bundle-description {
    line-height: inherit;
    height: auto;
}

.added-products .bundle-tc-action {
    overflow: hidden;
}

.added-products .bundle-tc-action label {
    float: right;
}

.added-products .addon-bundle-field {
    margin-bottom: 0;
}

.added-products #upgrade-bundle {
    padding: 0;
}

.added-products #upgrade-bundle .buttons {
    height: 65px;
    padding-left: 38px;
}

.added-products #upgrade-bundle .buttons button {
    margin-top: 28px;
}

#relevant-bundle-feature-disabled-dialog {
    display: none;
}

#notify-users-of-product-assignment .notifiable-user-item input,
#notify-users-of-product-assignment .notifiable-user-item label {
    vertical-align: middle;
}

#dialog-modal-confirm-update,
#dialog-modal-notify-users-success,
#dialog-modal-notify-users-failure {
    color: #515151;
}

.shortcode-price {
    font-size: 12px;
    color: #515151;
}

.footnote {
    font-size: 8px;
    margin-bottom: 1em;
    display: block;
}

#affiliate-code-field {
    overflow: hidden;
    margin-bottom: 10px;
}

#affiliate-code-field > div {
    float: right;
}