#top-menu-container {
    background-color: #273438;
}
#features-list {
    margin-top: 10px
}
#features-list li {
    width: 100%;
}
h1 {
    margin: 0;
}
h4 {
    color: #384a50;
    margin: 30px 0 10px 0
}
.top-menu a:hover {
    color: #6E91A4;
}
.premium-blue {
    color: #273438;
}
.premium-gray {
    color: #636363;
}
.margin-left-10 {
    margin-left: 10px
}
.subheading2 {
    margin-bottom: 25px;
}
.font-huge {
    font-size: 27px
}
.tmp16 {
    margin: 2px 35px 20px 0;
    float: left
}
.tmp17 {
    margin: 6px 35px 20px 0;
    float: left
}
.tmp18 {
    margin: 0 35px 20px 0;
    float: left
}
.tmp19 {
    margin: 10px 35px 20px 0;
    float: left
}
.tmp20 {
    margin: 0 35px 20px 0;
    float: left
}
.tmp21 {
    margin: 0 0 20px 0;
    float: left
}
.tmp22 {
    clear: left
}
.bubble-blue, .bubble-blue-small {
    white-space: nowrap;
    padding: 17px 0 0 0;
    height: 60px;
    color: white;
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 24px;
    line-height: 24px;
}
.bubble-blue {
    background: url('../sfimages/sprites/headers-premium.png') -350px 0 no-repeat;
    width: 320px;
}
.bubble-blue-small {
    background: url('../sfimages/sprites/headers-premium.png') -150px 0 no-repeat;
    width: 197px;
}
.bubble-blue2 {
    background: url('../sfimages/bubble/bubble-blue-713x338.png') 0 0 no-repeat;
    height: 338px;
    width: 713px;
}
.mypwn_sub_page_heading_premium {
    margin-left: 14px !important;
}
.bubble-blue2 div {
    padding: 30px 20px;
}
.bubble-blue3 {
    background: url('../sfimages/bubble/bubble-blue-457x156.png') 0 0 no-repeat;
    height: 156px;
    width: 457px;
}
.bubble-blue3 div {
    padding: 22px 0 0 20px;
    color: #ffffff
}
.bubble-blue3 p {
    line-height: 220%;
}
.bubble-blue3-bookmark {
    background: url('../sfimages/plus/bookmark-green.png') no-repeat;
    height: 46px;
    width: 55px;
    position: absolute;
    top: 60px;
    right: -10px;
    padding: 0 !important
}
.bubble-gray {
    background: #dbdbdb;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px 0 10px 15px;
}
.bubble-gray .icon {
    margin: 15px 0 0 -15px;
    height: 82px;
}
.bubble-gray .text {
    margin: 10px 0;
}
.bubble-gray p {
    padding: 3px 0;
}
.bubble-orange {
    background: url('../sfimages/bubble/bubble-orange-194x98.png') 0 0 no-repeat;
    height: 98px;
    width: 194px;
}
.bubble-orange div {
    padding: 16px 0 0 20px;
    color: #273438
}