ul.privacy-list {
    list-style-type: none;
    color: #A7D257
}
ul.privacy-list,
ul.privacy-list li span.list-heading {
    color: #A7D257;
    font-family: Verdana;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
ul.privacy-list li p,
ul.privacy-list li ul {
    margin-bottom: 10px;
    color: #515151;
    font-weight: normal;
}
ul.privacy-list li ul {
    padding-left: 40px;
    list-style: circle;
}
ul.privacy-list li h2 {
    font-size: large;
    color: #96c84b;
}
div.privacy-heading {
    padding: 5px;
    color: #FFF;
    background-color: #A7D257;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}