table.mypwn tr.credit-row td,
table.mypwn tr.credit-row-container td {
    background-color: #eee;
}
#purchse-credit-auto-recharge-box {
    width: 440px;
    float: right;
    margin-right: 3px;
}
#credit-select-button,
#credit-added-button {
    position: relative;
    left: 0px;
    top: 0px;
}
.products .bundle-price {
    font-family: RockwellStdRegular, Georgia, serif;
    font-size: 13px;
    color: #515151;
}

.ui-widget-header {
    display: none;
}