.font-small {
    font-size: 9px
}
.font-medium {
    font-size: 12px !important;
}
.font-big {
    font-size: 14px
}
.font-bigger {
    font-size: 16px
}
.font-large {
    font-size: 18px
}
.mypwn-input-container {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #eaeaea;
    background: #FFF;
    color: #7f7f7f;
    display: inline-block;
    padding: 0 5px 0 5px;
    margin: 5px 5px 5px 0;
    z-index: 700;
    -pie-lazy-init: false;
    -pie-poll: true;
    position: relative;
}
.mypwn-input-container-focused {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #ffb027;
    background: #FFF;
    color: #7f7f7f;
    display: inline-block;
    padding: 0 5px 0 5px;
    margin: 5px 5px 5px 0;
    -pie-lazy-init: false;
    -pie-poll: true;
    position: relative;
}
.mypwn-input {
    border: 0 solid;
}
.input-medium {
    width: 144px;
    font-size: 110%;
}
.input-large {
    width: 200px;
    font-size: 12px;
}
select.input-large {
    width: 200px
}
:focus {
    outline: 0;
}
input[type="checkbox"] {
    padding: 10px;
    display: inline-block;
    margin: 5px;
    color: #ffffff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
/** IE8 the Padding Looks too big on the Checkboxes **/
.ie8 form#frm-callhistory input[type="checkbox"],
.ie8 form#frm-recordings input[type="checkbox"],
.ie8 form#form-create-user input[type="checkbox"] {
    padding: 0;
}
/**
 * Powwownow Form
 */
form.pwnform {
    font-size: 11px;
    border: 0;
    padding: 15px;
    width: auto;
    /*background: #fafafa;*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/*Unsubscribe Page*/
form#form-unsubscribe {
    background: #A6CF5A;
}

/** Pin Reminder Popup **/
form#form-pin-reminder {
    background: white;
    padding: 0;
}
/**
 * Powwownow Form Field
 */
form.pwnform .form-field {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}
/** Login / Create a Login page **/
form#form-log-in .form-field, form#form-create-log-in .form-field {
    margin-top: 0;
}
/**
 * Default Powwownow Form Field Label
 */
form.pwnform .form-field label {
    width: 100px;
    display: inline-block;
    font-size: 11px;
    color: #515151;
}
form#form-log-in .form-field label, form#form-create-log-in .form-field label {
    color: white;
}
/**
 * Login/Login Form Field Labels
 */
form#form-log-in-plus .form-field label, form#form-create-log-in-plus .form-field label {
    color: white;
    font-size: 115%;
}
/** PINS **/
form#frm-myPINs.pwnform {
    background: white;
}
/** Call History **/
form#frm-callhistory .form-field label {
    width: 205px;
}
/** Contact Us **/
form#frm-contact-us, div.contactus-form {
    background: #a6cf5a;
}
form#frm-contact-us .form-field label {
    color: #fff;
    width: 110px;
}
form#frm-contact-us input {
    width: 180px;
}
form#frm-contact-us textarea {
    width: 500px;
}
/**
 * Powwownow Form Action
 */
form.pwnform .form-action {
    /*  overflow: auto;   that line is bugging IE8s, so it's commented out for now */
    text-align: right;
}
/** Web Conferencing (Auth) **/
form#frm-webconferencing .form-action {
    text-align: left;
}
form#frm-webconferencing {
    background: #fff;
}
form.pwnform .form-action button {
    position: relative;
    display: inline-block;
    z-index: 1000;
    float: none !important;
}
/** Request Welcome Pack Overlay Button Issue **/
form#frm-request-welcome-pack .form-action button {
    z-index: 700;
}
/**
 * Powwownow Form Hidden Fields
 */
form.pwnform .form-hidden {
    margin: 0;
    padding: 0;
    width: auto;
}
/**
 * Default Powwownow Form Required Fields - Asterisks
 */
form.pwnform sup.asterisk {
    display: inline-block;
    color: #515151;
    padding: 0 4px;
}
form.pwnform input[type="text"]:not(.dataTables_filter input), input[type="email"], input[type="password"] {
    background: transparent;
}
/**
 * Powwownow Error fields
 */
form.pwnform span.error {
    background: #FCF4F4;
}
/**
 * Powwownow Form Text Only Fields - Not Part of Form Input
 */
form.pwnform span.textonly {
    border: 0;
    padding: 2px;
    margin: 5px;
    background: 0;
}
/** Message Boxes **/
div.grid_sub_12 {
    position: relative
}
div.message, div.info-message {
    margin: 10px 0 0 0;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
div.message.success, div.info-message.success {
    border: 1px solid #96C84B;
    background: #efefef;
    text-shadow: 0 1px 0 #ffffff;
}
div.message.warning, div.info-message.warning {
    border: 1px solid #FFB027;
    background: #efefef;
    text-shadow: 0 1px 0 #ffffff;
}
div.message.error, div.info-message.error {
    border: 1px solid red;
    background: #efefef;
    text-shadow: 0 1px 0 #ffffff;
}
div.message.info, div.info-message.info {
    border: 1px solid #EE9900;
    background: #E9E9E9;
    text-shadow: 0 1px 0 #ffffff;
    text-align: left;
}
.ajax-loader {
    display: inline-block;
    margin: 0 5px
}
.ajax-loader img {
    vertical-align: middle
}
/**
* Powwownow Error Box
*/
.nice-error-box {
    position: absolute;
    top: auto;
    right: auto;
    left: auto;
    font-size: 11px;
    display: inline-block;
    border: 2px solid #FF0000;
    padding: 4px 10px 4px 8px;
    background-color: #ffffff;
    color: #515151;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 1501;
    -pie-lazy-init: false;
    -pie-poll: true;
}
.nice-error-box-before {
    display: block;
    position: absolute;
    top: 12%;
    left: -10px;
    width: 10px;
    height: 16px;
    z-index: 1501;
}
.ie .nice-error-box-before {
    top: 12%
}
.nice-error-box span {
    position: absolute;
    background: #666666;
    color: #ffffff;
    right: -7px;
    top: -7px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    line-height: 12px;
    z-index: 1501;
}
form.pwnform input[type=radio] + label {
    width: auto;
}
div.h5form-error.nice-error-box {
    left: auto !important;
    top: auto !important;
}
form.h5form div.h5form-error:after, form.h5form div.h5form-error:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
form.h5form div.h5form-error:after {
    border-right-color: #f5f5f5;
    border-width: 5px;
    top: 50%;
    margin-top: -5px;
}
form.h5form div.h5form-error:before {
    border-right-color: #ff0000;
    border-width: 8px;
    top: 50%;
    margin-top: -8px;
}
.mypwn-input-container select, .mypwn-input-container-focused select {
    background: none;
    border: none;
}