.tooltip {
    border: 2px solid #ee9900;
    position: absolute;
    z-index: 999;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -pie-lazy-init: false;
    -pie-poll: true;
}
.tooltip-close {
    position: relative;
    display: block;
    top: -15px;
    right: -15px;
    border-bottom: none;
}
.tooltip-region .tooltip-close {
    top: -5px;
    border-bottom: none;
}
.tooltip h5 {
    padding: 5px 0 0 0;
    clear: both;
}
.tooltip-region {
    width: 260px;
    padding: 10px 20px;
    left: 50%;
    top: 35px;
    margin-left: 260px;
    position: absolute;
    display: none;
    z-index: 1500;
}
#tooltip-callminutebundle {
    width: 260px;
    left: -79px;
    top: 40px;
    padding: 10px 20px;
    display: none;
    position: absolute;
    -webkit-box-shadow: #cccccc 0 0 5px;
    -moz-box-shadow: #cccccc 0 0 5px;
    box-shadow: #cccccc 0 0 5px;
}
#tooltip-showtime-in-action {
    width: 450px;
    left: 210px;
    top: -18px;
    padding: 10px 20px;
    display: none;
    position: absolute;
    -webkit-box-shadow: #cccccc 0 0 5px;
    -moz-box-shadow: #cccccc 0 0 5px;
    box-shadow: #cccccc 0 0 5px;
}
.tooltip-arrow-top {
    background: url('../sfimages/sprites/sprite-tooltip.png') no-repeat left top;
    width: 29px;
    height: 11px;
    position: relative;
    top: -21px;
    margin-left: 57px;
    margin-right: auto;
    margin-bottom: -11px;
}
.tooltip-arrow-left {
    background: url('../sfimages/sprites/sprite-tooltip.png') no-repeat -70px top;
    width: 11px;
    height: 29px;
    position: relative;
    top: 15px;
    left: -87px;
    margin-left: 57px;
    margin-right: auto;
    margin-bottom: -11px;
}
.tooltip-region .tooltip-arrow-top {
    margin-right: 60px;
    margin-left: auto;
}
.tooltip-region .tooltip-arrow-left {
    margin-right: 60px;
    margin-left: auto;
}