.lt-ie8 .hero-element .mouthy{float:left;width:27.14286%}.lt-ie8 .hero-element .mouthy img{padding:0}.lt-ie8 .hero-element .hero-form{position:relative;width:85.42857%}.lt-ie8 .hero-element .hero-benefits{width:85.42857%}.lt-ie8 .hero-element .hero-benefits ul{margin-bottom:2em}.lt-ie8 .hero-element .hero-benefits ul li{float:left;position:relative}.lt-ie8 .service-details ul li{float:left;position:relative}.lt-ie8 .client-list{padding-bottom:2em;margin-left:0}.lt-ie8 .footer .links ul li{float:left;position:relative}.lt-ie8 .footer .social .social-links li{display:none}
