// Colours
@import ../_inc/color

@import ../../foundation.master/scss/foundation/functions

// Mixin
@import ../_mixin/translucent.container
@import ../_mixin/mixin.links


.no-js-container
  @include translucent-container(rgba(0, 0, 0, 0.8), 0)
  .section-text
    color: $white
    line-height: rem-calc(20px)
    text-align: left
    font:
      family: arial
      size: rem-calc(13px)
      weight: 400
    a
      @include link-style-1($white, $green)