@import ../_inc/color
@import ../_mixin/mixin.links

@import ../../foundation.master/scss/foundation/functions

.cookie-container
  font:
    family: arial
    size: rem-calc(13px)
  color: $white
  background:
    color: $green
  a
    @include link-style-1($white, $blue_c)