@import compass/css3
@import ../_inc/color

// Main Registration Form Positioning
.register_box
  position: relative
  background:
    color: #a6cf5a
  @include border-radius(10px)
  padding: 1em
  h2
    font:
      size: 20px
  .legacy_form
    position: relative
    margin:
      top: 1em
    button
      position: absolute
      right: 20px
      top: -7px
    .error_message
      width: 265px
      position: absolute
      top: 9px
      right: 0
    .fix_legacy_positioning
      &.error_message
        top: -6px
        right: 0
    .loader
      position: absolute
      top: 12px
      right: 255px
  .cx_form
    button
      position: absolute
      right: 34px
      top: -15px

// Hidden Header Registration Form Positioning
.cx_registration
  @include box-sizing('border-box')
  position: relative
  padding: 3em 1em 0 1em
  margin: 0em auto 1em auto
  background:
    color: $grey_b
  h2
    margin: 0
    color: $green
  p
    padding: 0
    font:
      family: rockwellstdregular
      size: 1.5em
  button
    position: absolute
    right: -20px
    top: 0

.cx_form
  position: relative
  .loader
    position: absolute
    top: 8px
    right: 140px