@import compass/css3
@import ../_inc/color

// Region Selector Widget
.widget_region_selector
  position: relative
  margin:
    top: 1em
    bottom: 1.500em
  a
    text-decoration: none
    border: none
    color: $blue_e
  li
    cursor: pointer
    position: relative
    list-style: none
    margin: 0
    text-align: right
    .region_selector_title
      font:
        family: verdana, sans-serif
        size: 1em
        weight: 700
      margin:
        right: 3.600em
    .sprite_GBR_override
      position: absolute
      bottom: -6px
      right: 0
      margin:
        left: 1em
  // level one
  ul
    width: 175px
    display: none
    position: absolute
    top: 25px
    right: 0
  .region_selector_regions
    @include border-radius(0px 0px 8px 8px)
    @include box-shadow(rgba(50, 50, 50, 0.29) 4px 4px 5px)
    padding: 0 0 1em 0
    z-index: 9999
    background:
      color: $white
    &:hover li a
      @include opacity(0.5)
    li
      a
        @include transition-property(opacity)
        @include transition-duration(500ms)
        &:hover
          @include opacity(1)
  .columns
    margin: 1em 0 0 16px
    font:
      family: verdana, sans-serif
      size: 0.750em
    .column_one,
    .column_two
      position: relative
      float: left
      display: inline-block
    .column_one
      width: 32px
      margin:
        left: 0
        right: 1em
    .column_two
      padding:
        top: 0.67em
      font:
        size: 1.212em // (8.25px base)/10px