.js .reveal-modal{margin-left:-225px;width:350px}.js .modal-downloadOutlookPlugin .inner-content{width:325px;margin:0 auto}.js .modal-downloadOutlookPlugin p{font-family:verdana,sans-serif;font-size:12px}.js .modal-downloadOutlookPlugin .sub-header{width:auto;padding-left:0}.js .modal-downloadOutlookPlugin .close-button{padding-top:5px}.js .modal-downloadOutlookPlugin .more{font-size:12px}
