.js #share-this .row{margin-bottom:20px;padding-bottom:30px;background:url("../../img/separator/two.png") repeat-x bottom}.js #share-this .row .offset-by-six:first-child{margin-left:57%}.js .share-this{height:20px;position:relative;display:block;margin-bottom:50px}.js .share-this .inner-content{padding:0;margin:0;width:398px}
