.mobile
  .bx-viewport
    height: inherit !important

  .quiz-asset
    li
      list-style: none
      padding: 0
      margin: 0
    .quiz-asset-slide
      @include box-sizing('border-box')
      @include border-radius(10px)
      padding: 0
      margin: 0
      height: 32.81rem // 525px
      @media only screen and (min-width: 360px)
        height:  34.69rem // 555px
      background:
        color: $grey_k

      .chart
        clear: both
        padding: 0
        height: 10rem
        li
          display: inline-block
          height: 19rem
          position: relative
          text-align: center
          vertical-align: bottom
          margin:
            right: 0.3rem
          width: 2.100rem
          @media only screen and (orientation : landscape)
            margin:
              right: 1rem
            width: 2.813rem // 45px
        .orange-10
          background-color: #fdba6b
        .orange-20
          background-color: #fdaf53
        .orange-30
          background-color: #ffa337
        .orange-40
          background-color: #ff9b25
        .orange-50
          background-color: #ff8a00

  .quiz-section
    margin:
      top: 1rem
      bottom: 1rem
  // Generic Quiz Styles
  .quiz-asset-slide
    .quiz-asset-title,
    .quiz-section-text
      line-height: 100%
      font:
        family: $main-font-family
        size: 1rem
    .quiz-asset-title
      padding: 1rem
      span
        color: $blue_e
    .quiz-section-text
      padding: 0 1rem 0 1rem
    .quiz-image
      width: 12.5rem // 200px
      position: relative
      margin: 0 auto
  .quiz-slide-one,
  .quiz-slide-two,
  .quiz-slide-three,
  .quiz-slide-four,
  .quiz-slide-five
    .quiz-asset-title
      font:
        size: 1.3rem
    .quiz-section-text
      padding:
        top: 1rem
        bottom: 0.8rem
      font:
        size: 0.9rem

  // Introduction Slide
  .quiz-slide-introduction
    .quiz-asset-title
      font:
        size: 1.7rem
      color: $blue_h
      margin:
        top: 0.8rem
      padding:
        top: 0
        bottom: 0
    .quiz-section-text
      color: $grey_i

  // Slide One
  .quiz-slide-one
    .quiz-asset-title
      padding:
        bottom: 0
      color: $blue_h
    label
      margin:
        top: 0.5rem

  // Slide Two
  .quiz-slide-two
    .quiz-asset-title
      color: $orange

  // Slide Three
  .quiz-slide-three
    .quiz-asset-title
      color: $green

  // Slide Four
  .quiz-slide-four
    .quiz-asset-title
      color: $purple_b

  // Slide Five
  .quiz-slide-five
    .quiz-asset-title
      color: $purple_a

  // Results
  .quiz-slide-results
    .quiz-asset-title
      font:
        size: 1.3rem
      color: $green
      padding: 0 0 0 0
    .small-4
      margin: 0
      .quiz-asset-title
        width: 100%
        padding: 0 1rem 0 0
    .cp-controls
      li a
        left: 100%

  .quiz-slide-results-sub-section
    .quiz-asset-title
      padding:
        right: 1.3rem
