.album-art-container-layer
  .user-favourite
    color: $orange
  .banner
    @include border-radius(8px)
    position: absolute
    right: -1rem
    padding: 0
    margin: 0
    z-index: 2
    &.blue
      background:
        color: $blue_c
    &.green
      background:
        color: $green
    .banner-text
      font:
        family: $main-font-family
        size: 0.8rem
      color: $white
      padding: 0.2rem 0.5rem
      margin: 0