// Desktop & Tablet Shared
// Music Catalogue
.music_catalogue_track_container
  position: relative
  width: 104px /* 200 - (2 * 48) */
  height: 104px
  -webkit-tap-highlight-color: rgba(0,0,0,0)

.album-art-container-layer
  @include border-radius(5px)
  @include box-shadow(rgba(50, 50, 50, 0.75) 0px 0px 5px)
  position: relative
  height: 13.13rem // 210px
  padding: 0.5rem
  margin:
    bottom: 2rem
  background:
    color: $white
  .album-art-desc-layer
    p
      margin: 1.5rem 0.2rem 0 0
      color: $blue_c
  .album-art-favourite-layer
    cursor: pointer
    position: absolute
    bottom: -10px
    p
      color: $grey_g
  .album-art-desc-layer,
  .album-art-favourite-layer
    p
      font:
        family: $paragraph-font-family_alt
        size: 0.8rem