@import compass/css3
@import ../../foundation.master/scss/foundation/components/global
@import vars

// Quiz Asset
.quiz-asset-section
  margin:
    bottom: 2rem
  .bx-viewport
    height: inherit !important

  .bx-wrapper .bx-loading
    min-height: 50px
    background: url('../../../cx2/img/throbber.gif') center center no-repeat #fff
    height: 100%
    width: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 2000

  .quiz-asset
    .quiz-asset-slide
      @include box-sizing('border-box')
      @include border-radius(10px)
      padding: 0 0 0 2.5rem
      margin: 0
      background:
        color: $grey_k
      height:  23.75rem
  .quiz-asset-title
    font:
      family: $main-font-family
      size: 2rem
      weight: $header-font-weight
    line-height: 100%
    margin: 1.5rem 0 1rem 0
    @media only screen and (orientation : landscape)
      font:
        size: $header-font-size
    span
      color: $blue_e
      font:
        size: 1.15rem
      @media only screen and (orientation : landscape)
        font:
          size: 1.25rem
  .quiz-section-text
    font:
      family: $main-font-family
      weight: $header-font-weight
    margin: 0
    padding: 0

  .quiz-slide-introduction
    .quiz-asset-title
      color: $purple
  .quiz-stages
    margin: 4rem 0 0 0
    .quiz-stage
      @include border-radius(33px)
      color: $white
      display: block
      width: 2.063rem
      height: 2.063rem
      text-align: center
      padding: 0.5rem 0 0 0
      margin: 0.8rem 1rem 0 auto
    .clickable
      cursor: pointer
  .quiz-answer-description
    font:
      family: $main-font-family
      size: 1rem

  .quiz-slide-one,
  .quiz-slide-two,
  .quiz-slide-three,
  .quiz-slide-four,
  .quiz-slide-five,
  .quiz-result
    .quiz-asset-title
      color: $blue_e
    .quiz-stage
      background:
        color: $blue_c
      &.active
        background:
          color: $blue_e
    .quiz-question-answers
      position: relative
      &:hover
        .answer
          @include opacity(0.5)
      .answer
        @include transition-property(opacity)
        @include transition-duration(500ms)
        &:hover
          @include opacity(1)
    .answer-inner-container
      margin:
        left: 0.7rem

    .answer
      cursor: pointer
      display: inline-block
      position: relative
      width: 5.625rem //90px
      margin:
        right: 1.25rem // 20px
      @media only screen and (orientation : landscape)
        margin:
          right: 3.75rem //60px
    .answer-description
      width: 5rem
      position: absolute
      bottom: -2rem
      padding: 0
      margin: 0 auto
      text-align: center
      color: $grey_i
      font:
        family: $main-font-family

  .quiz-slide-one,
  .quiz-slide-two,
  .quiz-slide-three,
  .quiz-slide-four,
  .quiz-slide-five
    .quiz-answer-description
      margin-top: 5rem


  // Slide Two
  .quiz-slide-two
    .quiz-asset-title
      color: $orange
    .quiz-stage
      background:
        color: $orange_a
      &.active
        background:
          color: $orange
    .quiz-question
      margin: 0
      padding: 0
    .answer-description
      width: 5.8rem
      bottom: -4rem
      @media only screen and (orientation : landscape)
        width: 7.800rem
        bottom: -2.8rem
        left: -0.200rem
    .vertical-align-adjust
      bottom: -4rem
    .answer
      @include clearfix()
      @media only screen and (orientation : landscape)
        margin:
          right: 2rem

  .quiz-slide-three
    .quiz-asset-title
      color: $green
    .quiz-stage
      background:
        color: $green_a
      &.active
        background:
          color: $green
    .answer-description
      bottom: -2.8rem
      width: 7.2rem
      left: -0.5rem
      @media only screen and (orientation : landscape)
        width: 8.500rem
        left: -1.2rem
    .vertical-align-adjust
      bottom: -2.8rem
      @media only screen and (orientation : landscape)
        bottom: -2.8rem
    .vertical-align-adjust-1
      bottom: -4rem
      @media only screen and (orientation : landscape)
        bottom: -2.8rem

  .quiz-slide-four
    .quiz-asset-title
      color: $purple
    .quiz-stage
      background:
        color: $purple_a
      &.active
        background:
          color: $purple
    .answer-description
      width: 8.500rem
      bottom: -2.500rem
      left: -0.200rem
    .vertical-align-adjust
      bottom: -1.4rem
    .quiz-question
      margin: 0
      padding: 0

  .quiz-slide-five
    .quiz-asset-title
      color: $purple_b
    .quiz-stage
      background:
        color: $purple_b
      &.active
        background:
          color: $purple_b
    .answer-description
      bottom: -5rem
      width: 5.6rem
      @media only screen and (orientation : landscape)
        width: 9rem
        left: -1rem
        bottom: -3rem
    .vertical-align-adjust
      bottom: -2.8rem
      @media only screen and (orientation : landscape)
        bottom: -1.8rem
    .vertical-align-adjust-2,
    .vertical-align-adjust-3,
    .vertical-align-adjust-4
      bottom: -3.9rem
      @media only screen and (orientation : landscape)
        bottom: -3rem
    .reduce-width
      width: 6rem
      left: 0
    .reduce-margin
      margin:
        left: 0.8rem

  .quiz-result
    .quiz-asset-title
      font:
        family: $main-font-family
        size: 2.25rem // 36px
      color: $green
      span
        font:
          size: 2.25rem // 36px
        color: $blue_c
    .quiz-section-text
      font:
        family: $secondary-font-family
        size: 1.125rem // 18px
      line-height: 100%
      &:nth-child(2)
        margin:
          top: 1rem
    .custom-button-orange
      float: right
    .album-art-container-layer
      @include box-shadow(none)
      @include border-radius(0)
      background:
        color: transparent
        size: 100% 100%
      border: none
      width: 14.06rem // 225px

    // Adjustments for the Audio Circle Player here
    .cp-controls
      padding: 6.200rem
      li
        left: 5rem
        top: 4.400rem
