@import ../../foundation.master/scss/foundation/components/_global.scss

// Quiz Introduction Rotator
.rotator
  width: 240px
  margin: 1.9rem 0 0 0
  @media only screen and (orientation : landscape)
    width: 320px
    margin: 1.9rem 0 0 5rem

  ul
    @include clearfix()
    list-style: none
    display: block
    width: 100%
    margin: 0
    padding: 0

    li
      -webkit-perspective: 400px
      -moz-perspective: 400px
      -o-perspective: 400px
      -ms-perspective: 400px
      perspective: 400px
      margin: 0
      padding: 0
      float: left
      position: relative
      display: block
      overflow: hidden
      background: #000

      a
        @include box-sizing(content-box)
        display: block
        outline: none
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        -webkit-backface-visibility: hidden
        -moz-backface-visibility: hidden
        -o-backface-visibility: hidden
        -ms-backface-visibility: hidden
        backface-visibility: hidden
        -webkit-transform-style: preserve-3d
        -moz-transform-style: preserve-3d
        -o-transform-style: preserve-3d
        -ms-transform-style: preserve-3d
        transform-style: preserve-3d
        -webkit-background-size: 100% 100%
        -moz-background-size: 100% 100%
        background-size: 100% 100%
        background-position: center center
        background-repeat: no-repeat
        background-color: #333