@import compass/css3
@import compass/utilities/sprites

@import ../../foundation.master/scss/foundation/components/grid
@import ../../foundation.master/scss/foundation/components/forms

// Colours
@import ../_inc/color
@import ../_inc/font.colors

@import ../_main.ko.form.inc/form.errors

// Sprite maps
@import "sprites/cx/*.png"
@include all-cx-sprites

@import ../music.on.hold.main/vars

@import url('//fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic')



.text-left
  text-align: left
.text-right
  text-align: right
.text-center
  text-align: center

// Background Colours
.background-color
  &.background-grey-k
    background-color: $grey_k
  &.background-blue-i
    background-color: $blue_i


//*
//  border: 1px solid blue

.not-visible
  visibility: hidden


body
  font:
    family: $body-font-family
    size: $body-font-size
  line-height: $body-line-height

.section-title
  font:
    family: $headers-font-family
    size: $header-font-size
    weight: $header-font-weight
.section-text
  font:
    family: $paragraph-font-family
    size: $paragraph-font-size

header.desktop,
header.tablet
  display: block
  margin:
    top: 1rem
    bottom: 1rem
  .navigations
    float: right
  .social-navigation
    padding:
      left: 4.125rem
  .navigation
    width: 100%
    display: block
    font:
      size: 0.8rem
    li
      display: inline-block
      list-style: none
    a
      &:hover
        @include single-transition(color)
        color: $green


.introduction
  background:
    color: $green_b
  .introduction-title
    @include text-shadow($grey_l 1px 1px 2px)
    @extend .section-title
    color: $white
    line-height: 2.7rem
    margin: 5.500rem 0 0 0
  .introduction-text
    @extend .section-text
    color: $white
    &:last-child
      margin: 0 0 2rem 0

.quiz-section
  background:
    color: $white
  .quiz-title
    @include text-shadow($grey_l 1px 1px 2px)
    @extend .section-title
    color: $blue_c
    line-height: 2.7rem

.music-catalogue-section
  .music-catalogue-title
    @include text-shadow($grey_l 1px 1px 2px)
    @extend .section-title
    font:
      size: 2.75rem
    color: $blue_c
    line-height: 2.75rem
  .music-catalogue-text
    @extend .section-text
    line-height: normal
    color: $grey_m

// Quiz Asset Global Syling

.quiz-asset-section
  .quiz-asset-title
    @extend .section-title
  .quiz-section-text,
  .answer-description
    @extend .section-text


// Dotted border fix for FF
a:focus, a:active,
button,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner
  outline: none !important

// Sign up Today Section
.registration-section
  position: relative
  .registration-title
    @include text-shadow($grey_l 1px 1px 2px)
    @extend .section-title
    font:
      size: $header-h2-font-size
    color: $white
    line-height: 3rem
    margin: 1.4rem 0 0.5em 0
  .existing-customer-title
    a
      text-decoration: none
  .cx_form
    input[type="email"]
      font:
        family: $main-font-family
        size: 1.1rem
      height: 3rem
      color: $blue_e
  .terms_conditions
    font:
      size: 0.9rem
    color: $blue_e
    margin:
      top: -0.0625rem
    a
      color: $white
      &:hover
        @include single-transition(color)
        color: $green
  .error_message
    p
      a
        color: $grey_b


// Buttons
$padding     : 0.600rem
$bg          : $orange
$radius      : 5px
$full-width  : false
$disabled    : false
$is-prefix   : false
$bg-hover    : $green
$border-color: null
$transition  : true

.custom-button-orange
  @include button($padding, $bg, $radius, $full-width, $disabled, $is-prefix, $bg-hover, $border-color, $transition)
  font:
    family: $main-font-family
    size: 1.5rem


$bg          : $blue_c

.custom-button-blue
  @include button($padding, $bg, $radius, $full-width, $disabled, $is-prefix, $bg-hover, $border-color, $transition)
  font:
    family: $main-font-family
    size: 1.5rem

$bg         : $green

.custom-button-green
  @include button($padding, $bg, $radius, $full-width, $disabled, $is-prefix, $bg-hover, $border-color, $transition)
  font:
    family: $main-font-family
    size: 1.5rem

$bg         : $purple_b

.custom-button-purple
  @include button($padding, $bg, $radius, $full-width, $disabled, $is-prefix, $bg-hover, $border-color, $transition)
  font:
    family: $main-font-family
    size: 1.5rem



// Overide CX Form error styles
.cx_form
  .error_message
    @include border-radius(0)
    padding: 0
    width: 100%
    margin:
      top: -0.8rem

// Existing Customer Section
.existing-customer
  background:
    color: $blue
  .existing-customer-title
    @extend .section-title
    color: $white
    line-height: 100%
    font:
      size: 1.75rem
    a
      color: $blue_c
      &:hover
        @include single-transition(color)
        color: $green

// on-hold-music-misc-section
.on-hold-music-misc-section
  .on-hold-music-misc-section-title
    @extend .section-title
    line-height: 100%
    display: inline-block
    border:
      bottom: 1px solid $grey_a
    font:
      size: 1.75rem
  .on-hold-music-misc-section-text
    @extend .section-text

// Sprite Map Positional
.sprite-faces
  width: 69px
  height: 69px
  display: inline-block
  &.cx-super
    width: 69px
    height: 81px
  &.cx-indifferent
    width: 70px
    height: 70px

.sprite-faces-m,
.sprite-slide-three-m
  width: 200px
  height: 200px
  display: inline-block

.sprite-slide-two
  display: inline-block
  width: 111px
  &.cx-graph1
    height: 15px
  &.cx-graph2
    height: 25px
  &.cx-graph3
    height: 40px
  &.cx-graph4
    height: 65px
  &.cx-graph5
    height: 90px



.sprite-slide-three
  display: inline-block
  &.cx-thumb
    width: 75px
    height: 71px
  &.cx-money
    width: 62px
    height: 80px
  &.cx-pie
    width: 74px
    height: 75px
  &.cx-art
    width: 75px
    height: 66px
  &.cx-portrait
    width: 75px
    height: 72px


.sprite-slide-four
  display: inline-block
  width: 100px
  height: 100px

.sprite-slide-four-m
  display: inline-block
  width: 200px
  height: 179px

.sprite-slide-five-m
  display: inline-block
  width: 200px
  height: 200px

.sprite-slide-five
  display: inline-block
  &.cx-sheep
    width: 80px
    height: 67px
  &.cx-glasses
    width: 85px
    height: 61px
  &.cx-cards
    width: 71px
    height: 55px
  &.cx-bottles
    width: 68px
    height: 93px
  &.cx-cloudy
    width: 91px
    height: 85px

.sprite-social-cx
  display: inline-block
  &.cx-twitter,
  &.cx-facebook,
  &.cx-linkedin,
  &.cx-rss,
  &.cx-youtube
    width: 31px
    height: 30px

.sound-wave-container
  position: relative
  width: 100%
  &.mobile
    .sound-wave
      position: absolute
      top: -3rem
      width: 100%
      height: 8.438rem // 135px
      background:
        image: url('../../../cx2/img/music.on.hold/border.soundwave.png')
        repeat: no-repeat
        position: 100%
        color: transparent
      @media (orientation : landscape)
        background: none
    .sound-wave-a
      @extend .sound-wave
      top: -2rem
      height: 3.625rem // 58px
      background:
        image: url('../../../cx2/img/music.on.hold/border.soundwave.a.png')