@import compass/css3
@import ../music.on.hold.main/vars

// Colours
@import ../_inc/color
@import jplayer
@import music.catalogue
@import music.catalogue.album.art
@import quiz.asset
@import rotator

body
  min-width: 62.5rem
  max-width: 62.5rem
  margin: 0 auto !important

input:focus::-webkit-input-placeholder
  color: transparent!important
input:focus::-moz-placeholder
  color: transparent!important
input:focus:-moz-placeholder
  color: transparent!important

.logo
  border: none

.desktop
  .introduction
    min-height: 27.100rem
    background:
      image: url('../../../cx2/img/music.on.hold/desktop.intro.png')
      repeat: no-repeat
      position: 10% 22%
    .introduction-title
      margin: 8.2rem 0 0 0

  // Quiz Section
  &.quiz-section
    .quiz-title
      line-height: 1rem

  // Music Catalogue Section
  &.music-catalogue-section
    margin:
      top: 2rem
    .music-catalogue-blurb
      margin:
        top: 2.800rem
  &.registration-section
    .terms_conditions
      line-height: 0

// Album Art
@for $i from 1 through 10
  .album-art-#{$i}
    background:
      image: url('../../../cx2/img/music.on.hold/album/mobile/#{$i}.jpg')
      repeat: no-repeat
      position: 50% 5%
      size: 7.688rem

.sound-wave-container
  position: relative
  width: 100%
  &.desktop
    .sound-wave
      position: absolute
      top: -1.8rem
      width: 100%
      height: 8.438rem // 135px
      background:
        image: url('../../../cx2/img/music.on.hold/desktop.border.soundwave.a.png')
        repeat: no-repeat
        position: 0 center
        color: transparent