@import compass/css3
@import ../_inc/color
@import ../music.on.hold.main/vars

// Grid Fixes

header
  .large-6
    width: 50%
    float: left
    position: relative

.introduction-section
  .large-6
    width: 65%
  .large-7
    width: 65%


.lt-ie9
  //Mobile Audio Player
  // Player Container
  .jp-jplayer
    width: inherit !important
    height: auto !important
    margin: 0 auto
    text-align: center

  .jp-container
    @include border-radius(5px)
    background-color: $white
    border: 1px solid $grey_e
    width: 95%
    margin: 0 auto
    padding: 1rem

  #jp_poster_0, #jp_poster_1
    width: 12.75rem !important
    height: 12.75rem !important

  // File Progress Bar
  .jp-progress
    background-image: none
    width: 100%
    height: 1rem
    margin:
      top: 1rem
      bottom: 0.25rem
    overflow: hidden
    padding: 0 0.125rem 0.125rem
  .jp-play-bar
    background: $green repeat-x scroll
    height: 100%
    overflow: hidden
    width: 0
  .jp-seek-bar
    background: $grey_b repeat-x scroll
    cursor: pointer
    height: 100%
    overflow: hidden
    width: 0
  // Current & Remaining Time Styles
  .jp-current-time
    float: left
  //padding:
  //  left: 1.25rem
  .jp-duration
    float: right
    text-align: right
  //padding:
  //  right: 1.25rem
  .jp-current-time,
  .jp-duration
    color: $blue_c
    font-size: 0.8rem
    width: 4.375rem // 70px
  // Controls
  .jp-interface
    position: relative
    .jp-controls
      border: 1px solid red
      position: absolute
      //top: -14.813rem
      //left: 1.100rem
      list-style: none
      margin: 0
      padding: 0
    .jp-stop
      @include border-radius(10px)
      position: absolute
      display: block
      height: 3.75rem
      width: 3.75rem
      background:
        color: $orange
      top: -8.813rem
      left: 25.800rem

  .jp-details
    ul
      list-style-type: none
      margin: 0 1.25rem 0.625rem
  // Playlist Styles
  .jp-playlist
    ul
      font:
        family: $main-font-family
        size: 1rem
      list-style-type: none
      margin: 1.350rem 0
      padding: 0
      li
        padding: 0.5rem 0
        position: relative
        a
          color: $blue_c
          text-decoration: none
          &:hover
            @include single-transition(color)
            color: $green
        &.jp-playlist-current a
          background:
            color: $blue_c
          padding: 0.3rem 0 0.1rem 0.1rem
          display: block
          width: 100%
          color: $white