// Mobile
@import compass/css3

// Colours
@import ../_inc/color

@import ../music.on.hold.main/vars

@import jplayer

@import mobile.quiz.asset

@import mobile.rotator

header.mobile
  margin:
    top: 1rem
    bottom: 1rem
  .navigation
    padding: 0
    margin: 0
    li
      list-style: none
      display: inline-block

  @media only screen and (min-width: 320px)
    .hide-for-small-only
      display: none !important

// Album Art
@for $i from 1 through 10
  .album-art-#{$i}
    background:
      image: url('../../../cx2/img/music.on.hold/album/mobile/#{$i}.jpg')
      repeat: no-repeat
      position: 50% 5%
      size: 100% 100%

.mobile
  .introduction
    background:
      image: url('../../../cx2/img/music.on.hold/mobile.intro.png')
      repeat: no-repeat
    @media only screen and (min-width: 320px)
      background:
        size: 320px
        position: 0 0
    @media only screen and (min-width: 360px)
      background:
        size: 360px
        position: 90% -7%
    @media only screen and (min-width: 480px)
      background:
        position: 0 0
        size: 480px
    @media (orientation : landscape)
      background:
        size: contain
    .introduction-title
      padding: 0
      margin: 4.800rem 0 1rem 0
      line-height: 100% !important
      font-size: 1.8rem !important
      width: 75.500%
      @media only screen and (min-width: 360px)
        margin:
          bottom: 1.5rem
      @media (orientation : landscape)
        margin: 8.500rem 0 5rem 0
    .introduction-mobile
      background:
        color: $white
    .introduction-text
      color: $blue
  &.music-catalogue-section
    background:
      color: $grey_k
    padding:
      bottom: 2rem
    .music-catalogue-title
      margin:
        top: 6rem
      line-height: 100%
      font:
        size: 1.563rem // 25px
  &.quiz-section
    margin:
      top: 2rem
      bottom: 3rem

    .quiz-title
      line-height: 100%
      font:
        size: 1.563rem // 25px
  &.registration-section
    .registration-title
      line-height: 100%
      font:
        size: 1.563rem // 25px
  .float-right
    .on-hold-music-misc-section-title,
    .on-hold-music-misc-section-text
      float: right
      text-align: right