@import compass/css3
@import ../music.on.hold.main/vars
@import ../_inc/pwn.jplayer


@import music.catalogue

@import music.catalogue.album.art

@import rotator

@import quiz.asset

// Mimics meduim-1-offset, difference being we only
// apply margin-left on landscape orientation.
.pwn-custom-medium-1-offset
  @media only screen and (orientation : landscape)
    margin-left: 8.33333% !important

// Tablet
.tablet

  // Background image for introduction section
  // Change image for different types of orientation
  .introduction
    background:
      image: url('../../../cx2/img/music.on.hold/tablet.portrait.intro.png')
      repeat: no-repeat
      position: 85% 0
    @media only screen and (orientation : landscape)
      background:
        image: url('../../../cx2/img/music.on.hold/desktop.intro.png')
        position: 10% 35%
    .introduction-title
      font:
        size: 2.5rem !important
      margin: 8rem 0 0 0
      line-height: 90%

    // Using medium-6/-7 grid depending on orientation
    .pwn-custom-medium-grid
      width: 50%
      @media only screen and (orientation : landscape)
        width: 58.3333%
  &.quiz-section
    margin:
      bottom: 3rem
    .quiz-title
      font:
        size: 2.6rem
      @media only screen and (orientation : landscape)
        font:
          size: 3.125rem
        text-align: center

  // Music Catalogue Section
  &.music-catalogue-section
    .music-catalogue-title
      font:
        size: 2.6rem
      text-align: center
      @media only screen and (orientation : landscape)
        font:
          size: 3.125rem !important

  // Registration Section
  &.registration-section
    .existing-customer-title
      text-align: center
      @media only screen and (orientation : landscape)
        text-align: left
    .registration-title
      text-align: center
      @media only screen and (orientation : landscape)
        text-align: left


  // Album Art
  @for $i from 1 through 10
    .album-art-#{$i}
      background:
        image: url('../../../cx2/img/music.on.hold/album/#{$i}.png')
        repeat: no-repeat
        position: 50% 5%
        size: 4.800rem
      @media only screen and (orientation : landscape)
        background:
          size: inherit

  // Change the Banner size "new"/ "old favourite"
  // padding and font-size for tablets to meet design
  .banner
    .banner-text
      font:
        size: 0.8rem !important
      padding: 0.2rem 0.5rem 0.1rem !important

  .album-art-container-layer
    height: 10rem
    @media only screen and (orientation : landscape)
      height: 13.13rem

    .album-art-desc-layer,
    .album-art-favourite-layer
      font:
        family: $paragraph-font-family_alt
        size: 0.8rem
      p
        margin: -1rem 0 0 0
        padding: 0
        @media only screen and (orientation : landscape)
          margin: 1.5rem 0.2rem 0 0
    .album-art-favourite-layer
      bottom: 0
      @media only screen and (orientation : landscape)
        bottom: 0



.sound-wave-container
  position: relative
  width: 100%
  &.tablet
    .sound-wave
      position: absolute
      top: -4rem
      width: 100%
      height: 8.438rem // 135px
      background:
        image: url('../../../cx2/img/music.on.hold/desktop.border.soundwave.a.png')
        repeat: no-repeat
        position: 0 center
        color: transparent
      @media only screen and (orientation : landscape)
        top: -4rem
        background:
          position: 0 center !important
