/*Plus New Dialog*/
#dialog-plus-main {
    width: 100%;
}

#dialog-plus {
    color: #FFF;
    padding: 0 15px;
}

#dialog-plus form {
    padding: 0;
    background: none;
}

#dialog-plus input#plus_auth_password {
    width: 420px;
    font-size: 24px;
    color: #515151;
}

button#plus_switch_step1 span,
button#plus_switch_auth span,
button#plus_signup_submit span,
button#redeem_voucher_skip {
    font-size: 16px;
}

.plus-reg-info {
    padding: 10px;
    background-color: #608694;
    color: #efefef;
    font-style: italic;
    margin-top: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: inset 0 0 5px #335866;
    -webkit-box-shadow: inset 0 0 5px #335866;
    box-shadow: inset 0 0 5px #335866;
}

#dialog-plus span.mypwn-input-container {
    z-index: auto;
}

#form-plus-registration-with-password1 .form-field {
    width: 49%;
    display: inline-block;
    margin-bottom: 10px;
}

#form-plus-registration-with-password1 .form-field label {
    color: #FFF;
    width: 140px;
}

#form-plus-registration-with-password1 .form-field label sup.asterisk {
    color: #FFF
}

#form-plus-registration-with-password1 .form-field-button {
    float: right;
}

#form-plus-registration-with-password1 .form-field-button p,
#form-plus-registration-with-password1 .form-field-button button {
    float: right;
    margin-right: 44px;
}

/*Popup - Generic*/
#dialog-plus {
    width: 100% !important;
}

#dialog-plus a,
#dialog-plus a:hover {
    color: #fff;
}

#dialog-plus-parent {
    background: #7EA2B4;
    border: 3px solid #EFEFEF;
    color: #222;
}

.dialog-enhanced-main-content, .dialog-plus-main-content {
    display: none;
}

#form-plus-registration-with-password1 .block {
    display: block;
}

#form-plus-registration-with-password1 .full-width {
    width: 100%;
}

/*Popup - Dialog Close Button*/
.dialog-plus-close {
    width: 26px;
    height: 26px;
}

#dialog-plus .dialog-plus-close a,
#dialog-plus .dialog-plus-close a:hover,
#dialog-plus .dialog-plus-close a:visited,
#dialog-plus .dialog-plus-close a:active,
#dialog-plus a.tooltip-close {
    color: #7EA2B4;
    border-bottom: none;
    text-decoration: none;
}

div.plus-registration-error {
    color: #890000;
    font-size: 11px;
    display: block;
}