/* Actual Sliders Div */
#sliders {
    background-color: #6E91A4;
    padding: 10px 20px 5px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: white;
    margin-top: 12px;
    min-height: 369px;
    font-size: 14px;
    width: 230px !important;

    /* Fix for IE! */
    z-index: 0;
}

/* Fix for IE! */
#sliders > * {
    z-index: 1;
}

#sliders > h3 {
    font-size: 20px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 10px;
    line-height: 105%;

}

/* All Text within the Sliders */
#sliders p {
    font-size: 15px;
    font-family: "RockwellStdRegular";
    line-height: 105%;
    margin-left: -5px;
    margin-right: -5px;
    padding: 4px 0;
}

/* Sliders Calculate Button */
#btn-calculate {
    font-size: 18px;
    border-radius: 18px;
}

button.btn-buy_now {
    position: relative;
    top: -10px;
    left: -10px;
    width: 135px;
}

/* Container around the actual slider */
.pst-slider {
    padding: 10px 0 0 0;
    margin: 3px 10px 17px 0;
}

/* Horizontal Slider */
#conferenceSlider, #minuteSlider, #peopleSlider {
    background-color: #6E91A4;
    border: 1px dotted #354954;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 11px;
    -moz-box-shadow: inset -2px 2px 1px #354954;
    -webkit-box-shadow: inset -2px 2px 1px #354954;
    box-shadow: inset -2px 2px 1px #354954;
    margin-top: 10px;
}

/* Slider Handle */
.pst-slider .ui-slider-handle {
    text-align: center;
    font-weight: bold;
    padding: 5px 3px 10px 3px;
    color: #6E91A4;
    margin-top: -18px;
    width: 1.9em;
    font-size: 12px;
    height: 28px;
    font-family: "RockwellStdRegular";
    font-size: 16px;
    font-weight: bold;
    -moz-box-shadow: inset 0px -3px #354954;
    -webkit-box-shadow: inset 0px -3px #354954;
    box-shadow: inset 0px -3px #354954;
}

/* Slider Handle - A */
.pst-slider a, .pst-slider a:link, .pst-slider a:hover, .pst-slider a:active, .pst-slider a:visited {
    background: #e9e8e8 url(/sfimages/gridlines.png) no-repeat center 25px;
    color: #6E91A4;
    text-decoration: none;
    border: none;
}

/* Slider Handle - Hover, Active and Focus */
.pst-slider .ui-state-hover, .pst-slider .ui-state-active, .pst-slider .ui-state-focus {
    background-color: #e9e8e8;
}

/* Slider Results */
#slider-results {
    /*padding-left: 20px;*/
    font-family: RockwellStdRegular;
    float: right;
}

/* Slider Results Introduction */
#slider-introduction {
    /*display: none;*/
}

/* Slider Results Introduction Content */
.slider-introduction-content {
    display: block;
    color: #515151;
    font-size: 20px;
    background: #f2f2f2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 12px;
}

.slider-introduction-content-image, .slider-no-bundle-content-image {
    float: right;
}

.slider-no-bundle-content-image {
    padding: 0;
    line-height: 100%;
}

.slider-introduction-content-image img, .slider-no-bundle-content-image img {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.slider-no-bundle-content-image img {
    height: 140px;
    width: 187px;
}

.slider-introduction-content-view {
    white-space: nowrap;
    margin-top: 131px;
}

.slider-no-bundle-content-view {
    white-space: nowrap;
    margin-top: 100px;
}

/* Slider Results No Bundle */
#slider-no_bundle {
    display: none;
    color: #6E91A4;
    font-size: 15px;
}

/* Slider Results No Bundle Content */
.slider-no-bundle-content {
    color: #515151;
    font-size: 20px;
    background-color: #f2f2f2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 12px;
}

/* Slider Results No Bundle Main Content */
.slider-no-bundle-main {
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 5px solid #6E91A4;
    padding: 0 5px;
}

/* Slider Results Result */
#slider-result {
    display: none;
    color: #6E91A4;
    font-size: 13px;
}

/* Slider Results H3 */
#slider-result h3 {
    font-size: 20px;
    color: #96C84B;
}

/* Stronger Green Words on Green */
.slider-result-total-minutes, .totalCost {
    color: #96C84B;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

/* Bundle Teaser */
.bundle_teaser {
    background-color: #f2f2f2;
    padding: 18px 16px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #515151;
    font-size: 18px;
    margin-bottom: 20px;
    height: 106px;
    position: relative;
}

.bundle-teaser-buy-button {
    position: absolute;
    bottom: 0;
    right: 0;
}

.bundle_teaser.last-bundle {
    margin-bottom: 0;
}

/* Bundle Teaser User Type */
.bundle-teaser-type {
    font-size: 16px;
    padding: 0;
    color: #96C84B;
    font-family: RockwellStdRegular;
}

/* Bundle Teaser Title */
.bundle-teaser-title {
    color: #6E91A4;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Bundle Teaser Title */
.bundle-teaser-subtitle {
    color: #6E91A4;
    font-size: 18px;
    font-weight: normal;
}

/* Bundle Teaser Saving */
.bundle-teaser-saving {
    font-size: 16px;
    font-family: RockwellStdRegular;
    padding: 0;
}

.bundle-teaser-saving-money, .bundle-teaser-saving-time {
    color: #6E91A4;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

/* Bundle Teaser Saving A */
.bundle-teaser-saving a, .bundle-teaser-saving a:link, .bundle-teaser-saving a:hover, .bundle-teaser-saving a:active {
    text-decoration: none;
    color: #6E91A4;
}

/* Bundle Teaser Buy Button */
.bundle-teaser-buy-button {
    text-align: right;
    margin-top: -60px;
}

/* Slider Bundles Header */
.slider-bundle-header {
    font-size: 16px;
}

/* Slider Bundles Footer */
.slider-bundle-footer {
    text-align: right;
    font-size: 11px;
    font-weight: bold;
}

/* Bundles Modal Window */
#rightMoney-modal, #assumptions-modal, #singleMultiple-modal {
    color: #515151;
    padding: 10px 20px;
    z-index: 999;
    background-color: white;
}

/* Bundles Modal Window Title */
.bundles-modal h2 {
    color: #6E91A4;
}

/* Bundles Modal Window Bundle Title */
.bundles-modal span.title, .bundles-modal p.title {
    font-size: 15px;
    font-weight: bold;
}

/* Single / Multiple Window Bundle Chat Link */
#singleMultiple-modal a.chatlink, #singleMultiple-modal a:active.chatlink, #singleMultiple-modal a:link.chatlink, #singleMultiple-modal a:hover.chatlink {
    text-decoration: none;
    color: #96C84B;
    cursor: pointer;
}

/* Single / Multiple Modal Window Space - Increased Spacing */
#singleMultiple-modal p {
    margin-bottom: 18px;
}

/* Right Money Modal Window Space - Increased Spacing */
#rightMoney-modal h2,
#rightMoney-modal p {
    margin-bottom: 5px;
}

/* Assumptions and Terms and Conditions Modal Window - Paragraph */
#assumptions-modal p {
    padding: 5px 0 5px 0;
}

/* Assumptions and Terms and Conditions Modal Window - Close Button */
.assumptions-modal-btn {
    text-align: left;
    width: 49%;
    display: inline-block;
}

/* Assumptions and Terms and Conditions Modal Window - Link */
.assumptions-modal-link {
    text-align: right;
    width: 49%;
    display: inline-block;
}

/* Close Button - used on the No-Bundles page and also on the Main Bundles Selection Screens */
.close-control a, .close-control a:active, .close-control a:hover, .close-control a:link {
    text-decoration: none;
    border: none;
    cursor: pointer;
}

#sliders {
    min-height: 370px;
}

#single-bundle-result-header {
    display: none;
}

.bundle-teaser-buy-button button {
    padding: 7px 15px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.bundle-teaser-buy-button span {
    padding: 0;
}

.bundle-teaser-buy-button .buy-now {
    display: block;
    font-size: 16px;
}