@import "compass/css3/border-radius";

.no-js {
  .outlook-index,
  footer{
    display: none;
  }
}

.js {
  body {
    font: {
      size: 12px;
    }
  }
  // some overrides

  .section-container.auto section .title,
  .section-container.auto .section .title {
    border: {
      top: 1px solid #95C74B;
      left: 1px solid #95C74B;
      right: 1px solid #95C74B;;
    }
  }

  .section-container section .title,
  .section-container .section .title,
  .section-container.auto section .title,
  .section-container.auto .section .title {
    background-color: #ffffff;
  }

  .section-container.auto section .content,
  .section-container.auto .section .content {
    border: 3px solid #95C74B;
  }

  .loading {
    background: {
      image:  url('../../img/misc/ajax-loader.gif');
      repeat: no-repeat;
    }
    width: 16px;
    height: 16px;
    margin: 20px auto;

    &.green {
      background: {
        image:  url('../../img/misc/green-ajax-loader.gif');
      }
    }

    &.grey {
      background: {
        image:  url('../../img/misc/grey-ajax-loader.gif');
      }
    }
  }

  .inline-list {
    overflow: inherit;
    padding: 2px 10px 10px 0;
    border: 1px solid red;
  }

  .pwn-list {
    list-style: none;
    display: block;
    position: relative;
    .list-item {
      display: block;
    }
    margin:0;
    padding:0;
  }

  .pwn-list-a {
    list-style: none;
    display: block;
    position: relative;
    .list-item {
      display: block;
    }
    margin:0;
    padding:0;
  }

  .border{
    border-top: 1px solid #eeeeee;
    display: block;
    width: 100%;
    padding:0;
    margin:0;
    position: relative;
  }

//  .logo {
//    width: 100px;
//    height: 47px;
//  }

  .main-title{
    font:{
      size: 2em;
    }
  }

  .pwn-icons{
    font:{
      size: 1.3em;
    }
    color: #6D91A3;
    vertical-align: middle;
    padding-right: 3px;
    &.general{
      &.foundicon-error{
        color: #C00000;
        font:{
          size:3em;
        }
      }
    }
  }

  .styled-select select {
    background: transparent;
    padding: 3px;
    line-height: 1;
    border: 0;
  }

  .styled-select {
    width: inherit;
    border: 1px solid #ccc;
  }

  .attendee-list{
    .list-title{
      border-bottom: 1px solid #eeeeee;
    }
  }

  .appointment-details {
    margin: 0 0 3% 0;
    .inline-list > li > * {
      display: inline;
      width: inherit;

    }
    .inline-list li {
    }
    span {
      &.small {
        font:{
          size: 0.9em;
        }
        opacity: 0.5;
      }
    }
  }

  .attendee{
    //border-top: 1px solid #eeeeee;
  }

  /**********************************************
  * In Conference Controls Panel
  **********************************************/
  .in-conference-controls{

    .legend {
      list-style: none;
      width: 100%;
      position: relative;

      .legend-icon {
        width: 4.25%;
        display: inline-block;
        padding: 0 20px 0 0;
        vertical-align: top;
      }

      .legend-short {
        display: inline-block;
        width: 16%;
        vertical-align: top;
      }

      .legend-long {
        display: inline-block;
        width: 70.25%;
      }
    }
  }

  /**********************************************
  * Appointment History
  **********************************************/
    ul.timeline {
      border-left:3px #6D91A3 solid;
      margin:20px;
      padding-left:20px;
      .list-item {
        list-style-type:none;
        position:relative;
      }
      .list-item:before {
        content:"";
        width:11px;
        height:11px;
        position:absolute;
        top:3px;
        left:-27px;
        background:#95C74B;
        @include border-radius(50%);
      }
    }
  /**********************************************
  * Yugguu Form Modal
  **********************************************/
  .join-session-modal {
    .close-reveal-modal {
      padding: 5px;
      display: block;
    }
  }
  /**********************************************
  * Yugguu Form
  **********************************************/
  .yugguu-form {
    input[type="text"],
    span.prefix{
      font:{
        size: 11px;
      }
    }
  }

  footer {
    color: #ffffff;
    padding: 5px;
    margin: 0;
    .pwn-icons{
      font: {
        size: 2em;
      }
      padding: 5px;
    }

    a{
      font:{
        size: 0.8em;
      }
      color: #ffffff;
      &:hover{
        color: red;
      }
    }
  }

}