@import compass/css3
@import sprites/icons/*.png

// Sprites
@include all-icons-sprites

// Colours
@import _inc/color

// Custom Reset to override inherited CSS
@import _inc/pwn_reset

// Font related
@import _inc/font.colors

// Background Styles
@import _inc/background

// Lists Styles
@import _inc/lists

// CTA Styles
@import _inc/cta

// Modal for Video Pop out
@import _inc/video_player

@font-face
  font-family: 'Sketch Rockwell'
  src: url('../../shared/fonts/sketchrockwell-bold-webfont.eot')
  src: url('../../shared/fonts/sketchrockwell-bold-webfont.eot?#iefix') format("embedded-opentype"), url('../../shared/fonts/sketchrockwell-bold-webfont.woff') format("woff"), url('../../shared/fonts/sketchrockwell-bold-webfont.ttf') format("truetype"), url('../../shared/fonts/sketchrockwell-bold-webfont.svg#Sketch Rockwell') format("svg")
  font-weight: normal
  font-style: normal

// IE12 Main is not treated as block element
main
  display: block
  overflow: hidden

.pwn_authentication_widget
  visibility: hidden


////////////////////////
///*** Hero Unit ***////
///////////////////////
.hero_unit
  margin: 2em 0
  padding: 3.5em 0 0 3em
  min-height: 15.5em
  background:
    image: url('../../cx2/img/main_banner.png')
    repeat: no-repeat
    position: top center
  h1
    margin: 0
    width: 10em
    color: $blue
    line-height: 1em
    font:
      size: 4.400em
  h3
    width: 20em
    color: $green
    font:
      size: 2.180em
      weight: normal
    margin:
      top: 0.5em
//////////////////////////////
///*** My Pin Details ***/////
//////////////////////////////
.my_pin_details
  position: relative
  .floating_element_or
    position: absolute
    color: $blue_c
    font:
      size: 2.5em
      family: 'Sketch Rockwell'
    left: 225px
    top: 50px
  >div
    color: $white
    padding: 3em 0 1.875em 0
    position: relative
  .pwn_list_cx_style
    float: left
    position: relative
    display: block
    width: 220px
    margin: 0
    padding: 0
    font:
      family: "rockwellstdregular"
    &.first
      width: 285px
      margin:
        left: 2em
    &.last
      width: 170px
    .small_print
      color: $grey
      font:
        family: arial
        size: 0.9em
      width: 75%
      &.small_print_rockwell
        color: $white
        font:
          family: "rockwellstdregular"
          size: 1.283em
  // Right Arrow
  &:after
    left: 100%
    top: 10%
    border: solid transparent
    content: " "
    height: 0
    width: 0
    position: absolute
    pointer-events: none
    border-color: rgba(0, 51, 73, 0)
    border-left-color: $blue
    border-width: 10px
    margin-top: -10px
//////////////////////////////
///*** International ***//////
//////////////////////////////
.international
  @include box-sizing('border-box')
  display: inline
  float: left
  position: relative
  width: 640px
  border:
    bottom: 3px dotted $blue_a
  padding: 0 0 2em 0
  margin: 2.7em 0.5em 1.1em 2em
  p
    padding: 0
    span
      float: left
    .icons-phone
      display: block
      width: 28px
      height: 27px
    .sprite_text
      margin:
        top: 0.5em
        left: 0.5em
      font:
        family: "rockwellstdregular"
        size: 1.6em
        weight: bold
//////////////////////////////
///*** My Account ***/////////
//////////////////////////////
.my_account
  .pwn_list_basic
    word-wrap: break-word
    line-height: 1em
    font:
      family: "rockwellstdregular"
      size: 1.8em
    margin:
      left: 0.6em
    li
      padding: 0.2em 0 0.2em 0
      font:
        size: 0.750em
      span
        display: block
    .font_heading
      font:
        size: 1.3em
//////////////////////////////
///*** Miscellaneous ***//////
//////////////////////////////
.miscellaneous
  p
    line-height: 1.2em
    font:
      family: "rockwellstdregular"
      size: 1.2em
.firefox
  .sidebars
    .pwn_sidebar_unit
      padding:
        bottom: 2.300em
.sidebars
  .pwn_sidebar_unit
    padding:
      bottom: 2.1em
    font:
      size: 1.5em
    h2
      margin: 0.3em 0 0.5em 0
      font:
        size: 1.850em
    a
      margin: 1em 0
    &:nth-child(2)
      padding:
        bottom: 0.1em
/////////////////////////////
///*** Get Started ***///////
/////////////////////////////
.get_started
  margin: 2.5em 0 2em 0
  h2
    margin:
      bottom: 0.5em
    font:
      size: 2.75em
  h3
    margin:
      bottom: 1em
    font:
      size: 1.9em
  .sprite
    display: block
    float: left
    height: 35px
    width: 38px
  .sprite_text
    line-height: 1em
    width: 10em
    display: block
    float: left
    margin:
      top: 0em
      left: 0.5em
    font:
      family: "rockwellstdregular"
      size: 1.6em
      weight: normal
  .pwn_list_basic
    position: relative
    display: inline
    float: left
    position: relative
    width: 230px
    .body
      text-align: center
      margin:
        top: 6em
      img
        cursor: pointer
      ul
        font:
          family: "rockwellstdregular"
          size: 1.3em
          weight: normal
        list-style: none
        text-align: left
        line-height: 1.1em
        li
          padding: 0em 0 1.5em 0
////////////////////////////////////////
///*** Additional Information ***///////
////////////////////////////////////////
.additional_information
  @include box-sizing('border-box')
  padding: 1em
  h3
    //color: #00557a
    font:
      size: 1.8em
      weight: bold
  p
    line-height: 1.1em
    font:
      weight: normal
      family: "rockwellstdregular"
      size: 1.3em
  a
    font:
      weight: normal
      family: "rockwellstdregular"
      size: 1.5em