@import compass/css3
@import "_inc/font.family.sass"
@import "_inc/font.colors.sass"
@import "_inc/video_player"

// Sprites
@import sprites/icons_fccs/*.png
@include all-icons_fccs-sprites

// Mixin
@import "_inc/_mixin.close.buttin.sass"
@import "_inc/_mixin.background.colour.sass"

// Core Styles - Should NEVER be overwritten.

body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font:
    size: 11px
.center
  text-align: center
.hide
  display: none !important

button::-moz-focus-inner
  border: 0
input:focus::-webkit-input-placeholder
  color: transparent!important
input:focus::-moz-placeholder
  color: transparent!important
input:focus:-moz-placeholder
  color: transparent!important
// for IE browsers
main
  display: block

// Fix for chrome/FF auto-sizing text on mobiles.
p, h2, a, .read_more
  max-height: 999999px
.header
  line-height: 1em
  &.header_h1,
  &.header_h2
    margin: 0 0 0 20px
  &.header_h1
    font:
      family: RockwellBold
      size: 4.727em
  &.header_h2
    font:
      family: rockwellstdregular
      size: 2.751em
  &.header_h3
    font:
      family: RockwellBold
      size: 2.182em

.hero_unit
  margin: 20px 0

// Registration Section
.ie8
  .registration_unit,
  .ko_registration_form
    behavior: url('../shared/PIE-2/PIE.htc')

.registration_unit
  height: 46.5em
  width: 87.3em
  @include border-radius(0.5em)
  background:
    image: url('../img/freeConferenceCallingService/registrationunitfullbg.jpg')
    repeat: no-repeat
    position: center
  p
    line-height: 1em
    padding: 0
  a
    color: $white
    &:hover
      color: $green
  .registration_description
    color: $white
    padding:
      left: 1.8em
      top: 1.8em
    height: 30.6em
    .registration_title
      font:
        family: Arvo
        size: 3.636em
        weight: bold
      padding:
        bottom: 0.25em
      @include text-shadow(rgba($black, 1) 0.03em 0.03em 0.03em)
    .registration_sub_title
      font:
        family: Arvo
        size: 2.182em
        weight: normal
      padding:
        bottom: 0.45em
      @include text-shadow(rgba($black, 1) 0.03em 0.03em 0.06em)
    .registration_link
      font:
        family: Arvo
        size: 2.182em
        weight: bold
      margin:
        bottom: 1.6em
      @include text-shadow(rgba($black, 1) 0.03em 0.03em 0.06em)
    a
      border:
        bottom: 1px solid $white
      &:hover
        border:
          bottom: 1px solid $green
  .form_errors
    background: $green !important
    @include transition-property('background-color')
    @include transition-duration(800ms)
  .ko_registration_form
    position: relative
    @include background-opacity($green, 0.7)
    @include border-radius(0 0 0.5em 0.5em)
    color: $white
    padding: 0.9em 0.9em 0.9em 1.8em
    min-height: 12.3em
    .registration_form_pre
      font:
        family: Arvo
        size: 2.182em
        weight: bold
    .throbber
      position: absolute
      left: 50em
      top: 6em
    .error_message
      @include border-radius(0)
      width: 38.8em
      font:
        family: Arvo
        size: 1.3em
        weight: normal
    input[type=text], input[type=email]
      font:
        family: Arvo
        size: 2.2em
        weight: normal
      color: $grey_e
      border: 1px solid $grey_b
      border-radius: 0
      height: auto
      width: 22.2em
      padding: 0.42em
      margin: 0.5em 0 0 0
    .cx_grad_button
      margin: 0 0 0 0.5em
      height: 1.3em
      vertical-align: bottom
      font:
        family: RockwellBold
        size: 3.636em
        weight: 400
        style: normal
    .registration_form_post
      display: block
      color: $white
      margin: 0.9em 2em 0 0
      font:
        family: Arvo
        size: 1.4em
        weight: normal
      a
        color: $blue_c
        border:
          bottom: 1px solid $blue_c
        &:hover
          color: $white
          border:
            bottom: 1px solid $white

// Trust Pilot
.ie8
  .trust_pilot_container
    behavior: url('../shared/PIE-2/PIE.htc')
.trust_pilot
  position: relative
  .customer_reviews
    display: none
    position: absolute
    width: 820px
    right: 60px
.trust_pilot_container
  background:
    color: $green
    image: url('../img/freeConferenceCallingService/trustpilotlogo.png')
    repeat: no-repeat
    position: 90% 15%
  color: $white
  padding: 4em 5em 0.5em
  @include border-radius(10px)
  @include box-sizing('border-box')
  .trust_pilot_inner_container
    min-height: 300px
    background:
      image: url('../img/freeConferenceCallingService/fivestarrating.png')
      repeat: no-repeat
      position: 50% 25%
    .quote,
    .author
      display: block
      text-align: center
      line-height: 1.2em
    .read_more
      display: block
      text-align: right
      line-height: 1.2em
    .quote
      font:
        family: Sketch Rockwell
        size: 3.364em
    .author
      font:
        family: rockwellstdregular
        size: 2.636em
    .read_more
      margin:
        top: 20em
      a
        color: $blue_f
        text-decoration: underline
        border: none
        font:
          family: rockwellstdregular
          size: 2.057em
        &:hover
          color: $white
    >div
      margin:
        top: 10em
  h2
    font:
      size: 3.273em

// Generic Section
.generic_section
  margin:
    top: 2.73em
  h1
    margin: 0 0 0.78em 0.2em
    font:
      family: Arvo
      size: 4.727em
      weight: normal
  .header_h3
    font:
      weight: normal
    margin: 0
  p
    font:
      family: Arvo
      size: 1.636em
      weight: normal
    line-height: 1.3em

// Three Easy Steps Section
.three_easy_steps
  .header_h3
    margin:
      bottom: 0.5em
      top: 0
    font:
      family: RockwellStdRegular
      size: 4.727em
      weight: normal
  p
    padding: 0
    line-height: 1em
  .trapezoid_bg
    position: relative
    min-height: 500px
    background:
      image: url('../img/freeConferenceCallingService/trapezoidbg.png')
      repeat: no-repeat
      position: center center
  .trapezoid
    position: absolute
    width: 212px
    color: $white
    .title
      padding:
        bottom: 0.7em
      font:
        size: 4.000em
        family: Sketch Rockwell
    .body
      font:
        size: 2.182em
        family: rockwellstdregular
    &.trapezoid_one
      left: 90px
      top: 145px
    &.trapezoid_two
      left: 365px
      top: 60px
    &.trapezoid_three
      left: 643px
      top: 133px

// Customer Service Section
.ie8
  .customer_service
    .bubble_container
      .bubble
        behavior: url('../shared/PIE-2/PIE.htc')
.customer_service
  .bubble_container
    width: 85%
    margin: 0 auto
    .bubble
      font:
        family: Arvo
        size: 2.545em
        weight: normal
      text-align: center
      line-height: 1em
      @include border-radius(15px)
      color: $blue_e
      padding: 0.715em
      background:
        color: $grey_b
      a
        border: none
        text-decoration: underline
        color: $blue_g
        font:
          weight: bold
        &:hover
          color: $green
  .customer_service_text
    font:
      family: Arvo
      size: 2.545em
      weight: bold
    width: 80%
    margin: 0 auto
    text-align: center
    line-height: 1em
    color: $blue_e
    padding: 1em
  .customer_service_text_font_normal
    font:
      weight: normal
  .register_now_link
    width: 80%
    margin: 0 auto
    text-align: center
    line-height: 1em
    padding: 1em
    .register_now_button
      font:
        size: 4em
        weight: 400
        style: normal
      padding: 0.18em 0.4em 0.225em
  .customer_service_line_break
    width: 100%
    height: 0.28em
    background:
      color: $grey_a

// Getting Started Section
.getting_started
  margin:
    top: 5.46em
    bottom: 5.46em
  .header_h3
    margin:
      bottom: 1em
    font:
      family: Arvo
      size: 2.545em
  p
    font:
      family: Arvo
      size: 1.455em
    line-height: 1.7em
  img
    min-height: 20em
    margin:
      top: 3.27em
      left: 1.37em

// Video Player Position Override
.getting_started
  .pop_out_modal_video_player
    left: -480px
    top: 0
    > div
      width: 925px // Must match width of video
      min-height: 365px // Must match height of video

// IE8
.ie8
  .ko_registration_form
    .error_message,
    .close,
    input[type=text]
      behavior: url('../shared/PIE-2/PIE.htc')
    input[type=text]
      position: relative

// Mask
.mask
  position: fixed
  top: 0
  left: 0
  background: rgba(0,0,0,0.6)
  z-index: 1
  width: 100%
  height: 100%
  display: none
  display: block
  @include opacity(1)

.chatlink
  cursor: pointer
