/*
 *Variable Grid System.
 *Learn more ~ http://www.spry-soft.com/grids/
 *Based on 960 Grid System - http://960.gs/
 *
 *Licensed under GPL and MIT.

/*
 *  Forces backgrounds to span full width,
 *  even if there is horizontal scrolling.
 *  Increase this if your layout is wider.
 *
 *  Note: IE6 works fine without this fix.

body
  min-width: 960px

/* Containers
 *----------------------------------------------------------------------------------------------------

.container_16
  margin-left: auto
  margin-right: auto
  width: 960px

/* Grid >> Global
 *----------------------------------------------------------------------------------------------------
.container_16
  @for $i from 1 through 16
    .grid_#{$i}
      display: inline
      float: left
      position: relative
      margin-left: 10px
      margin-right: 10px

@for $i from 1 through 16
  .push_#{$i},
  .pull_#{$i}
    position: relative

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
 *----------------------------------------------------------------------------------------------------
.container_16
  .alpha
    margin-left: 0

  .omega
    margin-right: 0

/* Grid >> 16 Columns
 *----------------------------------------------------------------------------------------------------

.container_16
  .grid_1
    width: 40px
  .grid_2
    width: 100px
  .grid_3
    width: 160px
  .grid_4
    width: 220px
  .grid_5
    width: 280px
  .grid_6
    width: 340px
  .grid_7
    width: 400px
  .grid_8
    width: 460px
  .grid_9
    width: 520px
  .grid_10
    width: 580px
  .grid_11
    width: 640px
  .grid_12
    width: 700px
  .grid_13
    width: 760px
  .grid_14
    width: 820px
  .grid_15
    width: 880px
  .grid_16
    width: 940px
  .prefix_1
    padding-left: 60px
  .prefix_2
    padding-left: 120px
  .prefix_3
    padding-left: 180px
  .prefix_4
    padding-left: 240px
  .prefix_5
    padding-left: 300px
  .prefix_6
    padding-left: 360px
  .prefix_7
    padding-left: 420px
  .prefix_8
    padding-left: 480px
  .prefix_9
    padding-left: 540px
  .prefix_10
    padding-left: 600px
  .prefix_11
    padding-left: 660px
  .prefix_12
    padding-left: 720px
  .prefix_13
    padding-left: 780px
  .prefix_14
    padding-left: 840px
  .prefix_15
    padding-left: 900px
  .suffix_1
    padding-right: 60px
  .suffix_2
    padding-right: 120px
  .suffix_3
    padding-right: 180px
  .suffix_4
    padding-right: 240px
  .suffix_5
    padding-right: 300px
  .suffix_6
    padding-right: 360px
  .suffix_7
    padding-right: 420px
  .suffix_8
    padding-right: 480px
  .suffix_9
    padding-right: 540px
  .suffix_10
    padding-right: 600px
  .suffix_11
    padding-right: 660px
  .suffix_12
    padding-right: 720px
  .suffix_13
    padding-right: 780px
  .suffix_14
    padding-right: 840px
  .suffix_15
    padding-right: 900px
  .push_1
    left: 60px
  .push_2
    left: 120px
  .push_3
    left: 180px
  .push_4
    left: 240px
  .push_5
    left: 300px
  .push_6
    left: 360px
  .push_7
    left: 420px
  .push_8
    left: 480px
  .push_9
    left: 540px
  .push_10
    left: 600px
  .push_11
    left: 660px
  .push_12
    left: 720px
  .push_13
    left: 780px
  .push_14
    left: 840px
  .push_15
    left: 900px
  .pull_1
    left: -60px
  .pull_2
    left: -120px
  .pull_3
    left: -180px
  .pull_4
    left: -240px
  .pull_5
    left: -300px
  .pull_6
    left: -360px
  .pull_7
    left: -420px
  .pull_8
    left: -480px
  .pull_9
    left: -540px
  .pull_10
    left: -600px
  .pull_11
    left: -660px
  .pull_12
    left: -720px
  .pull_13
    left: -780px
  .pull_14
    left: -840px
  .pull_15
    left: -900px

/* Prefix Extra Space >> 16 Columns
 *----------------------------------------------------------------------------------------------------

/* Suffix Extra Space >> 16 Columns
 *----------------------------------------------------------------------------------------------------

/* Push Space >> 16 Columns
 *----------------------------------------------------------------------------------------------------

/* Pull Space >> 16 Columns
 *----------------------------------------------------------------------------------------------------

/* `Clear Floated Elements
 *----------------------------------------------------------------------------------------------------

/* http://sonspring.com/journal/clearing-floats

.clear
  clear: both
  display: block
  overflow: hidden
  visibility: hidden
  width: 0
  height: 0

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified

.clearfix
  &:before
    content: '\0020'
    display: block
    overflow: hidden
    visibility: hidden
    width: 0
    height: 0
  &:after
    content: '\0020'
    display: block
    overflow: hidden
    visibility: hidden
    width: 0
    height: 0
    clear: both
  zoom: 1

/*
 *The following zoom:1 rule is specifically for IE6 + IE7.
 *Move to separate stylesheet if invalid CSS is a problem.