// Sprites
@import compass/css3
@import "_inc/font.family.sass"
@import "_inc/font.colors.sass"
@import sprites/icons_fccs/*.png
@include all-icons_fccs-sprites

$pie-path : "/shared/PIE-2/PIE.htc"

body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font:
    size: 11px
.center
  text-align: center
.hide
  display: none !important


.audio-error
  display: none
  min-height: 29px
  margin: 25px 0 0 0
  font-size: 13px
  color: $white
  border: 1px solid $red
  border-radius: 5px
  background: $red
  padding: 5px

.ie8
  .recording_blue_container
    behavior: url($pie-path)
  .recording_blue_container #password-field,.recording_blue_container #password-field-fake
    behavior: url($pie-path)
    padding-top: 10px
    height: 35px
  form.ko_registration_form
    behavior: url($pie-path)
    input[type=text]
      behavior: url($pie-path)

.generic_section
  margin:
    top: 20px

.recording_blue_container
  background: #0098c9
  height: 325px
  padding: 30px
  @include border-radius(10px)
  font-family: rockwellstdregular
  .title
    font-family: Sketch Rockwell
    font-size: 4.909em
    line-height: 1em
    padding: 0
    color: #ececec
  .description,.id
    padding: 0
    line-height: 1em
    font-family: rockwellstdregular
    font-size: 20px
    color: #002338
  .id
    font-size: 35px
    margin-bottom: 15px
  .description
    margin-top: 5px
    height: 40px
    overflow: hidden
    font-style: italic
    color: #002338
    margin-bottom: 10px
  .sub_title
    font-family: rockwellstdregular
    font-size: 2.636em
    line-height: 1em
    margin-bottom: 10px
    margin-top: 10px
    padding: 0
    color: #002338
  .body,.body-small
    font-family: rockwellstdregular
    font-size: 1.7em
    line-height: 1.1em
    padding: 0
    color: #FFFFFF
  .body-small
    color: #ffffff
    font-size: 1.455em
  .find_out_more
    margin-top: 27px
    .body
      font-family: RockwellBold
      margin-bottom: 23px
    .blue_big_button
      margin-right: 50px
  .download_container
    margin-top: 20px
    margin-right: 50px

  .recording_player
    width: 320px
    margin-top: 15px
    margin-bottom: 15px

//Forms in blue container
.recording_blue_container
  .password-field,.password-field-fake
    font-family: rockwellstdregular
    width: 290px
    padding: 0px 5px 0px 5px
    height: 45px
    font-size: 20px
    border: none
    text-align: center
    display: block
    float: right
    clear: right
    color: #959595
    @include border-radius(10px)
  .password-field
    font-family: rockwellstdregular
  .password_form
    margin-top: 15px
    margin-right: 50px
    .form-error
      display: block
      float: right
      clear: right
      background: #ff7576
      padding: 3px 5px
      color: $white
      margin-top: 5px
      font-size: 14px
      display: none
    .password-field
      display: none
    .blue_big_button
      margin-top: 15px


.recording_blue_container .blue_big_button,.recording_blue_trapezoid .blue_big_button
  @include box-sizing(content-box)
  vertical-align: top
  text-align: center
  line-height: 1em
  width: 221px
  border-width: 0
  height: 43px
  color: $white
  font-family: RockwellBold
  border-style: none
  padding: 10px 0px 0px 0px
  font-size: 25px
  float: right
  display: block
  background-repeat: no-repeat
  background:
    image: url('../img/cta_blue_b.png')
  &:hover
    background:
      image: url('../img/cta_blue_button_b_hover.png')


.autioplayer_cont
  padding: 0px

.recording-header
  background-repeat: no-repeat
  background-position: center
  background-image: url('../img/recording/header_image.png')
  height: 178px
  margin: 10px 0 0 0
  padding: 15px 30px
  color: $white
  p
    font-family: rockwellstdregular
    font-size: 62px
    padding: 0
    line-height: 0.9em
  p.sketch
    font-family: Sketch Rockwell

.recording_blue_trapezoid
  width: 266px
  height: 460px
  background-image: url('../img/recording/trapezoid_blue.png')
  background-repeat: no-repeat
  padding: 30px 60px
  .title
    font-family: Sketch Rockwell
    font-size: 3.909em
    line-height: 1em
    padding: 0
    color: #ececec
  .description,.id
    padding: 0
    line-height: 1.1em
    margin-bottom: 15px
    margin-top: 5px
    font-family: rockwellstdregular
    font-size: 20px
    color: #002338
  .description
    height: 40px
    overflow: hidden
    font-style: italic
    color: #002338
  .id
    font-size: 35px
  .body,.body-small
    font-family: rockwellstdregular
    font-size: 1.818em
    line-height: 1.1em
    padding: 0
    color: #ececec
    margin-bottom: 30px
  .body-small
    font-size: 1.455em
    color: #ffffff
  .download_container
    margin-top: 40px
    margin-right: 30px
  .recording_player
    padding: 10px 0px
    width: 252px
    margin: auto
    p
      line-height: 1em

.free_recording_text
  font-family: rockwellstdregular
  h3
    color: #88b700
    font-size: 42px
    line-height: 1.1em
    font-weight: normal
  p
    color: #002338
    font-size: 22px
    line-height: 1.3em

//form.ko_registration_form
//  @include border-radius(10px)
//  background: #88b700
//  padding: 15px
//  margin-top: 30px
//  position: relative
//  .throbber
//    position: absolute
//    left: 660px
//    top: 77px
//  h2
//    color: $white
//    margin: 5px 0px 10px 0px
//    font-size: 26px
//  input[type=text]
//    position: relative
//    width: 620px
//    background: $white
//    @include border-radius(10px)
//    font-size: 20px
//    line-height: 1.1em
//    border: none
//    font-family: rockwellstdregular
//    padding: 14px 30px
//  p,a
//    color: $white
//    font-family: rockwellstdregular
//  a
//    font-weight: bold
//  .error_message p
//    display: block
//    line-height: 1em
//    background: #ff7576
//    padding: 3px 5px
//    color: $white
//    margin-top: 5px
//    margin-right: 251px
//    font-size: 14px
//  .ko_button
//    margin: 0 0 0 20px
//    border: none
//    outline: none
//    width: 222px
//    height: 62px
//    color: $white
//    text-transform: none
//    background:
//      image: url('../img/cta_orange_a.png')
//      repeat: no-repeat
//      color: transparent
//      position: center center
//    font:
//      size: 2.537em
//      family: rockwellstdregular
//    &:hover
//      cursor: pointer
//      outline: 0
//      color: #ed8000
//      background:
//        image: url('../img/cta_orange_a_hover.png')
//    //&:disabled
//    //  //-webkit-text-fill-color: $white
//    //  //color: $white
//    //  //@include opacity(1)
//    &:focus,&::-moz-focus-inner
//      outline: 0
//      border: 0
//  .terms
//    font-size: 12px
//    display: block
//    margin-right: 251px
//    text-align: right

.customer_service_info
  p
    font-family: rockwellstdregular
    color: #002338
    font-size: 22px
    font-weight: bold
    line-height: 1.1em
    padding: 5
    text-align: center
    a,strong
      color: $blue_f
    a
      cursor: pointer