// Sprites
@import compass/css3
@import "_inc/font.family.sass"
@import "_inc/font.colors.sass"
@import sprites/icons_fccs/*.png
@include all-icons_fccs-sprites

// What You Get Section
.what_you_get
  margin:
    top: 40px
  div
    min-height: 9.091em
    margin: 0 0 2em 0.909em
  .title,
  .body
    @include box-sizing('border-box')
    padding: 6px 0 0 11px
    display: inline-block
    width: 385px
  .sprite
    width: 65px
    height: 62px
    display: block
    float: left
    position: relative
  .title
    font:
      family: Arvo
      size: 2.364em
  .body
    padding:
      top: 0.5em
      bottom: 1em
      left: 0.5em
    font:
      family: Arvo
      size: 1.455em
    line-height: 1.4em
    a.blue_link_green_hover
      color: $blue_c
      border:
        bottom: 1px solid $blue_c
      &:hover
        color: $green
        border:
          bottom: 1px solid $green

