/* Undo pwnform styling. */
.account-details .pwnform {
    background-color: white;
    width: 100%;
}

.account-details .premium-details,
.account-details .plus-details{
    padding: 15px;
}

.account-details .sub_page_heading_container {
    float: none;
}

.account-details .breadcrumb-sub-page {
    text-align: right;
}

.account-details .yuuguu-password-message {
    color: #515151;
    font-family: Verdana sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 14px;
    orphans: 2;
    text-align: -webkit-auto;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    widows: 2;
    word-spacing: 0px;
    -webkit-text-size-adjust: auto;
    -webkit-text-stroke-width: 0px;
    background-color: #ffffff;
    display: inline !important;
    float: none;
}

.account-details .yuuguu-remember-message {
    color: #515151;
    font-family: Verdana sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 16px;
    orphans: 2;
    text-align: -webkit-auto;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    widows: 2;
    word-spacing: 0px;
    -webkit-text-size-adjust: auto;
    -webkit-text-stroke-width: 0px;
    background-color: #ffffff;
    display: inline !important;
    float: none;
}

.account-details .premium-details {
    padding-bottom: 50px;
}

.account-details .premium-details .list-contact {
    padding-top: 30px;
}
