.DTFC_LeftBodyWrapper table.DTFC_Cloned thead th,
.DTFC_LeftBodyWrapper table.DTFC_Cloned {
    border-radius: 0 !important;
}

.DTFC_LeftBodyWrapper table.DTFC_Cloned thead,
.DTFC_LeftBodyWrapper table.DTFC_Cloned thead th,
.dataTables_scrollBody table.mypwn-fixed thead,
.dataTables_scrollBody table.mypwn-fixed thead th {
    height: 0 !important;
    line-height: 0 !important;
}

.dataTables_scrollHead,
.dataTables_scrollHead .dataTables_scrollHeadInner,
.dataTables_scrollHead .dataTables_scrollHeadInner table.mypwn-fixed,
.dataTables_scrollHead .dataTables_scrollHeadInner table.mypwn-fixed thead,
.dataTables_scrollHead .dataTables_scrollHeadInner table.mypwn-fixed thead th,
.DTFC_LeftHeadWrapper,
.DTFC_LeftHeadWrapper table.mypwn-fixed,
.DTFC_LeftHeadWrapper table.mypwn-fixed thead,
.DTFC_LeftHeadWrapper table.mypwn-fixed thead th {
    height: 35px !important;
}

div.ui-dialog-titlebar.ui-helper-clearfix {
    display: none;
}

form#form-update-my-pin-products {
    padding-left: 0;
}

.ie10 form#form-update-my-pin-products input[type="checkbox"] {
    padding: 0;
}
