form#frm-call-settings .form-field label {
    width: 130px;
}

form#frm-call-settings .radio_fields span label {
    width: auto;
}

.showMusic {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 0 10px 10px;
}

.showMusic_powwownow {
    background-color: #88B700;
}

.showMusic_plus {
    background-color: #7b9eae;
}

div#player_span {
    width: 207px;
    height: 28px;
    margin-left: 137px;
}

form#frm-call-settings .showMusic label {
    color: white;
    font-size: 16px;
    width: 135px;
}

form#frm-call-settings .showMusic span.subLabel {
    display: inline-block;
    font-size: 12px;
    width: 130px;
    color: #000000;
}

form#frm-call-settings .showMusic div#player_span {
    display: inline-block;
    margin-left: 9px;
}

form#frm-call-settings .showMusic .mypwn-input-container {
    vertical-align: top;
    margin-top: 0;
}

form#frm-call-settings .showMusic .mypwn-input-container #callSettings_on_hold_music {
    vertical-align: top;
}