/*Homepage Cost Compare Component*/
.grey-block strong {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
    display: block;
}

.grey-block .right {
    width: 322px;
    float: right;
}

.grey-block .left {
    width: 540px;
    float: left;
}

.grey-block, .white-block {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.grey-block {
    margin-bottom: 20px;
    padding: 10px 20px 5px 20px;
    margin-top: 20px;
    width: 916px;
    background: #f0f0f0;
}

.white-block {
    padding: 5px 20px;
    background: #fff;
}

/*Why Plus Component 1*/
.bubble-gray {
    background:#f2f2f2;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    margin:10px 0;
}

.green-light {
    color: #96C84B;
}

.icon-light-grey {
    -webkit-box-shadow: #f2f2f2 0px 0px 5px;
    -moz-box-shadow: #f2f2f2 0px 0px 5px;
    box-shadow: #f2f2f2 0px 0px 5px;
}

.font-size-12 {
    font-size: 12px;
}

.bubble-gray .icon {
    margin:15px 0 0 -15px;
    height:82px;
}

.bubble-gray .text {
    margin:10px 0;
}

.bubble-gray p {
    padding:3px 0;
}

.font-bold {
    font-weight: bold;
}

.font-italic {
    font-style: italic;
}

.bundle-dialog-link:hover {
    cursor: pointer;
}

/*Plus New Dialog*/
#dialog-plus-main {
    width: 100%;
}
#dialog-plus {
    color: #FFF;
    padding: 0 15px;
}

#dialog-plus form {
    padding: 0;
    background: none;
}

#dialog-plus input#plus_auth_password {
    width: 420px;
    font-size: 24px;
    color: #515151;
}

button#plus_switch_step1 span,
button#plus_switch_auth span,
button#plus_signup_submit span,
button#redeem_voucher_skip {
    font-size: 16px;
}

.plus-reg-info {
    padding: 10px;
    background-color: #608694;
    color: #efefef;
    font-style: italic;
    margin-top: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow:    inset 0 0 5px #335866;
    -webkit-box-shadow: inset 0 0 5px #335866;
    box-shadow:         inset 0 0 5px #335866;
}

#dialog-plus span.mypwn-input-container {
    z-index: auto;
}

#form-plus-registration-with-password .required-note,
#form-plus-registration-without-password .required-note,
#form-plus-switch-step1 .required-note,
#form-plus-switch-auth .required-note {
    display: none;
}

#form-plus-registration-with-password .form-field,
#form-plus-registration-without-password .form-field {
    width: 49%;
    display: inline-block;
    margin-bottom: 10px;
}

#form-plus-registration-with-password .form-field label,
#form-plus-registration-without-password .form-field label {
    color: #FFF;
    width: 140px;
}

#form-plus-registration-with-password .form-field label sup.asterisk,
#form-plus-registration-without-password .form-field sup.asterisk {
    color: #FFF
}

#form-plus-registration-with-password .form-field-button,
#form-plus-registration-without-password .form-field-button {
    float:right;
}

#form-plus-registration-with-password .form-field-button p,
#form-plus-registration-with-password .form-field-button button,
#form-plus-registration-without-password .form-field-button p,
#form-plus-registration-without-password .form-field-button button {
    float:right;
    margin-right: 44px;
}

/*Popup - Generic*/
#dialog-plus {
    width: 100% !important;
}

#dialog-plus a {
    color: #fff
}

#dialog-plus a:hover {
    color: #fff;
}

#dialog-plus-parent {
    background: #7EA2B4;
    border: 3px solid #EFEFEF;
    color: #222;
}

.dialog-plus-main-content {
    display: none;
}

/*Popup - Plus Registration - Initial Form*/
#plus-registration {
    padding-right: 15px;
    border-right: 3px solid #fff;
}

#plus-registration h2 {
    margin-bottom: 15px;
}

div#plus-registration form#form-plus-switch-step1 input[type="text"] {
    font-size:12px;
    color: #515151;
    width: 210px;
}

div#plus-registration form#form-plus-switch-step1 button#plus_switch_step1 span {
    font-size: 16px;
}

/*Popup - Existing Customer - Initial Form*/
#existing-customer {
    font-size: 11px;
    padding-left: 15px;
}
#existing-customer h2 {
    color: #fff;
    font-size: 22px;
}

form#form-existing-customer label {
    font-size: 12px;
}

#existing-customer #form-existing-customer-email-span {
    margin-bottom: 20px;
}

input#form-existing-customer_email,
input#form-existing-customer_password {
    font-size:12px;
    width: 180px;
}

#existing-customer button#form-existing-customer_submit {
    margin-top: 7px;
}

/*Popup - Dialog Close Button*/
.dialog-plus-close {
    width: 26px;
    height: 26px;
}

#dialog-plus .dialog-plus-close a,
#dialog-plus .dialog-plus-close a:hover,
#dialog-plus .dialog-plus-close a:visited,
#dialog-plus .dialog-plus-close a:active,
#dialog-plus a.tooltip-close {
    color: #7EA2B4;
    border-bottom: none;
    text-decoration: none;
}

/*Blue Contact Us Frame*/
.blue-bubble-contactus {
    margin-bottom: 20px;
    background-color: #688399;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
}

/*Plus Registration Error Field*/
.plus-registration-error {
    color: #890000;
    font-size: 11px;
    display: block;
    margin-bottom: 20px;
}