ol.conferencecalletiquette {
     font-size: 18px;
     color: #99cc00;
     padding-top: 20px;
 }

ol.conferencecalletiquette li {
    padding-bottom: 15px;
}

ol.conferencecalletiquette li span {
    font-size: 11px;
    color: #515151;
}