.margin-top-32px {
    margin-top: 32px;
}

.margin-top-15px {
    margin-top: 15px;
}

.lozenge-green {
    background: url('/sfimages/bubble/bubble-green-plus-cta.png') no-repeat;
    width: 457px;
    height: 115px;
    position: relative;
}

.lozenge-green p {
    text-align: center;
    font-size: 2em;
    color: #ffffff;
    padding: 2em 0 0 0;
}