.form-forgotten-password-container {
    background: #a6cf5a;
    padding: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.forgotten-password-success-message {
    height: 65px;
    padding: 20px;
    display: none;
}

.forgotten-password-success-message h2 {
    font-size: 16px;
}

#form-forgotten-password {
    height: 65px;
    padding: 20px;
    background: none;
}

#form-forgotten-password label {
    color: #ffffff;
    top: 8px;
    position: relative;
}