#gm {
    background: url('/sfimages/gm.png') no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 150px;
    opacity: 0.4;
}

#gm:hover {
    background: url('/sfimages/gm_1.png') no-repeat;
}

#midbox {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 20px;
    margin-top: 200px;
    text-align: center;
    background-color: #efefef;
    border-radius: 10px;
    box-shadow: 5px 5px 2px #ddd;
}

#ip {
    padding-top: 20px;
    text-align: center;
    font-size: 11px;
    width: 100%;
}

#country_name {
    font-size: 11px;
    width: 150px;
    text-align: left;
}

#form-god-mode label {
    display: block;
}

.flag {
    background: url(/sfimages/sprites/sprite-flags-square.png) no-repeat;
    float: left;
    padding: 0 !important;
    margin: 0 5px 0 0;
    width: 16px;
    height: 11px;
}

.flag-gbr {
    background-position: 0 0;
}

.flag-aut {
    background-position: -20px 0;
}

.flag-bel {
    background-position: -40px 0;
}

.flag-can {
    background-position: -60px 0;
}

.flag-fra {
    background-position: -80px 0;
}

.flag-deu {
    background-position: -100px 0;
}

.flag-irl {
    background-position: -120px 0;
}

.flag-ita {
    background-position: -140px 0;
}

.flag-nld {
    background-position: -160px 0;
}

.flag-pol {
    background-position: -180px 0;
}

.flag-zaf {
    background-position: -200px 0;
}

.flag-esp {
    background-position: -220px 0;
}

.flag-swe {
    background-position: -240px 0;
}

.flag-che {
    background-position: -260px 0;
}

.flag-usa {
    background-position: -280px 0;
}

#country_name_child img.fnone {
    float: left !important;
}

#country_name_child span.ddlabel, #country_name_msdd {
    text-align: left;
}