#header-hint-premium {
    background: url('/sfimages/hint-premium.png') no-repeat;
    position: absolute;
    width: 194px;
    height: 90px;
    right: 10px;
    top: -10px;
    z-index: 100;
    padding: 22px 5px 0 20px;
    color: #c1c1c1;
    font-size: 9px;
    line-height: 150%;
}

.button-blue {
    background: #4f7a97;
    color: white;
    border: 2px solid white;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4f7a97), to(#384a50));
    background: -moz-linear-gradient(#4f7a97, #384a50);
    background: linear-gradient(#4f7a97, #384a50);
    -pie-background: linear-gradient(#4f7a97, #384a50);
    -pie-lazy-init: false;
    -pie-poll: true;
}

.ie7 .button-blue {
    width: 175px
}

.ie7 #right-sidebar {
    width: 220px
}

.button-blue:hover {
    background: #384a50;
    color: white;
    border: 2px solid white;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#384a50), to(#4f7a97));
    background: -moz-linear-gradient(#384a50, #4f7a97);
    background: linear-gradient(#384a50, #4f7a97);
    -pie-background: linear-gradient(#384a50, #4f7a97);
    -pie-lazy-init: false;
    -pie-poll: true;
}

.how-it-works-box {
    background: #eeeeee;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px 10px 0 10px;
    border: 2px solid #96c84b;
    margin-bottom: 20px;
}

.how-it-works-arrow {
    position: absolute;
    background: url('/sfimages/green-grey-arrow.png') no-repeat;
    width: 33px;
    height: 12px;
    top: -12px;
    left: 30px;
}

.how-it-works-list {
    padding: 0;
    margin: 0 0 20px 0;
    list-style: none;
    width: 230px;
}

.how-it-works-list li {
    padding: 0 0 0 40px;
    margin: 0;
    background: url('/sfimages/1-2-3-bullets.png') no-repeat 0 0;
    min-height: 29px;
    margin-bottom: 14px;
}

.how-it-works-list li.first {
    background-position: 0 0
}

.how-it-works-list li.second {
    background-position: 0 -50px
}

.how-it-works-list li.third {
    background-position: 0 -100px
}

.with-pwn-box {
    background: #dedfe1;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px 10px 0 10px;
}

#with-pwn-free {
    list-style: none;
    overflow: auto;
    margin-bottom: 20px;
}

#with-pwn-free li {
    float: left;
    margin: 0;
    width: 180px;
    height: 90px;
    margin-left: 40px;
    padding: 10px 10px 0 0;
    position: relative
}

#with-pwn-free li span.icon {
    position: absolute;
    left: -35px;
    top: 5px;
}

#comparison {
    position: relative;
    margin-bottom: 20px;
}

#tooltip-comparison {
    width: 170px;
    position: absolute;
    left: 520px;
    top: 30px;
    display: block;
    padding: 0px 20px 10px 20px;
    font-style: italic
}

.green-rounded-box {
    background: none repeat scroll 0 0 #A6CF5A;
    border-radius: 10px 10px 10px 10px;
    height: 1190px;
    margin: 0 0 15px;
    position: relative;
    width: 680px;
    z-index: 400;
    padding: 15px 15px 0 15px;
}

#flowplayer {
    height: 260px;
    width: 460px;
}

.icon-speaker-white {
    background: url(/sfimages/sprites/sprite-icons.png) no-repeat -588px 0px
}

.icon-arrow2-white {
    background: url(/sfimages/sprites/sprite-icons.png) no-repeat -499px 0px
}

.icon-recording-white {
    background: url(/sfimages/sprites/sprite-icons.png) no-repeat -647px 0px
}

.ie7 button span {
    padding-left: 0;
    padding-right: 0
}

.ie7 .div-container {
    z-index: 600;
}

/*<![CDATA[*/
body {
    margin: 0;

}

#tab-pwn-pin-registered .how-it-works-list {
    padding: 0 60px 0 0;
    margin: 20px 0;
    list-style: none;
}

#tab-pwn-pin-registered .how-it-works-list li {
    padding: 0 0 0 40px;
    margin: 0;
    background: url('/sfimages/1-2-3-bullets.png') no-repeat 0 0;
    min-height: 29px;
    margin-bottom: 14px;
}

#tab-pwn-pin-registered .how-it-works-list li.first {
    background-position: 0 0
}

#tab-pwn-pin-registered .how-it-works-list li.second {
    background-position: 0 -50px
}

#tab-pwn-pin-registered .how-it-works-list li.third {
    background-position: 0 -100px
}

.custom-lozenge {
    background: url('/sfimages/lozenge-custom.png') no-repeat;
    padding: 20px 30px 10px;
    font-size: 10px;
}

.pwn-dialin-container {
    font-size: 22px;
    margin: 5px 0 20px 0;
}

.pwn-pin-container {
    font-size: 22px;
    margin: 5px 0 10px 0;
}

.pwn-november-option {
    display: none;
    position: absolute;
    padding: 15px;
    z-index: 500;
    top: 300px;
}

.fields {
    margin-bottom: 15px
}

a button {
    text-decoration: none;
}

h1.tab-h1 {
    font-size: 29px;
    margin: 50px 0 25px 15px;
}

.green-rounded-box {
    height: 786px;
}

.tab-pwn-pin-registered {
    padding: 0;
}

#ajax_loader_transparent {
    padding-left: 10px;
}

.fullRegistration_question_one {
    border-radius: 4px;
    background-color: #8ab23e;
    margin-right: 230px;
}

.fullRegistration_question_two_a {
    font-weight: bold;
    margin-bottom: 10px;
}

.fullRegistration_question_two_b {
    border-radius: 4px;
    background-color: #8ab23e;
    margin-right: 20px;
}