h1, h2, .rockwell, button span, button a, .button a, th {
    font-family: "RockwellStdRegular", Georgia, serif;
    font-weight: 400;
}
#header-hint-premium {
    background: url('../../sfimages/hint-premium.png') no-repeat;
    position: absolute;
    width: 194px;
    height: 90px;
    right: 10px;
    top: -10px;
    z-index: 100;
    padding: 22px 5px 0 20px;
    color: #c1c1c1;
    font-size: 9px;
    line-height: 150%;
}
.button-blue {
    background: #4f7a97;
    color: white;
    border: 2px solid white;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4f7a97), to(#384a50));
    background: -moz-linear-gradient(#4f7a97, #384a50);
    background: linear-gradient(#4f7a97, #384a50);
    -pie-background: linear-gradient(#4f7a97, #384a50);
    -pie-lazy-init: false;
    -pie-poll: true;
}
.button-blue:hover {
    background: #384a50;
    color: white;
    border: 2px solid white;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#384a50), to(#4f7a97));
    background: -moz-linear-gradient(#384a50, #4f7a97);
    background: linear-gradient(#384a50, #4f7a97);
    -pie-background: linear-gradient(#384a50, #4f7a97);
    -pie-lazy-init: false;
    -pie-poll: true;
}
.how-it-works-box {
    background: #eeeeee;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 25px;
    border: 2px solid #96c84b;
    margin-bottom: 20px;
}
.how-it-works-arrow-up {
    position: absolute;
    background: url('../../sfimages/green-grey-arrow.png') no-repeat;
    width: 33px;
    height: 12px;
    top: -12px;
    left: 30px;
}
.how-it-works-arrow {
    position: absolute;
    background: url('../../sfimages/green-grey-arrow-down.png') no-repeat;
    width: 33px;
    height: 12px;
    bottom: -12px;
    left: 30px;
}
.how-it-works-list {
    padding: 0;
    margin: 0 0 20px 0;
    list-style: none;
    width: 292px;
}
.how-it-works-list li {
    padding: 0 0 0 40px;
    margin: 0 0 14px 0;
    background: url('../../sfimages/1-2-3-bullets.png') no-repeat 0 0;
    min-height: 29px;
    font-size: 11px;
}
.how-it-works-list li.first {
    background-position: 0 0;
}

.how-it-works-list li.second {
    background-position: 0 -50px;
}
.how-it-works-list li.third {
    background-position: 0 -100px;
}
.with-pwn-box {
    background: #dedfe1;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px 10px 0 10px;
}
#with-pwn-free {
    list-style: none;
    overflow: auto;
    margin-bottom: 20px;
}
#with-pwn-free li {
    float: left;
    margin: 0 0 0 40px;
    width: 180px;
    height: 90px;
    padding: 10px 10px 0 0;
    position: relative
}
#with-pwn-free li span.icon {
    position: absolute;
    left: -35px;
    top: 5px;
}
#comparison {
    position: relative;
    margin-bottom: 20px;
}
#tooltip-comparison {
    width: 170px;
    position: absolute;
    left: 520px;
    top: 30px;
    display: block;
    padding: 0px 20px 10px 20px;
    font-style: italic
}
.green-rounded-box {
    background: none repeat scroll 0 0 #A6CF5A;
    border-radius: 10px 10px 10px 10px;
    height: 640px;
    margin: 0 0 15px;
    position: relative;
    width: 680px;
    z-index: 400;
    padding: 15px 15px 0 15px;
}
#flowplayer {
    height: 260px;
    width: 460px;
}
.icon-speaker-white {
    background: url('../../sfimages/sprites/sprite-icons.png') no-repeat -588px 0px;
}
.icon-arrow2-white {
    background: url('../../sfimages/sprites/sprite-icons.png') no-repeat -499px 0px;
}
.icon-recording-white {
    background: url('../../sfimages/sprites/sprite-icons.png') no-repeat -647px 0px;
}

.tab-h1 {
    margin-left: 0 !important;
    line-height: 100%;
    font-size: 30px;
}

.home a.grey {
    color: #515151;
}
.home .mB15 {
    margin-bottom: 15px;
}
.home .mT20 {
    margin-top: 20px;
}
.home .mT20 .first img {
    height: 63px;
    width: 63px
}
.home .mT20 .first img {
    height: 63px;
    width: 64px
}
.home .how-it-works-list li.first {
    padding-top: 5px;
    margin-bottom: 9px;
    line-height: 14px;
}
.home a.button-orange, .home span.button-orange {
    position: relative;
    font-size: 22px;
    text-align: center;
    font-weight: normal;
    border: none;
    color: #fff;
    font-family: "RockwellStdRegular", Georgia, serif;
    padding: 14px;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    text-decoration: none !important;
}
.home .column2 {
    float: left;
    height: 100px;
    width: 50%;
}
.home .column2 img {
    float: left;
}
.home .column2 .title {
    font-family: "RockwellStdRegular", Georgia, serif;
    color: #6e91a4;
    font-size: 16px;
    padding-top: 0;
    padding-bottom: 0;
}
.home .column2 p {
    width: 225px;
    float: right;
    padding-right: 20px;
}
.home h2.blue {
    font-size: 30px;
}
.home h3.blue {
    font-size: 28px;
}
#pwn-modal-window h3.blue {
    font-size: 18px;
}
#pwn-modal-window h2.blue {
    font-size: 24px;
}
.productdetailshead {
    padding: 20px 0 5px 60px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.ui-widget-content {
    background: none repeat scroll 0 0 #EFEFEF;
    border: 1px solid #7EA2B4;
    color: #222222;
}
.choice-of-plan {
    background: #fff;
}
.choice-of-plan thead .col-2, .choice-of-plan thead .col-4, .choice-of-plan thead .col-6 {
    background: url('../../sfimages/plan-header-free.gif') no-repeat 0 0 transparent;
    width: 227px;
    font-size: 30px;
    position: relative;
    border-right: none;
    text-transform: none;
    padding: 59px 0 17px 16px;
    line-height: 14px;
}
.choice-of-plan .col-2 {
    width: 227px;
}
.choice-of-plan thead .col-2 small, .choice-of-plan thead .col-4 small, .choice-of-plan thead .col-6 small {
    position: absolute;
    top: -32px;
    line-height: 16px;
    display: block;
    right: 0;
    width: 86px;
    height: 48px;
    font-size: 24px;
    text-align: center;
}
.choice-of-plan thead .col-4 small, .choice-of-plan thead .col-6 small {
    font-size: 18px;
    line-height: 18px;
    right: 7px;
    top: -37px;
}
.choice-of-plan thead .col-6 small {
    top: -49px;
    right: 3px;
    width: 84px !important;
}
.choice-of-plan thead .col-4 {
    background: url('../../sfimages/plan-header-coming-soon.gif') no-repeat 0 0 transparent;
}
.choice-of-plan .col-4 {
    width: 220px;
}
.choice-of-plan thead .col-6 {
    background: url('../../sfimages/plan-header-tailor-made.gif') no-repeat 0 0 transparent;
}
.choice-of-plan .col-6 {
    width: 217px;
}
.row-gap {
    height: 3px;
    padding: 0;
    border: none;
}
.choice-of-plan .col-1 {
    vertical-align: top;
    padding: 0;
    width: 208px;
}
.choice-of-plan .col-1 span {
    font-size: 20px;
    font-family: "RockwellStdRegular", Georgia, serif;
    color: #515151;
    background: #f0f0f0;
    border: 2px solid #9ec934;
    border-right: none;
    -webkit-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
    padding: 15px 10px;
    width: 182px;
    display: block;
}
.choice-of-plan tbody .col-2, .choice-of-plan tbody .col-4, .choice-of-plan tbody .col-6 {
    color: #fff;
    vertical-align: top;
    font-size: 11px;
    line-height: 18px;
}
.choice-of-plan tbody .col-2,
.choice-of-plan tfoot .col-2 {
    background-color: #9ec934;
}
.choice-of-plan tbody .col-4,
.choice-of-plan tfoot .col-4 {
    background-color: #68839a;
}
.choice-of-plan tbody .col-6,
.choice-of-plan tfoot .col-6 {
    background-color: #2b4468;
}
.choice-of-plan tfoot .col-2,
.choice-of-plan tfoot .col-4,
.choice-of-plan tfoot .col-6 {
    vertical-align: top;
    padding-top: 10px;
    font-size: 11px;
    line-height: 18px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    color: #fff;
}
.choice-of-plan a.button-orange, .choice-of-plan span.button-orange {
    border: 2px solid #fff;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}
.choice-of-plan span.button-orange.grey {
    border: 2px solid #9ab2bf;
    color: #abaa94;
    background: url('../../sfimages/grey-btn-grad.gif') repeat-x 0 0 #8c8e6e;
    line-height: 18px;
    font-size: 18px;
    margin-bottom: 10px;
}
.additional-features {
    padding-left: 205px;
    margin-bottom: 20px;
}
.additional-features table {
    background: #fff;
}
.additional-features td {
    color: #fff;
    vertical-align: top;
    line-height: 18px;
    font-size: 11px;
}
.additional-features .tick {
    background: url('../../sfimages/orange-tick.png') no-repeat 12px 12px;
    padding: 19px 10px 7px 52px;
}
.additional-features .col-2 {
    background-color: #9ec934;
    width: 180px;
}
.additional-features .col-4 {
    background-color: #68839a;
    width: 172px;
}
.additional-features .col-6 {
    background-color: #2b4468;
    width: 174px;
}
.additional-features .row-first td {
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}
.additional-features .row-last td {
    padding-bottom: 15px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
}
.additional-features h2 {
    margin: 22px 0;
}
.home .grey-block strong {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
    display: block;
}
.home .grey-block .right {
    width: 322px;
    float: right;
}
.home .grey-block .left {
    width: 568px;
}
.home .grey-block {
    margin-bottom: 20px;
    padding-top: 10px;
    margin-top: 40px;
    width: 916px;
}
.grey-block, .white-block {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #f0f0f0;
    padding: 20px;
}
.white-block {
    background: #fff;
}
/* new */
#splash-generate-pin {
    width: 671px;
    height: auto;
    position: absolute;
    z-index: 1001;
    padding: 20px;
    background: #a6cf59;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    left: 50%;
    top: 0;
    margin-left: -354px;
    margin-top: 106px;
}
#splash-generate-pin .close {
    background: url('../../sfimages/overlay_close_btn.png') no-repeat;
    height: 28px;
    width: 28px;
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
}
#splash-generate-pin button {
    position: relative;
    font-size: 22px;
    line-height: 13px;
    padding: 14px;
    width: 201px;
    height: 48px;
    position: relative;
    z-index: 1002;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}
#splash-generate-pin .how-it-works-box {
    margin-top: 10px;
    padding: 19px 20px 25px;
}
#splash-generate-pin p {
    padding: 0;
}
#splash-generate-pin h2 {
    margin: 0 0 5px;
}
#splash-generate-pin .how-it-works-list {
    width: 284px;
    margin: 0 0 5px 0;
}
#splash-generate-pin .how-it-works-list li.first, #splash-generate-pin .how-it-works-list li.third {
    line-height: 28px;
}
#splash-generate-pin form {
    margin-top: 10px
}
#splash-overlay {
    background: none repeat scroll 0 0 grey;
    cursor: pointer;
    display: block;
    height: 1300px;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#splash-generate-pin div.message {
    color: #515151
}
.reg-step-2 {
    margin-top: 40px
}
#splash-generate-pin, #splash-overlay {
    display: none;
    color: #FFF
}
#splash-generate-pin #share-details, #splash-generate-pin #create-account-btn, #splash-generate-pin #mypwn-mypins-walletcard-send {
    color: white;
    border: 2px solid white;
    font-size: 12px;
    width: auto;
    height: auto;
    padding: 1px 6px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYjAyNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNDhhMDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #FFB027 0%, #E48A03 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFB027), color-stop(100%, #E48A03));
    background: -webkit-linear-gradient(top, #FFB027 0%, #E48A03 100%);
    background: -o-linear-gradient(top, #FFB027 0%, #E48A03 100%);
    background: -ms-linear-gradient(top, #FFB027 0%, #E48A03 100%);
    background: linear-gradient(top, #FFB027 0%, #E48A03 100%);
    -pie-background: linear-gradient(#ffb027, #e48a03);
    -pie-lazy-init: false;
    -pie-poll: true;
}
#splash-generate-pin .left-col, #splash-generate-pin .middle-col, #splash-generate-pin .right-col {
    display: inline-block;
    position: relative;
}
#splash-generate-pin .left-col {
    width: 44.75%
}
#splash-generate-pin .middle-col {
    width: 27.75%
}
#splash-generate-pin .right-col {
    width: 23.5%
}
#splash-generate-pin .how-it-works-box {
    color: #515151
}
#videos-for-signup {
    display: none;
}
.shortcode-price {
    font-size: 12px;
    color: #515151;
}
.homepage-shortcode-price {
    font-size: 11px;
}
.ajax-loader {
    display: none !important;
}
.footnote {
    font-size: 8px;
    margin-bottom: 1em;
    display: block;
}
.cost-comparison-link {
    border-bottom-style: dotted;
    cursor: pointer;
}
#tab-pwn-pin-registered {
    padding: 0;
}
#tabs-grid {
    position: relative;
}
#left-content-container p {
    text-align: justify;
}
div#right-sidebar div#right-menu-container {
    margin-top: 28px !important;
}