ol.getting-started-list, ol.holding-powwownow-list {
    padding-right: 20px;
    font-size: medium;
    color: #96c84b;
}

ol.getting-started-list li p, ol.holding-powwownow-list li p {
    color: #515151;
    font-size: 11px;
}

.width-100 {
    width: 100%;
}

div.tooltip-grey-left {
    top: 10px;
}

div.tooltip-grey-left a,
div.tooltip-grey-left a:active,
div.tooltip-grey-left a:visited,
div.tooltip-grey-left a:hover {
    color: #668a2e;
}

div.padding-right-20 p, div.padding-right-20 ul.chevron-green {
    padding-right: 20px;
}