ol.getting-started-list {
    padding-right: 20px;
    font-size: medium;
    color: #96c84b;
}

ol.getting-started-list li p {
    color: #515151;
    font-size: 11px;
}

.width-100 {
    width: 100%;
}

div.tooltip-grey-left {
    top: 10px;
}

div.tooltip-grey-left a,
div.tooltip-grey-left a:active,
div.tooltip-grey-left a:visited,
div.tooltip-grey-left a:hover {
    color: #668a2e;
}

ul.chevron-green {
    padding-right: 20px;
    color: #515151;
    font-size: 11px;
}

ol.decimal {
    padding-right: 20px;
    list-style-type: decimal;
}

ol.decimal li {
    background: none;
    display: list-item;
    min-height: 0;
    padding: 0;
    margin-bottom: 0;
}