.how-web-conferencing-works .intro-paragraph {
    padding: 1em 0 2.5em 0;
}

.how-web-conferencing-works .download-instructions p:first-child {
    padding: 0 0.5em 2em 0;
}

.how-web-conferencing-works .download-instructions p {
    padding: 2em 0.5em 2em 0;
    text-align: justify;
}

.how-web-conferencing-works .download-instructions button {
    font-size: 15px;
}

.text-align-center {
    text-align: center !important;
}