form#frm-call-back, div.contactus-form {
    background: #a6cf5a;
}

form#frm-call-back div.comments {
    left: 110px;
    max-width: 510px;
}

form#frm-call-back .form-field label {
    color: #fff;
    width: 110px;
}

form#frm-call-back label.comments {
    width: auto;
}

form#frm-call-back input {
    width: 180px;
}

form#frm-call-back textarea {
    width: 500px;
}

.margin-top-32 {
    margin-top: 32px;
}

.recommended-images img {
    margin-left: 15px;
}

div.what-you-get {
    border: 3px solid #95C74B;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background: #f2f2f2;
    color: #515151;
    padding: 20px;
}

div.what-you-get ul {
    list-style: none;
}

div.what-you-get ul li {
    height: 115px;
    width: 47%;
    padding: 0 10px 10px 10px;
    float: left;
    margin: 0;
}

div.what-you-get span.sprite {
    width: 64px;
    height: 63px;
    float: left;
    clear: both;
    display: block;
    background: url('/shared/assets/img/sprites/set-a-s5c5d5e96c9.png') no-repeat
}

div.what-you-get span.sprite.set-a-call-quality {
    background-position: 0 -126px
}

div.what-you-get span.sprite.set-a-call-recording {
    background-position: 0 -252px
}

div.what-you-get span.sprite.set-a-customer-support {
    background-position: 0 -189px
}

div.what-you-get span.sprite.set-a-low-cost {
    background-position: 0 0
}

div.what-you-get span.sprite.set-a-scheduling {
    background-position: 0 -63px
}

div.what-you-get span.sprite.set-a-web-conference {
    background-position: 0 -315px
}

div.what-you-get span.title {
    margin-left: 64px;
    padding: 0 0 0 16px;
    display: block;
    font-family: "RockwellStdRegular",verdana,sans-serif;
    font-size: 1.333em;
    line-height: 25px;
}

div.what-you-get span.content {
    margin: 0 0 20px 64px;
    padding: 0 0 0 16px;
    display: block;
    font-family: verdana,sans-serif;
}

div.required-field {
    color: white;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
}
form#frm-call-back .form-field label {
    color: #fff;
    width: 110px;
}

form#frm-call-back label.comments {
    width: auto;
}

form#frm-call-back input {
    width: 180px;
}

form#frm-call-back textarea {
    width: 500px;
}

.margin-top-32 {
    margin-top: 32px;
}

.recommended-images img {
    margin-left: 15px;
}

div.what-you-get {
    border: 3px solid #95C74B;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background: #f2f2f2;
    color: #515151;
    padding: 20px;
}

div.what-you-get ul {
    list-style: none;
}

div.what-you-get ul li {
    height: 115px;
    width: 47%;
    padding: 0 10px 10px 10px;
    float: left;
    margin: 0;
}

div.what-you-get span.sprite {
    width: 64px;
    height: 63px;
    float: left;
    clear: both;
    display: block;
    background: url('/shared/assets/img/sprites/set-a-s5c5d5e96c9.png') no-repeat
}

div.what-you-get span.sprite.set-a-call-quality {
    background-position: 0 -126px
}

div.what-you-get span.sprite.set-a-call-recording {
    background-position: 0 -252px
}

div.what-you-get span.sprite.set-a-customer-support {
    background-position: 0 -189px
}

div.what-you-get span.sprite.set-a-low-cost {
    background-position: 0 0
}

div.what-you-get span.sprite.set-a-scheduling {
    background-position: 0 -63px
}

div.what-you-get span.sprite.set-a-web-conference {
    background-position: 0 -315px
}

div.what-you-get span.title {
    margin-left: 64px;
    padding: 0 0 0 16px;
    display: block;
    font-family: "RockwellStdRegular",verdana,sans-serif;
    font-size: 1.333em;
    line-height: 25px;
}

div.what-you-get span.content {
    margin: 0 0 20px 64px;
    padding: 0 0 0 16px;
    display: block;
    font-family: verdana,sans-serif;
}

div.required-field {
    color: white;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
}