div.internationalNumberRatesFooter ol li {
    padding-bottom: 10px;
}

table#tableInternationalNumberRates tbody tr td {
    font-family: "RockwellStdRegular", Georgia, serif;
    font-size: 12px;
    font-weight: normal;
}

table#tableInternationalNumberRates tbody tr.odd, table#tableInternationalNumberRates tbody tr.odd td {
    background-color: #F6FBEE;
}

table#tableInternationalNumberRates tbody tr.even, table#tableInternationalNumberRates tbody tr.even td {
    background-color: #EBF4DB;
}