ul.chevron {
    margin: -15px 0 0 0;
    padding: 0;
}

/** Touch up for Its Your call **/
.nice-error-box {
    position: absolute;
    left: 550px;
    top: 65px;
    display: inline-block;
    border: 2px solid #FF0000;
    padding: 4px 10px 4px 8px;
    background-color: #ffffff;
    color: #515151;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: #919191 0px 1px 2px;
    -moz-box-shadow: #919191 0px 1px 2px;
    box-shadow: #919191 0px 2px 2px;
    z-index: 1501;
    -pie-lazy-init: false;
    -pie-poll: true;
}

/*error message postion adjustment for ajax load on 2nd stage of */
#mypins-walletcard-form .nice-error-box {
    left: 190px;
    top: 2px;
}

.ie7 #form-generate-pin #email-error-box {
    z-index: 1500;
}

.nice-error-box span {
    position: absolute;
    background: #666666;
    color: #ffffff;
    right: -7px;
    top: -7px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    line-height: 12px;
    z-index: 1501;
}

.nice-error-box-before {
    display: block;
    position: absolute;
    top: 12%;
    left: -10px;
    width: 10px;
    height: 16px;
    z-index: 1501;
}

.how-it-works-box {
    background: #eeeeee;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px 10px 0 10px;
    border: 2px solid #96c84b;
    margin-bottom: 20px;
}

.how-it-works-box p {
    font-size: 100%;
}

.how-it-works-arrow {
    background: url("/sfimages/green-grey-arrow-down.png") no-repeat scroll 0 0 transparent;
    bottom: -12px;
    height: 12px;
    left: 854px;
    position: absolute;
    width: 33px;
}

.how-it-works-list {
    list-style: none outside none;
    margin: 0 0 0 5px;
    padding: 0;
    width: 650px;
}

.how-it-works-list li {
    background: url("/sfimages/1-2-3-bullets.png") no-repeat scroll 0 0 transparent;
    margin: 0 0 3px;
    min-height: 29px;
    padding: 0 0 0 40px;
    line-height: 29px;
}

.how-it-works-list li.first {
    background-position: 0 0;
}

.how-it-works-list li.second {
    background-position: 0 -50px;
}

.how-it-works-list li.third {
    background-position: 0 -100px;
}

#signup {
    padding: 10px 20px;
}

#feature.feature_img {
    width: 960px;
    margin: 15px 0px 15px 0px;
    /*    -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;*/
}

#email-error-box {
    margin-left: 45px;
    margin-top: 8px;
}

#breadcrumb li {
    margin: 0;
}

.separator {
    padding: 0 5px;
}

footer {
    margin: 15px 0 0 0;
}

footer ul {
    margin: 3px 0 0;
}

footer li {
    margin: 0 10px 0 0;
}

footer li a, a:link {
    border: none;
    font-size: 10.4px;
}

.touch .hiw-video-co img {
    display: none;
}

div.pp_content_container .pp_details {
    margin: 0 0 2px;
}

div.pp_content_container a.pp_close {
    margin: -4px 0 0;
}

#breadcrumb > li, #freeStuff > li {
    margin-left: 0;
}

div > #freeStuff li p {
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}

/*error message postion adjustment for ajax load on 2nd stage of */
#mypins-walletcard-form .nice-error-box {
    left: 190px;
    top: 2px;
}

.ie7 #form-generate-pin #email-error-box {
    z-index: 1500;
}

.nice-error-box span {
    position: absolute;
    background: #666666;
    color: #ffffff;
    right: -7px;
    top: -7px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    line-height: 12px;
    z-index: 1501;
}

.nice-error-box-before {
    display: block;
    position: absolute;
    top: 12%;
    left: -10px;
    width: 10px;
    height: 16px;
    z-index: 1501;
}

.how-it-works-box {
    background: #eeeeee;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px 10px 0 10px;
    border: 2px solid #96c84b;
    margin-bottom: 20px;
}

.how-it-works-box p {
    font-size: 100%;
}

.how-it-works-arrow {
    background: url("/sfimages/green-grey-arrow-down.png") no-repeat scroll 0 0 transparent;
    bottom: -12px;
    height: 12px;
    left: 854px;
    position: absolute;
    width: 33px;
}

.how-it-works-list {
    list-style: none outside none;
    margin: 0 0 0 5px;
    padding: 0;
    width: 650px;
}

.how-it-works-list li {
    background: url("/sfimages/1-2-3-bullets.png") no-repeat scroll 0 0 transparent;
    margin: 0 0 3px;
    min-height: 29px;
    padding: 0 0 0 40px;
    line-height: 29px;
}

.how-it-works-list li.first {
    background-position: 0 0;
}

.how-it-works-list li.second {
    background-position: 0 -50px;
}

.how-it-works-list li.third {
    background-position: 0 -100px;
}

#signup {
    padding: 10px 20px;
}

#feature.feature_img {
    width: 960px;
    margin: 15px 0px 15px 0px;
    /*    -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;*/
}

#email-error-box {
    margin-left: 45px;
    margin-top: 8px;
}

#breadcrumb li {
    margin: 0;
}

.separator {
    padding: 0 5px;
}

footer {
    margin: 15px 0 0 0;

}

footer ul {
    margin: 3px 0 0;
}

footer li {
    margin: 0 10px 0 0;
}

footer li a, a:link {
    border: none;
    font-size: 10.4px;
}

.touch .hiw-video-co img {
    display: none;
}

div.pp_content_container .pp_details {
    margin: 0 0 2px;
}

div.pp_content_container a.pp_close {
    margin: -4px 0 0;
}

#breadcrumb > li, #freeStuff > li {
    margin-left: 0;
}

div > #freeStuff li p {
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}