table#products th.first-child,
table#products td.first-child,
table#products-feature th.first-child,
table#products-feature td.first-child {
    -webkit-border-radius: 8px 0 0 0;
    -moz-border-radius: 8px 0 0 0;
    border-radius: 8px 0 0 0;
}

table#products th.last-child,
table#products td.last-child,
table#products-feature th.last-child,
table#products-feature td.last-child {
    -webkit-border-radius: 0 8px 0 0;
    -moz-border-radius: 0 8px 0 0;
    border-radius: 0 8px 0 0;
}

table#products th.first-child-last-row,
table#products td.first-child-last-row,
table#products-feature th.first-child-last-row,
table#products-feature td.first-child-last-row {
    -webkit-border-radius: 0 0 0 8px;
    -moz-border-radius: 0 0 0 8px;
    border-radius: 0 0 0 8px;
}

table#products th.last-child-last-row,
table#products td.last-child-last-row,
table#products-feature th.last-child-last-row,
table#products-feature td.last-child-last-row {
    -webkit-border-radius: 0 0 8px 0;
    -moz-border-radius: 0 0 8px 0;
    border-radius: 0 0 8px 0;
}

table#products tr.last-row,
table#products td.last-row,
table#products-feature th.last-row,
table#products-feature td.last-row {
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
}

.width-100 {
    width: 100px;
}

.width-200 {
    width: 200px;
}

button.tick-button {
    position: relative;
    left: 0;
    top: 0;
}
