table#tableNewsArticles {
    margin: 10px 0;
}

table#tableNewsArticles thead {
    display: none;
}

table#tableNewsArticles td {
    padding: 12px 0 8px;
    background: #ffffff url('/sfimages/dot.gif') repeat-x top;
}

div#tableNewsArticles_filter {
    display: none;
}

div#tableNewsArticles_length select,
div#tableNewsArticles_length option {
    font: normal 11px Verdana, Arial, Georgia, sans-serif;
    color: #515151;
}

table#tableNewsArticles td h2 a {
    font-size: 14px;
    font-weight: bold;
    color: #515151;
    text-decoration: none;
    border: none;
}

table#tableNewsArticles td h2 {
    margin-bottom: 8px;
}

table#tableNewsArticles td h2 a:hover {
    text-decoration: underline;
}

table#tableNewsArticles td h4 {
    color: #96c84b;
}

table#tableNewsArticles td h4 a {
    color: #96c84b;
    text-decoration: none;
}

table#tableNewsArticles td h4 a:hover {
    color: #96c84b;
    text-decoration: underline;
}

table#tableNewsArticles td img {
    float: right;
    margin: 3px 10px 0 10px;
}

table#tableNewsArticles td a {
    font-family: Verdana, Arial, Georgia, sans-serif;
    font-size: 11px;
}

table#tableNewsArticles td p {
    padding: 3px 0;
}