.breadcrumbs {
}

.share-a-secret {
    background-color: #96C84B;
    color: white;
}

.share-a-secret .chateau {
    margin-bottom: 30px;
    border: 10px;
}

.share-a-secret h1 {
    margin: 0px 30px;
    color: white;
    font-size: 54px;
    line-height: 80%;
}

.share-a-secret p {
    margin: 30px 30px 0px 30px;
    font-size: 17px;
}

.share-a-secret label {
    font-size: 14px !important;
}

.share-a-secret div.col1 {
    margin-right: -30px;

    padding-left: 30px;

}

.share-a-secret .secret-escapes-logo {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.h5form {
    background: none !important;
}

#frm-recommendations label {
    width: auto !important;
    color: #FFF !important;
}

#frm-recommendations sup {
    color: white !important;
}

/* form badge */

#frm-recommendations .form-badge {
    margin-top: 20px;
    margin-left: -15px;
    height: 280px;
    background-image: url('/sfimages/recommendations/form-badge.png');
}

/* your details */

#frm-recommendations .form-badge h2 {
    margin-top: 60px;
    margin-left: 225px;
    color: #495E69;
}

#frm-recommendations .form-badge > div {
    margin-left: 120px;

}

#frm-recommendations .form-badge .form-field {
    margin-top: 0;
}

#frm-recommendations .form-badge label {
    width: 110px !important;
    color: #515151 !important;
    font-size: 14px;
    line-height: 100%;
}

#frm-recommendations .form-badge sup {
    color: #515151 !important;
}

#frm-recommendations .form-badge button {
    margin-top: 5px;
    margin-left: 225px;
}

#raf_disclaimer h2 {
    font-size: 64px;
    margin-bottom: 20px;
}

/* thank you badge */

#thankYou {
    display: none;
}

#thankYou .title {
    margin-top: 25px;
    margin-left: 200px;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
}

#thankYou .description {
    margin-left: 200px;

    font-size: 14px;
    line-height: 130%;
}

#thankYou button {
    margin-top: 10px;
    margin-left: 265px;
}

.ui-dialog {
    box-shadow: none !important;
}

.ui-widget-content {
    border: none !important;
    background: transparent url('/sfimages/recommendations/thankyou-badge.png') !important;
}

/* Invitee */

#raf_registration {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 784px;
    position: relative;
    background: url('/sfimages/recommendations/raf-bg.jpg');
}

#raf_registration #raf_disclaimer {
    width: 490px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    margin-top: 50px;
}

#raf_form_container {
    position: absolute;
    width: 380px;
    top: 230px;
    left: 300px;
}

#raf_form_container .form-action {
    text-align: center !important;
    margin-top: 10px;
}

#raf_form_container .form-field label {
    width: 120px !important;
}

#frm-recommendations .mypwn-input-container {
    z-index: 1000;
}

.required-note {
    display: none !important;
}
