.reset-password-success-message {
    height: 65px;
    padding: 20px;
    display: none;
}

.reset-password-form-container h2 {
    font-size: 16px;
}

form#frm-reset-password {
    background: #a6cf5a;
    color: #ffffff;

}

#frm-reset-password label {
    top: 8px;
    position: relative;
    color: #ffffff;
}