.top-menu-container {
    height: 32px;
    background: #a19fa0;
    font-family: 'Verdana';
    text-align: center;
    color: #FFFFFF;
    z-index: 500;
    position: relative;
    font-size: 14px;
    padding: 10px 0 0 0;
    -webkit-box-shadow: #dddddd 0px 0px 5px;
    -moz-box-shadow: #dddddd 0px 0px 5px;
    box-shadow: #dddddd 0px 0px 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

p, .no-bullets-list {
    font-size: 15px;
}

h1 {
    margin-left: 5px !important;
}

.footer-copyright {
    font-size: 9px;
}

.margin-top-100 {
    margin-top: 100px;
}

.heavy {
    font-weight: bold !important;
}

.pin {
    color: #96C84B;
}