#social-dialog-message a, #social-dialog-message a:active, #social-dialog-message a:hover {
    border: none;
}

body .social-dialog {
    background-color: #96c84b;
}

#social-dialog-header {
    color: white;
    font-size: 1.5em;
    text-align: center;
    padding: 8px 0px 20px 0px;
}

#social-dialog-content {
    background-color: white;
    margin: 0px -13px;
    padding: 10px 0px 11px 0px;
}

#social-dialog-header {
}
