p.required-note {
    display: none;
}

form#form-plus-signup .form-field {
    width: 52%;
}

form#form-plus-signup .form-field label,
form#form-plus-signin .form-field label {
    display: block;
    color: black;
}

form#form-plus-signup .form-field input,
form#form-plus-signin .form-field input {
    width: 300px;
}

.popup-service {
    font-weight: 700;
    padding: 5px 0 10px 0;
    font-size: 1.1em;
}

.popup-description {
    float: left;
    width: 430px;
    text-align: justify;
}

.popup-selector {
    margin-left: 475px;
}

.popup-row {
    clear: both;
}

#popup-header {
    margin: 20px 0 25px 0;
    font-size: 1.6em;
}

div.powwownowDetails {
    padding: 10px 0 13px 0;
}

.margin-10-0 {
    margin: 10px 0;
}

div.socialRegisterClose {
    border-bottom: none;
    padding-top: 0;
    width: 22px;
    height: 14px;
}

span.sprite-cross-white {
    margin: 2px;
}

div#service-free {
    padding: 15px 0;
    cursor: pointer;
}

div#service-plus {
    padding: 15px 0;
    cursor: pointer;
}

div#service-premium {
    padding: 15px 0;
}