.form-tell-a-friend-container {
    background: #a6cf5a;
    padding: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.tell-a-friend-success-message {
    height: 165px;
    display: none;
    padding: 5px 10px;
}

.tell-a-friend-success-message h2 {
    font-size: 16px;
}

#form-tell-a-friend {
    height: 165px;
    background: none;
    padding: 5px 10px;
}

#form-tell-a-friend label {
    color: #ffffff;
    position: relative;
}

#form-tell-a-friend .form-action {
    text-align: left;
}