ul.terms-and-conditions-menu li {
    padding-bottom: 5px;
}

div.item-1,
div.item-2,
div.item-3,
div.item-4,
div.item-5,
div.item-6 {
    display: none;
}

div.terms-conditions-container-item h2 {
    font-size: 18px;
    color: #96c84b;
}

div.terms-conditions-container-item ol {
    text-align: justify;
    padding-left: 15px;
}

div.terms-conditions-container-item ol li {
    font-weight: bold;
    margin: 10px auto;
    line-height: 1.5;
}

div.terms-conditions-container-item ol li p {
    font-weight: normal;
}

div.terms-conditions-container-item ol ul {
    list-style: none;
    padding-left: 30px;
}

div.terms-conditions-container-item ol ul li {
    font-weight: normal;
}

div.terms-conditions-container-item span.underline-title {
    text-decoration: underline;
    padding-top: 5px;
    padding-bottom: 10px;
    display: block;
}

a.blank-link, a:hover.blank-link {
    text-decoration: none;
    color: #515151;
    border-bottom: none;
}

div.header_heading h1 {
    margin-left: 0;
    margin-bottom: 10px;
}
