ol.top_ten_tips_for_conference_calling {
    font-size: 18px;
    color: #99cc00;
}

ol.top_ten_tips_for_conference_calling li {
    padding-bottom: 15px;
}

ol.top_ten_tips_for_conference_calling li span {
    font-size: 11px;
    color: #515151;
}