#topup_info.manual-invoice .auto-invoice,
#topup_info.auto-invoice .manual-invoice {
    display: none;
}

#topup_history_screen {
    padding: 0;
    border-spacing: 0;
    border: 0;
    background: none;
}

table#topup_info {
    padding: 0;
    border-spacing: 0;
    border: 0;
    background: none;
}

table#topup_items_info {
    padding: 0;
    border-spacing: 0;
    border: 0;
    background: none;
}

#topup_history_print_wrapper_outer {
    display: none;
}

table#topup_history_print {
    padding: 0;
    border-spacing: 0;
    border: 0;
}

input::-webkit-calendar-picker-indicator,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

input[type="date"]::-webkit-input-placeholder{
    visibility: hidden !important;
}

div.ui-dialog-titlebar.ui-helper-clearfix {
    display: none;
}

.ui-widget-overlay {
    background: #aaaaaa url(/sfimages/jQuery/ui-bg_flat_75_aaaaaa_40x100.png) 50% 50% repeat-x !important;
    opacity: .80 !important;
    filter: Alpha(Opacity=80) !important;
}