form#form-delete-pin form#form-unsubscribe {
    background: #A6CF5A;
}

.unsubscribe-form-container label, .delete-pin-form-container label {
    color: white !important;
    width: auto !important;
    margin-right: 10px;
}

.button-orange {
    margin-top: 15px;
}