form#frm_user_details_user_details,
form#frm_user_details_user_password {
    background-color: white;
}

form#frm_user_details_user_details label,
form#frm_user_details_user_password label {
    width: 110px;
}

div.frm_user_details_user_details_results_placeholder1 {
    text-align: center;
}