#webConferencingForm {
    background: none;
    padding: 0;
}

#webConferencingForm label {
    position: relative;
    top: 8px;
}

#webConferencingForm input[type="checkbox"] {
    position: relative;
    top: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.videoThumb {
    display: block;
    top: 25px;
    right: 20px;
    width: 460px;
    height: 267px;
    margin-right: 10px;
    border: 4px solid #A2A0A1;
}

.demo-engage-video-dialog .ui-dialog-title {
    color: #515151;
    font-size: 17px;
}

.demo-engage-video-dialog .ui-dialog-titlebar-close {
    background: #a19fa0;
}

.demo-engage-video-dialog .ui-widget-header {
    background: none;
}

.demo-engage-video-dialog .ui-icon-closethick {
    background-image: url("/sfimages/jQuery/ui-icons_ffffff_256x240.png") !important;
    background-position: -96px -128px;
}

