ul#products-nav {
    list-style: none;
    border-radius: 8px;
    height: 32px;
    overflow: hidden;
    margin: 10px 0 20px;
    padding: 0;
}

ul#products-nav li {
    float: left;
    background: #E4E5E7;
    position: relative;
    color: #515151;
    border-bottom: none;
    text-shadow: 0 1px 0 #FFF;
    cursor: default;
    margin: 0;
    padding: 9px 30px 9px 15px;
}

ul#products-nav li:first-child {
    -webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    -ms-border-radius: 8px 0 0 8px;
    -o-border-radius: 8px 0 0 8px;
    border-radius: 8px 0 0 8px;
}

ul#products-nav li:last-child {
    -webkit-border-radius: 0 8px 8px 0;
    -moz-border-radius: 0 8px 8px 0;
    -ms-border-radius: 8px 0 0 8px;
    -o-border-radius: 8px 0 0 8px;
    border-radius: 0 8px 8px 0;
}

ul#products-nav li.current {
    background: #E90;
    text-shadow: none;
    font-weight: 700;
    color: #FFF;
}

ul#products-nav li.current span {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-color: #E4E5E7 #E4E5E7 #E4E5E7 #ee9b00;
    border-style: solid;
    border-width: 16px 0 16px 16px;
}

ul#products-nav li.previous span {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-color: #EE9B00 #EE9B00 #EE9B00 #E4E5E7;
    border-style: solid;
    border-width: 16px 0 16px 16px;
}

ul#products-nav li:last-child span {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 0;
}

body {
    background-color: #fff;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

img#worldpay-logo {
    margin-top: 7px;
    float: right;
}

table img {
    width: 12px;
}

table.bannercontainer {
    background: #fff;
}

table.banner, td.banner span {
    background: #fff;
    color: #515151 !important;
    font: 11px Verdana, Arial, Georgia, sans-serif !important;
}

table.banner img, table.banner a {
    text-decoration: none;
}

img#powwownow-logo {
    margin-top: 7px;
}

p.returnlink {
    margin-left: 18px;
}