/******************************************************
* _320/_itsyourcall.scss
* Styles specific to "Its-Your-Call" Mobile
******************************************************/
.js {
   // What You Get Section
  .what-you-get-list {
    list-style: none;
    li {
      height:15%;
    }
    .sprite,
    .title,
    .content{
      display: block;
    }

    .title,
    .content {
      margin-left:64px;
      padding: 0 0 0 1em;
    }

    .content {
      margin-bottom: 20px;
    }

    .sprite{
      width: 64px;
      height:63px;
      float: left;
      clear:both;

    }

    .title {}

    .content {
      padding: 0 0 0 1.333em;
      font:{
        size:0.917em
      }
    }
  }

  // What It Costs Section
  .what-it-costs-list{
    list-style: none;

    .list-item{
      margin: 0 0 1% 0;
      min-height: 30px;
      padding: 0.5% 0 0 2em;
      background: {
        image:url("/sfimages/chevron-green.png");
        repeat: no-repeat;
        position: 1.5% 15%;
      }
    }
    .title,
    .content {
      display: block;
    }
  }

  .its-your-call-get-pin-form {
    position: relative;
    .throbber{
      position: absolute;
      top:-8px;
      right:10px;
    }
  }
  .modal-threeeasysteps {
    margin: 15px 0 0 0;
  }

  .reveal-modal {
    .inner-content {
      margin: 0;
      padding: 0;
      text-align: center;
    }
    .pwn-video-helper {
      margin: 0 auto;
    }
  }

}

// IE 8 Fixes
.lt-ie9.js {
  .what-you-get-list {
    li{
      margin-bottom: 25px;
    }
  }
}