@import "../../../../letsGetItDone/sass/_components/_cookie.sass";

.js {

  /*---------------------------------
  * [DEV-1947] Digital Landing Page
  * Get-It-Done
  *----------------------------------*/
  .gid {
    .responsive-calling-card {
      .panel {
        background-color: #003349;
      }
      .your-pin-details {
        color: #FFFFFF;
      }
      .font-grey {
        color: #FFFFFF;
      }
    }
  }

  .chevron {
    list-style: none;

    margin-left: 10%;
  }
  .chevron li {
    background: url("/sfimages/chevron-white.png") no-repeat scroll 0 0 transparent;
    margin-left: 0;
    min-height: 18px;
    padding: 0 0 5px 20px;
  }

  .welcome-pack-img {
    margin: 0 0 0 10%;
  }


  .its-your-call-request-welcome-pack-form {

  }

  .radio-label label {
    display: inline;
  }

  .radio-label label[for=requestWelcomePack_question] {
    display: block;
  }

  .row .margin-top-20 {
    margin-top: 20px;
  }

  .what-you-get-pwn {
    list-style: none;
    li {
      margin: 0 0 10px 0;

      .icon {
        &.icon-blue {
          float:left;
          margin: 0 10px 10px 0;
        }
      }

    }
  }

  .icon-phone-small-white {
    background: url("/sfimages/sprites/sprite-icons.png") no-repeat scroll -569px 3px transparent;
  }

  .icon-outlook-white {
    background: url("/sfimages/sprites/sprite-icons.png") no-repeat scroll -666px 0 transparent;
  }

  .icon-calender-white {
    background: url("/sfimages/sprites/sprite-icons.png") no-repeat scroll -132px 2px transparent;
  }
  .icon-arrow-white {
    background: url("/sfimages/sprites/sprite-icons.png") no-repeat scroll -503px 0 transparent;
  }
  .icon-speaker-white {
    background: url("/sfimages/sprites/sprite-icons.png") no-repeat scroll -588px 0 transparent;
  }
}