@import "../../../../letsGetItDone/sass/_components/_cookie.sass";

.js {
  /*---------------------------------
  * [DEV-1947] Digital Landing Page
  * Get-It-Done
  *----------------------------------*/
  .gid {
    .responsive-calling-card {
      .panel {
        background-color: #003349;
      }
      .your-pin-details {
        color: #FFFFFF;
      }
      .font-grey {
        color: #FFFFFF;
      }
    }
  }

   /*---------------------------------
   * [DEV-1588] Fixes
   * Has to work with homepage E markup
   *----------------------------------*/
  .scheduler-links {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
    .outlook-plugin-download-links {
      margin: 0;
      font-weight: normal;
      .button-orange {
        text-align: center;
        background-color: #FFB027;
        background-image: -moz-linear-gradient(center top , #FFB027 0%, #E48A03 100%);
        border-color: #FFB027;
      }
    }
    .toggle-plugin {
      display: none;
    }
    a {
      &.dotted {
        font: {
          weight: normal
        }
        border-bottom: 1px dotted #A6CF5A;
      }
    }
  }

  /*---* [DEV-1588] *---*/


  .order-your-free-welcome-pack {
    .what-you-get-pwn {
      padding: 0 20px;
    }
  }

  .its-your-call-request-welcome-pack-form {}


  .chevron {
    list-style: none;
    li {
      background: url("/sfimages/chevron-white.png") no-repeat scroll 0 0 transparent;
      margin-left: 0;
      min-height: 18px;
      padding: 0 0 5px 20px;
    }
  }

  .welcome-pack-img {
    margin: 0 0 0 10%;
  }

  .row .margin-top-20 {
    margin-top: 20px;
  }

  .what-you-get-pwn {
    list-style: none;
    li {
      margin: 0 0 10px 0;

      .icon {
        &.icon-blue {
          float:left;
          margin: 0 10px 10px 0;
        }
      }

    }
  }
  // Copy and Paste jooooob!
  .icon-phone-small-white {
    background: url("/sfimages/sprites/sprite-icons.png") no-repeat scroll -569px 3px transparent;
  }

  .icon-outlook-white {
    background: url("/sfimages/sprites/sprite-icons.png") no-repeat scroll -666px 0 transparent;
  }

  .icon-calender-white {
    background: url("/sfimages/sprites/sprite-icons.png") no-repeat scroll -132px 2px transparent;
  }
  .icon-arrow-white {
    background: url("/sfimages/sprites/sprite-icons.png") no-repeat scroll -503px 0 transparent;
  }
  .icon-speaker-white {
    background: url("/sfimages/sprites/sprite-icons.png") no-repeat scroll -588px 0 transparent;
  }
}