@import ../_core/variables
@import ../_core/mixin
.clients
  width: $span_14_width
  margin:
    left: 0
  h2
    padding:
      left: 0.5em
      right: 0.5em
    color: $orange
    line-height: 1em
    font:
      size: 3.4em
      weight: normal
    & small
      font:
        size: 0.6em
  h3
    width: $span_14_width
    margin:
      left: 0
    color: $light_blue
    font:
      size: 3em
      family: "Sketch Rockwell"
    line-height: 1em
    & small
      color: $green
      font:
        family: rockwellstdregular
        size: 0.5em

.client-list
  @include transition
  width: $span_14_width
  margin:
    left: auto
    right: auto
  text-align: justify
  -ms-text-justify: distribute-all-lines
  text-justify: distribute-all-lines
  padding:
    left: 7.1%
    right: 7.1%
    bottom: 0
  div
    @include transition
    &:first-child
      @include transition
      padding:
        left: 7.1%
    vertical-align: top
    display: inline-block
    zoom: 1
    text-indent: -9999px
    background:
      position: center center
      repeat: no-repeat

    @each $brand in ethicaltea, libdems, met, nhs, bbc
      &.pwn-#{$brand}
        @include transition
        width: 150px
        background:
          image: url('../../../letsGetItDone/images/sprites/clients/#{$brand}.png')

    &.pwn-ethicaltea
      height: 40px
      margin:
        top: 1.2em
    &.pwn-libdems
      height: 72px
      margin:
        top: 0
    &.pwn-met
      height: 70px
      margin:
        top: 0
    &.pwn-nhs
      height: 40px
      margin:
        top: 1em
    &.pwn-bbc
      height: 40px
      margin:
        top: 1em

@media screen and (max-width: 978px)
  .client-list
    div
      &:first-child
        padding:
          left: 5.1%
@media screen and (max-width: 960px)
  .client-list
    div
      &:first-child
        padding:
          left: 3.1%
@media screen and (max-width: 940px)
  .client-list
    div
      &:first-child
        padding:
          left: 1%

@media screen and (max-width: 920px)
  .client-list
    padding:
      left: 5.1%
      right: 5.1%

@media screen and (max-width: 880px)
  .client-list
    padding:
      left: 3.1%
      right: 3.1%

@media screen and (max-width: 844px)
  .client-list
    padding:
      left: 2.1%
      right: 2.1%

@media screen and (max-width: 822px)
  .client-list
    padding:
      left: 1%
      right: 1%

@media screen and (max-width: 810px)
  .client-list
    @include transition
    text-align: left
    padding:
      left: 1%
      right: 1%
    div
      &.pwn-libdems
        width: 100px
@media screen and (max-width: 755px)
  .client-list
    div
      &.pwn-met
        width: 100px
@media screen and (max-width: 702px)
  .client-list
    text-align: center

@media screen and (min-width: 300px) and (max-width: 599px)
  .clients
    h2
      font:
        size: 2em
    h3
      padding:
        left: 2%
        right: 2%
      font:
        size: 2em
      & small
        font:
          size: 0.5em

@media screen and (min-width: 0px) and (max-width: 299px)
  .clients
    h2
      font:
        size: 1.5em
    h3
      padding:
        left: 2%
        right: 2%
      font:
        size: 2em
      & small
        font:
          size: 0.5em