@import ../_core/variables

.container_24
  width: 100%
.cookie-policy
  [class*="grid_"]
    position: relative
    float: left
    zoom: 1
  [class*="grid_"]:before,
  [class*="grid_"]:after
    content: " "
    display: table
  [class*="grid_"]:after
    clear: both

  .grid_23
    width: $span_13_width
  .grid_1
    width: $span_1_width
    p
      text-align: left

  background:
    color: $green !important
  p
    color: $white
    text-align: center !important
    a
      color: $dark_blue !important
  .close
    float: none !important


@media screen and (min-width: 1000px)
  .container_24
    width: 990px
    margin: 0 auto
  .container_24:before,
  .container_24:after
    content: " "
    display: table
  .container_24:after
    clear: both