@import "compass/css3"
@import ../_core/variables

.error
  width: $span_14_width
  color: $red
  min-height: 1.2em
  margin:
    top: 0.5em
  a
    color: $white
    &:hover
      color: $green
      @include transition-duration(500ms)
@media screen and (min-width: 300px) and (max-width: 599px)
  .error
    margin:
      top: 0
@media screen and (min-width: 0px) and (max-width: 299px)
  .error
    text-align: center
    margin:
      top: 0