@import ../_core/variables

.footer
  @include transition
  background: $dark_blue
  position: relative
  color: $white
  font:
    family: rockwellstdregular
    size: 0.9em
  margin:
    left: 0
  padding:
    left: 7.1%
    top: 5.1%
    bottom: 5.1%
  .links
    @include transition
    color: $white
    width: $span_14_width
    float: left
    position: relative
    margin:
      left: 0
    padding:
      top: 5%
    ul
      @include transition
      list-style: none
      padding: 0
      margin: 0
      li
        @include transition
        display: inline-block
        padding:
          right: 2%
        a
          color: $white
          text-decoration: none
  .misc
    @include transition
    position: relative
    width: $span_12_width
    float: left
    margin:
      top: 5%
    .logo
      @include transition
      position: relative
      width: $span_7_width
      float: left
      padding:
        left: 0
    .hashtag
      @include transition
      position: relative
      width: $span_7_width
      color: $green
      text-align: center
      float: left
      padding:
        top: 1%
      font:
        size: 2em
  .about
    @include transition
    width: $span_7_width
    float: left
    position: relative
  .social
    @include transition
    text-align: center
    width: $span_7_width
    float: left
    position: relative
    .social-links
      @include transition
      margin:
        top: 3%
      padding: 0
      list-style: none
      li
        @include transition
        display: inline-block
        padding:
          right: 3%
      a
        text-indent: -9999px
        display: inline-block
        min-height: 2.7em
        width: 2.8em

@media screen and (min-width: 300px) and (max-width: 599px)
  .footer
    .about
      width: $span_13_width
      margin:
        left: 0
    .social
      position: relative
      width: $span_14_width
      img
        float: right
        margin:
          right: 7.1%
      .social-links
        float: left
        width: $span_5_width
        li
          float: left
          margin:
            top: 0.8em
          width: $span_5_width
    .misc
      width: $span_14_width
      margin:
        left: 0
      .hashtag
        width: $span_14_width
        text-align: center
        display: block
        font:
          size: 1.3em
    .links
      text-align: center

@media screen and (min-width: 0px) and (max-width: 299px)
  .footer
    .about
      width: $span_14_width
      margin:
        left: 0
    .social
      position: relative
      width: $span_14_width
      img
        margin:
          right: 7.1%
      .social-links
        li
          margin:
            top: 0.8em
    .misc
      width: $span_14_width
      margin:
        left: 0
      .hashtag
        width: $span_14_width
        display: block
        font:
          size: 1.3em
    .links
      text-align: center