@import "compass/css3"
@import "../_core/mixin"
@import ../_core/variables

$default_button_image_path: '../gridpak/img/button.png'
$small_button_image_path: '../gridpak/img/button_small.png'
$tick_image_path: '../gridpak/img/tick.png'

// Default View

.hero-element
  width: $span_14_width
  background: $dark_blue
  position: relative
  margin:
    left: 0
  @include transition
  h1
    width: $span_8_width
    line-height: 1.05em
    color: $white
    font:
      family: rockwellstdregular
      size: 2.9em
      weight: normal
    padding:
      left: 7.1%
    margin:
      bottom: 0
    @include transition
  .mouthy
    width: $span_6_width
    padding:
      left: 4.8%
    @include transition
    img
      margin:
        top: -25px
      @include transition
  .hero-form
    position: relative
    width: $span_14_width
    color: $white
    padding:
      left: 7.1%
    margin:
      left: 0
    @include transition
    p
      color: $blue
      margin: 0
      font:
        family: arial, helvetica, verdana, sans-serif
        size: 1.08em
      @include transition
  .registration-form
    position: relative
    @include transition
    .loading
      position: absolute
      right: 50%
      top: 0.7em
    .xlarge-input
      width: $span_7_width
      font:
        family: rockwellstdregular
      margin:
        right: 6%
      background:
        color: #FFFFFF
        image: none
      // Direct copy from TB
      border: 1px solid #CCCCCC
      border-radius: 4px
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset
      color: #555555
      font-size: 14px
      height: 34px
      line-height: 1.42857
      padding: 6px 12px
      vertical-align: middle
      @include transition
    .button
      width: 244px
      height: 70px
      color: $white
      font:
        family: rockwellstdregular
        size: 1.8em
      text-transform: none
      background:
        image: url($default_button_image_path)
        color: transparent
        repeat: no-repeat
      border: none
      @include transition
      &:hover
        opacity: 0.7
        @include transition-property(opacity)
        @include transition-duration(500ms)
  .terms-conditions
    @include transition
    p
      @include transition
      font:
        size: 0.8em
      color: $white
      a
        @include transition
        color: $white
        &:hover
          color: $green
          @include transition-duration(500ms)
  .hero-benefits
    @include transition
    width: $span_14_width
    color: $white
    margin:
      left: 0
      top: 1.5em
    padding:
      left: 7.1%
    ul
      @include transition
      list-style: none
      margin: 0
      padding: 0
      li
        @include transition
        width: $span_5_width
        display: inline-block
        vertical-align: text-top
        min-height: 3em
        font:
          family: rockwellstdregular
        margin:
          bottom: 1.5em
        padding:
          left: 7%
          right: 2em
        background:
          image: url($tick_image_path)
          repeat: no-repeat
          position: top left


@media screen and (min-width: 780px) and (max-width: 999px)
  .hero-element
    h1
      width: $span_7_width
      font:
        size: 2.8em
  .hero-form
    p
      padding:
        top: 1em
        bottom: 1em

@media screen and (min-width: 600px) and (max-width: 779px)
  .hero-element
    h1
      width: $span_7_width
    .hero-form
      p
        padding:
          top: 0.5em
          bottom: 0.5em

@media screen and (max-width: 735px)
  .hero-element
    h1
      width: $span_6_width
      font:
        size: 2.5em

@media screen and (max-width: 675px)
  .hero-element
    h1,
    .mouthy
      width: $span_14_width
      margin:
        left: 0
    .mouthy
      display: block
      img
        margin: 5%
    .hero-form
      p
        text-align: center
        padding:
          right: 7.1%
          bottom: 1em
      .registration-form
        .loading
          position: absolute
          right: 10%
          top: 0
        .xlarge-input
          width: $span_12_width
          padding:
            right: 7.1%
        .button
          margin:
            top: 0.5em
    .terms-conditions
      width: $span_8_width
      margin:
        top: 0.5em

@media screen and (min-width: 300px) and (max-width: 674px)
  .hero-element
    .mouthy
      width: $span_12_width
      margin:
        left: 0
      img
        position: relative
        left: 50%
        transform: translate(-50%)
        -moz-transform: translate(-50%)
        -webkit-transform: translate(-50%)
        -o-transform: translate(-50%)
        -ms-transform: translate(-50%)
    h1
      width: $span_14_width
      text-align: center
      padding:
        right: 7.1%
      margin:
        left: 0
      font:
        size: 1.5em
    .hero-form
      width: $span_13_width
      .terms-conditions
        width: $span_14_width
        margin:
          top: 4em
      p
        text-align: left
        padding:
          right: 7.1%
          bottom: 1em
      form
        margin:
          top: 0.5em
        .loading
          position: absolute
          right: 10%
          top: 5%
        .xlarge-input
          width: $span_12_width
          padding:
            right: 7.1%
        .button
          float: right
          margin:
            right: 3%
          width: 152px
          height: 44px
          color: $white
          font:
            family: rockwellstdregular
            size: 1em
          text-transform: none
          background:
            image: url($small_button_image_path)
            color: transparent
          border: none
    .hero-benefits
      ul
        li
          width: $span_10_width
          margin:
            left: 0
          display: block
          padding:
            left: 15%
            right: 7.1%

@media screen and (min-width: 0px) and (max-width: 299px)
  .hero-element
    h1,
    .mouthy
      width: $span_14_width
      margin:
        left: 0
      padding:
        left: 0
    h1
      text-align: center
      padding:
        bottom: 7%
      font:
        size: 1.2em
    .mouthy
      padding: 0
      img
        margin: 0
    .hero-form
      .xlarge-input
        padding: 0
      .terms-conditions
        width: $span_12_width
        margin:
          left: 1em
          top: 1em
    .hero-benefits
      ul
        li
          width: $span_10_width
          margin:
            left: 0
          display: block
          padding:
            left: 20%