@import ../_core/variables

$plane_image_path: '../gridpak/img/plane.png'

.service-details
  width: $span_14_width
  margin:
    left: 0
  .service-details-main
    margin: 0
    padding: 0
    background:
      color: $green
  .cityscape
    width: $span_14_width
    height: 5em
    margin:
      left: 0
    background:
      image: url($plane_image_path)
      position: top
      repeat: no-repeat
  h2
    color: $white
    margin: 0
    padding:
      top: 1em
    font:
      family: rockwellstdregular
      size: 3.15em
      weight: normal
    line-height: 1em
  ul
    @include transition
    list-style: none
    margin:
      top: 2.5em
    padding:
      left: 7.1%
    li
      @include transition
      display: inline-block
      width: $span_7_width
      min-height: 3em
      color: $white
      vertical-align: text-top
      font:
        family: rockwellstdregular
      margin:
        bottom: 1.5em
      .sprite,
      .title,
      .body
        float: left
        position: relative
        width: $span_8_width
      .title,
      .body
        width: $span_9_width
        padding:
          left: 7.1%
      .sprite
        width: 70px
        height: 66px
        clear: right

@media screen and (max-width: 632px)
  .service-details
    .service-details-main
      ul
        li
          .body
            float: right
            padding:
              right: 3.1%

@media screen and (min-width: 0px) and (max-width: 599px)
  .service-details
    margin:
      top: 1.2em
    h2
      font:
        size: 1.5em
    .service-details-main
      ul
        li
          display: block
          width: $span_14_width
          min-height: 1em
          margin:
            bottom: 0
          .sprite,
          .title
            float: none
            clear: none
            display: inline-block
          .sprite
            width: 34px
            vertical-align: top
          .title
            width: $span_10_width
            padding:
              left: 6%
    @each $icon in audio, chat, address, cursor, desktop, im
      .icons-#{$icon}
        background:
          image: url('../../letsGetItDone/images/sprites/icons-small/#{$icon}.png')
          position: top left

@media screen and (min-width: 0px) and (max-width: 299px)
  .service-details
    margin:
      top: 1.2em