@import ../_core/variables

.lt-ie9
  .get-started
    .pwn-video-helper
      left: 0
      margin:
        left: 30%
        right: auto

.get-started
  h2
    color: $dark_blue
    font:
      family: rockwellstdregular
      size: 3.15em
      weight: normal
  .pwn-video-helper
    position: relative
    left: 50%
    transform: translate(-50%)
    -moz-transform: translate(-50%)
    -webkit-transform: translate(-50%)
    -o-transform: translate(-50%)
    -ms-transform: translate(-50%)

