@import "compass/css3"

.css3
  &:hover li
    opacity: 0.2
  li
    @include transition-property(opacity)
    @include transition-duration(500ms)
    a
      strong
        opacity: 0
        @include transition-property(opacity, top)
        @include transition-duration(300ms)
    &:hover
      opacity: 1
      a
        strong
          opacity: 1
