// GRID ONLY EXTEND NEVER USE DIRECTLY IN MARKUP.
.span_1
  width: 5.28571428571%
.span_2
  width: 12.5714285714%
.span_3
  width: 19.8571428571%
.span_4
  width: 27.1428571429%
.span_5
  width: 34.4285714286%
.span_6
  width: 41.7142857143%
.span_7
  width: 49.0%
.span_8
  width: 56.2857142857%
.span_9
  width: 63.5714285714%
.span_10
  width: 70.8571428571%
.span_11
  width: 78.1428571429%
.span_12
  width: 85.4285714286%
.span_13
  width: 92.7142857143%
.span_14
  margin-left: 0
  width: 100%
