@import "screen.scss";

/*****************************************************
* Mobile First!
*****************************************************/

// Get My Pin
.get-my-pin {
  position: relative;
  .throbber {
    position: absolute;
    bottom: 10px;
    right: 20px;
  }
  .terms-conditions {
    font:{
      size:0.9em
    }
    clear:both;
    margin-bottom: 0;
  }
}

// How It Works
.how-it-works {
  .how-it-works-list {
    list-style: none;
    width: 100%;
    span {
      margin: 0 1% 0 0;
    }

    .list-item {
      background:{
        image: url("/sfimages/1-2-3-bullets.png");
        repeat: no-repeat;
      }
      margin: 0 0 1% 0;
      min-height: 30px;
      padding: 0.5% 0 0 40px;
    }
    .first{
      background-position: 0 0;
    }
    .second {
      background-position: 0 -50px;
    }
    .third{
      background-position: 0 -100px;
    }
  }
}

// What it Costs
.what-it-costs{
  list-style: none;
  font:{
    size:1em;
  }:
  line-height: 2em;
  .list-item{
    margin: 0 0 1% 0;
    min-height: 30px;
    padding: 0.5% 0 0 40px;
    background: {
      image:url("/sfimages/chevron-green.png");
      repeat: no-repeat;
      position: 1.5% 15%;
    }
  }
}


/*****************************************************
* Desktop Build
*****************************************************/
@media only screen and (min-width: 768px) {

// Get My Pin
  .get-my-pin {
    .throbber {
      bottom: -20px;
      right: 20px;
    }
    .terms-conditions {
      width: 100%;
      margin: 0 0 1.5% 0;
      clear: none;

    }
  }

  // What it costs
  .what-it-costs {
    .list-item{
      background: {
        position: 1.5% 50%;
      };
    };
  }
}






