@import "screen.scss";
/*****************************************************
* Mobile First!
*****************************************************/
.your-pin {
  .small-text {
    line-height:1em;
  }
  p {
    font: {
      size:1em;
    }
  }
}

// What it Costs
.whats-next{
  list-style: none;
  font:{ size:1em;}:
  line-height: 2em;
  .list-item{
    margin: 0 0 1% 0;
    min-height: 30px;
    padding: 0.5% 0 0 40px;
    background: {
      image:url("/sfimages/chevron-green.png");
      repeat: no-repeat;
      position: 1.5% 15%;
    }
  }
}





