/******************************************************
* _768/_itsyourcall.scss
* Styles specific to "Its-Your-Call" Desktop
* @author Dav
******************************************************/
.js {
  // What You Get Section
  .what-you-get-list {
    li {
      height:115px;
    }
    .sprite,
    .title,
    .content
    {
    }
    .title,
    .content {
    }
    .sprite{
    }
    .title {
    }
    .content {
    }
  }

  .clients {
    margin:
    img {
      margin: 0 auto;
      border: 1px solid red;
      display: inline-block;
    }
  }
}