////////////////////////////
// GET STARTED SECTION /////
////////////////////////////
.get_started
  color: $white
  background:
    color: $blue_e
  font:
    family: RockwellStdRegular
  .pin_details
    margin: 2em 0 0 0
  .enlarge
    font:
      size: 1.500em
      weight: normal
  h2
    color: $grey
    font:
      size: 2.249em
  p
    font:
      size: 1.500em
  p:nth-child(2)
    margin: 0.8em 0 1em 0
  p:nth-child(5)
    margin: 1.5em 2em 1.5em 2em
    font:
      size: 0.938em
  p:nth-child(6)
    display: inline-block
    margin: 0em 2em 2em 2em
    font:
      size: 0.938em
    a
      color: $white