//////////////////////////
// HERO UNIT SECTION /////
//////////////////////////

.hero_unit
  position: relative
  height: 320px
  background:
    image: url('../../../../cx2/img/mobile/640_onboardbg.jpg')
    repeat: no-repeat
    size: cover
  .opacity_layer
    @include opacity(0.7)
    background: #d9e0e3
    height: 85px
    width: inherit
    position: absolute
    bottom: 0
  header
    width: inherit
    position: absolute
    bottom: 0
    text-align: center
    line-height: 2em
    h1
      font:
        family: "Sketch Rockwell"
        size: 3.124em
        weight: normal
    h2
      font:
        family: RockwellStdRegular
        size: 1.125em
        weight: normal
    .enlarge
      font:
        size: 1.500em
        weight: bold