////////////////////////////////
// PUSHED FOR TIME SECTION /////
////////////////////////////////

.pushed_for_time
  margin: 2em 0 0 0
  text-align: center
  h2
    font:
      family: rockwellstdregular
      size: 1.750em
  p:nth-child(2)
    margin: 0 16px 1.5em 16px
    font:
      family: rockwellstdregular
      size: 1.125em