///////////////////////
// SOCIAL SECTION /////
///////////////////////

.social
  margin:
    top: 2em
  text-align: center
  a:hover
    color: $green
  h2
    margin: 0 0 0.5em 0
    font:
      family: rockwellstdregular
      size: 1.750em
  p
    margin: 0 0 1em 0
    font:
      family: rockwellstdregular
      size: 1.125em
  .social_networks
    margin: 1em 0 2em 0
    padding: 0
    list-style: none
    text-align: center
    li
      display: inline-block
      a
        text-indent: -99999px
  .continue
    text-align: right
    margin: 0 1em 1em 0
    a
      color: $blue_g
      &:hover
        color: $green
