////////////////////////////
// START TALKING SECTION ///
////////////////////////////

.start_talking_now
  text-align: center
  font:
    family: rockwellstdregular
    size: 1.125em
  @include box-sizing('border-box')
  position: relative
  margin: 2.500em 0 0 0
  padding: 1em 0 0 0
  height: 300px
  background:
    image: url('../../../../cx2/img/mobile/640_mouthy.png')
    repeat: no-repeat
    position: 50% 50%
    size: contain
  p
    width: 75%
    margin: 0 auto
  h2
    font:
      family: rockwellstdregular
      size: 1.750em
    padding: 0 0 0.300em 0
  .dial_in_number
    margin: 0.300em auto 0.300em auto
    text-decoration: underline
    font:
      size: 2.249em
  a[href^=tel]
    color: $orange
  .small_text
    font:
      size: 0.875em
  .bold
    font:
      weight: bold