////////////////////////////////
// STILL NEED HELP SECTION /////
////////////////////////////////

.help
  margin: 0 5em 0 0
  text-align: center
  p
    font:
      family: RockwellStdRegular
      size: 1.500em
  .small_text
    margin: 2em 0 2em 0
    font:
      size: 0.875em
    a
      color: $blue_c
      &:hover
        color: $green