/////////////////
// HERO UNIT/////
/////////////////

.hero_unit
  background:
    image: url('../../../../cx2/img/mobile/640_bg.jpg')
    repeat: no-repeat
    size: 360px
  .hero_title,
  .hero_sub_title
    margin: 0 0 0.288em 16px
    color: $white
    font:
      family: RockwellStdRegular
  .hero_title
    @include text-shadow(rgba(150, 150, 150, 1) 1px 1px 2px)
    font:
      size: 1.5em
    line-height: 0.900em
  .hero_sub_title
    font:
      size: 1.000em
    margin:
      bottom: 0.3750em
  .terms_conditions
    a
      color: $white
      &:hover
        color: $green