//////////////////////////
// REGISTRATION FORM//////
//////////////////////////
.cx_mobile_experience
  .cx_form
    position: relative
    margin: 0 0 15px 16px
    .loader
      position: absolute
      left: 260.5px
      top: 9px
    small
      display: block
      color: $white
      margin: 0.3em 2em 0.5em 0
      font:
        family: rockwellstdregular
        size: 0.8em
      a
        border: none
        text-decoration: underline
        &:hover
          text-shadow: none
    input[type=email]
      padding: 0.500em
      border: 1px solid #CCC
      @include border-radius(13px)
      @include box-sizing('border-box')
      width: 95%
      font:
        family: rockwellstdregular
        size: 0.750em
      color: $grey_g
    .error_message
      width: 92%
      .error
        padding: 0
        font:
          size: 0.786em // base 14px == 11px
    .cx_button
      float: right
      margin: 0 16px 2em 1em
      border: none
      width: 161px
      height: 38px
      text-transform: none
      font:
        size: 1.125em
        family: RockwellBold