////////////////////////
// MOBILE ACCORDION/////
////////////////////////

.accordion_container
  position: relative
  input:checked + label,
  input:checked + label:hover
    text-shadow: 0px 1px 1px rgba(255,255,255, 0.6)
  label
    @include box-sizing('border-box')
    padding: 1.5em 0 1.5em 16px
    position: relative
    z-index: 20
    display: block
    cursor: pointer
    background: $grey_b
    font:
      family: RockwellStdRegular
      size: 0.875em
  label:after
    content: '\2B'
    position: absolute
    width: 11px
    height: 11px
    right: 5px
    top: 22px
  input
    &:checked + label:after
      content: '\2D'
      position: absolute
      width: 11px
      height: 11px
      right: 5px
      top: 22px
    display: none
  article
    margin-top: -1px
    overflow: hidden
    height: 0px
    position: relative
    z-index: 10
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear
    .content
      margin:
        top: 1em
    p
      margin: 0.5em 0 0.5em 16px
      font:
        family: RockwellStdRegular
        size: 0.813em
      &.highlight
        font:
          size: 1.688em
    .bold
      font:
        family: RockwellBold
  input:checked ~ article
    -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear
    -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear
    -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear
    transition: height 0.5s ease-in-out, box-shadow 0.1s linear
    &.accordion_small
      height: 230px
    &.accordion_medium
      height: 545px
    &.ac-large
      height: 230px

// Dial-in Numbers section Accordion
.columns
  .no_underline
    text-decoration: none !important
  margin: 1em 0 0 16px
  font:
    family: RockwellStdRegular
    size: 0.750em
  .column_one,
  .column_two,
  .column_three
    position: relative
    float: left
    display: inline-block
  .column_one
    width: 32px
    margin:
      left: 0
      right: 1em
  .column_two
    width: 40%
    padding:
      top: 2px
  .column_three
    color: $blue_h
    text-decoration: underline
    width: 45%

// Specific Styling
.what_it_costs
  div
    margin:
      top: 1em