.sprite_icon
  width: 55px
  height: 56px
  background:
    image: url('../../../../cx2/img/mobile/640_spriteicons.png')
    repeat: no-repeat
    size: 56px
  display: block

  &.sprite-640_icon_chat
    background:
      position: 0 0
  &.sprite-640_icon_headset
    background-position: 0 -57px
  &.sprite-640_icon_speaker
    background:
      position: 0 -112px