////////////////////////
// THREE EASY STEPS ////
////////////////////////
.three_steps
  height: 320px
  margin: 2em 0 0 0
  background:
    image: url('../../../../cx2/img/mobile/640_trapezoid.png')
    repeat: no-repeat
    position: 50% 75%
    size: 260px
  h2
    margin:
      bottom: 4em
  .trapezoid
    position: relative
    width: inherit
    .trapezoid_one,
    .trapezoid_two,
    .trapezoid_three
      font:
        family: RockwellStdRegular
        size: 1.500em
      color: $white
      position: absolute
    .trapezoid_one
      top: 37px
      left: 36px
      width: 135px
      .number
        width: 10px
        float: left
        display: block
        position: relative
        margin:
          right: 15px
      .text
        width: 100px
        float: left
        display: block
        position: relative
        text-align: left
    .trapezoid_two
      top: 61px
      left: 150px
      width: 114px
      text-align: right
    .trapezoid_three
      top: 170px
      left: 80px
      width: 114px
      text-align: right