///////////////////
// TRUST PILOT/////
///////////////////

.trust_pilot
  @include box-sizing('border-box')
  color: $white
  position: relative
  font:
    family: RockwellStdRegular
  background:
    color: $green
  .customer_reviews
    display: none
    position: absolute
    width: inherit
    margin: 1em 0 0 0
    .quote,
    .author,
    .read_more
      display: block
      text-align: center
    .author
      margin: 0.5em 0 0 0
      font:
        family: RockwellBold
        size: 0.875em
    .quote
      overflow: hidden
      font:
        size: 1em
  .read_more
    margin: 5.5em 0 0 0
    display: block
    text-align: center
    font:
      size: 0.875em
  .static_trust_pilot
    height: 6.500em
    display: block
    @include box-sizing('border-box')
    padding: 20px 8px 0 8px
    background:
      image: url('../../../../cx2/img/mobile/640_fivestarrating.png')
      color: $green
      repeat: no-repeat
      position: 15% bottom
      size: 310px auto
    h2
      font:
        size: 1.188em
        weight: normal
      background:
        image: url('../../../../cx2/img/mobile/640_trustpilot.png')
        repeat: no-repeat
        position: 95% 50%
        size: 160px