/////////////////////
// WHAT YOU GET /////
/////////////////////

.what_you_get
  margin:
    top: 1em
  .why_list
    margin: 1.250em 0 0 16px
    li
      padding: 0
      margin: 0 0 1.688em 0
    .sprite_icon
      display: block
      float: left
      position: relative
      margin: 0 0.750em 0 0
    .container
      display: block
      float: left
      position: relative
      width: 75%
    .title,
    .body
      font:
        family: RockwellStdRegular
    .title
      margin: 0.100em 0 0.500em
      font:
        family: RockwellBold
        size: 0.875em
    .body
      font:
        size: 0.750em