/* Artfully Masterminded by ZURB */

/* --------------------------------------------------
	:: Grid
	
	This is the mobile-friendly, responsive grid that
	lets Foundation work much of its magic.
	
	-------------------------------------------------- */

	.container { padding: 0 20px; }
	
	.row { width: 100%; max-width: 940px; min-width: 940px; margin: 0 auto; }
	/* To fix the grid into a certain size, set max-width to width */
	.row .row { min-width: 0; }
	
	.column, .columns { margin-left: 4.4%; float: left; min-height: 1px; position: relative; }
	.column:first-child, .columns:first-child { margin-left: 0; }
	[class*="column"] + [class*="column"]:last-child { float: right; }
	[class*="column"] + [class*="column"].end { float: left; }
	
	.row .one { width: 4.27503%; }
	.row .two { width: 12.97730%; }
	.row .three { width: 21.67957%; }
	.row .four { width: 30.37999%; }
	.row .five { width: 39.08411%; }
	.row .six { width: 47.78638%; }
	.row .seven { width: 56.48865%; }
	.row .eight { width: 65.19092%; }
	.row .nine { width: 73.89319%; }
	.row .ten { width: 82.59546%; }
	.row .eleven { width: 91.29773%; }
	.row .twelve { width: 100%; }
	
	.row .offset-by-one { margin-left: 12.97730%; }
	.row .offset-by-two { margin-left: 21.67957%; }
	.row .offset-by-three { margin-left: 30.38184%; }
	.row .offset-by-four { margin-left: 39.08226%; }
	.row .offset-by-five { margin-left: 47.78638%; }
	.row .offset-by-six { margin-left: 56.48865%; }
	.row .offset-by-seven { margin-left: 65.19092%; }
	.row .offset-by-eight { margin-left: 73.89319%; }
	.row .offset-by-nine { margin-left: 82.59546%; }
	.row .offset-by-ten { margin-left: 91.29773%; }
	
	.row .centered { float: none; margin: 0 auto; }
	
	.row .offset-by-one:first-child { margin-left: 8.626165%; }
	.row .offset-by-two:first-child { margin-left: 17.328435%; }
	.row .offset-by-three:first-child { margin-left: 26.030705%; }
	.row .offset-by-four:first-child { margin-left: 34.731125%; }
	.row .offset-by-five:first-child { margin-left: 43.435245%; }
	.row .offset-by-six:first-child { margin-left: 52.137515%; }
	.row .offset-by-seven:first-child { margin-left: 60.839785%; }
	.row .offset-by-eight:first-child { margin-left: 69.542055%; }
	.row .offset-by-nine:first-child { margin-left: 78.244325%; }
	.row .offset-by-ten:first-child { margin-left: 86.946595%; }
	.row .offset-by-eleven:first-child { margin-left: 95.648865%; }
	
	/* Source Ordering */
	.push-two { left: 17.328435%; }
	.push-three { left: 26.030705%; }
	.push-four { left: 34.731125%; }
	.push-five { left: 43.435245%; }
	.push-six { left: 52.137515%; }
	.push-seven { left: 60.839785%; }
	.push-eight { left: 69.542055%; }
	.push-nine { left: 78.244325%; }
	.push-ten { left: 86.946595%; }
	
	.pull-two { right: 17.328435%; }
	.pull-three { right: 26.030705%; }
	.pull-four { right: 34.731125%; }
	.pull-five { right: 43.435245%; }
	.pull-six { right: 52.137515%; }
	.pull-seven { right: 60.839785%; }
	.pull-eight { right: 69.542055%; }
	.pull-nine { right: 78.244325%; }
	.pull-ten { right: 86.946595%; }
	
	
	
	img, object, embed { max-width: 100%; height: auto; }
	img { -ms-interpolation-mode: bicubic; }
	#map_canvas img, .map_canvas img {max-width: none!important;}
	 
	 /* Nicolas Gallagher's micro clearfix */
	 .row:before, .row:after, .clearfix:before, .clearfix:after { content:""; display:table; }
	 .row:after, .clearfix:after { clear: both; }
	 .row, .clearfix { zoom: 1; }
	 
	 
	
	
/*	--------------------------------------------------
	:: Block grids
	
	These are 2-up, 3-up, 4-up and 5-up ULs, suited
	for repeating blocks of content. Add 'mobile' to
	them to switch them just like the layout grid
	(one item per line) on phones
	
	For IE7/8 compatibility block-grid items need to be
	the same height. You can optionally uncomment the
	lines below to support arbitrary height, but know
	that IE7/8 do not support :nth-child.
	-------------------------------------------------- */
	
	.block-grid { display: block; overflow: hidden; }
	.block-grid>li { display: block; height: auto; float: left; }
	
	.block-grid.two-up { margin-left: -4% }
	.block-grid.two-up>li { margin-left: 4%; width: 46%; margin-bottom: 4%;}
/* 	.block-grid.two-up>li:nth-child(2n+1) {clear: left;} */
	
	.block-grid.three-up { margin-left: -2% }
	.block-grid.three-up>li { margin-left: 2%; width: 31.2%; margin-bottom: 2%;}
/* 	.block-grid.three-up>li:nth-child(3n+1) {clear: left;} */
	
	.block-grid.four-up { margin-left: -2% }
	.block-grid.four-up>li { margin-left: 2%; width: 23%; margin-bottom: 2%;}
/* 	.block-grid.four-up>li:nth-child(4n+1) {clear: left;} */
	
	.block-grid.five-up { margin-left: -1.5% }
	.block-grid.five-up>li { margin-left: 1.5%; width: 18.5%; margin-bottom: 1.5%;}
/* 	.block-grid.five-up>li:nth-child(5n+1) {clear: left;} */

