.js body{font-size:inherit}.js .logo{width:183px;height:86px}.js .main-title{font-size:1.5em}.js .inline-list,.js .pwn-list,.js p,.js .attendee-list{font-size:0.688em}.js .attendee-list .list-title{border-bottom:1px solid #eeeeee;font-size:1em;padding:0.15em}.js .side-nav{padding:3px 0 0 0}.js .pwn-list{padding:0.3em}.js .in-conference-controls .legend .list-item{font-size:0.688em}
