/*******************************************
* Variables and shizzle
********************************************/
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/images";

$global-radius : 10px;
$global-border-color: #fff;

$button-background-color: #ffaf27;
$primary-font-family : "RockwellStdRegular", verdana, sans-serif;
$secondary-font-family : verdana, sans-serif;
$third-font-family : "league_gothicCnRg", verdana, sans-serif;

$button-font-size: 14px;

@mixin third-font() {
    font: {
        family: $third-font-family;
    }
}
@mixin secondary-font() {
    font: {
       family: $secondary-font-family; 
       size: 12px;
    }
}

@mixin rounded-bordered {
    @include border-radius(25px);
    border: 3px solid $global-border-color;
}

@mixin hover-transition {
    @include single-transition(all, 0.3s, ease);
}

/*******************************************
* Buttons
* @note requires ui.css from foundation
* @use
* <a href="#" class="[small medium larg] [raduis] [color] [button]">Link</a>
********************************************/

@mixin button-large {
    padding: 15px 30px;
}

@mixin button-button {
    font{
        family: $primary-font-family;
        size: $button-font-size;
    }
    margin-right: 15px;
    whitespace: nowrap;
    
    &:focus {
        background: #e68d05;
    }
}

@mixin placeholder-style {
    @include secondary-font;
    font: {
        size: 11px;
    }
}