.cx_sprite
  background:
    image: url('../../../cx2/img/mobile/320_flags.png')
    repeat: no-repeat
  width: 32px
  height: 22px
  &.sprite_AUT
    background:
      position: -1px 0
  &.sprite_BEL
    background:
      position: 0 -28px
  &.sprite_CAN
    background:
      position: -1px -57px
  &.sprite_FRA
    background:
      position: -1px -86px
  &.sprite_DEU
    background:
      position: -1px -115px
  &.sprite_IRL
    background:
      position: -1px -144px
  &.sprite_ITA
    background:
      position: -1px -173px
  &.sprite_NLD
    background:
      position: -1px -202px
  &.sprite_POL
    background:
      position: -1px -231px
  &.sprite_ZAF
    background:
      position: -1px -260px
  &.sprite_ESP
    background:
      position: -1px -289px
  &.sprite_SWE
    background:
      position: -1px -318px
  &.sprite_CHE
    background:
      position: -1px -347px
  &.sprite_GBR
    background:
      position: -1px -375px
  &.sprite_USA
    background:
      position: 0px -425px