.cx_sprite
  background:
    image: url('../../../cx2/img/mobile/640_flags.png')
    repeat: no-repeat
    size: 28px 350px
  width: 28px
  height: 20px
  &.sprite_AUT
    background:
      position: 0 0
  &.sprite_BEL
    background:
      position: 0 -23px
  &.sprite_CAN
    background:
      position: 0 -47px
  &.sprite_FRA
    background:
      position: 0 -71px
  &.sprite_DEU
    background:
      position: 0 -94px
  &.sprite_IRL
    background:
      position: 0 -118px
  &.sprite_ITA
    background:
      position: 0 -142px
  &.sprite_NLD
    background:
      position: 0 -166px
  &.sprite_POL
    background:
      position: 0 -189px
  &.sprite_ZAF
    background:
      position: 0 -213px
  &.sprite_ESP
    background:
      position: 0 -237px
  &.sprite_SWE
    background:
      position: 0 -260px
  &.sprite_CHE
    background:
      position: 0 -284px
  &.sprite_GBR
    background:
      position: 0  -308px
  &.sprite_USA
    background:
      position: 0 -331px