@import compass/css3
@import color
.ie
  .background
    behavior: url('/shared/PIE-2/PIE.htc')
.background
  @include border-radius(10px)
  border: none
  &.background_blue
    background:
      image: url('/cx2/img/background_blue_arrow.png')
      repeat: no-repeat
      position: 71.6% 10%
      color: $blue
  &.background_grey
    background:
      color: $grey_b
  &.background_green
    background:
      color: $green
