@import color
body
  color: #0081c2
aside
  .pwn_sidebar_unit
    @include box-sizing('border-box')
    padding: 1.3em 1.3em
    margin:
      bottom: 2em
    font:
      family: "rockwellstdregular"
.cta
  display: block
  border: none !important
  text-align: left
  line-height: 1em
  font:
    size: 1.4em
    weight: bold
  @include box-sizing('border-box')
  &.cta_orange
    color: $white
    padding: 0.5em 0 0 1em
    width: 181px
    height: 99px
    background:
      image: url('/cx2/img/cta_orange.png')
      repeat: no-repeat
  &.cta_blue
    color: $white
    padding: 0.3em 0 0 0.5em
    width: 163px
    height: 66px
    background:
      image: url('/cx2/img/cta_blue.png')
      repeat: no-repeat
  &.cta_blue_a
    font:
      size: 1.4em
      family: "rockwellstdregular"
    color: $white
    padding: 0.80em 0 0 0.6em
    width: 177px
    height: 45px
    background:
      image: url('/cx2/img/cta_blue_a.png')
      repeat: no-repeat
  &:hover
    color: $blue_c