@import color

.font_blue
  color: $blue
.font_blue_e
  color: $blue_e
.font_blue_f
  color: $blue_f
.font_blue_g
  color: $blue_g
.font_blue_h
  color: $blue_h
.font_green
  color: $green
.font_white
  color: $white
.font_grey
  color: $grey_a
.font_grey_c
  color: $grey_c
.font_orange
  color: $orange
a
  color: $blue