@font-face
  font-family: 'RockwellBold'
  src: url('../../../shared/fonts/rockwellbold-webfont.eot')
  src: url('../../../shared/fonts/rockwellbold-webfont.eot#iefix') format("embedded-opentype"), url('../../../shared/fonts/rockwellbold-webfont.woff') format("woff"), url('../../../shared/fonts/rockwellbold-webfont.ttf') format("truetype"), url('../../../shared/fonts/rockwellbold-webfont.svg#RockwellBold') format("svg")

@font-face
  font-family: 'Sketch Rockwell'
  src: url('../../../shared/fonts/sketchrockwell-bold-webfont.eot')
  src: url('../../../shared/fonts/sketchrockwell-bold-webfont.eot?#iefix') format("embedded-opentype"), url('../../../shared/fonts/sketchrockwell-bold-webfont.woff') format("woff"), url('../../../shared/fonts/sketchrockwell-bold-webfont.ttf') format("truetype"), url('../../../shared/fonts/sketchrockwell-bold-webfont.svg#Sketch Rockwell') format("svg")

@font-face
  font-family: 'RockwellStdRegular'
  src: url('../../../shared/fonts/rockwellstd-webfont.eot')
  src: url('../../../shared/fonts/rockwellstd-webfont.eot?#iefix') format("embedded-opentype"), url('../../../shared/fonts/rockwellstd-webfont.woff') format("woff"), url('../../../shared/fonts/rockwellstd-webfont.ttf') format("truetype") url('../../../shared/fonts/rockwellstd-webfont.svg#RockwellStdRegular') format("svg")

@import url('//fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic')