@import color

ul.pwn_list_cx_style
  li
    list-style: none
    margin: 0
  .title
    color: $green
    line-height: 1em
    margin:
      bottom: 0.4em
    font:
      size: 2.75em
  .body
    line-height: 1em
    font:
      size: 3.7em
    margin:
      bottom: 0.4em


ul.pwn_list_basic
  margin: 0
  padding: 0
  list-style: none

ul.pwn_list_simple
  @include box-sizing('border-box')
  line-height: 1em
  margin: 1em 0
  padding:
    left: 1em
  li
    margin:
      bottom: 0.5em