@import compass/css3
@import color

@mixin font_smoothing()
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-font-feature-settings: "kern", "liga" 0, "calt" 0
  text-rendering: optimizeLegibility