//@import compass/css3
//@import color

@mixin close_button()
  @include border-radius(20px)
  width: 32px
  height: 32px
  display: block
  text-decoration: none
  color: #fff
  background: $grey_f
  border: 2px solid $white
  font:
    family: sans-serif
    weight: normal
  text-align: center
  font-size: 22px
  line-height: 1.5em
  text-align: center
  &:hover
    color: $green
    cursor: pointer
    border: 2px solid $white