@import color
.ie
  #top-menu-container,
  .top-submenu
    behavior: url('/shared/PIE-2/PIE.htc')

// Resets
ol li, ul li
  margin:
    left: 0
h3, h2, p
  line-height: 1em
body
  a
    &.alt_hover
      &:hover
        color: $blue
    &:link,
    &:visited,
    &:active
      border-bottom: 1px solid
      color: $blue_c
      text-decoration: none
      font:
        weight: normal
    &:hover
      color: $green
h1, h2, h3
  font:
    family: "rockwellstdregular"
    weight: normal