// file to be deleted do not use!
@import ../_inc/color
@import ../music.on.hold.main/vars

.tablet
  .cp-controls
    li
      top: 1.125rem
      @media only screen and (orientation : landscape)
        top: 2.125rem

  //This Controls the progress bar around the play button on
  //the circle audio player. On portrait this is hidden.
  .cp-progress-1,
  .cp-progress-2
    display: none
    @media only screen and (orientation : landscape)
      display: block

  .cp-buffer-holder,
  .cp-progress-holder,
  .cp-circle-control
    display: none
    @media only screen and (orientation : landscape)
      position: absolute
      left: 0.1875rem
      top: 0.3125rem
      width: 6.5rem
      height: 6.5rem

.desktop
  .cp-controls
    li
      top: 2.125rem
  .cp-buffer-holder,
  .cp-progress-holder,
  .cp-circle-control
    position: absolute
    left: 0.1875rem
    top: 0.3125rem
    width: 6.5rem
    height: 6.5rem


.desktop,
.tablet,
.mobile
  .cp-buffer-1,
  .cp-buffer-2,
  .cp-progress-1,
  .cp-progress-2
    @include border-radius(3.25rem)
    position: absolute
    top: 0
    left: 0
    width: 6.5rem
    height: 6.5rem
    clip: rect(0, 3.25rem, 6.5rem, 0)


  .cp-progress-1, .cp-progress-2
    background:
      color: $green_b

  .cp-circle-control
    cursor: pointer

  .cp-buffer-holder,
  .cp-progress-holder
    clip: rect(0, 6.5rem, 6.5rem, 52px)
    display: none

  /* This is needed when progress is greater than 50% or for fallback
  .cp-buffer-holder.cp-gt50, .cp-progress-holder.cp-gt50, .cp-progress-1.cp-fallback
    clip: rect(auto, auto, auto, auto)

  .cp-jplayer
    width: 0
    height: 0
    img, audio
      width: 0 !important
      height: 0 !important

  .cp-controls
    margin: 0
    padding: 3.600rem
    li
      list-style: none
      display: block
      position: absolute
      left: 1.125rem
      @media only screen and (orientation : landscape)
        left: 2.125rem
      a
        position: relative
        display: block
        width: 2.063rem
        height: 2.375rem
        text-indent: -9999px
        z-index: 1
        cursor: pointer
        left: 0.625rem
        top: 0.3125rem
    .cp-play
      background:
        image: url("../../../cx2/img/music.on.hold/player/playbutton.png")
        position: 50% 50%
        repeat: no-repeat
      &:hover
        background:
          image: url('../../../cx2/img/music.on.hold/player/playbuttonrollover.png')
          repeat: no-repeat
          position: 50% 50%
    .cp-pause
      @include border-radius(10px)
      width: 30px
      height: 30px
      background:
        color: $orange
      left: 7px
      top: 9px


.mobile

  //Mobile Audio Player
  // Player Container
  .jp-jplayer
    width: inherit !important
    height: auto !important
    margin: 0 auto
    text-align: center

  .jp-container
    @include border-radius(5px)
    background-color: $white
    border: 1px solid $grey_e
    width: 95%
    margin: 0 auto
    padding: 1rem

  #jp_poster_0, #jp_poster_1
    width: 12.75rem !important
    height: 12.75rem !important

  // File Progress Bar
  .jp-progress
    background-image: none
    width: 100%
    height: 1rem
    margin:
      top: 1rem
      bottom: 0.25rem
    overflow: hidden
    padding: 0 0.125rem 0.125rem
  .jp-play-bar
    background: $green repeat-x scroll
    height: 100%
    overflow: hidden
    width: 0
  .jp-seek-bar
    background: $grey_b repeat-x scroll
    cursor: pointer
    height: 100%
    overflow: hidden
    width: 0
  // Current & Remaining Time Styles
  .jp-current-time
    float: left
  //padding:
  //  left: 1.25rem
  .jp-duration
    float: right
    text-align: right
  //padding:
  //  right: 1.25rem
  .jp-current-time,
  .jp-duration
    color: $blue_c
    font-size: 0.8rem
    width: 4.375rem // 70px
  // Controls
  .jp-interface
    position: relative
    .jp-controls
      position: absolute
      top: -14.813rem
      left: 1.100rem
      list-style: none
      margin: 0
      padding: 0
      .jp-stop
        display: block
        height: 12.75rem
        width: 12.75rem
        background:
          image: url("../../../cx2/img/music.on.hold/player/stopbutton.png")
          position: 50% 50%
          repeat: no-repeat
  .jp-details
    ul
      list-style-type: none
      margin: 0 1.25rem 0.625rem
  // Playlist Styles
  .jp-playlist
    ul
      font:
        family: $main-font-family
        size: 1rem
      list-style-type: none
      margin: 1.350rem 0
      padding: 0
      li
        padding: 0.5rem 0
        position: relative
        a
          color: $blue_c
          text-decoration: none
          &:hover
            @include single-transition(color)
            color: $green
        &.jp-playlist-current a
          background:
            color: $blue_c
          padding: 0.3rem 0 0.1rem 0.1rem
          display: block
          width: 100%
          color: $white