////////////////////////////////////////
///*** Video Modal Player *** //////////
////////////////////////////////////////
@import "_mixin.close.buttin.sass"

.video_player_popout
  img
    &:hover
      @include opacity(0.8)
      cursor: pointer
.no-video
  .pop_out_modal_video_player
    .close,
    > div
      background: $black
      &:hover
        background: $black
        color: $white

.pop_out_modal_video_player
  // For adobe download
  p
    text-align: center
    color: $white
    margin: 0 auto
    width: 420px
  display: none
  position: absolute
  z-index: 99999
  font:
    family: arial
  &:target
    @include opacity(1)
    pointer-events: auto
  > div
    width: 420px // Must match width of video
    min-height: 245px // Must match height of video
    position: relative
    padding: 0.1em 0.75em
    @include border-radius(5px)
    background: rgba(255, 255, 255, 1)
  .close
    @include close_button()
    position: absolute
    right: -10px
    top: -8px

